.popular-spaces {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f1f1ff;
    &.white-layout {
        border-bottom: 0;
        background: #fff;
        padding: 60px 0;
        .popular-space-carousel {
            bottom: 0;
        }
    }
    .ngucarousel-items {
        margin: 0 -10px;
    }
    .carousel-arrow {
        position: absolute;
        top: 150px;
        color: #4343e8;
        font-size: 26px;
        font-weight: bold;
        &.icon-next {
            right: -20px;
        }
        &.icon-back {
            left: -20px;
        }
        &[disabled] {
            opacity: 0.4;
        }
    }
    .item {
        padding: 0 10px;
    }
    @media (max-width: 480px) {
        .page-title {
            padding: 20px 0 10px;
            h2::after {
                bottom: -15px;
            }
        }
        background:white;
    }
    .popular-space-carousel {
        position: relative;
        overflow: hidden;
    }
    .last-slide {
        @media (max-width: 767px) {
            .not-first-slide {
                width: 100% !important;
            }
        }
    }
    .popular-space-box {
        height: 390px;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 1) 100%);
            transition: background-color 2s ease-out;
            z-index: 1;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            transition: transform 2000ms ease;
        }
        .space-detail {
            padding: 20px;
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 1;
            text-align: center;
        }
        h5 {
            font-size: 19px;
            line-height: 24px;
            color: #fff;
            margin-bottom: 5px;
            font-weight: 700;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            color: #fff;
            margin: 0;
            i {
                margin-right: 5px;
            }
        }
    }
}

.page-title h2::after {
    width: 92px;
    height: 2px;
    background: #4343e8;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -46px;
    content: "";
    display: inline-block;
}

@media (max-width: 480px) {
    .popular-spaces .carousel-arrow {
        display: none;
    }
}