<section class="page_banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="banner_content">
                    <h2 class="site_title">Cofynd Business <span style="color: #1313E6;">Solutions</span></h2>
                    <h5>One India. One Network.</h5>
                    <p>Cofynd is a one-stop solution for all your enterprise needs as we offer exclusive collection of spaces across India, providing excellent stability for your Business growth. All spaces listed in Cofynd and verified and are hosted with
                        our trusted partners. Our spaces boast of flexibility, comfort, and outstanding interiors to provide you unmatched work pleasure.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner_img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/aeea176108292fec50e013b85efed4aec7304230.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature_sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Cofynd Solutions</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="left_icon_box mb-4">
                    <img src="../../../../assets/images/icons/custom-build-icon.svg" alt="" class="img-fluid">
                    <h4>Custom Built Offices</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left_icon_box">
                    <img src="../../../../assets/images/icons/cowork-icon.svg" alt="" class="img-fluid">
                    <h4>Coworking Space</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left_icon_box mb-4">
                    <img src="../../../../assets/images/icons/virtual-offices.svg" alt="" class="img-fluid">
                    <h4>Virtual Office</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left_icon_box mb-4">
                    <img src="../../../../assets/images/icons/private-office-icon.svg" alt="" class="img-fluid">
                    <h4>Private Offices / Suites</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left_icon_box">
                    <img src="../../../../assets/images/icons/appartment-icon.svg" alt="" class="img-fluid">
                    <h4>Serviced Apartments</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left_icon_box">
                    <img src="../../../../assets/images/icons/list-your-space-icon.svg" alt="" class="img-fluid">
                    <h4>List your Space</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="network_area">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="network_content_box">
                    <h3 class="site_title left_divider title_divider">Cofynd Network</h3>
                    <p>Cofynd has a huge network status which comprises 35,000+ verified spaces in around 25+ cities across India. This is India’s fastest-growing space discovery platform ruling over the digital world. This online platform helps everyone
                        find a suitable coworking space or individual office space which gives their business a distinguishing address. Moreover, our platform has an excellent & unmatched user experience.</p>

                    <p>Cofynd is at the forefront of providing unified, flexible, and affordable space solutions both on rent and sale. Visit our website and book your desired space with us in a jiffy by filling out the form and your business is ready to
                        rock-n-roll in India’s best coworking space with a huge reputation.</p>
                </div>
                <div class="counter_area">
                    <div class="row">
                        <div class="col-4">
                            <div class="counter_item text-center">
                                <p class="number">35,000+</p>
                                <p class="title">Spaces</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="counter_item text-center">
                                <p class="number">1,000+</p>
                                <p class="title">Locations</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="counter_item text-center">
                                <p class="number">25+</p>
                                <p class="title">Cities</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/836b2ce5ee92efe214104ab758e8a95cacffdf0c.png" alt="India Map" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="solution_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Cofynd’s Pan-India Solutions</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="top_icon_box mb-4">
                    <img src="../../../../assets/images/icons/one-platform-icon.svg" alt="" class="img-fluid">
                    <h4>One Platform. Multiple Solutions</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top_icon_box mb-4">
                    <img src="../../../../assets/images/icons/one-provider-icon.svg" alt="" class="img-fluid">
                    <h4>One Provider for all space needs</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top_icon_box mb-4">
                    <img src="../../../../assets/images/icons/billing-icon.svg" alt="" class="img-fluid">
                    <h4>Centralised Billing & Agreements</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top_icon_box mb-4">
                    <img src="../../../../assets/images/icons/management-icon.svg" alt="" class="img-fluid">
                    <h4>Vendor Management Support</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top_icon_box">
                    <img src="../../../../assets/images/icons/booking-fee-icon.svg" alt="" class="img-fluid">
                    <h4>No Booking Service Fees</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top_icon_box">
                    <img src="../../../../assets/images/icons/verified-icon.svg" alt="" class="img-fluid">
                    <h4>Verified Spaces and Trusted Partners</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top_icon_box">
                    <img src="../../../../assets/images/icons/relationship-manager-icon.svg" alt="" class="img-fluid">
                    <h4>Dedicated Relationship Manager</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top_icon_box">
                    <img src="../../../../assets/images/icons/pricing-tag-icon.svg" alt="" class="img-fluid">
                    <h4>Exclusive Pricing</h4>
                </div>
            </div>
        </div>

        <div class="row tailored_area align-items-center">
            <div class="col-7">
                <div class="tailored_text">
                    <h4>Require a workspace tailored to your needs?</h4>
                    <p>Cofynd understands the client's requirement and ensures to provide them with their dream workplace, ie customized & well-equipped with all modern amenities.</p>
                    <a (click)="scrollToElement(target)" style="cursor: pointer;" class="site_btn blue_btn">Get In Touch</a>
                </div>
            </div>
            <div class="col-5">
                <div class="tailored_img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4b81def3bf809b2788be5a988015e2e2e9c83315.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="img_content_sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Looking for a Customized Office Solution</h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="round_img_box">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a5dc139af6e11b5a1da427dc747286b8e6d1c509.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <h4>Customized Build Space</h4>
                <p>Cofynd offers uniquely designed Custom Build spaces in all its listed coworking spaces mentioned on the website. Every company or firm aspires to have a custom-built office space, i.e. designed according to their requirements. Here, Cofynd
                    takes a step forward and assures us to provide a well-furnished customized build space equipped with modern facilities. This type of workspace has a spacious work area and the entire room is filled with ample natural light. We at Cofynd
                    value our client's vision and provide them with their dream workplace, which they will fall in love with at first sight. All the custom-built office spaces offered by us are at 0% extra cost.</p>
                <p class="btn_text"><a href="#">Learn more about our amenities »</a></p>
            </div>
        </div>
    </div>
</section>

<section class="img_content_sec2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-sm-last">
                <div class="round_img_box">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8697b39b580f968016699240e145e81aea64e8c4.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 order-sm-first">
                <h4>CXO Office Suites</h4>
                <p>Cofynd has a fully furnished and well-equipped CXO suite, which gives a pleasant yet engaging vibe. The C-suite is highly professionalized, with complete privacy and a distraction-free environment. This suite is operational only during
                    business hours with access to premium facilities. All business owners and working professionals need to focus on their profitable business strategies instead of worrying about the Office suite and infrastructure. We provide innovative
                    C-suite space solutions to ensure that you spend your valuable time on work and give your best in it everything else is on us.</p>
            </div>
        </div>
    </div>
</section>

<section class="img_content_sec3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="round_img_box">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f8139c038eb6f06c58c5ac0209739e7f5ac0e3d9.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <h4>Personal Office Space</h4>
                <p>Cofynd offers personal Office Space where individuals can work without any distractions. This could be a safe zone for salespeople who want to communicate with their customers without any discrepancy or noise. This workspace has soundproof
                    walls too that make this room safe and comfortable for any confidential meetings too. A ready-to-move-in personal space with shared amenities is a workplace every company desires in their coworking space. All introverts and creative
                    directors need some personal space to think, craft, and create magical ideas to happen and for that, they need their own customized personal office space for great results at work.</p>
            </div>
        </div>
    </div>
</section>

<section class="why_chooes_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Why choose Managed Office by CoFynd</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="top_icon_box mb-4"><img alt="" class="img-fluid" src="../../../../assets/images/icons/partner-expert-icon.svg">
                    <h4>Partner with Experts</h4>
                    <p>Cofynd is a revolutionary space provider platform offering an extensive collection of all types of spaces, both on rent and sale at affordable prices. All the startups and small/large-scale businesses explore our website and grab a
                        chance to become partners with the experts. Partnering with our experts will help you to reach out to maximum customer reach with high-revenue generating leads. </p>
                </div>
            </div>
            <div class="col-4">
                <div class="top_icon_box mb-4"><img alt="" class="img-fluid" src="../../../../assets/images/icons/billing-icon.svg">
                    <h4>An end-to-end Solution</h4>
                    <p>Cofynd is the king of coworking space providers and it offers its clients a wide range of coworking spaces to choose from according to their requirements. This type of workplace attracts all professionals and Millenials from different
                        walks of life. With Cofynd your business will get 100% support along with end-to-end solutions throughout the process and even after the purchase.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="top_icon_box mb-4"><img alt="" class="img-fluid" src="../../../../assets/images/icons/billing-icon.svg">
                    <h4>Support Beyond Space</h4>
                    <p>Cofynd is there to help your company in every way possible around the clock. Our assistance is not just during the purchase of coworking space needed by your company, rather, we are here to help you increase profits, marketing strategies,
                        and more. Our aim is to ensure that the company partnering with us is able to generate value for money while being a part of the Cofynd family.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="get-in-touch" class="form_area" #target>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="form_img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/588ad8e812926083807d04a25b8e770febde2548.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="solution_form_area">
                    <h3>Looking for Customized Business Solutions?</h3>
                    <p>Fill out the form below and our space expert will get in touch with you</p>
                    <div class="solution_form">
                        <div *ngIf="showSuccessMessage" class="success-box">
                            <app-check-mark-circle></app-check-mark-circle>
                            <h6>Hi! {{ contactUserName }}</h6>
                            <h3>Thank You for Your Query</h3>
                            <p>Your request has been initiated and a Cofynd executive will contact you shortly for further details.</p>
                            <a routerLink="/coworking">Search More Spaces</a>
                        </div>
                        <form action="" [formGroup]="enterpriseFormGroup" (ngSubmit)="onSubmit()" *ngIf="!showSuccessMessage">
                            <div class="input-group">
                                <input type="text" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name" class="form-control" placeholder="Enter your Name*" required>
                                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" class="form-control" placeholder="Email*" required>
                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                                    <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="tel" [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" formControlName="phone_number" class="form-control" placeholder="Mobile No.*" required>
                                <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
                                    <div *ngIf="f['phone_number'].errors['required']">Please enter mobile number.</div>
                                    <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile number.</div>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="text" [ngClass]="{ 'is-invalid': submitted && f['org_name'].errors }" formControlName="org_name" class="form-control" placeholder="Company Name*" required>
                                <div *ngIf="submitted && f['org_name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['org_name'].errors['required']">Please enter your company name.</div>
                                </div>
                            </div>
                            <div class="input-group">
                                <textarea type="text-area" [ngClass]="{ 'is-invalid': submitted && f['requirements'].errors }" formControlName="requirements" class="form-control" placeholder="Requirements" required></textarea>
                            </div>
                            <div *ngIf="submitted && f['requirements'].errors" class="invalid-feedback" style="display: block;">
                                <div *ngIf="f['requirements'].errors['required']">Please enter your requirements.</div>
                            </div>
                            <p>By clicking the above button you agree to our Terms of service and have read and understood our <span class="color_text">Privacy Policy</span></p>
                            <button class="btn btn-primary site_btn blue_btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_clint_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Our Clients</h3>
                </div>
                <!-- <div class="site_title title_divider">
                    <h2>Our Clients</h2>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="logos_slider client_logo_slider">
                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/18239ac46f0095fa3f64ce3f11d84be4708fd8ea.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/134c977d30c8f1329a95ca71bd6eba6252733852.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c95b92cde2f2df7f82f31aee85f109e817404b4b.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c9c3df6a15f74fe5310620ccfbaf13226649ba4d.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/2151c641ffa4ec98b086617eef4193881e20834f.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a66d2b173c8faa08fd6d4d1ba11890cd2542db24.png'" alt="" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/7b9fb349915858efbcdd50fa136eba35b297cda9.png'" alt="Acciojob Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/6129f05c386b12d328a5d3d58e0c036e7e66afd5.png'" alt="Atlas Law Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c81ea45f61705da2cc8f8ab5f7b83caecdc58aa1.png'" alt="Bluone Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5741d86b37405d2e37281345a4dd90ed098cd4ba.png'" alt="Bricz Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/7d9415d0d68cd1656aedd522d4d3bfd72e774b76.png'" alt="Credable Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/7dba2fe956ff2e98e4029333c02324ab199b6915.png'" alt="Dahua Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/69a26c306d1af10947a2bc2bd7f8be1994625d81.png'" alt="Devtown Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e650bcfa5444037833dd7f835bfb9447b981a2b2.png'" alt="Doubtnut Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/daca10ffa403e80f29ac51d368beefb021376dc0.png'" alt="Flash Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/68db0982e98f5a23ec87ef494df1ae3899bf533e.png'" alt="Genesys Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/d9e155e232b7314fc6468faba47815a81512c35b.png'" alt="Hector Beverages Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1bd8c3d5cb135908007579be26fa28082ea74a81.png'" alt="India Leaders for Social Sector Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/b2617d1216ab67f66344ba747bfac9c06b80dc7b.png'" alt="MNC Corporation Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/2b66bf4c7b44471e18ed1eb8ace551cf9962abe2.png'" alt="NS Partners Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c85f758097513122d0fb069b87ce9ceb95465dd4.png'" alt="Purpllr Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4f82875699784445c0d314f1835477470d685d2c.png'" alt="Talentshell Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/370fcfcd6e7869fab85688842554962bc2c8b784.png'" alt="The Connections Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c6c5c7d73cab43066fa9d4dbce347c1a741e5536.png'" alt="Wakeup Logo" class="img-fluid"></div>

                    <div class="item band-img"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0c9020becefb9fe1ec9ce5000993ff0ca4e3ea53.png'" alt="Zipcar Logo" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="list_your_space_sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="cta_content">
                    <h4>List Your Vacant Space with Cofynd and Start Earning</h4>
                    <p class="hideOnMobile">List for free and leave rest on our experts. Stay organized, manage leads, and track your bookings - all in one place.</p>
                    <a routerLink="/list-your-space" class="btn site_btn blue_btn">List Your Space</a>
                </div>
            </div>
            <div class="col-4 text-center">
                <img src="../../../assets/images/list-your-space-img.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="faqs_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Frequently Asked Questions</h3>
                    <p class="pt-3">Here are the frequently asked questions that people enquired online before choosing a enterprise business solutions. We have gathered the most crucial ones and answer here to help you in making the right decision.</p>
                </div>
            </div>
            <div class="col-md-12">
                <!-- <div class="faq_content">
                    <div class="page-title">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <p class="pt-3">Here are the frequently asked questions that people enquired online before choosing a enterprise business solutions. We have gathered the most crucial ones and answer here to help you in making the right decision.</p>
                </div> -->
                <accordion [isAnimated]="true" class="faqs_accordion">
                    <accordion-group>
                        <h4 accordion-heading>What is a coworking space?</h4>
                        <p>A coworking space is a shared workspace in which people from different professional backgrounds work together. It gives you an amazing work environment and access to numerous state of the art amenities resulting in better communication,
                            productivity, creativity and innovation.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>Who uses coworking spaces?</h4>
                        <p>From small startups to SMEs and large corporations, every type of organization can utilize a coworking space. In fact, individuals like business travelers, freelancers, remote workers, solo entrepreneurs and content creators etc.
                            are also utilizing modern coworking spaces for their business needs.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>How much does a coworking space cost?</h4>
                        <p>The overall cost of a coworking space depends on the type of seats you choose- Hot Desks, Dedicated Desks, Private Cabins and the location where it is located. </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What are the benefits of a coworking space?</h4>
                        <p>A coworking space gives you an ample of work benefits such as enhanced productivity, invaluable networking opportunities, community events, enhanced creativity, good work-life balance, less operating expenses, more flexibility
                            etc.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What are the amenities offered by coworking spaces?</h4>
                        <p>Fast-speed wifi, ergonomic furniture, air conditioning, housekeeping service, support & maintenance, tight security, beverages, power backup, reception facilities, printer/scanner, washroom facilities, free tea/coffee, common area,
                            meeting rooms, phone booths, recreation facilities, pantry, dedicated storage space and a lot more.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What types of flexible seats are available in coworking spaces?</h4>
                        <p>There are hot desks, dedicated desks, private cabins and virtual offices. If you want a workspace for a day, then you can go with day passes. All the aforementioned flexible seat options are available as per your business requirements.</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>