<section class="page_banner enterprise_banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 order-2 order-md-1">
                <div class="banner_content">
                    <h2 class="site_title">Cofynd Enterprise <span style="color: #1313E6;">Solutions</span></h2>
                    <h5>One India. One Network.</h5>
                    <p class="mobilehide tabhide">Cofynd is a one-stop solution for all your enterprise needs as we offer exclusive collection of spaces across India, providing excellent stability for your Business growth. All spaces listed in Cofynd and verified and are hosted with
                        our trusted partners. Our spaces boast of flexibility, comfort, and outstanding interiors to provide you unmatched work pleasure.</p>
                    <a (click)="scrollToElement(target)" style="cursor: pointer;" class="site_btn border_btn">Enquire Now</a>
                </div>
            </div>
            <div class="col-md-6 col-12 order-1 order-md-2">
                <div class="banner_img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/aeea176108292fec50e013b85efed4aec7304230.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Cofynd’s Pan-India Solutions</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="top_icon_box mb-4">
                    <img src="../../../../assets/images/icons/one-platform-icon.svg" alt="" class="img-fluid">
                    <h4>One Platform. Multiple Solutions</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="top_icon_box mb-4">
                    <img src="../../../../assets/images/icons/one-provider-icon.svg" alt="" class="img-fluid">
                    <h4>One Provider for all space needs</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="top_icon_box mb-4">
                    <img src="../../../../assets/images/icons/billing-icon.svg" alt="" class="img-fluid">
                    <h4>Centralised Billing & Agreements</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="top_icon_box mb-4">
                    <img src="../../../../assets/images/icons/management-icon.svg" alt="" class="img-fluid">
                    <h4>Vendor Management Support</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="top_icon_box">
                    <img src="../../../../assets/images/icons/booking-fee-icon.svg" alt="" class="img-fluid">
                    <h4>No Booking Service Fees</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="top_icon_box">
                    <img src="../../../../assets/images/icons/verified-icon.svg" alt="" class="img-fluid">
                    <h4>Verified Spaces and Trusted Partners</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="top_icon_box">
                    <img src="../../../../assets/images/icons/relationship-manager-icon.svg" alt="" class="img-fluid">
                    <h4>Dedicated Relationship Manager</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="top_icon_box">
                    <img src="../../../../assets/images/icons/pricing-tag-icon.svg" alt="" class="img-fluid">
                    <h4>Exclusive Pricing</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="network_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="network_content_box">
                    <h3 class="site_title left_divider title_divider">Cofynd Network</h3>
                    <p>Cofynd has a huge network status which comprises 100,000+ verified spaces in around 25+ cities across India. This is India’s fastest-growing space discovery platform ruling over the digital world. This online platform helps everyone
                        find a suitable coworking space or individual office space which gives their business a distinguishing address. Moreover, our platform has an excellent & unmatched user experience.</p>

                    <p>Cofynd is at the forefront of providing unified, flexible, and affordable space solutions both on rent and sale. Visit our website and book your desired space with us in a jiffy by filling out the form and your business is ready to
                        rock-n-roll in India’s best coworking space with a huge reputation.</p>

                </div>
                <div class="counter_area">
                    <div class="row">
                        <div class="col-4">
                            <div class="counter_item text-center">
                                <p class="number">100,000+</p>
                                <p class="title">Spaces</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="counter_item text-center">
                                <p class="number">1,000+</p>
                                <p class="title">Locations</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="counter_item text-center">
                                <p class="number">25+</p>
                                <p class="title">Cities</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mobilehide tabhide">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/836b2ce5ee92efe214104ab758e8a95cacffdf0c.png" alt="India Map" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="feature_sec cofynd_solution_sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Cofynd Solutions</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-4">
                <div class="left_icon_box mb-4">
                    <img src="../../../../assets/images/icons/custom-build-icon.svg" alt="" class="img-fluid">
                    <h4>Custom Built Offices</h4>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="left_icon_box">
                    <img src="../../../../assets/images/icons/cowork-icon.svg" alt="" class="img-fluid">
                    <h4>Coworking Space</h4>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="left_icon_box mb-4">
                    <img src="../../../../assets/images/icons/virtual-offices.svg" alt="" class="img-fluid">
                    <h4>Virtual Office</h4>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="left_icon_box mb-4">
                    <img src="../../../../assets/images/icons/private-office-icon.svg" alt="" class="img-fluid">
                    <h4>Private Offices / Suites</h4>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="left_icon_box">
                    <img src="../../../../assets/images/icons/appartment-icon.svg" alt="" class="img-fluid">
                    <h4>Serviced Apartments</h4>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="left_icon_box">
                    <img src="../../../../assets/images/icons/list-your-space-icon.svg" alt="" class="img-fluid">
                    <h4>List your Space</h4>
                </div>
            </div>
        </div>

        <div class="row tailored_area align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/333d27a3a05262ad80967b0e73e7a2c50882c616.jpg');">
            <div class="col-md-7 col-12">
                <div class="tailored_text">
                    <h4>Require a workspace tailored to your needs?</h4>
                    <p class="mobilehide">Cofynd understands the client's requirement and ensures to provide them with their dream workplace, ie customized & well-equipped with all modern amenities.</p>
                    <a (click)="scrollToElement(target)" style="cursor: pointer;" class="site_btn border_btn">Enquire Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="img_content_sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Looking for a Customized Enterprise Solution</h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="round_img_box">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a5dc139af6e11b5a1da427dc747286b8e6d1c509.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <h4>Customised Office Space</h4>
                <p>Cofynd offers uniquely designed Custom Built office spaces across all major cities in India. Every company aspires to have a custom-built office space matching their needs, i.e. designed according to their requirements, team size & nature
                    of work. We at Cofynd take a step forward and assures you to provide a well-furnished customised office space equipped with all facilities required in a modern office. We work with our architets day in and out to provide our clients
                    the best office layouts with ample sunlight and modern day work culture. Specially designed ergonomic desks and seats go a long way in increasing team productivity. We value our client's vision and provide them with their dream workplace,
                    which they will fall in love with at first sight. All custom-built office spaces offered by us are at an all inclusive cost with zero add-ons.</p>
                <a (click)="scrollToElement(target)" style="cursor: pointer;" class="btn_text">Enquire Now »</a>
            </div>
        </div>
    </div>
</section>

<section class="img_content_sec2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-last">
                <div class="round_img_box">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8697b39b580f968016699240e145e81aea64e8c4.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 order-md-first">
                <h4>CXO Office Suites</h4>
                <p>Cofynd has a wide range of fully furnished and well-equipped CXO suite, which gives a pleasant and engaging vibe to the top level management executives. The C-suite is highly professionalized, with complete privacy and a distraction-free
                    environment. This suite is operational only during business hours with access to premium facilities. All business owners and working professionals need to focus on their profitable business strategies instead of worrying about the
                    Office suite and infrastructure. We provide innovative C-suite space solutions to ensure that you spend your valuable time on work and give your best in it everything else is on us.</p>
                <a (click)="scrollToElement(target)" style="cursor: pointer;" class="btn_text">Enquire Now »</a>
            </div>
        </div>
    </div>
</section>

<section class="img_content_sec3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="round_img_box">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f8139c038eb6f06c58c5ac0209739e7f5ac0e3d9.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <h4>Customised Co-Living Spaces</h4>
                <p>We do what no one else does. With custom built Living spaces for your team Cofynd has opened a completely new dimension where employees can stay close to their workspace and enjoy all benefits of modern day co-living like home style cooked
                    food, unlimited wifi, common lounge, gaming areas and much more. These spaces can be designed in line with the corporate theme and can be home to management as well as team members available for long term and short term stays in your
                    city.
                </p>
                <a (click)="scrollToElement(target)" style="cursor: pointer;" class="btn_text">Enquire Now »</a>
            </div>
        </div>
    </div>
</section>

<section class="cofynd_advantage_sec mobilehide tabhide">
    <div class="container">
        <div class="row" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4ea610ab4514481d76a5e893fff175cd1827d041.jpg');">
            <div class="col-md-3 col-3">
                <h3>CoFynd <br>Advantages</h3>
            </div>
            <div class="col-md-3 col-3">
                <div class="dvantage_item">
                    <img src="assets/images/home/work-spaces.svg" alt="35,000+ Spaces" class="img-fluid">
                    <h4>100,000+ Spaces</h4>
                    <p class="mobilehide">Get access to 100,000+ spaces with easy availability and convenience anytime and anywhere. Space Search Made Simple with CoFynd</p>
                </div>
            </div>
            <div class="col-md-3 col-3">
                <div class="dvantage_item">
                    <img src="assets/images/icons/brokerage-icon.svg" alt="35,000+ Spaces" class="img-fluid">
                    <h4>Zero Brokerage</h4>
                    <p class="mobilehide">CoFynd is India’s fastest growing space discovery platform that doesn’t charge any brokerage from the customers.</p>
                </div>
            </div>
            <div class="col-md-3 col-3">
                <div class="dvantage_item">
                    <img src="assets/images/home/support.svg" alt="35,000+ Spaces" class="img-fluid">
                    <h4>100% Offline Support</h4>
                    <p class="mobilehide">We provide complete offline support from choosing the best space, scheduling site visits, bookings and after sales.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="query_from_sec enterprise_query" #target>
    <div class="container">
        <div class="row tabhide">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Yes, I'm interested in Enterprises Solutions</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 mobilehide tabhide">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/6c037e2a4080366655f6b96103bc465435490ac1.png" class="img-fluid" alt="">
            </div>

            <div class="col-md-6 col-12">
                <div class="virtual_query_form">
                    <div class="form_head">
                        <h3>Answers to your Enterprise Solutions query</h3>
                        <p>Our team is ready to answer your questions.</p>
                    </div>

                    <div class="form_body">
                        <!-- <div *ngIf="showSuccessMessage" class="success-box">
                            <app-check-mark-circle></app-check-mark-circle>
                            <h6>Hi! {{ contactUserName }}</h6>
                            <h3>Thank You for Your Query</h3>
                            <p>Your request has been initiated and a Cofynd executive will contact you shortly for further details.</p>
                            <a routerLink="/coworking">Search More Spaces</a>
                        </div> -->
                        <form action="" [formGroup]="enterpriseFormGroup" (ngSubmit)="onSubmit()" *ngIf="!showSuccessMessage">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/user-icon.svg" class="img-fluid" alt="">
                                        <input type="text" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name" class="form-control" placeholder="Name*" required>
                                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                            <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/email-icon.svg" class="img-fluid" alt="">
                                        <input type="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" class="form-control" placeholder="Email*" required>
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                                            <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 country_phone">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/phone-icon.svg" class="img-fluid" alt="">

                                        <div class="form-input icon_phone_field">
                                            <div class="flag-container">
                                                <div (click)="showcountry = !showcountry" class="selected-flag">
                                                    <div class="flag in" *ngIf="activeCountries.length">
                                                        <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                                        <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                                                    </div>
                                                </div>
                                                <ul *ngIf="showcountry" class="country-list">
                                                    <li (click)="hideCountry(country)" *ngFor="let country of activeCountries" class="country active" tabindex="-1">
                                                        <div class="flag-box">
                                                            <div class="flag in"><img [src]="country?.image?.s3_link" width="18px" /></div>
                                                        </div>
                                                        <span class="country-name">{{country?.name}}</span>
                                                        <span class="dial-code">{{country?.dial_code}}</span>
                                                    </li>

                                                    <li class="divider"></li>

                                                    <li class="country selected" (click)="hideCountry(inactive)" *ngFor="let inactive of inActiveCountries">
                                                        <div class="flag-box">
                                                            <div class="flag af"><img [src]="inactive?.image?.s3_link" /></div>
                                                        </div>
                                                        <span class="country-name">{{inactive?.name}}</span>
                                                        <span class="dial-code">{{inactive?.dial_code}}</span>
                                                    </li>
                                                </ul>

                                                <input type="tel" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" formControlName="phone_number" class="form-control" placeholder="Phone*" required>
                                                <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">Please enter mobile number.</div>
                                                    <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile number.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/location-icon.svg" class="img-fluid" alt="">
                                        <select class="form-select" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" formControlName="city" class="form-control" placeholder="select your city" required aria-label="Default select example">
                                            <option value="" selected disabled style="display: none;">Select City*</option>
                                            <option [value]="city.name" *ngFor="let city of finalCities">{{city.name}}</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                            <div *ngIf="f['city'].errors['required']">Please select your city.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12" *ngIf="ENQUIRY_STEP === ENQUIRY_STEPS.OTP">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/phone-icon.svg" class="img-fluid" alt="">
                                        <input type="tel" [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }" formControlName="otp" required class="form-control border-light" id="mobilenumber" placeholder="Otp*" aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
                                            <div *ngIf="f['otp'].errors['required']">Please enter 4 digit otp.</div>
                                        </div>
                                    </div>
                                    <button [disabled]="resendDisabled" (click)="resendOTP()" [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                                    <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="input-group message_field align-items-center">
                                        <img src="assets/images/icons/message-icon.svg" class="img-fluid" alt="">
                                        <textarea type="textarea" [ngClass]="{ 'is-invalid': submitted && f['requirements'].errors }" formControlName="requirements" class="form-control" placeholder="Requirements"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <button class="site_btn border_btn" type="submit">Submit</button>
                                </div>
                                <div class="col-md-12 col-12">
                                    <p class="form_query_text">Need Assistance? Call Now : <span><a
                                                href="tel:+91-9599509999">+91-9599509999</a></span></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="home_client_sec">
    <app-our-clients></app-our-clients>
</div>

<section class="list_your_space_sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="cta_content">
                    <h4>List Your Vacant Space with Cofynd and Start Earning</h4>
                    <p class="mobilehide">List for free and leave rest on our experts. Stay organized, manage leads, and track your bookings - all in one place.</p>
                    <a routerLink="/list-your-space" class="btn site_btn border_btn">List Your Property</a>
                </div>
            </div>
            <div class="col-4 text-center">
                <img src="../../../assets/images/list-your-space-img.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="faqs_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Frequently Asked Questions</h3>
                </div>
                <p class="pt-3">Here are the frequently asked questions that people enquired online before choosing a enterprise business solutions. We have gathered the most crucial ones and answer here to help you in making the right decision.</p>
            </div>
            <div class="col-md-12">
                <accordion [isAnimated]="true" class="faqs_accordion">
                    <accordion-group>
                        <h4 accordion-heading>What is a coworking space?</h4>
                        <p>A coworking space is a shared workspace in which people from different professional backgrounds work together. It gives you an amazing work environment and access to numerous state of the art amenities resulting in better communication,
                            productivity, creativity and innovation.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>Who uses coworking spaces?</h4>
                        <p>From small startups to SMEs and large corporations, every type of organization can utilize a coworking space. In fact, individuals like business travelers, freelancers, remote workers, solo entrepreneurs and content creators etc.
                            are also utilizing modern coworking spaces for their business needs.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>How much does a coworking space cost?</h4>
                        <p>The overall cost of a coworking space depends on the type of seats you choose- Hot Desks, Dedicated Desks, Private Cabins and the location where it is located. </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What are the benefits of a coworking space?</h4>
                        <p>A coworking space gives you an ample of work benefits such as enhanced productivity, invaluable networking opportunities, community events, enhanced creativity, good work-life balance, less operating expenses, more flexibility
                            etc.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What are the amenities offered by coworking spaces?</h4>
                        <p>Fast-speed wifi, ergonomic furniture, air conditioning, housekeeping service, support & maintenance, tight security, beverages, power backup, reception facilities, printer/scanner, washroom facilities, free tea/coffee, common area,
                            meeting rooms, phone booths, recreation facilities, pantry, dedicated storage space and a lot more.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What types of flexible seats are available in coworking spaces?</h4>
                        <p>There are hot desks, dedicated desks, private cabins and virtual offices. If you want a workspace for a day, then you can go with day passes. All the aforementioned flexible seat options are available as per your business requirements.</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>