<section class="page_banner">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-md-6">
              <div class="banner_content">
                  <h2 class="site_title">Cofynd Business <span style="color: #1313E6;">Solutions</span></h2>
                  <h5>One India. One Network.</h5>
                  <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed etiam facilisi tristique morbi volutpat ornare. Ac ante non faucibus felis.”</p>
              </div>
          </div>
          <div class="col-md-6">
              <div class="banner_img">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/aeea176108292fec50e013b85efed4aec7304230.jpg" alt="" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="feature_sec">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="text-center mb-4">
                  <h3 class="site_title title_divider">Cofynd Solutions</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="left_icon_box mb-4">
                  <img src="../../../../assets/images/icons/private-office-icon.svg" alt="" class="img-fluid">
                  <h4>Private Offices / Suites</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="left_icon_box mb-4">
                  <img src="../../../../assets/images/icons/custom-build-icon.svg" alt="" class="img-fluid">
                  <h4>Custom Built Offices</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="left_icon_box mb-4">
                  <img src="../../../../assets/images/icons/virtual-offices.svg" alt="" class="img-fluid">
                  <h4>Virtual Office</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="left_icon_box">
                  <img src="../../../../assets/images/icons/cowork-icon.svg" alt="" class="img-fluid">
                  <h4>Coworking Space</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="left_icon_box">
                  <img src="../../../../assets/images/icons/appartment-icon.svg" alt="" class="img-fluid">
                  <h4>Apartment</h4>
              </div>
          </div>
          <div class="col-md-4">
              <div class="left_icon_box">
                  <img src="../../../../assets/images/icons/list-your-space-icon.svg" alt="" class="img-fluid">
                  <h4>List your Space</h4>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="network_area">
  <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="network_content_box">
                  <h3 class="site_title left_divider title_divider">Cofynd Solutions</h3>
                  <p>The CoFynd network includes more than 35,000 verified work and living spaces in 25+ cities across India located in top neighborhood and available on complete flexible terms. Cofynd is India's fastest growing discovery platform to find and book your perfect Space. And we have just started!</p>

                  <p>The CoFynd network includes more than 35,000 verified work and living spaces in 25+ cities across India located in top neighborhood and available on complete flexible terms. Cofynd is India's fastest growing discovery platform to find and book your perfect Space. And we have just started!</p>
              </div>
              <div class="counter_area">
                  <div class="row">
                      <div class="col-4">
                          <div class="counter_item text-center">
                              <p class="number">35,000+</p>
                              <p class="title">Spaces</p>
                          </div>
                      </div>
                      <div class="col-4">
                          <div class="counter_item text-center">
                              <p class="number">1,000+</p>
                              <p class="title">Locations</p>
                          </div>
                      </div>
                      <div class="col-4">
                          <div class="counter_item text-center">
                              <p class="number">25+</p>
                              <p class="title">Cities</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-6">
              <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/836b2ce5ee92efe214104ab758e8a95cacffdf0c.png" alt="India Map" class="img-fluid">
          </div>
      </div>
  </div>
</section>

<section class="solution_section">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="text-center mb-4">
                  <h3 class="site_title title_divider">Cofynd’s Pan-India Solutions</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="top_icon_box mb-4">
                  <img src="../../../../assets/images/icons/one-platform-icon.svg" alt="" class="img-fluid">
                  <h4>One Platform. Multiple Solutions</h4>
              </div>
          </div>
          <div class="col-md-3">
              <div class="top_icon_box mb-4">
                  <img src="../../../../assets/images/icons/one-provider-icon.svg" alt="" class="img-fluid">
                  <h4>One Provider for all space needs</h4>
              </div>
          </div>
          <div class="col-md-3">
              <div class="top_icon_box mb-4">
                  <img src="../../../../assets/images/icons/billing-icon.svg" alt="" class="img-fluid">
                  <h4>Centralised Billing & Agreements</h4>
              </div>
          </div>
          <div class="col-md-3">
              <div class="top_icon_box mb-4">
                  <img src="../../../../assets/images/icons/management-icon.svg" alt="" class="img-fluid">
                  <h4>Vendor Management Support</h4>
              </div>
          </div>
          <div class="col-md-3">
              <div class="top_icon_box">
                  <img src="../../../../assets/images/icons/booking-fee-icon.svg" alt="" class="img-fluid">
                  <h4>No Booking Service Fees</h4>
              </div>
          </div>
          <div class="col-md-3">
              <div class="top_icon_box">
                  <img src="../../../../assets/images/icons/verified-icon.svg" alt="" class="img-fluid">
                  <h4>Verified Spaces and Trusted Partners</h4>
              </div>
          </div>
          <div class="col-md-3">
              <div class="top_icon_box">
                  <img src="../../../../assets/images/icons/relationship-manager-icon.svg" alt="" class="img-fluid">
                  <h4>Dedicated Relationship Manager</h4>
              </div>
          </div>
          <div class="col-md-3">
              <div class="top_icon_box">
                  <img src="../../../../assets/images/icons/pricing-tag-icon.svg" alt="" class="img-fluid">
                  <h4>Exclusive Pricing</h4>
              </div>
          </div>
      </div>
      
      <div class="row tailored_area align-items-center">
        <div class="col-7">
          <div class="tailored_text">
            <h4>Require a work space tailored to your needs?</h4>
            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed etiam facilisi tristique morbi volutpat ornare. Ac ante non faucibus felis.”</p>
            <button class="site_btn blue_btn">Get In Touch</button>
          </div>
        </div>
        <div class="col-5">
          <div class="tailored_img">
            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4b81def3bf809b2788be5a988015e2e2e9c83315.png" alt="">
          </div>
        </div>
      </div>
  </div>
</section>

<section class="img_content_sec">
  <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="text-center mb-4">
                <h3 class="site_title title_divider">Looking for a Customized Office Solution</h3>
            </div>
        </div>
      </div>
      <div class="row align-items-center">
          <div class="col-md-6">
              <div class="round_img_box">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a5dc139af6e11b5a1da427dc747286b8e6d1c509.jpg" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-md-6">
              <h4>Cutomised Build Space</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed etiam facilisi tristique morbi
                  volutpat ornare. Ac ante non faucibus felis. Enim tellus phasellus dictum mauris auctor erat
                  arcu bibendum tristique. Maecenas in volutpat amet tempor fames a nisi, est. Ut posuere volutpat
                  augue euismod. Maecenas in volutpat amet tempor fames a nisi, est. Maecenas in volutpat amet
                  tempor fames a nisi, est. Ut posuere volutpat augue euismod. Maecenas in volutpat amet tempor
                  fames a nisi, est. Ut posuere volutpat augue euismod. Maecenas in volutpat amet tempor fames a
                  nisi, est. Maecenas in volutpat amet tempor fames a nisi, est. Ut posuere volutpat augue
                  euismod. Maecenas in volutpat amet tempor fames a nisi, est.</p>
              <p class="btn_text"><a href="#">Learn more about our amenities »</a></p>
          </div>
      </div>
  </div>
</section>

<section class="img_content_sec2">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6 order-sm-last">
              <div class="round_img_box">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8697b39b580f968016699240e145e81aea64e8c4.jpg" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-md-6 order-sm-first">
              <h4>CXO Office Suites</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed etiam facilisi tristique morbi
                  volutpat ornare. Ac ante non faucibus felis. Enim tellus phasellus dictum mauris auctor erat
                  arcu bibendum tristique. Maecenas in volutpat amet tempor fames a nisi, est. Ut posuere volutpat
                  augue euismod. Maecenas in volutpat amet tempor fames a nisi, est. Maecenas in volutpat amet
                  tempor fames a nisi, est. Ut posuere volutpat augue euismod. Maecenas in volutpat amet tempor
                  fames a nisi, est. Ut posuere volutpat augue euismod. Maecenas in volutpat amet tempor fames a
                  nisi, est. Maecenas in volutpat amet tempor fames a nisi, est. Ut posuere volutpat augue
                  euismod. Maecenas in volutpat amet tempor fames a nisi, est.</p>
          </div>
      </div>
  </div>
</section>

<section class="img_content_sec3">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6">
              <div class="round_img_box">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f8139c038eb6f06c58c5ac0209739e7f5ac0e3d9.jpg" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-md-6">
              <h4>Personal Office Space</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed etiam facilisi tristique morbi
                  volutpat ornare. Ac ante non faucibus felis. Enim tellus phasellus dictum mauris auctor erat
                  arcu bibendum tristique. Maecenas in volutpat amet tempor fames a nisi, est. Ut posuere volutpat
                  augue euismod. Maecenas in volutpat amet tempor fames a nisi, est. Maecenas in volutpat amet
                  tempor fames a nisi, est. Ut posuere volutpat augue euismod. Maecenas in volutpat amet tempor
                  fames a nisi, est. Ut posuere volutpat augue euismod. Maecenas in volutpat amet tempor fames a
                  nisi, est. Maecenas in volutpat amet tempor fames a nisi, est. Ut posuere volutpat augue
                  euismod. Maecenas in volutpat amet tempor fames a nisi, est.</p>
          </div>
      </div>
  </div>
</section>