<section class="page_banner builder_banner">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-12 order-2 order-md-1">
        <div class="banner_content">
          <h2 class="site_title">Top <span style="color: #1313E6;">Builders</span> in India</h2>
          <p class="mobilehide tabhide">Co-working is the future of office space in India. India is experiencing high
            demand in coworking office space market with the flexibility it provides toward work and work culture.
            Cofynd offers top coworking brands in India to choose the perfect workspace for startups, growing
            organizations, and top MNCs. We assist you to find the perfect coworking office space for rent in India.</p>
          <a (click)="scrollToElement(target)"
            style="cursor: pointer;"
            class="site_btn border_btn">Enquire Now</a>
        </div>
      </div>
      <div class="col-md-6 col-12 order-1 order-md-2">
        <div class="banner_img">
          <img
            src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/80a37b29bf1855a660804865b5fe205483f3deba.jpg"
            alt=""
            class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="feature_builders_sec desktophide">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title">
          <h2>Featured Builders</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="virtual_cities_carousel">
          <div class="top-city-item" style="cursor: pointer;">
            <div class="top-city-img">
              <img class="img-fluid d-block m-auto"
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/59d13a91ae36e4d83072c367dac75a2fdab0c7ee.jpg">
            </div>
            <div class="top-city-text">
              <h4><i class="fas fa-map-marker-alt"
                  aria-hidden="true"></i> M3M</h4>
            </div>
          </div>
          <div class="top-city-item"
            style="cursor: pointer;">
            <div class="top-city-img">
              <img class="img-fluid d-block m-auto"
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1866076b4b76715292600e5cb4767b82aa67e367.jpg">
            </div>
            <div class="top-city-text">
              <h4><i class="fas fa-map-marker-alt"
                  aria-hidden="true"></i> DLF</h4>
            </div>
          </div>
          <div class="top-city-item"
            style="cursor: pointer;">
            <div class="top-city-img"><img class="img-fluid d-block m-auto"
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c3a55378818e07485c0cc4d1e028de83922e473c.jpg">
            </div>
            <div class="top-city-text">
              <h4><i class="fas fa-map-marker-alt"
                  aria-hidden="true"></i> Ashiana Housing</h4>
            </div>
          </div>
          <div class="top-city-item"
            style="cursor: pointer;">
            <div class="top-city-img"><img class="img-fluid d-block m-auto"
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/6b39a0c72e28c29f04411658c4ccde45397c8014.jpg">
            </div>
            <div class="top-city-text">
              <h4><i class="fas fa-map-marker-alt"
                  aria-hidden="true"></i> Godrej</h4>
            </div>
          </div>
          <div class="top-city-item"
            style="cursor: pointer;">
            <div class="top-city-img"><img class="img-fluid d-block m-auto"
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8a01fd434f5450010f9ed32fec8d3d9babb0d553.jpg">
            </div>
            <div class="top-city-text">
              <h4><i class="fas fa-map-marker-alt"
                  aria-hidden="true"></i> Ireo</h4>
            </div>
          </div>
          <div class="top-city-item"
            style="cursor: pointer;">
            <div class="top-city-img"><img class="img-fluid d-block m-auto"
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/784c4c32a1fee499de9841fee79251f439b306cc.jpg">
            </div>
            <div class="top-city-text">
              <h4><i class="fas fa-map-marker-alt"
                  aria-hidden="true"></i> TATA Housing</h4>
            </div>
          </div>
          <div class="top-city-item"
            style="cursor: pointer;">
            <div class="top-city-img"><img class="img-fluid d-block m-auto"
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/b5c66202899383f8c93fd609d08981ca28782b22.jpg">
            </div>
            <div class="top-city-text">
              <h4><i class="fas fa-map-marker-alt"
                  aria-hidden="true"></i> Tulip</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature_builders tabhide">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Featured Builders</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pt-2">
        <div class="top-city-item"
          style="cursor: pointer;">
          <div class="top-city-img main_city">
            <img class="img-fluid d-block m-auto"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/59d13a91ae36e4d83072c367dac75a2fdab0c7ee.jpg">
          </div>
          <div class="top-city-text">
            <h4><i class="fas fa-map-marker-alt"
                aria-hidden="true"></i> M3M</h4>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img class="img-fluid d-block m-auto"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1866076b4b76715292600e5cb4767b82aa67e367.jpg">
              </div>
              <div class="top-city-text">
                <h4><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i> DLF</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img"><img class="img-fluid d-block m-auto"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c3a55378818e07485c0cc4d1e028de83922e473c.jpg">
              </div>
              <div class="top-city-text">
                <h4><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i> Ashiana Housing</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img"><img class="img-fluid d-block m-auto"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/6b39a0c72e28c29f04411658c4ccde45397c8014.jpg">
              </div>
              <div class="top-city-text">
                <h4><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i> Godrej</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img"><img class="img-fluid d-block m-auto"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8a01fd434f5450010f9ed32fec8d3d9babb0d553.jpg">
              </div>
              <div class="top-city-text">
                <h4><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i> Ireo</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img"><img class="img-fluid d-block m-auto"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/784c4c32a1fee499de9841fee79251f439b306cc.jpg">
              </div>
              <div class="top-city-text">
                <h4><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i> TATA Housing</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img"><img class="img-fluid d-block m-auto"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/b5c66202899383f8c93fd609d08981ca28782b22.jpg">
              </div>
              <div class="top-city-text">
                <h4><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i> Tulip</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="builder_by_city_list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Mumbai</h2>
        </div>
      </div>
    </div>
    <div class="row tab_slider mt-2">
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c4baed52206448d18f6b845e9093c7e5e19ebf39.jpg"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ecc36dc033e03bd3f8378e89714799d3afd263c3.jpg"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>43</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8ad3e704664b05d4446d3a97b04d2456966ae4f3.jpg"
              alt="Mahindra Lifespaces">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c8607139484a7c21ccaf049642d279e64d2fb0c0.png"
                  alt="Mahindra Lifespaces">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>129</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fc5b0e9786db7406d4283a901f97df0da7605dd3.jpg"
              alt="Lodha Logo">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a19a3c042332ee5430fe2e8a9c91b1d675b7aba7.png"
                  alt="Lodha Logo">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>361</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3e72be8015b209a671401d5174269c8f0e63964f.png');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Get the best premium flats in Mahindra Lifespaces at the best price</h4>
          <a class="btn site_btn border_btn">Enquire Now</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="builder_by_city_list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Bangalore</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 tab_slider">
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c4baed52206448d18f6b845e9093c7e5e19ebf39.jpg"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ecc36dc033e03bd3f8378e89714799d3afd263c3.jpg"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>43</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8ad3e704664b05d4446d3a97b04d2456966ae4f3.jpg"
              alt="Mahindra Lifespaces">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c8607139484a7c21ccaf049642d279e64d2fb0c0.png"
                  alt="Mahindra Lifespaces">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>129</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fc5b0e9786db7406d4283a901f97df0da7605dd3.jpg"
              alt="Lodha Logo">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a19a3c042332ee5430fe2e8a9c91b1d675b7aba7.png"
                  alt="Lodha Logo">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>361</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/eddcf5b8d7aa29efb49e6d8358434aa9d85f312a.jpg');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Get the best premium flats in Puravankara at the best price</h4>
          <a class="btn site_btn border_btn">Enquire Now</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="builder_by_city_list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Gurugram</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 tab_slider">
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c4baed52206448d18f6b845e9093c7e5e19ebf39.jpg"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ecc36dc033e03bd3f8378e89714799d3afd263c3.jpg"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>43</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8ad3e704664b05d4446d3a97b04d2456966ae4f3.jpg"
              alt="Mahindra Lifespaces">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c8607139484a7c21ccaf049642d279e64d2fb0c0.png"
                  alt="Mahindra Lifespaces">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>129</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fc5b0e9786db7406d4283a901f97df0da7605dd3.jpg"
              alt="Lodha Logo">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a19a3c042332ee5430fe2e8a9c91b1d675b7aba7.png"
                  alt="Lodha Logo">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>361</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/35e5f2a4ba41fd0db7083d5720bea74804e11960.jpg');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Get the best premium flats in DLF at the best price</h4>
          <a class="btn site_btn border_btn">Enquire Now</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="builder_by_city_list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Ahemdabad</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 tab_slider">
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c4baed52206448d18f6b845e9093c7e5e19ebf39.jpg"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ecc36dc033e03bd3f8378e89714799d3afd263c3.jpg"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>43</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8ad3e704664b05d4446d3a97b04d2456966ae4f3.jpg"
              alt="Mahindra Lifespaces">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c8607139484a7c21ccaf049642d279e64d2fb0c0.png"
                  alt="Mahindra Lifespaces">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>129</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fc5b0e9786db7406d4283a901f97df0da7605dd3.jpg"
              alt="Lodha Logo">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a19a3c042332ee5430fe2e8a9c91b1d675b7aba7.png"
                  alt="Lodha Logo">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>361</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/beb8b307572b51e267a9d5eca8318b2fa9e972ae.jpg');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Get the best premium flats in Adani at the best price</h4>
          <a class="btn site_btn border_btn">Enquire Now</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="builder_by_city_list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Pune</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 tab_slider">
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c4baed52206448d18f6b845e9093c7e5e19ebf39.jpg"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ecc36dc033e03bd3f8378e89714799d3afd263c3.jpg"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>43</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8ad3e704664b05d4446d3a97b04d2456966ae4f3.jpg"
              alt="Mahindra Lifespaces">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c8607139484a7c21ccaf049642d279e64d2fb0c0.png"
                  alt="Mahindra Lifespaces">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>129</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fc5b0e9786db7406d4283a901f97df0da7605dd3.jpg"
              alt="Lodha Logo">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a19a3c042332ee5430fe2e8a9c91b1d675b7aba7.png"
                  alt="Lodha Logo">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>361</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="query_from_sec top_builder_form">
  <div class="container">
    <div class="row tabhide">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Yes, I want to buy Property in India</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 tabhide">
        <img alt=""
          class="img-fluid"
          src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/573637d053bf699f82147cddbf6ef8818803fd0f.png">
      </div>
      <div class="col-md-6 col-12">
        <div class="virtual_query_form">
          <div class="form_head">
            <h3 class="desktophide">Yes, I want to buy Property in India</h3>
            <h3 class="tabhide">Answers to your property related query</h3>
            <p class="tabhide">Our team is ready to answer your questions.</p>
          </div>
          <div class="form_body">
            <form action=""
              class="ng-untouched ng-pristine ng-invalid">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="input-group align-items-center">
                    <img alt=""
                      class="img-fluid"
                      src="assets/images/icons/user-icon.svg">
                    <input class="form-control"
                      placeholder="Name*"
                      required=""
                      type="text">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="input-group align-items-center">
                    <img alt=""
                      class="img-fluid"
                      src="assets/images/icons/email-icon.svg">
                    <input class="form-control"
                      placeholder="Email*"
                      required=""
                      type="email">
                  </div>
                </div>
                <div class="col-md-6 col-12 country_phone">
                  <div class="input-group align-items-center">
                    <img alt=""
                      class="img-fluid"
                      src="assets/images/icons/phone-icon.svg">
                    <div class="form-input icon_phone_field">
                      <div class="flag-container">
                        <div class="selected-flag">
                          <div class="flag in">
                            <span class="dial-code"> +91</span><span class="arrow arrow-up"><i
                                class="fa-solid fa-angle-down"></i></span>
                          </div>
                        </div>
                        <input class="form-control"
                          maxlength="10"
                          placeholder="Phone*"
                          required="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="input-group align-items-center">
                    <img alt=""
                      class="img-fluid"
                      src="assets/images/icons/location-icon.svg">
                    <select aria-label="Default select example"
                      class="form-control"
                      placeholder="select your city"
                      required="">
                      <option disabled
                        selected
                        style="display: none;"
                        value="">Select City*</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Noida">Noida</option>
                      <option value="Pune">Pune</option>
                      <option value="Gurugram">Gurugram</option>
                      <option value="Bangalore">Bangalore</option>
                      <option value="Hyderabad">Hyderabad</option>
                      <option value="Mumbai">Mumbai</option>
                      <option value="Indore">Indore</option>
                      <option value="Chennai">Chennai</option>
                      <option value="Ahmedabad">Ahmedabad</option>
                      <option value="Jaipur">Jaipur</option>
                      <option value="Lucknow">Lucknow</option>
                      <option value="Chandigarh">Chandigarh</option>
                      <option value="Goa">Goa</option>
                      <option value="Coimbatore">Coimbatore</option>
                      <option value="Dehradun">Dehradun</option>
                      <option value="Patna">Patna</option>
                      <option value="Bhubaneswar">Bhubaneswar</option>
                      <option value="Hubballi">Hubballi</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-12 col-12">
                  <div class="input-group message_field align-items-center">
                    <img alt=""
                      class="img-fluid"
                      src="assets/images/icons/message-icon.svg">
                    <textarea class="form-control"
                      placeholder="Requirements"
                      type="textarea"></textarea>
                  </div>
                </div>
                <div class="col-md-12 col-12">
                  <button class="site_btn border_btn"
                    type="submit">Submit</button>
                </div>
                <div class="col-md-12 col-12">
                  <p class="form_query_text">Need Assistance? Call Now : <span><a
                        href="tel:+91-9599509999">+91-9599509999</a></span></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/29434665fd0db6ada452a7f42c1e29610b878051.jpg');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Live better by making Cofynd your next home</h4>
          <p>Save time and money without sparing style.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="cofynd_desk_sec coworking_cofynd_desk">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cofynd-desk text-center">
          <img style="max-height: 200px;"
            src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c73da7d3135107aeb381095d5913bc54c77d5c4d.png"
            alt="">
          <h4>What's the CoFynd Desk ?</h4>
          <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything
            in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd
            community Breathe, Connect and Climb
            to their highest in life.</p>
          <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faqs_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mb-4">
          <h3 class="site_title title_divider">Frequently Asked Questions</h3>
        </div>
      </div>
      <div class="col-md-12">
        <accordion [isAnimated]="true"
          class="faqs_accordion">
          <accordion-group>
            <h4 accordion-heading>How many properties & real estate developers are available at CoFynd?</h4>
            <p>CoFynd has 10,000+ properties of top real estate developers in India. It includes apartments, bungalows,
              villas, penthouses, duplexes, etc.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Which real estate builder offers the best & budget-friendly apartments in Gurgaon?
            </h4>
            <p>Sobha, Unitech, & Godrej are the best real estate developers with high-quality, budget-friendly
              residential apartments.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Do we need to check flat documents while renting it?</h4>
            <p>Renting with CoFynd means you don't need to worry about any documents. We have a team of real estate
              experts to handle approved building plans, layout plans, ownership documents, etc.</p>
          </accordion-group>

          
          <accordion-group>
            <h4 accordion-heading>Which real estate builder offers lavish residential properties in Gurgaon?</h4>
            <p>Top real estate builder like; Godrej, DLF, Sobha, Emaar, & M3M offers lavish residential properties in Gurgaon.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>How many real estate builders are available in India?</h4>
            <p>India is a growing economy and has 100+ trusted & widely popular real estate builders.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Who is India’s No.1 real estate builder?</h4>
            <p>DLF Group is the No.1 real estate builder in India. This group delivers several iconic & economical residential, commercial, & retail projects.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Which real estate company owns the foremost land in Gurgaon?</h4>
            <p>DLF Group, or the chairman & CEO of DLF, Kushal Pal Singh owns the foremost land in Gurgaon. This is the largest private entity with 4000+ acres of land bank.</p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</section>