<section class="page_banner builder_banner">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-12 order-2 order-md-1">
        <div class="banner_content">
          <h2 class="site_title">Top <span style="color: #1313E6;">Builders</span> in India</h2>
          <p class="mobilehide tabhide">Co-working is the future of office space in India. India is experiencing high
            demand in coworking office space market with the flexibility it provides toward work and work culture.
            Cofynd offers top coworking brands in India to choose the perfect workspace for startups, growing
            organizations, and top MNCs. We assist you to find the perfect coworking office space for rent in India.</p>
          <a style="cursor: pointer;"
            class="site_btn border_btn"
            (click)="scrollToElement(target)">Enquire Now</a>
        </div>
      </div>
      <div class="col-md-6 col-12 order-1 order-md-2">
        <div class="banner_img">
          <img
          [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/80a37b29bf1855a660804865b5fe205483f3deba.jpg'"
            alt="Builder Banner"
            class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature_builders_sec desktophide"
  *ngIf="!loading && featuredBuilders.length">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title">
          <h2>Featured Builders</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="virtual_cities_carousel">
          <ng-container (click)="routeToBuilder(builder.slug)"
            *ngFor="let builder of featuredBuilders | slice:0:7">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img class="img-fluid d-block m-auto"
                  [lazyLoad]="builder?.images[0]?.image?.s3_link" alt="Featured Builder Image">
              </div>
              <div class="top-city-text">
                <h4><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i> {{builder.name}}</h4>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature_builders tabhide"
  *ngIf="!loading && featuredBuilders.length">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Featured Builders</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pt-2"
        (click)="routeToBuilder(builder.slug)"
        *ngFor="let builder of featuredBuilders | slice:0:1">
        <div class="top-city-item"
          style="cursor: pointer;">
          <div class="top-city-img main_city">
            <img class="img-fluid d-block m-auto"
              [lazyLoad]="builder?.images[0]?.image?.s3_link" alt="Featured Builders">
          </div>
          <div class="top-city-text">
            <h4><i class="fas fa-map-marker-alt"
                aria-hidden="true"></i> {{builder.name}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 p-2"
            (click)="routeToBuilder(builder.slug)"
            *ngFor="let builder of featuredBuilders | slice:1:7">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img class="img-fluid d-block m-auto"
                  [lazyLoad]="builder?.images[0]?.image?.s3_link" alt="Featured Builders">
              </div>
              <div class="top-city-text">
                <h4><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i> {{builder.name}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="builder_by_city_list"
  *ngIf="!loading && mumbaiBuilders && mumbaiBuilders.length">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Mumbai</h2>
        </div>
      </div>
    </div>
    <div class="row builder_slider mt-2 tab_slider">
      <div class="col-md-4 col-6"
        (click)="routeToBuilder(builder.slug)"
        *ngFor="let builder of mumbaiBuilders | slice:0:3">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              [lazyLoad]="builder?.images[0]?.image?.s3_link"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  [lazyLoad]="builder?.builder_logo?.s3_link"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>{{builder?.projects}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3e72be8015b209a671401d5174269c8f0e63964f.png');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Get the best premium flats in Mahindra Lifespaces at the best price</h4>
          <button class="btn site_btn border_btn">Enquire Now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="builder_by_city_list"
  *ngIf="!loading && bangloreBuilders && bangloreBuilders.length">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Bangalore</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 tab_slider">
      <div class="col-md-4 col-6"
        (click)="routeToBuilder(builder.slug)"
        *ngFor="let builder of bangloreBuilders | slice:0:3">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              [lazyLoad]="builder?.images[0]?.image?.s3_link"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  [lazyLoad]="builder?.builder_logo?.s3_link"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>{{builder?.projects}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/eddcf5b8d7aa29efb49e6d8358434aa9d85f312a.jpg');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Get the best premium flats in Puravankara at the best price</h4>
          <button class="btn site_btn border_btn">Enquire Now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="builder_by_city_list"
  *ngIf="!loading && gurugramBuilders && gurugramBuilders.length">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Gurugram</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 tab_slider">
      <div class="col-md-4 col-6"
        (click)="routeToBuilder(builder.slug)"
        *ngFor="let builder of gurugramBuilders | slice:0:3">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              [lazyLoad]="builder?.images[0]?.image?.s3_link"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  [lazyLoad]="builder?.builder_logo?.s3_link"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>{{builder?.projects}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/35e5f2a4ba41fd0db7083d5720bea74804e11960.jpg');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Get the best premium flats in DLF at the best price</h4>
          <button class="btn site_btn border_btn">Enquire Now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="builder_by_city_list"
  *ngIf="!loading && ahmedabadBuilders && ahmedabadBuilders.length">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Ahemdabad</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 tab_slider">
      <div class="col-md-4 col-6"
        (click)="routeToBuilder(builder.slug)"
        *ngFor="let builder of ahmedabadBuilders | slice:0:3">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              [lazyLoad]="builder?.images[0]?.image?.s3_link"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  [lazyLoad]="builder?.builder_logo?.s3_link"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>{{builder?.projects}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/beb8b307572b51e267a9d5eca8318b2fa9e972ae.jpg');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Get the best premium flats in Adani at the best price</h4>
          <button class="btn site_btn border_btn">Enquire Now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="builder_by_city_list"
  *ngIf="!loading && puneBuilders && puneBuilders.length">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Builders in Pune</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2 tab_slider">
      <div class="col-md-4 col-6"
        (click)="routeToBuilder(builder.slug)"
        *ngFor="let builder of puneBuilders | slice:0:3">
        <div class="builder_item">
          <div class="builder_img">
            <img class="img-fluid"
              [lazyLoad]="builder?.images[0]?.image?.s3_link"
              alt="indiabulls">
          </div>
          <div class="row brand_content align-items-center">
            <div class="col-m d-6 col-6">
              <div class="title_img">
                <img class="img-fluid"
                  [lazyLoad]="builder?.builder_logo?.s3_link"
                  alt="indiabulls">
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="project_count">
                <h5>Projects</h5>
                <p>{{builder?.projects}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="query_from_sec top_builder_form"
  #target>
  <div class="container">
    <div class="row tabhide">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Yes, I want to buy Property in India</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6 tabhide">
        <img alt="Query Image"
          class="img-fluid"
          [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/573637d053bf699f82147cddbf6ef8818803fd0f.png'">
      </div>
      <div class="col-md-6 col-12">
        <div class="virtual_query_form">
          <div class="form_head">
            <h3 class="desktophide">Yes, I want to buy Property in India</h3>
            <h3 class="tabhide">Answers to your property related query</h3>
            <p class="tabhide">Our team is ready to answer your questions.</p>
          </div>
          <div class="form_body">
            <form action=""
              [formGroup]="enterpriseFormGroup"
              (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="input-group align-items-center">
                    <img [lazyLoad]="'assets/images/icons/user-icon.svg'"
                      class="img-fluid"
                      alt="User">
                    <input type="text"
                      [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                      formControlName="name"
                      class="form-control"
                      placeholder="Name*"
                      required>
                    <div *ngIf="submitted && f['name'].errors"
                      class="invalid-feedback">
                      <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="input-group align-items-center">
                    <img [lazyLoad]="'assets/images/icons/email-icon.svg'"
                      class="img-fluid"
                      alt="Email">
                    <input type="email"
                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                      formControlName="email"
                      class="form-control"
                      placeholder="Email*"
                      required>
                    <div *ngIf="submitted && f['email'].errors"
                      class="invalid-feedback">
                      <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                      <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12 country_phone">
                  <div class="input-group align-items-center">
                    <img [lazyLoad]="'assets/images/icons/phone-icon.svg'"
                      class="img-fluid"
                      alt="Phone">

                    <div class="form-input icon_phone_field">
                      <div class="flag-container">
                        <div (click)="showcountry = !showcountry"
                          class="selected-flag">
                          <div class="flag in"
                            *ngIf="activeCountries && activeCountries.length">
                            <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                            <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                          </div>
                        </div>
                        <ul *ngIf="showcountry"
                          class="country-list">
                          <li (click)="hideCountry(country)"
                            *ngFor="let country of activeCountries"
                            class="country active"
                            tabindex="-1">
                            <div class="flag-box">
                              <div class="flag in"><img [lazyLoad]="country?.image?.s3_link"
                                  width="18px" /></div>
                            </div>
                            <span class="country-name">{{country?.name}}</span>
                            <span class="dial-code">{{country?.dial_code}}</span>
                          </li>
                        </ul>

                        <input type="tel"
                          maxlength="10"
                          [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }"
                          formControlName="phone_number"
                          class="form-control"
                          placeholder="Phone*"
                          required>
                        <div *ngIf="submitted && f['phone_number'].errors"
                          class="invalid-feedback">
                          <div *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">Please enter
                            mobile number.</div>
                          <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile number.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="input-group align-items-center">
                    <img [lazyLoad]="'assets/images/icons/location-icon.svg'"
                      class="img-fluid"
                      alt="Location">
                    <select class="form-select"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['city'].errors }"
                      formControlName="city"
                      placeholder="select your city"
                      required
                      aria-label="Default select example">
                      <option value=""
                        selected
                        disabled
                        style="display: none;">Select City*</option>
                      <option [value]="city.name"
                        *ngFor="let city of finalCities">{{city.name}}</option>
                      <option value="Other">Other</option>
                    </select>
                    <div *ngIf="submitted && f['city'].errors"
                      class="invalid-feedback">
                      <div *ngIf="f['city'].errors['required']">Please select your city.</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-12"
                  *ngIf="ENQUIRY_STEP === ENQUIRY_STEPS.OTP">
                  <div class="input-group align-items-center">
                    <img [lazyLoad]="'assets/images/icons/phone-icon.svg'"
                      class="img-fluid"
                      alt="Phone">
                    <input type="tel"
                      [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }"
                      formControlName="otp"
                      required
                      class="form-control border-light"
                      id="mobilenumber"
                      placeholder="Otp*"
                      aria-describedby="emailHelp">
                    <div *ngIf="submitted && f['otp'].errors"
                      class="invalid-feedback">
                      <div *ngIf="f['otp'].errors['required']">Please enter 4 digit otp.</div>
                    </div>
                  </div>
                  <button [disabled]="resendDisabled"
                    (click)="resendOTP()"
                    [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                  <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                </div>
                <div class="col-md-12 col-12">
                  <div class="input-group message_field align-items-center">
                    <img [lazyLoad]="'assets/images/icons/message-icon.svg'"
                      class="img-fluid"
                      alt="Message">
                    <textarea type="textarea"
                      [ngClass]="{ 'is-invalid': submitted && f['requirements'].errors }"
                      formControlName="requirements"
                      class="form-control"
                      placeholder="Requirements"></textarea>
                  </div>
                </div>
                <div class="col-md-12 col-12">
                  <button class="site_btn border_btn"
                    type="submit">Submit</button>
                </div>
                <div class="col-md-12 col-12">
                  <p class="form_query_text">Need Assistance? Email : <span>hello@cofynd.com</span></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gradient_cta_sec builder_banner_area">
  <div class="container">
    <div class="row align-items-center"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/29434665fd0db6ada452a7f42c1e29610b878051.jpg');">
      <div class="col-8">
        <div class="cta_content">
          <h4>Live better by making Cofynd your next home</h4>
          <p>Save time and money without sparing style.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cofynd_desk_sec coworking_cofynd_desk">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cofynd-desk text-center">
          <img style="max-height: 200px;"
          [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/727de738fd2725e2045d19ac44a5873f25919b36.png'"
            alt="What's the CoFynd Desk">
          <h4>What's the CoFynd Desk?</h4>
          <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything
            in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd
            community Breathe, Connect and Climb
            to their highest in life.</p>
          <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faqs_area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mb-4">
          <h3 class="site_title title_divider">Frequently Asked Questions</h3>
        </div>
      </div>
      <div class="col-md-12">
        <accordion [isAnimated]="true"
          class="faqs_accordion">
          <accordion-group>
            <h4 accordion-heading>How many properties & real estate developers are available at CoFynd?</h4>
            <p>CoFynd has 10,000+ properties of top real estate developers in India. It includes apartments, bungalows,
              villas, penthouses, duplexes, etc.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Which real estate builder offers the best & budget-friendly apartments in Gurgaon?
            </h4>
            <p>Sobha, Unitech, & Godrej are the best real estate developers with high-quality, budget-friendly
              residential apartments.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Do we need to check flat documents while renting it?</h4>
            <p>Renting with CoFynd means you don't need to worry about any documents. We have a team of real estate
              experts to handle approved building plans, layout plans, ownership documents, etc.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Which real estate builder offers lavish residential properties in Gurgaon?</h4>
            <p>Top real estate builder like; Godrej, DLF, Sobha, Emaar, & M3M offers lavish residential properties in
              Gurgaon.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>How many real estate builders are available in India?</h4>
            <p>India is a growing economy and has 100+ trusted & widely popular real estate builders.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Who is India’s No.1 real estate builder?</h4>
            <p>DLF Group is the No.1 real estate builder in India. This group delivers several iconic & economical
              residential, commercial, & retail projects.</p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>Which real estate company owns the foremost land in Gurgaon?</h4>
            <p>DLF Group, or the chairman & CEO of DLF, Kushal Pal Singh owns the foremost land in Gurgaon. This is the
              largest private entity with 4000+ acres of land bank.</p>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</section>