<section class="banner">
    <div class="banner-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Find the Best <br> <span>Coliving Spaces</span> in {{country_name}}
                </h1>
                <div class="search">
                    <app-home-city-dropdown [typeLabel]="'Looking For'" [cityLabel]="'Select City'" [isCountryLandingPage]=true [isCoworking]="true" [isCoLiving]="true">
                    </app-home-city-dropdown>
                </div>
                <div class="city-list">
                    <a *ngFor="let city of cities" style="cursor: pointer;" (click)="routeToCity(city.name,city?.Country?.name,city?.Country?.id)">
                        <img [lazyLoad]="city?.image?.s3_link" [alt]="city.name"> {{ removedash(city.name) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="facilities">
    <div class="container">
        <div class="option-box">
            <div class="row hide-d">
                <div class="col-12 blueLine text-center">
                    <p>Amenities offered</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-6" *ngFor="let data of service">
                    <div class="mt-3 mb-3">
                        <img [lazyLoad]="'../../../assets/images/'+data.icon" class="img-fluid d-block" [alt]="data.title">
                        <p class="mt-2 mb-2 h-font18">{{data.title}}</p>
                        <p class="text-dark mb-0 hide-m">{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <!-- booking navigation -->
    <section class="booking-navigation bg-light">
        <div class="container">
            <div class=" ">
                <div class="row">
                    <div class="col-md-12 blueLine">
                        <p class="font-36 text-center" style="font-weight: 600;">Book Your Coliving Space in 3 Easy Steps</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="row mt-3">
                    <div class="col-md-4">
                        <p class="mb-0 stepNumber">01</p>
                        <p class="steps">Step 01</p>
                        <p class="pt-3">Select your desired city and search for the best suited CoLiving Space.</p>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-0 stepNumber">02</p>
                        <p class="steps">Step 02</p>
                        <p class="pt-3">Choose the CoLiving Space plan and fill in your details in the query form.</p>
                    </div>
                    <div class="col-md-4">
                        <p class="mb-0 stepNumber">03</p>
                        <p class="steps">Step 03</p>
                        <p class="pt-3">Our CoLiving Space team will get in touch with you and help you get your desired CoLiving Space.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- top Spaces -->
    <section class="virtualSpace">
        <div class="container">
            <div class="page-title pt-3">
                <h2>Top Coliving Cities in {{country_name}}</h2>
            </div>
            <div class="row">
                <div class="col-md-4 pt-2" style="cursor: pointer;" *ngFor=" let _centerCity of popularCoLivingSpaces | slice:0:1">
                    <div style="position: relative;" (click)="openWorkSpace(_centerCity.address.split(',').pop())">
                        <img [lazyLoad]="_centerCity.image" class="img-fluid d-block m-auto" style="height:516px; object-fit:cover; border-radius:10px;" alt="Cities Image">
                        <div class="SpaceText">
                            <p class="mb-3 pl-2 text-center text-white" style="font-size: 20px; line-height: 26px; font-weight: 500;"><i class="fas fa-map-marker-alt"></i> {{removedash(_centerCity.address.split(",").pop()) | titlecase}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 p-2" style="cursor: pointer;" *ngFor="let _centerCity of popularCoLivingSpaces | slice:1:7">
                            <div class="spaceCenter" (click)="openWorkSpace(_centerCity.address.split(',').pop())">
                                <img [lazyLoad]="_centerCity.image" alt="Cities Image" class="img-fluid d-block m-auto">
                                <div class="SpaceText">
                                    <p class="text-center text-white mb-3" style="font-size: 20px; font-weight: 500;"><i class="fas fa-map-marker-alt"></i> {{_centerCity.address.split(",").pop()}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-carousel-item [pageTitle]="'Top Spaces in Singapore'" [shouldCoWorkingVisible]="false" [shouldCoLivingVisible]="true" [coLivingSpaces]="spaceForMobile.singapore">
    </app-carousel-item>


    <section class="partners">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title remove-side-circle">
                        <h2>Our Coliving Partners</h2>
                    </div>
                </div>
            </div>
            <div class="row mob-hide partner-carousel slider-on-mobile-view">
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="Casa Mia Logo " [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0e1cf303e90b8953716594f93aaa28f3e5d4e301.jpg'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="Cove Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/218137c9b505399e49d329277f6a277b86e7df14.jpg'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="Dash Living Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/17b297bb76fa6521a14fdd24a05c6e49db956f50.jpg'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="Figment Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0e84d826637d5c4dc9186d1f53308592a22ceb1b.jpg'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="Hei Homes Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1a13b7f78b04ad0b7c28619d18216e6432b81c82.jpg'" />
                </div>

                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="Hmlet Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/481ce6f841cecc0e9060024dd4e72bce06ef300e.jpg'" />
                </div>
            </div>
        </div>
    </section>

    <section class="enquiry-section hideOnMobile" style="padding-top: 90px !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" (click)="openAdd()">
                    <img lazyLoad="/assets/images/home/coliving-sapce-singapore-new.jpg" class="enquiry-box" alt="Co Working Spaces" />
                </div>
            </div>
        </div>
    </section>

    <!-- We are ready for the new normal! -->
    <section class="onlyMobile covid-safety pt-5 pb-5">
        <div class="container pb-5">
            <div class="row">
                <div class="col-12">
                    <p class="facility-head">We are ready for the new normal!</p>
                </div>
                <div class="col-12">
                    <img [lazyLoad]="'../../../assets/images/co-living/colivingMain/covid-2.png'" class="img-fluid m-auto d-block border pt-2 pl-2 pr-2" alt="Covid">
                </div>
            </div>
        </div>
    </section>

    <section class="list_your_space_sec hideOnMobile">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8">
                    <div class="cta_content">
                        <h4>List Your Vacant Space with Cofynd and Start Earning</h4>
                        <p class="hideOnMobile">List for free and leave rest on our experts. Stay organized, manage leads, and track your bookings - all in one place.</p>
                        <a routerLink="/list-your-space" class="btn site_btn border_btn">List Your Property</a>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <img [lazyLoad]="'../../../assets/images/list-your-space-img.svg'" alt="List Your Vacant" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="cofynd_desk_sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cofynd-desk text-center">
                        <img style="max-height: 200px;" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c73da7d3135107aeb381095d5913bc54c77d5c4d.png'" alt="What's the CoFynd Desk">

                        <h4>What's the CoFynd Desk?</h4>
                        <p>CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd community Breathe, Connect and
                            Climb to their highest in life.</p>
                        <p class="link-text text-center">- Atul Gupta, Founder & CEO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="search-description" *ngIf="seoData">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ seoData?.footer_title }}</h2>
                    <div [innerHTML]="seoData?.footer_description"></div>
                </div>
            </div>
        </div>
    </section>

</div>