<section class="advertise-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-8">
        <h1>Advertise</h1>
        <p class="your-value-space">your space to thousands<br />
          of tenants , Every Month !</p>
        <!-- <a class="btn btn-primary"
          href="https://cofynd-space.typeform.com/to/kohp9XYv"
          target="_blank">List Now</a> -->
          <a class="btn btn-primary"
          href="https://form.typeform.com/to/hTYYGR0z"
          target="_blank">List Now</a>
      </div>
      <div class="col-md-6 col-4">
        <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b576c8f323d16329a2c59fbdf64b7faf6ddcf9e.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="benefits-with-cofynd">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="small-container-size">
          <div class="page-title page-title-left">
              <h2>Why list with CoFynd?</h2>
          </div>
          <!-- <h2 class="heading-font font-decor bottom-gap">Why list with CoFynd?</h2> -->
          <div class="benefits-list-box">
            <ul class="benefit-list-items">
              <li>
                <img class="feature-icon"
                  src="/assets/images/warm-leads.svg"
                  alt="Icon">
                <h3>CoFynd means Genuine Leads</h3>
                <p>CoFynd recommendation search engine perfectly matches the new office space requirements with your
                  property listings. Warm leads save your time by focusing on the best deals on our website.</p>
              </li>
              <li>
                <img class="feature-icon"
                  src="/assets/images/fast-easy.svg"
                  alt="Icon">
                <h3>Fast, Easy & Free</h3>
                <p>Listing your space on CoFynd is Fast, Easy and FREE. We will help you in getting your listings up and
                  running in no time. Sit relax and wait for quality leads & tenants. </p>
              </li>
              <li>
                <img class="feature-icon"
                  src="/assets/images/curated.svg"
                  alt="Icon">
                <h3>Curated by Marketing Experts</h3>
                <p>Our system is designed by the best in the industry. We optimize your property listing in such a way
                  to reach out to target customers quickly. With that, you will have more tenants to choose from.
                </p>
              </li>
              <li>
                <img class="feature-icon"
                  src="/assets/images/professional-photos.svg"
                  alt="Icon">
                <h3>Professional Images</h3>
                <p>Great images of the property make all the difference. HD images of the space give users a nice
                  preview of the space they want to book. Our team will click the best pictures for your space for free.
                </p>
              </li>
            </ul>
            <img class="list-info-graphic"
              src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4a137444772bd9de041959cd0afe287d951c4b5c.png"
              alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="listing-steps">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="small-container-size listing-center">
          <div class="page-title">
              <h2>How to Start Listing</h2>
          </div>
          <!-- <h2 class="heading-font font-decor bottom-gap">How to Start Listing</h2> -->
        </div>
        <div class="small-container-size">
          <div class="row">
            <div class="col-4 step-box">
              <span class="step-graphic">
                <img src="/assets/images/free-account.svg"
                  alt="Icon">
              </span>
              <h3>Sign up for FREE</h3>
              <p>Start listing your space without any Charge</p>
            </div>
            <div class="col-4 step-box">
              <i class="icon-next icon-first"></i>
              <i class="icon-next icon-second"></i>
              <span class="step-graphic">
                <img src="/assets/images/create-lisitng.svg"
                  alt="Icon">
              </span>
              <h3>Create a listing</h3>
              <p>Details about your space including Photos & Price</p>
            </div>
            <div class="col-4 step-box">
              <span class="step-graphic">
                <img src="/assets/images/find-tennants.svg"
                  alt="Icon">
              </span>
              <h3>We find you tenants</h3>
              <p>Connect with genuine leads for your space</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="work-procedure">
  <img class="side-info-graphic"
    src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/23418bde1b34959be0f1425c2fcb7c8608adc5e5.png"
    alt="Info-Graphic" />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="small-container-size">
          <div class="page-title page-title-left">
              <h2>Who do we work with?</h2>
          </div>
          <!-- <h2 class="heading-font font-decor bottom-gap">Who do we work with?</h2> -->
          <p>CoFynd works closely with a wide range of MNCs, Indian Corporates, Government Institutions, Coworking Space
            Providers, Serviced Office Providers, Brokerage firms and Companies who are constantly looking for Vacant
            Offices, Workspaces and Venues. Spaces listed on our platform are extensively advertised on various social
            media platforms both online and office to generate maximum leads and quality tenants.
          </p>
          <p>We help businesses identify the best workspace solution from a wide spectrum of flexible Coworking Spaces,
            Private Offices, Built to Suite offices & BareShell office spaces. Explore from an extensive range of fully
            furnished offices for all team sizes. Whether you are an Individual, Entrepreneur or a large Enterprise we
            have the right space for you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="list-with-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="action-box">
          <div class="action-desc">
            <h3>Ready to List With Us!</h3>
            <p>List your space with <span>Cofynd</span> and convert your vacant property into revenue <span>generating
                asset</span>.</p>
          </div>
          <div>
            <!-- <a class="btn btn-primary"
              href="https://cofynd-space.typeform.com/to/XPEBOg6F"
              target="_blank">List Now</a> -->
              <a class="btn btn-primary"
              href="https://form.typeform.com/to/hTYYGR0z"
              target="_blank">List Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="faq faqs_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="listing-center">
          <div class="page-title page-title-left">
              <h2>Frequently Asked Questions</h2>
          </div>
          <!-- <h2 class="heading-font font-decor bottom-gap">Frequently Asked Questions</h2> -->
        </div>
        <accordion [isAnimated]="true" class="faqs_accordion">
          <accordion-group>
            <h4 accordion-heading>
              Why choose CoFynd?
              <i class="icon-arrow-down fal fa-angle-down"></i>
            </h4>
            <p>CoFynd is a technology-driven office rental marketplace that makes it simple to list your space globally
              sitting at your desk. Working together with listing partners like you, we do the perfect selection of
              available spaces in coworking space, serviced office, furnished office spaces, event spaces and training
              rooms with genuine tenants.</p>
            <p>Our proprietary tools and workflows help you get quality tenants and leads to lease your available space
              faster and better. </p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>
              How do I market my space with you?
              <i class="icon-arrow-down fal fa-angle-down"></i>
            </h4>
            <p>It simple to get started, complete <a href="https://form.typeform.com/to/hTYYGR0z">this
                form</a> to list your space. One of our CoFynd experts will guide you through our listing platform.
              After the first introduction, you will realize how fast & easy it is to list your space on Cofynd.
            </p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>
              How does CoFynd help me market my vacant Space?
              <i class="icon-arrow-down fal fa-angle-down"></i>
            </h4>
            <p>When you market your space with CoFynd, we list each space with high-quality images, complete property
              information with amenities, accessibility and what makes your space unique. Each listing on CoFynd is
              google-optimized with the latest search engine algorithm techniques to drive maximum views on every
              listing. </p>
            <p>We also provide a Premium Listing partner package to maximize the reach of your listing. </p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>
              I have my own website. Why should I list on CoFynd?
              <i class="icon-arrow-down fal fa-angle-down"></i>
            </h4>
            <p>CoFynd has partnered with top global coworking space operators and public listing platforms. Virtually
              all our coworking partners have their websites and can list their vacancies online. </p>
            <p>The strength of CoFynd is that we are an office-rental marketplace that provides a wide range of flexible
              workspaces and property types from which businesses can easily preview, compare and find the best-suited
              workspace. In addition to our proprietary recommendation engine, CoFynd drives you qualified leads that
              are more likely to convert. </p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>
              I have an under-utilized space in my Office. How CoFynd helps me to market my space which I don’t want the
              whole market to know?
              <i class="icon-arrow-down fal fa-angle-down"></i>
            </h4>
            <p>If you have un-utilized space in your office, you can create a private listing on CoFynd that doesn’t
              show to everyone in the main search. Private listings only show in CoFynd recommendations when space is a
              good match with the available space. </p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>
              I don’t have professional images of my Space. Can you help?
              <i class="icon-arrow-down fal fa-angle-down"></i>
            </h4>
            <p>Definitely Yes ! Good quality image and videos improve the listing preference by 10X with the tenants.
              One of our CoFynd experts will visit your space and take the professional images completely free for you.
            </p>
          </accordion-group>
          <accordion-group>
            <h4 accordion-heading>
              How does CoFynd make money ?
              <i class="icon-arrow-down fal fa-angle-down"></i>
            </h4>
            <p>Once a tenant has signed a lease agreement with you, we charge 10% of the rent you receive every month.
              You don’t have to pay anything until we bring you a rent-paying tenant.
            </p>
            <p>For the Venue partners, once the customer has booked and paid for space, we charge 15% of the total
              booking fee. </p>
          </accordion-group>

        </accordion>
      </div>
    </div>
  </div>
</section>
