<section class="list_space_banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-6">
                <div class="banner_text">
                    <h1>Advertise</h1>
                    <p>Your property to thousands <br>of tenants, Every Month!</p>
                    <a href="https://listing.cofynd.com" target="_blank" class="site_btn border_btn">List Your Property</a>
                </div>
            </div>
            <div class="col-md-6 col-6 list-property-img">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/eb9ee05a986dd76a86972de349b9ee9744f495f0.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="flat_counter_sec list_space_counter">
    <div class="container">
        <div class="row flat_counter_row">
            <div class="col-md-4 col-4">
                <div class="counter_item">
                    <div class="icon"><img src="../../../assets/images/icons/comercial-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <div class="number">100,000+</div>
                        <h4>Properties Listed</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="counter_item">
                    <div class="icon"><img src="../../../assets/images/icons/leads-generate-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <div class="number">10,00,000+</div>
                        <h4>Leads generated</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-4">
                <div class="counter_item">
                    <div class="icon"><img src="../../../assets/images/icons/growth-graph-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <div class="number">1,00,00,000+</div>
                        <h4>Rent Collected</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how_to_start_sec grey-bg" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f1dc6cd3c786f6bc815b03a8cad29934d7bbcad1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>How to Start Listing your Property</h2>
                </div>
            </div>
        </div>

        
        <div class="row align-items-center">
            <div class="col-md-6 start_list_img mobilehide">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9fbc669962147e9f6bc343f1d49e6b564f2cdb19.png" alt="" class="img-fluid">
            </div>

            <div class="col-md-6">
                <div class="choose_item_slider">
                    
                        <div class="step_item" *ngFor="let data of startListing">
                            <div class="icon"><img [src]="'../../../assets/images/'+data.icon" class="img-fluid d-block" [alt]="data.title"></div>
                            <div class="content">
                                <h4>{{data.title}}</h4>
                                <p>{{data.description}}</p>
                            </div>
                        </div>
                    <div class="mobilehide">
                        <a href="https://listing.cofynd.com" target="_blank" class="site_btn border_btn">List Your Property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="why_list_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Why list with CoFynd?</h2>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 col-6">
                <div class="why_list_item">
                    <div class="icon"><img src="../../../assets/images/icons/genuine-leads-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <h4>CoFynd means Genuine Leads</h4>
                        <p class="mobilehide">CoFynd recommendation search engine perfectly matches the tenant space requirements with your property listings. Warm leads save time by focusing on the best deals.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-6 mb-5">
                <div class="why_list_item">
                    <div class="icon"><img src="../../../assets/images/icons/expert-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <h4>Curated by Marketing Experts</h4>
                        <p class="mobilehide">Designed by the best in the industry, we optimize your property listing in a way to reach out to target customers quickly. With that, you will have more tenants to choose from.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-6">
                <div class="why_list_item">
                    <div class="icon"><img src="../../../assets/images/icons/fasted-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <h4>Fast, Easy & Free</h4>
                        <p class="mobilehide">Listing your space on CoFynd is Fast, Easy, and FREE. We will help you in getting your listings up and running in no time. Sit relax and wait for quality tenants.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-6">
                <div class="why_list_item">
                    <div class="icon"><img src="../../../assets/images/icons/image-layer-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <h4>Professional Images</h4>
                        <p class="mobilehide">Images of the property make all the difference. High-quality images give the users a nice preview of the space they want to book. Images uploaded on Cofynd are auto-enhanced by our system.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="full-grid-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-4">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/34c2990940d540966bd3be4695562ff05a9e6ec6.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-4 col-4">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1d8a6ccbd4967c3ea1bae9ee1e6b87d98da9f782.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-4 col-4">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/69832c21fa8b66f1b4761863a5d9eb60e8f65a6d.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<section class="why_list_sec mobilehide">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>CoFynd Marketplace</h2>
                </div>
            </div>
        </div>

        <div class="row mt-4 align-items-center">
            <div class="col-md-4 col-4">
                <div class="marketplace_item bottom_space">
                    <img src="../../../assets/images/icons/arrow-icon.svg" alt="Arrow" class="img-fluid marketplace-arrow1 marketplace-arrow">
                    <div class="icon"><img src="../../../assets/images/icons/tenant-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <h4>Quality Tenants</h4>
                        <p class="mobilehide">No Spam, only verified & quality tenants for your property listings</p>
                    </div>
                </div>
                <div class="marketplace_item">
                    <img src="../../../assets/images/icons/arrow-icon.svg" alt="Arrow" class="img-fluid marketplace-arrow2 marketplace-arrow">
                    <div class="icon"><img src="../../../assets/images/icons/manage-way-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <h4>Manage your way</h4>
                        <p class="mobilehide">Control the details, pricing & availability of spaces listed by you at all times</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-4 col-sm-offset-1">
                <div class="property-item-img"><img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/10306c093c51ae75ab129bbd8bbad6227141b933.png" alt="" class="img-fluid"></div>
            </div>
            <div class="col-md-4 col-4">
                <div class="marketplace_item bottom_space">
                    <img src="../../../assets/images/icons/arrow-right-icon.svg" alt="Arrow" class="img-fluid marketplace-arrow3 marketplace-arrow">
                    <div class="icon"><img src="../../../assets/images/icons/money-beg-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <h4>Make money</h4>
                        <p class="mobilehide">Spaces advertised on Cofynd have 80% higher chances of leasing than others.</p>
                    </div>
                </div>
                <div class="marketplace_item">
                    <img src="../../../assets/images/icons/arrow-right-icon.svg" alt="Arrow" class="img-fluid marketplace-arrow4 marketplace-arrow">
                    <div class="icon"><img src="../../../assets/images/icons/building-icon.svg" alt="" class="img-fluid"></div>
                    <div class="content">
                        <h4>Property Management</h4>
                        <p class="mobilehide">Exclusive services include Rent collection, Property maintenance & Upgradation</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <a href="https://listing.cofynd.com" target="_blank" class="site_btn border_btn">List Your Property</a>
            </div>
        </div>
    </div>
</section>


<section class="cofynd_network_sec grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>CoFynd Network</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <p>CoFynd works closely with a wide range of MNCs, Indian Corporates, Government Institutions, Coworking Space Providers, Serviced Office Providers, Brokerage firms, and Individuals who are constantly looking for vacant Office spaces, Workspaces,
                    Venues, and Residential Living Spaces. Properties listed on Cofynd are extensively marketed & advertised offline & online on various social media platforms to generate maximum outreach.</p>

                <p>We help businesses identify the best workspace solution from a wide spectrum of flexible Coworking Spaces, Private Offices, Built to Suite offices & Customised office spaces. Explore an extensive range of fully furnished offices, Coliving
                    spaces & studio apartments. Whether you are an Individual, Entrepreneur, or a large Enterprise we have the right space for you.</p>
            </div>
            <div class="col-md-6 text-center mobilehide">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/289bfd0883c0d0d72e4983fc8d7d9da5734ae786.png" class="img-fluid" alt="Network Image">
            </div>
        </div>
    </div>
</section>


<section class="flat_testimonials_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Customer Testimonials</h2>
                </div>
            </div>
        </div>

        <div class="row mt-3 align-items-center">
            <div class="col-md-6 text-center">
                <div class="testimonials_video">
                    <video src="../../../assets/images/list-your-space-testimonial.mp4" controls width="100%" height="315"></video>
                </div>
            </div>
            <div class="col-md-6 mobilehide">
                <div class="customer_testimonials_slider">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testi_item">
                                    <div class="review-image">
                                        <img class="img-fluid" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/2e815ed79ad46572214f33f50e256f5b74c47acd.png">
                                    </div>
                                    <div class="quote-text">
                                        <p>Cofynd has an amazing sales team that was constantly looking out for an exact match of tenants and coordinated well to get the deal through. This is one of the most trustworthy platforms where you can easily rent
                                            out your property without brokerage. I would recommend Cofynd to my network and give this platform a Five star rating for its service.</p>
                                    </div>
                                    <div class="review-text">
                                        <h4>Mihika Sharma</h4>
                                        <p>Happy Customer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testi_item">
                                    <div class="review-image">
                                        <img class="img-fluid" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/50be281dd3bc80c685b390b067836685fd6409aa.png">
                                    </div>
                                    <div class="quote-text">
                                        <p>I had an amazing experience with Cofynd as my relationship manager responded well to all my queries. Listing was so simple and it was free. For a long time we were not able to find a suitable tenant for my vacant
                                            office but within weeks of listing on Cofynd my property was leased to a good tenant. Highly satisfied with listing my property with them and will list my other properties with them in the future, too.</p>
                                    </div>
                                    <div class="review-text">
                                        <h4>Vinay Mehta</h4>
                                        <p>Happy Customer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testi_item">
                                    <div class="review-image">
                                        <img class="img-fluid" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/355327cbaff17cd2ecefaf0ad800b7a7f86ef7be.png">
                                    </div>
                                    <div class="quote-text">
                                        <p>Cofynd helped me to advertise my property for free and it offered enquires along with shortlisted buyers and tenants. It is super easy to post with them at no cost. Just added basic details of my property with expected
                                            rentals and images and it was live in no time. Cheers to Cofynd from quickly renting out my property with no hassles.</p>
                                    </div>
                                    <div class="review-text">
                                        <h4>Sidhi Roy</h4>
                                        <p>Happy Customer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-our-clients></app-our-clients>


<section class="list_your_space_sec list_now_sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9">
                <div class="cta_content">
                    <h4>Ready to List with Us!</h4>
                    <p class="mobilehide">List your Space with Cofynd and Convert your vacant property into revenue generating asset.</p>
                    <a href="https://listing.cofynd.com" target="_blank" class="site_btn border_btn">List Your Property</a>
                </div>
            </div>
            <div class="col-3 text-center">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/967b79f99e1cc884dc2ac5171e2f78d1dd6b7ee3.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<section class="faqs_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Frequently Asked Questions</h2>
                </div>
                <p class="pt-3 mobilehide">Here are the frequently asked questions that people enquired about online before choosing a list of your space. We have gathered the most crucial ones and answered them here to help you in making the right decision.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="faqs_list">
                    <div id="accordionFlushExample" class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h2 id="flush-headingOne" class="accordion-header">
                                <button type="button" data-toggle="collapse" data-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" class="accordion-button collapsed">Why choose CoFynd?</button>
                            </h2>
                            <div id="flush-collapseOne" aria-labelledby="flush-headingOne" data-parent="#accordionFlushExample" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <p>CoFynd is a technology-driven office rental marketplace that makes it simple to list your space globally sitting at your desk. Working together with listing partners like you, we do the perfect selection of available
                                        spaces in coworking space, serviced office, furnished office spaces, event spaces and training rooms with genuine tenants.</p>

                                    <p>Our proprietary tools and workflows help you get quality tenants and leads to lease your available space faster and better.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 id="flush-headingTwo" class="accordion-header">
                                <button type="button" data-toggle="collapse" data-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" class="accordion-button collapsed">How do I market my space with you? </button>
                            </h2>
                            <div id="flush-collapseTwo" aria-labelledby="flush-headingTwo" data-parent="#accordionFlushExample" class="accordion-collapse collapse">
                                <div class="accordion-body">It simple to get started, complete this form to list your space. One of our CoFynd experts will guide you through our listing platform. After the first introduction, you will realize how fast & easy it is to list your space
                                    on Cofynd. </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 id="flush-headingThree" class="accordion-header">
                                <button type="button" data-toggle="collapse" data-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" class="accordion-button collapsed">How does CoFynd help me market my vacant Space?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" aria-labelledby="flush-headingThree" data-parent="#accordionFlushExample" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <p>When you market your space with CoFynd, we list each space with high-quality images, complete property information with amenities, accessibility and what makes your space unique. Each listing on CoFynd is google-optimized
                                        with the latest search engine algorithm techniques to drive maximum views on every listing.
                                    </p>

                                    <p>We also provide a Premium Listing partner package to maximize the reach of your listing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 id="flush-headingFour" class="accordion-header">
                                <button type="button" data-toggle="collapse" data-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" class="accordion-button collapsed">I have my own website. Why should I list on
                                    CoFynd? </button>
                            </h2>
                            <div id="flush-collapseFour" aria-labelledby="flush-headingFour" data-parent="#accordionFlushExample" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <p>CoFynd has partnered with top global coworking space operators and public listing platforms. Virtually all our coworking partners have their websites and can list their vacancies online.</p>

                                    <p>The strength of CoFynd is that we are an office-rental marketplace that provides a wide range of flexible workspaces and property types from which businesses can easily preview, compare and find the best-suited workspace.
                                        In addition to our proprietary recommendation engine, CoFynd drives you qualified leads that are more likely to convert. </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 id="flush-headingFive" class="accordion-header">
                                <button type="button" data-toggle="collapse" data-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" class="accordion-button collapsed">I have an under-utilized space in my Office. How
                                    CoFynd helps me to market my space which I don’t want the whole market to
                                    know?</button>
                            </h2>
                            <div id="flush-collapseFive" aria-labelledby="flush-headingFive" data-parent="#accordionFlushExample" class="accordion-collapse collapse">
                                <div class="accordion-body">If you have un-utilized space in your office, you can create a private listing on CoFynd that doesn’t show to everyone in the main search. Private listings only show in CoFynd recommendations when space is a good match
                                    with the available space. </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 id="flush-headingSix" class="accordion-header">
                                <button type="button" data-toggle="collapse" data-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix" class="accordion-button collapsed">I don’t have professional images of my Space. Can
                                    you help?</button>
                            </h2>
                            <div id="flush-collapseSix" aria-labelledby="flush-headingSix" data-parent="#accordionFlushExample" class="accordion-collapse collapse">
                                <div class="accordion-body">Definitely Yes ! Good quality image and videos improve the listing preference by 10X with the tenants. One of our CoFynd experts will visit your space and take the professional images completely free for you. </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 id="flush-headingSeven" class="accordion-header">
                                <button type="button" data-toggle="collapse" data-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven" class="accordion-button collapsed">How does CoFynd make money ?</button>
                            </h2>
                            <div id="flush-collapseSeven" aria-labelledby="flush-headingSeven" data-parent="#accordionFlushExample" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <p>Once a tenant has signed a lease agreement with you, we charge 10% of the rent you receive every month. You don’t have to pay anything until we bring you a rent-paying tenant.</p>

                                    <p>For the Venue partners, once the customer has booked and paid for space, we charge 15% of the total booking fee. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>