@media only screen and (max-width: 600px) {
  .page-heading{
    text-align: center;
  }
}

.city_page_title {
	padding: 0px ;
	text-align: left;
}
.city_page_title h1 {
	font-size: 20px;
	font-weight: 500;
	color: #000;
	line-height: 26px;
	margin: 0 0 10px;
}
.onlyMobile {
  display: none;
  @media (max-width: 480px) {
      display: block;
  }
}

.hideOnMobile {
  @media (max-width: 480px) {
      display: none !important;
  }
}
@media (max-width: 480px) {
	.filter_btn {
			background-color: #4343e8;
			color: #fff;
	}
	.filters_popup .close {
			padding: 15px 14px;
	}
	.filter_btn img {
			width: 13px;
			margin-right: 5px;
	}
	.filters_popup h2 {
			margin-bottom: 0;
	}
	.filters_popup form {
			margin-top: 0px;
	}
	.filters_popup .filder_area h3 {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 5px;
	}
	.filters_popup .filder_area .form-select {
			width: 100%;
			background-color: #fff;
			border: 1px solid rgba(0,0,0,0.2);
			padding: 8px 5px;
			border-radius: 5px;
			font-size: 11px;
			font-weight: 500;
	}
	.filder_area .form-check-input {
			margin-top: 3px;
	}
	.filters_popup .icon_box {
			border: 1px solid rgba(0,0,0,0.3);
			padding: 10px 15px;
			min-height: 80px;
			align-items: center;
			display: grid;
			border-radius: 10px;
	}
	.filters_popup .icon_box img {
			margin-bottom: 0px;
	}
	.filters_popup .filder_area {
			padding-bottom: 0px;
	}
	.filder_area .row {
			padding: 0px 10px;
	}
	.filters_popup .filder_area .col-6, .filters_popup .filder_area .col-4 {
			padding: 0px 5px;
	}
	.filters_popup .filder_area .col-12 {
			padding: 0px 5px;
	}
	.filters_popup .modal-footer {
			display: block;
	}
	.filters_popup .btn {
			width: 100%;
			font-weight: 600;
			color: #272828;
	}
	.filters_popup .btn:hover {
			color: #fff;
	}
	.filters_popup .icon_box {
			border: none;
			background: #f7f7f7;
			text-align: center;
	}
	.filters_popup .icon_box img {
			margin: 0 auto;
	}
	.filters_popup .icon_box h4 {
			font-size: 10px;
			line-height: 14px;
			margin-bottom: 5px;
			font-weight: 500;
	}
	.active {
		border: 3px solid #555;
	}
}