<app-search-breadcrumb [breadcrumbs]="breadcrumbs" [isPriceFilter]="true" [priceFilters]="price_filters" [isSortFilter]="true" breadcumbType='coliving' (priceFilterChanged)="onFilterPriceChange($event)" (sortTypeChanged)="onSortTypeChange($event)" (onResetFilter)="resetFilter()"
    [isPageScrolled]="false" [breadcrumbs]="breadcrumbs" (filterChanged)="filterMapView($event)" (mapViewChanged)="toggleMapView($event)">
</app-search-breadcrumb>

<section class="search-container clearfix">
    <div class="search-grid-container" [class.search-grid-full]="!isMapView">
        <div class="search-grid-wrapper">
            <div class="page-title city_page_title">
                <h1 *ngIf="!loading">{{ pageTitle ? pageTitle : 'Co Living in ' + title }}</h1>
            </div>
            <!-- <h1 class="page-heading" *ngIf="!loading">
                {{ pageTitle ? pageTitle : 'Co Living in ' + title }}
            </h1> -->
            <!------------  Coliving Listing Page Popup  ------------->
            <!-- Button trigger modal -->
            <button type="button" class="btn site_btn filter_btn onlyMobile" data-toggle="modal" data-target="#coliving_filter">
        <img src="../../../assets/images/icons/filter-icon.png" alt="Filters"> Coliving Filters
    </button>
            <!-- Modal -->
            <div class="modal fade filters_popup" id="coliving_filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2><b>Filters</b></h2>
                            <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        </div>
                        <div class="modal-body">
                            <div class="filder_area">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <h3><b>Price Range</b></h3>
                                            <select class="form-select" name="price" [(ngModel)]="selectedValue" (change)="onPriceSelect($event.target.value)" aria-label="Default select example">
                                        <option value="Select Price">Select Price</option>
                                        <option value="Less than ₹15,000">Less than ₹15,000</option>
                                        <option value="₹15,000 - ₹30,000">₹15,000 - ₹30,000</option>
                                        <option value="More than ₹30,000">More than ₹30,000</option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <h3><b>Room Type</b></h3>
                                        </div>
                                        <div class="col-6 mb-2" [class.active]="roomType === '625698d3a91948671a4c590b'" (click)="selectRoomType('625698d3a91948671a4c590b')">
                                            <div class="icon_box mb-0">
                                                <img src="../../../assets/images/icons/private-room-icon.png" alt="">
                                                <h4>Private Room</h4>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2" [class.active]="roomType === '625698e8a91948671a4c590c'" (click)="selectRoomType('625698e8a91948671a4c590c')">
                                            <div class="icon_box mb-0">
                                                <img src="../../../assets/images/icons/double-sharing-icon.png" alt="">
                                                <h4>Twin Sharing</h4>
                                            </div>
                                        </div>
                                        <div class="col-6" [class.active]="roomType === '625698f4a91948671a4c590d'" (click)="selectRoomType('625698f4a91948671a4c590d')">
                                            <div class="icon_box mb-0">
                                                <img src="../../../assets/images/icons/triple-sharing-icon.png" alt="">
                                                <h4>Triple Sharing</h4>
                                            </div>
                                        </div>
                                        <div class="col-6" [class.active]="roomType === '625698fea91948671a4c590e'" (click)="selectRoomType('625698fea91948671a4c590e')">
                                            <div class="icon_box mb-0">
                                                <img src="../../../assets/images/icons/studio-apartment-icon.png" alt="">
                                                <h4>Studio Apartment</h4>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <a (click)="apply()" class="btn site_btn">Apply</a>
                                </div>
                                <div class="col-6 text-center">
                                    <button type="button" class="btn site_btn border_btn" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------  End Coliving Listing Page Popup  ------------->

            <app-search-no-result *ngIf="!loading && !coLivings.length" [title]="'Co-Living'" [shouldShowContactForm]="true" [url]="'/co-living'">
            </app-search-no-result>

            <app-search-card-loader *ngIf="loading">
            </app-search-card-loader>

            <app-search-similar-location *ngIf="!loading" [relativeUrl]="'co-living'" [cityName]="title" [isPageScrolled]="isScrolled" [country_names]="country_name" [popularLocationList]="popularLocation">
            </app-search-similar-location>

            <div class="row" *ngIf="!loading">
                <ng-container *ngFor="let coLiving of coLivings; let i = index">
                    <div class="col-sm-6" [class.col-md-4]="!isMapView" [class.col-md-6]="isMapView">
                        <app-co-living-card [coLiving]="coLiving"></app-co-living-card>
                    </div>
                    <ng-template [ngIf]="isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) % 4 === 0">
                            <app-search-contact-us-text [cities]="availableCities" [type]="'for_coLiving'">
                            </app-search-contact-us-text>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="!isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) % 6 === 0">
                            <app-search-contact-us-text [cities]="availableCities" [type]="'for_coLiving'">
                            </app-search-contact-us-text>
                        </div>
                    </ng-template>
                </ng-container>
            </div>

            <div *ngIf="!loading" class="pagination-container">
                <pagination [totalItems]="totalRecords" [itemsPerPage]="number_record" [(ngModel)]="page" [maxSize]="maxSize" (pageChanged)="loadMore($event)">
                </pagination>
            </div>

        </div>
    </div>
    <div *ngIf="loading" class="search-map-container">
    </div>
    <div *ngIf="!loading && isMapView" class="search-map-container" [class.absolute-map]="isSearchFooterVisible" [class.hide-map]="!isMapView">
        <app-search-map-view (pageScrollEvent)="onPageScroll($event)" [spaceType]="'co-living'" [workspaces]="coLivings">
        </app-search-map-view>
    </div>
</section>
<section class="search-description" *ngIf="!loading && seoData">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>