<div class="modal-content" *ngIf="price != 'Inclusive' && price != '625698d3a91948671a4c590b' && price != '625698e8a91948671a4c590c'">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select City</h5>
        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="coworking_cities">
            <div class="city-left-box" *ngFor="let city of cities">
                <div class="cities-icon-item">
                    <div class="cities-img">
                        <img [src]="city?.image?.s3_link" [alt]="city.name" class="img-fluid">
                    </div>
                    <div class="cities-icon-content">
                        <h4>{{ removedash(city.name) }}</h4>
                    </div>
                    <a (click)="closeModal()" [routerLink]="'/coworking/' + city.name.toLowerCase()" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-content" *ngIf="price == 'Inclusive' || price == '625698d3a91948671a4c590b' || price == '625698e8a91948671a4c590c'">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select City</h5>
        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="coworking_cities">
            <div class="city-left-box" *ngFor="let city of cities">
                <div class="cities-icon-item">
                    <div class="cities-img">
                        <img [src]="city?.image?.s3_link" [alt]="city.name" class="img-fluid">
                    </div>
                    <div class="cities-icon-content">
                        <h4>{{ removedash(city.name) }}</h4>
                    </div>
                    <a (click)="closeModal()" [routerLink]="'/co-living/' + city.name.toLowerCase()" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>