<app-search-breadcrumb *ngIf="!loading && workSpaces.length" [spaceLength]="workSpaces.length" [breadcrumbs]="breadcrumbs" [isPageScrolled]="isScrolled" (priceFilterChanged)="onFilterPriceChange($event)" (onResetFilter)="resetFilter()" (sortTypeChanged)="onSortTypeChange($event)"
    (mapViewChanged)="toggleMapView($event)">
</app-search-breadcrumb>
<section class="search-container clearfix cities_page_listing">
    <div class="search-grid-container" [class.search-grid-full]="!isMapView">
        <div class="search-grid-wrapper">
            <div class="row align-items-center filter_title">
                <div class="col-md-9 col-8">
                    <div class="page-title city_page_title">
                        <h1 *ngIf="!loading">{{ pageTitle ? pageTitle : setSubName()}}</h1>
                    </div>
                </div>
                <div class="col-md-3 col-4 filter_options" *ngIf="!loading">
                    <div class="filter_col">
                        <select class="form-select form-control" style="cursor: pointer;" name="price" [(ngModel)]="selectedValue" aria-label="Default select example" (change)="onPriceSelect($event.target.value)">
                            <option value="Select Price" disabled>Select Price</option>
                            <option value="Less than ₹10,000">Less than ₹10,000</option>
                            <option value="₹10,000 - ₹20,000">₹10,000 - ₹20,000</option>
                            <option value="₹20,000 - ₹30,000">₹20,000 - ₹30,000</option>
                            <option value="More than ₹30,000">More than ₹30,000</option>
                        </select>
                    </div>
                    <div class="filter_col">
                        <select class="form-select form-control" style="cursor: pointer;" name="price" [(ngModel)]="selectedOption" aria-label="Default select example" (change)="sortByHighLow($event.target.value)">
                            <option value="SortBy" disabled>Sort By</option>
                            <option value="Low to High">Low to High</option>
                            <option value="High to Low">High to Low</option>
                        </select>
                    </div>
                </div>
            </div>

            <app-search-similar-location *ngIf="!loading && cityWisePopularLocation.length" [cityName]="title" [relativeUrl]="'coworking'" [country_names]="country_name" [popularLocationList]="cityWisePopularLocation">
            </app-search-similar-location>

            <app-search-no-result *ngIf="!loading && !workSpaces.length" [title]="'Coworking'" [url]="'/coworking'">
            </app-search-no-result>

            <app-search-card-loader *ngIf="loading">
            </app-search-card-loader>

            <div class="row" *ngIf="!loading">
                <ng-container *ngFor="let space of workSpaces; let i = index">
                    <div class="col-sm-6" [class.col-md-4]="!isMapView" [class.col-md-6]="isMapView">
                        <app-search-card [workspace]="space" [showQuote]="true" [forAll]="true">
                        </app-search-card>
                    </div>
                    <ng-template [ngIf]="isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) === 6">
                            <app-search-contact-us-text2 [pageNo]="'city page'" [activeCountries]="activeCountries" >
                            </app-search-contact-us-text2>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 12">
                            <app-search-contact-us-text1>
                            </app-search-contact-us-text1>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 18">
                            <section class="gradient_cta_sec micro-location-cta">
                                <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/18cdea27a9a3be653904081b3bb0223ed6e8b6c4.jpg');">
                                    <div class="col-8">
                                        <div class="cta_content">
                                            <h4>Get the Perfect Coworking in Your City</h4>
                                            <ul class="mobilehide">
                                                <ng-container *ngFor="let item of cityWisePopularLocation | slice:0:9; let i=index">
                                                    <li *ngIf="item != 'Near Me'" (click)="routeToMicro(item)">{{item}}</li>
                                                </ng-container>
                                                and More...
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="!isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) === 6">
                            <app-search-contact-us-text2 [pageNo]="'city page'" [activeCountries]="activeCountries" >
                            </app-search-contact-us-text2>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 12">
                            <app-search-contact-us-text1>
                            </app-search-contact-us-text1>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 18">
                            <section class="gradient_cta_sec micro-location-cta">
                                <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/18cdea27a9a3be653904081b3bb0223ed6e8b6c4.jpg');">
                                    <div class="col-8">
                                        <div class="cta_content">
                                            <h4>Get the Perfect Coworking in Your City</h4>
                                            <ul class="mobilehide">
                                                <ng-container *ngFor="let item of cityWisePopularLocation | slice:0:9; let i=index">
                                                    <li *ngIf="item != 'Near Me'" (click)="routeToMicro(item)">{{item}}</li>
                                                </ng-container>
                                                and More...
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </ng-template>
                </ng-container>

                <div class="col-md-4" [class.col-md-4]="!isMapView" [class.col-md-6]="isMapView">
                    <app-city-page-enquire *ngIf="workSpaces.length" [enquiryType]="ENQUIRY_TYPE" [activeCountries]="activeCountries"></app-city-page-enquire>
                </div>
            </div>

            <section class="for_email_sec desktophide mt-4">
                <div class="container-fluid" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3178e0cd0b21178e626195ffde0edbf7e1947382.png');">
                    <div class="row align-items-center">
                        <div class="col-md-8 col-12">
                            <div class="for_email_content">
                                <h3>Find your Office Space with Cofynd</h3>
                                <p>Just drop us an email with your Office Space requirements – Number of Seat, Location, Start Date … and our team will connect back with you within 24 Hrs with the best possible options.</p>
                                <p class="email_id align-items-center"><img [lazyLoad]="'assets/images/icons/email_id.svg'" alt="Email Icon"> hello@cofynd.com</p>
                            </div>
                        </div>
                        <div class="col-md-4 mobilehide">
                            <div class="for_email_img">
                                <img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/00e405e2b9a8afc8ac552ea76d1ba5e698ba9b48.png'" alt="Email Image">
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div *ngIf="!loading && workSpaces.length" class="pagination-container">
                <pagination [totalItems]="totalRecords" [itemsPerPage]="20" [(ngModel)]="page" [maxSize]="maxSize" (pageChanged)="loadMore($event)">
                </pagination>
            </div>

        </div>
    </div>
    <div *ngIf="loading" class="search-map-container">
    </div>
    <div *ngIf="!loading && isMapView" class="search-map-container" [class.absolute-map]="isSearchFooterVisible" [class.hide-map]="!isMapView">
        <app-search-map-view (pageScrollEvent)="onPageScroll($event)" [spaceType]="'coworking'" [workspaces]="workSpaces"></app-search-map-view>
    </div>
</section>

<section class="search-description" *ngIf="!loading && seoData" #target>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>