.city_page_title {
    padding: 0px;
    text-align: left;
}

.city_page_title h1 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 26px;
    margin: 0 0 0px;
}

.brand-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    h1 {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: capitalize;
    }
    .city-dropdown {
        width: 150px;
    }
    img {
        max-width: 180px;
    }
    @media only screen and (max-width:600px) {
        .brand-info h1 {
            font-size: 17px;
            line-height: 20px;
        }
    }
}