.brand-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    h1 {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: capitalize;
    }
    .city-dropdown {
        width: 170px;
        z-index: 1;
    }
    img {
        max-width: 180px;
    }
    @media only screen and (max-width:600px) {
        .brand-info h1 {
            font-size: 17px;
            line-height: 20px;
        }
    }
}


