<section class="breadcrumb-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active ng-star-inserted"><span class="ng-star-inserted">Builders</span></li>
            <li class="breadcrumb-item active ng-star-inserted"><span class="ng-star-inserted">Top Builders in Gurugram</span></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="title_city_filter">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8">
        <h1>Top Builders in Gurgaon</h1>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <div class="city-dropdown">
          <select class="form-select"
            aria-label="Default select example">
            <option selected
              disabled>Choose City</option>
            <option value="1">Gurugram</option>
            <option value="2">Delhi</option>
            <option value="3">Noida</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="listing_area builder_listing">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 col-6">
            <div class="builder_item">
              <div class="builder_img">
                <img class="img-fluid"
                [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c4baed52206448d18f6b845e9093c7e5e19ebf39.jpg'"
                  alt="indiabulls">
              </div>
              <div class="row brand_content align-items-center">
                <div class="col-m d-6 col-6">
                  <div class="title_img">
                    <img class="img-fluid"
                    [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ecc36dc033e03bd3f8378e89714799d3afd263c3.jpg'"
                      alt="indiabulls">
                  </div>
                </div>
                <div class="col-md-6 col-6">
                  <div class="project_count">
                    <h5>Projects</h5>
                    <p>43</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="builder_item">
              <div class="builder_img">
                <img class="img-fluid"
                [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8ad3e704664b05d4446d3a97b04d2456966ae4f3.jpg'"
                  alt="Mahindra Lifespaces">
              </div>
              <div class="row brand_content align-items-center">
                <div class="col-m d-6 col-6">
                  <div class="title_img">
                    <img class="img-fluid"
                    [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c8607139484a7c21ccaf049642d279e64d2fb0c0.png'"
                      alt="Mahindra Lifespaces">
                  </div>
                </div>
                <div class="col-md-6 col-6">
                  <div class="project_count">
                    <h5>Projects</h5>
                    <p>129</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="builder_item">
              <div class="builder_img">
                <img class="img-fluid"
                [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fc5b0e9786db7406d4283a901f97df0da7605dd3.jpg'"
                  alt="Lodha Logo">
              </div>
              <div class="row brand_content align-items-center">
                <div class="col-m d-6 col-6">
                  <div class="title_img">
                    <img class="img-fluid"
                    [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a19a3c042332ee5430fe2e8a9c91b1d675b7aba7.png'"
                      alt="Lodha Logo">
                  </div>
                </div>
                <div class="col-md-6 col-6">
                  <div class="project_count">
                    <h5>Projects</h5>
                    <p>361</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-6">
            <div class="builder_item">
              <div class="builder_img">
                <img class="img-fluid"
                [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fc5b0e9786db7406d4283a901f97df0da7605dd3.jpg'"
                  alt="Lodha Logo">
              </div>
              <div class="row brand_content align-items-center">
                <div class="col-m d-6 col-6">
                  <div class="title_img">
                    <img class="img-fluid"
                    [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a19a3c042332ee5430fe2e8a9c91b1d675b7aba7.png'"
                      alt="Lodha Logo">
                  </div>
                </div>
                <div class="col-md-6 col-6">
                  <div class="project_count">
                    <h5>Projects</h5>
                    <p>361</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="enquiry_section builder_query_col">
          <div class="card_form"
            style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/dee00d307fbd75d50527be8713839ca86c905442.jpg');">
            <div class="form_title">
              <h4>Yes, I'm Interested !</h4>
              <p>Zero Brokerage <span></span> Verified Spaces</p>
            </div>

            <form class="form">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name*" />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Email*" />
                  </div>
                </div>

                <div class="col-md-12 country_phone">
                  <div class="form-group city_card_phone">
                    <div class="flag-container">
                      <div class="selected-flag">
                        <div class="flag in">
                          <span class="dial-code"> +91</span>
                          <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                        </div>
                      </div>
                      <ul class="country-list" style="display: none;">
                        <li class="country active">
                          <div class="flag-box">
                            <div class="flag in"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fd0d8e6d752e27929c79e1b5984f63a1edbec49d.jpg'" width="18px" /></div>
                          </div>
                          <span class="country-name">India</span>
                          <span class="dial-code">+91</span>
                        </li>

                        <li class="divider"></li>

                        <li class="country selected" >
                          <div class="flag-box">
                            <div class="flag af"><img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fd0d8e6d752e27929c79e1b5984f63a1edbec49d.jpg'" /></div>
                          </div>
                          <span class="country-name">India</span>
                          <span class="dial-code">+91</span>
                        </li>
                      </ul>
                      <input class="form-control" type="text" placeholder="Phone*" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group floating-label otp-form">
                <label>OTP</label>
                <input class="form-control" placeholder="Enter Otp" type="password" />
                <button Class="resend_otp">Resend OTP</button>
                <p>OTP will be resent in 5 seconds</p>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <button type="submit"
                    class="site_btn border_btn full_width_btn">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>