.news_brands {
  padding-top: 60px;
  padding-bottom: 20px;
}
.news_brands .main_heading {
  margin-bottom: 10px !important;
}

.news_brands {
  .ngucarousel-items {
      margin: 0 -10px;
  }
  .carousel-arrow {
      position: absolute;
      top: 18px;
      color: #4343e8;
      font-size: 26px;
      font-weight: bold;
      &.icon-next {
          right: -20px;
      }
      &.icon-back {
          left: -20px;
      }
      &[disabled] {
          opacity: 0.4;
      }
  }
  .item {
      padding: 0 25px;
  }
  @media (max-width: 480px) {
      .page-title {
          padding: 20px 0 10px;
          h2::after {
              bottom: -15px;
          }
      }
      background:white;
  }
  .our-client-carousel {
      position: relative;
      overflow: hidden;
  }
  .last-slide {
      @media (max-width: 767px) {
          .not-first-slide {
              width: 100% !important;
          }
      }
  }
}

.news_brands .carousel-arrow {
  position: absolute;
  top: 18px;
  color: #4343e8;
  font-size: 26px;
  font-weight: bold;
}
.news_brands .carousel-arrow.icon-next {
  right: -20px;
}
.news_brands .carousel-arrow[disabled] {
  opacity: 0.4;
}
.news_brands .carousel-arrow.icon-back {
  left: -20px;
}
.news_brands .logos_slider {
  margin-top: 10px;
}

.slider-on-mobile-view {
  display: none;

  @media (max-width: 767px) {
    justify-content: space-evenly;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 15px;
    overflow-x: auto;
    flex-wrap: unset;
  }
}

.enquiry-section {
  background: #fff url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a987f2b01a39adf7b57918f90183aa2733f6fb0b.png') no-repeat center center;

  padding-bottom: 90px;

  @media (max-width:480px) {
    padding: 40px 0px;
  }

  .page-title {
    padding: 40px 0 70px 0;

    @media (max-width:480px) {
      padding: 40px 0px;
    }
  }

}
.logos_slider .band-img {
	margin: 0px 15px;
}

.news_brands {
	padding-bottom: 40px;
}

@media (max-width: 480px) {
  .news_brands {
      padding: 50px 0px 20px !important;
  }

}

