<!-- <section class="news_brands">
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <div class="main_heading title_divider">
              <h2>{{ pageTitle }}</h2>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="logos_slider">
              <div class="band-img" *ngFor="let logo of newsMedia">
                <img [lazyLoad]="'../../../../assets/images/newsLogo/'+logo+'.png'">
              </div>
            </div>
        </div>
      </div>
  </div>
</section> -->

<section class="news_brands">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <div class="main_heading title_divider">
            <h2>{{ pageTitle }}</h2>
          </div>
      </div>
      <div class="col-lg-12">
        <div class="logos_slider">
          <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
            <div *nguCarouselDef="let item; let i = index;" class="item">
              <div class="band-img" [ngClass]="(i==0)?'first-slide':'not-first-slide'">
                <img [lazyLoad]="'../../../../assets/images/newsLogo/'+newsMedia[i]+'.png'" />
              </div>
            </div>
            <!-- <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
            <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button> -->
          <button type="button" [disabled]="myCarousel.isFirst" class="carousel-arrow icon-back fas fa-chevron-left">
          </button>
          <button type="button" [disabled]="myCarousel.isLast" class="carousel-arrow icon-next fas fa-chevron-right">
          </button>
          </ngu-carousel>
        </div>
        
        
      </div>
    </div>
  </div>
</section>


