<div class="listing-card">
    <div class="image" *ngIf="coLiving.images.length">
        <ngu-carousel [inputs]="carouselTile" [dataSource]="coLiving.images">
            <div *nguCarouselDef="let images; let i = index;" class="item">
                <img (click)="openWorkSpace(coLiving.slug)" [lazyLoad]="images?.image?.s3_link" style="display: block; height: 100%; width: 100%;" [alt]="images?.image?.alt ? images?.image?.alt : ''">
            </div>
            <button NguCarouselPrev class='carousel-arrow icon-back fas fa-chevron-left'></button>
            <button NguCarouselNext class='carousel-arrow icon-next fas fa-chevron-right'></button>
        </ngu-carousel>
    </div>
    <div class="image" *ngIf="!coLiving.images.length"></div>
    <div class="detail" (click)="openWorkSpace(coLiving.slug)">
        <h4 class="text-capitalize">{{ coLiving.name }}</h4>
        <p class="address">
            <i class="icon-location-outline fal fa-map-marker-alt"></i> {{ coLiving.location.address }}
        </p>
        <p class="capacity">
            <img class="img-fluid" alt="" src="../../../../assets/images/amenities/save-money.svg"> Best Price
        </p>
        <p class="capacity">
            <img class="img-fluid" alt="" src="../../../../assets/images/amenities/housekeeping.svg"> Regular Cleaning
        </p>
        <hr />
        <div class="price-box">
            <div class="price">
                <span>Starting From</span>
                <i class="icon-rupee fas fa-rupee-sign"></i>{{ coLiving.starting_price.toLocaleString('en-IN') }}<small>/{{ coLiving.price_type }}</small>
            </div>
            <a target="_blank" [routerLink]="['/co-living/', coLiving.slug]" class="btn-link">Explore Now<small class="icon-next fas fa-angle-right"></small>
      </a>
        </div>
    </div>
</div>