<header class="{{ settings?.headerClass }}" [class.mobile-menu-open]="isMobileMenuOpen">
    <div class="header-wrapper">
        <div class="top-left">
            <button type="button" (click)="openMobileSearch()" class="far fa-search mobile-search">
      </button>
            <a (click)="logoClick()" class="logo" routerLink="/">
                <img src="/assets/images/logo.svg" alt="">
            </a>
            <button (click)="openMobileMenu()" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
            <div class="search" *ngIf="showSearch || isSearchModal" [class.search-modal]="isSearchModal">
                <button *ngIf="isSearchModal" type="button" (click)="isSearchModal = !isSearchModal" class="icon-close new-close far fa-times-circle">
        </button>
                <app-search-autocomplete [placeholder]="'Start typing location'" (locationSelected)="closeMobileSearch()">
                </app-search-autocomplete>
            </div>
        </div>
        <div class="top-right">
            <ul class="menu">
                <li class="no-tablet">
                    <app-dropdown-item [relativeUrl]="'/coworking/'" [title]="'coworking'" [cities]="menuPopularCoWorkings">
                    </app-dropdown-item>
                </li>
                <li class="no-tablet">
                    <app-dropdown-item [relativeUrl]="'/co-living/'" [title]="'Coliving'" [cities]="menuPopularCoLiving">
                    </app-dropdown-item>
                </li>
                <li class="no-tablet">
                    <app-dropdown-item [relativeUrl]="'/office-space/rent/'" [title]="'Offices'" [cities]="menuPopularOffices" [isSingle]="true">
                    </app-dropdown-item>
                </li>
                <li class="no-tablet">
                    <div class="btn-group dropdown-list-menu" dropdown>
                        <button dropdownToggle type="button">
              <span>Knowledge <i class="icon-down-arrow fal fa-angle-down"></i></span>
              <i class="icon-down-arrow"></i>
            </button>
                        <ul *dropdownMenu class="dropdown-menu">
                            <li><a routerLink="/list-your-space">List your Space</a></li>
                            <li><a routerLink="/about-us">About CoFynd</a></li>
                            <li><a routerLink="/contact-us">Contact CoFynd</a></li>
                            <li><a (click)="redirectToblog()">Cofynd Blog</a></li>
                        </ul>
                    </div>
                </li>
                <li class="divider-line mobile-phone-menu no-tablet">
                    <a [href]="'tel:' + contactInfo.phone " [appCustomEventAnalytics]='{"category":"INITIATED_PHONE_CALL","action":"click", "label": "PHONE_CALL"}'>{{ contactInfo.phone }}
          </a>
                </li>
                <li *ngIf="!isAuthenticated()" class="no-tablet">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary login-btn" (click)="openLoginModal()" [appCustomEventAnalytics]='{"category":"OPEN_LOGIN_FORM","action":"click", "label": "LOGIN_FORM"}'>Login/
              Signup</button>
                    </div>
                </li>
                <li *ngIf="isAuthenticated()" class="no-tablet">
                    <div class="btn-group user-header-menu" dropdown>
                        <button dropdownToggle type="button">
              <span class="user-name">
                {{ getUserName() }}
              </span>
              <i class="icon-down-arrow"></i>
            </button>
                        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu">
                            <li>
                                <a routerLink="/user/account">My Account</a>
                            </li>
                            <!-- <li>
                <a routerLink="/user/bookings">My Bookings</a>
              </li> -->
                            <li>
                                <a routerLink="/user/schedule-visits">My Visits</a>
                            </li>
                            <li>
                                <a routerLink="/user/favourites">My Favourites</a>
                            </li>
                            <!-- <li>
                <a routerLink="/user/payments">My Payments</a>
              </li> -->
                            <li>
                                <button type="button" (click)="onLogOut()">Log Out</button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mobile-menu-wrapper" [class.show-offcanvas]="isMobileMenuOpen">
        <ul class="mobile-menu">
            <li class="mobile-close-menu">
                <button type="button" *ngIf="isMobileMenuOpen" (click)="isMobileMenuOpen = false;" class="icon-close fas fa-times"></button>
            </li>
            <li class="spacer-item" *ngIf="!isAuthenticated()">
                <div class="btn btn-primary login-btn">
                    <button type="button" (click)="openLoginModal()">
            <h5>Log In/Sign Up</h5>
          </button>
                </div>
            </li>
            <li class="logged-user-item" *ngIf="isAuthenticated()">
                <h4 class="text-capitalize">hello {{ getUser() }}, </h4>
                <ul>
                    <li>
                        <a (click)="closeMobileMenu()" routerLink="/user/account">My Account</a>
                    </li>
                    <!-- <li>
            <a (click)="closeMobileMenu()"
              routerLink="/user/bookings">My Bookings</a>
          </li> -->
                    <!-- <li>
                        <a (click)="closeMobileMenu()" routerLink="/user/schedule-visits">My Visits</a>
                    </li>
                    <li>
                        <a (click)="closeMobileMenu()" routerLink="/user/favourites">My Favourites</a>
                    </li> -->
                    <!-- <li>
            <a (click)="closeMobileMenu()"
              routerLink="/user/payments">My Payments</a>
          </li> -->
                    <li>
                        <button type="button" (click)="onLogOut()">Log Out</button>
                    </li>
                </ul>
            </li>
            <li>
                <h5 class="mb-2 mt-4" routerLink="/coworking" (click)="closeMobileMenu()">Coworking</h5>
                <ul class="city-list">
                    <li *ngFor="let city of menuPopularCoWorkings;">
                        <a class="text-capitalize city-name" [routerLink]="'/coworking/' + city.name" (click)="closeMobileMenu()">
                            <!-- <img [src]="'/assets/images/city/' + city.icon"
                alt=""> -->
                            {{ city.name }}
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <h5 class="mb-2 mt-4" routerLink="/co-living" (click)="closeMobileMenu()">Coliving</h5>
                <ul class="city-list">
                    <li *ngFor="let city of menuPopularCoLiving;">
                        <a class="text-capitalize city-name" [routerLink]="'/co-living/' + city.name" (click)="closeMobileMenu()">
                            <!-- <img [src]="'/assets/images/city/' + city.icon"
                alt=""> -->
                            {{ city.name }}
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li>
                <h5 class="mb-2 mt-4" routerLink="/office-space/rent" (click)="closeMobileMenu()">Offices</h5>
                <ul class="city-list mb-2">
                    <li *ngFor="let city of menuPopularOffices;">
                        <a class="text-capitalize city-name" [routerLink]="'/office-space/rent/' + city.name" (click)="closeMobileMenu()">
                             <img [src]="'/assets/images/city/' + city.icon"
                alt=""> 
                            {{ city.name }}
                         </a>
                    </li>
                </ul>
            </li> -->
            <br>
            <li class="spacer-item"><a routerLink="/list-your-space" (click)="closeMobileMenu()">List Your Space</a></li>
            <li class="spacer-item"><a routerLink="/about-us" (click)="closeMobileMenu()">About CoFynd</a></li>
            <li class="spacer-item"><a routerLink="/contact-us" (click)="closeMobileMenu()">Connect CoFynd</a></li>
            <li class="spacer-item"><a href="https://blog.cofynd.com" target="_blank">CoFynd Blog</a></li>
            <li class="call-to-help">
                <h5>GET IN TOUCH</h5>
            </li>
            <li>
                <a (click)="closeMobileMenu()" style="color: blue;" [href]="'tel:' + contactInfo.phone " [appCustomEventAnalytics]='{"category":"INITIATED_PHONE_CALL","action":"click", "label": "PHONE_CALL"}'>{{ contactInfo.phone }}
        </a>
                <a style="text-transform: none; color: blue;">hello@cofynd.com
        </a>
            </li>
        </ul>
    </div>
</header>