<section class="innerpage_banner hideOnMobile">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="innerpage_content">
          <div class="main_heading">
            <h1>Find the Best <br /><span>Flats for Rent</span> in India</h1>
          </div>
          <p>Cofynd provides Apartment / Flat on rent across India without brokerage and directly from Owners. Choose from Flats in Top Builder Societies, Independent Bungalows & Builder Floors for Families, Couples or Bachelor.</p>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="icon_item">
              <img src="../../../assets/images/icons/brokerage-icon.svg"
                alt="">
              <h4>Zero Brokerage</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="icon_item">
              <img src="../../../assets/images/icons/listing-icon.svg"
                alt="">
              <h4>Free Listing</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="icon_item">
              <img src="../../../assets/images/icons/verified-icon.svg"
                alt="">
              <h4>Verified Flats</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="icon_item">
              <img src="../../../assets/images/icons/builders-icons.svg"
                alt="">
              <h4>100+ Builders</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="icon_item">
              <img src="../../../assets/images/icons/support-icon.svg"
                alt="">
              <h4>Trusted Agents</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="icon_item">
              <img src="../../../assets/images/icons/documents-verification-icon.svg"
                alt="">
              <h4>RERA Certified</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="innerbanner_img">
    <img
      src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/21124a89e70a55627296354cd63cce103e8dfba2.jpg"
      alt="">
  </div>

  <!-- <div class="container cities_list_area">
    <div class="row">
      <div class="col-md-12">
        <div class="cities_item_list">
          <ul>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/gurugram.svg"
                    alt="">
                </div>
                <h4>Gurugram</h4>
              </div>
            </li>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/delhi.svg"
                    alt="">
                </div>
                <h4>Delhi</h4>
              </div>
            </li>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/noida.svg"
                    alt="">
                </div>
                <h4>Noida</h4>
              </div>
            </li>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/bangalore.svg"
                    alt="">
                </div>
                <h4>Bangalore</h4>
              </div>
            </li>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/hyderabad.svg"
                    alt="">
                </div>
                <h4>Hyderabad</h4>
              </div>
            </li>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/pune.svg"
                    alt="">
                </div>
                <h4>Pune</h4>
              </div>
            </li>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/mumbai.svg"
                    alt="">
                </div>
                <h4>Mumbai</h4>
              </div>
            </li>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/indore.png"
                    alt="">
                </div>
                <h4>Indore</h4>
              </div>
            </li>
            <li>
              <div class="city_item">
                <div class="city_image">
                  <img src="https://cofynd.com/assets/images/city/ahmedabad.png"
                    alt="">
                </div>
                <h4>Ahmedabad</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

</section>

<section class="choose_virtual_office_sec hideOnMobile">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Find a Flat With CoFynd</h2>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4">
        <div class="left_icon_box2">
          <div class="icon">
            <img src="../../../assets/images/icons/hassle-icon.svg"
              alt="">
          </div>
          <div class="content">
            <h4>Hassle free experience. No follow-ups</h4>
            <p>100% digital process with no running around for compliances</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="left_icon_box2">
          <div class="icon">
            <img src="../../../assets/images/icons/fasted-icon.svg"
              alt="">
          </div>
          <div class="content">
            <h4>Fastest Document Delivery</h4>
            <p>Our average document delivery time is less than 3 working days</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="left_icon_box2">
          <div class="icon">
            <img src="../../../assets/images/icons/pan-india-icon.svg"
              alt="">
          </div>
          <div class="content">
            <h4>PAN India Coverage</h4>
            <p>We cover India like no one else, Virtual Office across all major Indian Cities</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="top_virtualoffice_city flat_top_cities">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Top Cities for Rent in India</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pt-2">
        <div class="top-city-item"style="cursor: pointer;">
        <div class="top-city-img main_city">
          <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c87c0d588fa767465397673fdd5caac19c159722.jpg" class="img-fluid d-block m-auto">
        </div>
        <div class="top-city-text">
          <h4>Gurugram</h4>
        </div>
      </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e0326e3539ad620743aa101f830103c438850322.jpg" class="img-fluid d-block m-auto">
              </div>
              <div class="top-city-text">
                <h4>Banglore</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/205f437f8729af2d420ecb4f9a7956a539d9354d.jpg" class="img-fluid d-block m-auto">
              </div>
              <div class="top-city-text">
                <h4>Mumbai</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/aff8a356e9c6f623c8424a91d4175798ebb2c596.jpg" class="img-fluid d-block m-auto">
              </div>
              <div class="top-city-text">
                <h4>Hyderabad</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/6f72f3b660a51dc55ea98947162de0bde604a705.jpg" class="img-fluid d-block m-auto">
              </div>
              <div class="top-city-text">
                <h4>Pune</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ab6b3108c5f637741152bda55c1fe60ca7ca0774.jpg" class="img-fluid d-block m-auto">
              </div>
              <div class="top-city-text">
                <h4>Delhi</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-2">
            <div class="top-city-item"
              style="cursor: pointer;">
              <div class="top-city-img">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4af23b1d7e7fe36a8347bfa3176cc99d58474a86.jpg" class="img-fluid d-block m-auto">
              </div>
              <div class="top-city-text">
                <h4>Noida</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="searching_tenant_sec mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="searching_tenant_cta">
          <div class="cta_box">
            <h3>Searching for a Tenant for your <br>Property?</h3>
            <ul>
              <li><i class="fa-regular fa-circle-check"></i> Connect directly with genuine tenants</li>
              <li><i class="fa-regular fa-circle-check"></i> Rent your Property without any brokerage</li>
            </ul>
          </div>
          <div class="cta_img">
            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/63da31e38bd185601538c3ef3d5b760767c9f29c.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="properties_list_sec pb-4 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="h3_title">Flats for Rent in Gurugram</h3>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="properties_list_area four_properties_list">
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="properties_list_sec pb-5 pt-4">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="h3_title">Flats for Rent in Banglore</h3>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="properties_list_area four_properties_list">
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="form_cta_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cta_form">
          <div class="form_col">
            <h3>Let us find your Dream Property</h3>
            <p>Connect to a CoFynd Space Expert now</p>
            <form class="form">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-input">
                      <input type="text" class="form-control border-light" id="name" placeholder="Name" aria-describedby="emailHelp">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-input">
                      <input type="email" class="form-control border-light" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-input">
                      <input type="text" class="form-control border-light" id="mobilenumber" placeholder="Mobile Number" aria-describedby="emailHelp">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">I agree to be contacted by Cofynd and other agents via <i class="fa-brands fa-whatsapp me-1"></i>WhatsApp, SMS, phone, email etc.</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn w-100">Send</button>
                </div>
              </div>
          </form>
          </div>
          <div class="cta_img">
            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/63da31e38bd185601538c3ef3d5b760767c9f29c.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="properties_list_sec pb-5 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="h3_title">Flats for Rent in Mumbai</h3>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="properties_list_area four_properties_list">
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="properties_list_sec pb-5 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="h3_title">Flats for Rent in Hyderabad</h3>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="properties_list_area four_properties_list">
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="properties_list_sec pb-5 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="h3_title">Flats for Rent in Delhi</h3>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="properties_list_area four_properties_list">
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="properties_list_sec pb-5 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="h3_title">Flats for Rent in Pune</h3>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="properties_list_area four_properties_list">
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="properties_list_sec pb-5 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="h3_title">Flats for Rent in Chennai</h3>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="properties_list_area four_properties_list">
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="properties_list_sec pb-5 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3 class="h3_title">Flats for Rent in Indore</h3>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="properties_list_area four_properties_list">
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
                <app-flat-space-card></app-flat-space-card>
              </div>
          </div>
      </div>
  </div>
</section>