.property_item {
    margin-bottom: 50px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 10px 10px 0px;
    width: 100%;
    text-align: left;
  }
  
  // .property_item2 {
  //     padding: 10px 10px 0px;
  // }
  
  .property_item .property-img {
    // height: 200px;
    overflow: hidden;
    border-radius: 20px;
    // margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 250px;
  }
  
  // .property_item2 .property-img {
  //     margin-bottom: 0;
  // }
  
  .property_item .property-img .item {
    height: 250px !important;
    width: 100%;
    border-radius: 20px;
  }
  
  
  // .property_item .property-img .item,
  // .property_item .property-img .carousel-inner {
  //     height: 250px;
  //     width: 100%;
  // }
  // .property_item .property-img .item img {
  //     height: 250px !important;
  // }
  
  .property_item .property-img img {
    height: 250px !important;
    object-fit: cover;
    width: 100% !important;
    transition: all 0.5s !important;
    position: relative;
  }
  
  .property_item .item img:hover {
    transform: scale(1.06);
  }
  
  .property_item .carousel-arrow,
  .property_item .carousel-control-next,
  .property_item .carousel-control-prev {
    position: absolute;
    top: 45%;
    color: #888;
    font-size: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    background-color: rgba(255, 255, 255, .9);
    width: 28px;
    height: 28px;
    border-radius: 100%;
    z-index: 1;
    opacity: 1;
  }
  
  .property_item .carousel-arrow.icon-back,
  .property_item .carousel-control-prev {
    left: 10px;
  }
  
  .property_item .carousel-arrow.icon-next,
  .property_item .carousel-control-next {
    right: 10px;
  }
  
  .property_item .property-dis {
    width: 100%;
    // }
  
    // .property_item2 .property-dis {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .property_item .property-dis h4 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    // margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    // font-size: 17px;
    // font-weight: 600;
    margin-bottom: 5px;
    // line-height: 25px;
  }
  
  // .property_item2 .property-dis h4 {
  //     margin-bottom: 5px;
  // }
  
  .property_item .property-dis .address {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    white-space: nowrap;
    scrollbar-width: none !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
  
  // .property_item2 .property-dis .address {
  //     margin-bottom: 10px !important;
  //     padding-bottom: 10px !important;
  // }
  
  .property_item .property-dis .address img {
    width: 16px;
  }
  
  .property_item .property-dis p {
    color: #212529;
    font-size: 12px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
  }
  
  .property_item .property-dis p:last-child {
    margin-bottom: 0px;
  }
  
  .property_item .property-dis img,
  .property_item .property-dis .furnish_type img {
    width: 20px;
    margin-right: 8px;
  }
  
  .property_item .property-foot {
    display: flex;
    // padding: 8px 0px 0px;
    margin-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    // }
  
    // .property_item2 .property-foot {
    padding: 0px 0px 0px;
    margin: 0px -15px 0px;
    border-top: 0px;
  }
  
  .property_item .property-foot .button {
    width: 100%;
    text-align: right;
    // }
  
    // .property_item2 .property-foot .button {
    text-align: center;
    background-color: #FAF9FF;
    position: relative;
  }
  
  .property_item .property-foot .button a,
  .property_item .property-foot .button button {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    padding-right: 10px;
    position: relative;
    text-decoration: none;
    color: #4343e8 !important;
    cursor: pointer;
    // }
  
    // .property_item2 .property-foot .button a,
    // .property_item2 .property-foot .button button {
    display: inline-block;
    padding: 14px 10px;
    color: #212529 !important;
    font-size: 14px;
  }
  
  .property_item .property-foot .button:first-child::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    right: 0px;
  }
  
  .property_item .property-foot .button a::before {
    content: "\f105" !important;
    position: absolute;
    right: 0px;
    font-family: "Font Awesome 6 Pro" !important;
    font-weight: 900;
    font-size: 11px !important;
    line-height: 17px !important;
    color: #4343e8 !important;
    top: 0px;
  }
  
  .property_item .property-foot .button a::before,
  .property_item .property-foot .button button::before {
    display: none;
  }
  
  // .property_item .property-foot .price {
  //     font-size: 16px !important;
  //     line-height: 26px !important;
  // }
  
  .property_item .property-dis .price {
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
    color: #4343e8;
  }
  
  .property_item .property-dis .price span {
    color: #212529;
    font-size: 12px;
    font-weight: 600;
  }
  
  .property_item .property-dis .price span.rent_title {
    display: block;
  }
.similar-workspaces {
    .ngucarousel-items {
        margin: 0 -10px;
    }
    .carousel-arrow {
        position: absolute;
        top: 55%;
        color: #4343e8;
        font-size: 26px;
        font-weight: bold;
        &.icon-next {
            right: -20px;
        }
        &.icon-back {
            left: -20px;
        }
        &[disabled] {
            opacity: 0.4;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    .item {
        padding: 0 10px;
    }
    .box {
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    .img {
        margin-bottom: 15px;
        height: 190px;
        position: relative;
        overflow: hidden;
        background: #e0dfdf url('/assets/images/no-img.svg') no-repeat center center;
        border-radius: 4px 4px 0 0;
    }
    img {
        border-radius: 4px;
    }
    h5 {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        margin: 15px 0;
    }
    p {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.24px;
        color: #212529;
        margin-bottom: 7px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.price-box {
    position: relative;
    padding-top: 10px;
    .price {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.36px;
        span {
            font-size: 12px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.12px;
            color: #000000;
            display: block;
        }
        small {
            font-size: 17px;
            letter-spacing: 0.34px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
        }
    }
    .btn-link {
        position: absolute;
        right: 0;
        bottom: -5px;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        small {
            font-size: 10px;
            font-weight: bold;
            margin-left: 10px;
        }
    }
}

.last-slide {
    @media (max-width: 767px) {
        margin-left: 25px;
        padding: 0 !important;
    }
}

::ng-deep .ngucarousel-items {
    @media (max-width: 767px) {
        width: 100%;
    }
}

@media(max-width:480px) {
    .forMobileOnly {
        display: none;
    }
    .detail {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .similar-workspaces .item {
        padding: 0px 5px !important;
    }
    .similar-workspaces h5 {
        font-size: 11px !important;
        margin: 5px 0 0px !important;
        white-space: normal;
        line-height: 17px;
    }
    .similar-workspaces p {
        font-size: 12px !important;
        margin-bottom: 7px !important;
    }
    .price-box .price {
        font-size: 11px !important;
    }
    .price-box .price-bed {
        font-size: 10px !important;
    }
    .price-box {
        margin-top: 5px;
        padding-top: 0px !important;
    }
}

.onlyMobile {
    display: none;
    @media (max-width: 480px) {
        display: block;
    }
}

.hideOnMobile {
    @media (max-width: 480px) {
        display: none !important;
    }
}