
.cta_form {
  display: flex;
  padding: 20px 50px;
  border-radius: 20px;
  -webkit-box-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}
.cta_form .form_col {
  flex: 0 0 70%;
  margin-right: 60px;
}
.cta_form .form_col h3 {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 8px;
}
.form_dream_ptoperty .form-input input, .form_dream_ptoperty .form-input select {
  box-shadow: 0px 0px 5px rgba(33, 37, 41, 0.03);
  border-radius: 10px !important;
  font-size: 13px !important;
  padding: 12px 15px !important;
  height: auto;
  background-color: #fff !important;
  border: none !important;
  width: 100%;
  font-weight: 400 !important;
  height: 42px;
}
.form_dream_ptoperty .site_btn {
  background-color: #FFE785;
  border-color: #FFE785 !important;
  height: 42px;
  width: 100%;
  color: #000 !important;
}
.form_dream_ptoperty .site_btn:hover {
  background-color: #cdc3ff;
  border-color: #EAE6FF !important;
  color: #000 !important;
}
.form_dream_ptoperty .form-input ::placeholder {
  color: #000;
  opacity: 1;
}
.form_dream_ptoperty .form-input :-ms-input-placeholder {
  color: #000;
}
.form_dream_ptoperty .form-input ::-ms-input-placeholder {
  color: #000;
}

// ------- Flag css

.country_phone .form-input {
  background-color: #fff;
  border-radius: 10px;
  padding-left: 8px;
}
.country_phone .selected-flag .flag {
  display: flex;
}
.country_phone .flag-container {
  display: flex;
  align-items: center;
}
.country_phone .icon_phone_field .form-control {
  padding-left: 10px !important;
}
.country_phone .input-group {
  padding-left: 0;
  border: none;
}
.country_phone .form-input.icon_phone_field {
  padding-left: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.country_phone .flag img {
  margin-right: 5px;
  width: 18px !important;
  position: relative !important;
  height: auto !important;
  left: 0 !important;
  top: 0 !important;
}
.country_phone .selected-flag .flag .arrow {
  font-size: 9px;
  margin-left: 3px;
}
.country_phone .country-list {
  position: absolute;
  background-color: #fff;
  top: 42px;
  border-radius: 10px;
  padding: 0px 12px;
  width: 89%;
  height: 250px;
  overflow-y: scroll;
  z-index: 9;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.country_phone .country-list .country {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 0px;
  font-size: 13px;
}
.country_phone .country-list .country .country-name {
  font-size: 12px;
}
.country_phone .country-list .country .dial-code {
  margin-left: 5px;
}
.country_phone .country-list .divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px 0px;
}
.country_phone.icon_phone_field .selected-flag .flag.in {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 42px;
}