.banner_content {
  padding: 0px 40px 10px 120px;
}

.innerpage_banner {
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
}

.banner_img {
  border-radius: 0px 0px 0px 180px;
  overflow: hidden;
  height: 620px;
}

.banner_img img {
  height: 620px;
  width: 100%;
  object-fit: cover;
}

.icon_item {
  img {
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 8px;
    font-weight: 600;
  }
}

.top-city-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);

  .top-city-img {
    position: relative;
    height: 230px;
    transition: all 0.5s;

    img {
      height: 230px;
      object-fit: cover;
    }
  }

  .top-city-img::before {
    position: absolute;
    content: "";
    background: radial-gradient(44.97% 44.97% at 50% 55.03%, rgba(57, 68, 79, 0) 0%, rgba(57, 68, 79, 0.2) 0);
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }

  .top-city-text {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    transition: all 0.5s;

    h4 {
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      line-height: 28px;
      transition: all 0.5s;
      text-transform: capitalize;
    }
  }

}

.top-city-item:hover {
  .top-city-img::before {
    opacity: 1;
    background: radial-gradient(44.97% 44.97% at 50% 55.03%, rgba(57, 68, 79, 0.5) 1%, rgba(57, 68, 79, 0.8) 0);
  }

  .top-city-text {
    bottom: 43%;
  }
}

.top-city-img.main_city {
  height: 476px !important;
}

.top-city-img.main_city img {
  height: 476px !important;
}

// ------- Flag css

.country_phone .selected-flag .flag {
  display: flex;
}

.country_phone .flag-container {
  display: flex;
  align-items: center;
}

.country_phone .icon_phone_field .form-control {
  padding-left: 10px !important;
}

.country_phone .input-group {
  padding-left: 0;
  border: none;
}

.country_phone .form-input.icon_phone_field {
  padding-left: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.country_phone .flag img {
  margin-right: 5px;
  width: 18px !important;
  position: relative !important;
  height: auto !important;
  left: 0 !important;
  top: 0 !important;
}

.country_phone .selected-flag .flag .arrow {
  font-size: 9px;
  margin-left: 3px;
}

.country_phone .country-list {
  position: absolute;
  background-color: #fff;
  top: 42px;
  border-radius: 10px;
  padding: 0px 12px;
  width: 89%;
  height: 250px;
  overflow-y: scroll;
  z-index: 9;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.country_phone .country-list .country {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 0px;
  font-size: 13px;
}

.country_phone .country-list .country .country-name {
  font-size: 12px;
}

.country_phone .country-list .country .dial-code {
  margin-left: 5px;
}

.country_phone .country-list .divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px 0px;
}

.country_phone.icon_phone_field .selected-flag .flag.in {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 42px;
}

.city-list {
  max-width: 530px;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    max-width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

  button,
  a {
    width: 78px;
    height: 78px;
    border-radius: 100%;
    text-align: center;
    background: #f8f8f8;
    font-size: 10px;
    font-weight: 600;
    color: #000;
    margin-right: 10px;
    text-transform: capitalize;
    transition: all ease-in .5s;
    padding: 0;
    outline: none;
    vertical-align: middle;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      max-height: 32px;
      max-width: 40px;
      margin-bottom: 2px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: #f0f0fe;
    }

    @media (max-width: 380px) {
      width: 72px;
      height: 72px;
    }
  }
}

// .hideInDesktop {
//   display: none;

// }

.coworking_top_city {
  padding-top: 80px;
  padding-bottom: 70px;
}

.facilities_sec {
  padding: 70px 0px 50px;
}

.coworking_facilities {
  padding-top: 60px;
  padding-bottom: 0px;
}

@media (max-width: 768px) {
  .banner_content h1 {
    font-size: 20px !important;
    line-height: 30px !important;
    margin-bottom: 10px;
  }

  .facilities_sec .icon_item img {
    height: 30px;
  }

  .facilities_sec .icon_item h4 {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 480px) {
  // .hideInMobile {
  //   display: none !important;
  // }

  // .hideInDesktop {
  //   display: block;
  // }

  .innerpage_banner {
    padding: 40px 10px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .innerpage_banner::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .banner_content {
    padding: 40px 15px 40px 15px;
  }

  .coworking_cities_list {
    padding-top: 40px;
    padding-bottom: 40px;

    .cities_list_row {
      width: 100%;
      margin: 0 auto;

      .col-6 {
        padding: 0px 5px;

        .city-icon-box {
          border: 1px solid rgba(0, 0, 0, 0.03);
          margin-bottom: 14px;
          padding: 5px;
          border-radius: 5px;

          button {
            width: 100%;

            .row {
              margin: 0 auto;

              .col-4 {
                padding: 0px !important;

                .citi-img {
                  border-radius: 5px;
                  height: 50px;
                  width: 50px;
                }
              }

              .col-8 {
                padding: 0px !important;

                .cities_box_content {
                  padding-left: 5px;
                  text-align: left;

                  h4 {
                    font-size: 12px;
                    line-height: 18px;
                    margin-top: 0px !important;
                  }

                  p {
                    font-size: 10px !important;
                    line-height: 14px !important;
                    margin-bottom: 0px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // .cities_list_row {
  //   width: 100%;
  //   margin: 0 auto;
  // }

  // .cities_list_row .col-6 {
  //   padding: 0px 5px;
  // }

  // .city-icon-box {
  //   border: 1px solid rgba(0, 0, 0, 0.03);
  //   margin-bottom: 14px;
  //   padding: 5px;
  //   border-radius: 5px;
  // }

  // .city-icon-box .row {
  //   margin: 0px !important;
  // }

  // .city-icon-box .col-4,
  // .city-icon-box .col-8 {
  //   padding: 0px !important;
  // }

  // .city-icon-box a {
  //   display: block;
  //   width: 100%;
  // }

  // .city-icon-box .cities_box_content {
  //   padding-left: 5px;
  // }

  // .city-icon-box h4 {
  //   font-size: 12px;
  //   line-height: 18px;
  //   margin-top: 0px !important;
  // }

  // .city-icon-box p {
  //   font-size: 10px !important;
  //   line-height: 14px !important;
  //   margin-bottom: 0px !important;
  // }

  // .citi-img {
  //   border-radius: 5px;
  //   height: 50px;
  //   width: 50px;
  // }

  .amenities_row .icon_item img {
    height: 25px !important;
    width: 25px !important;
    margin: 0 !important;
  }

  .amenities_row h4 {
    font-size: 10px !important;
    line-height: 14px !important;
    text-align: left !important;
    font-weight: 500 !important;
    margin-top: 4px !important;
  }

  .facilities_sec .icon_item.mb-5 {
    margin-bottom: 20px !important;
  }

  .space_carousel {
    display: block;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    padding: 0px;
    margin: 0;
    white-space: nowrap;
  }

  .space_carousel {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .space_carousel .property_item {
    margin: 6px 7px;
    width: 81%;
  }

  .property_item {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    text-align: left;
  }

  .property_item {
    padding: 8px 8px 0px !important;
    border-radius: 10px;

    .property-img {
      height: 150px !important;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 10px;
      position: relative;
      width: 100%;

      img {
        height: 150px !important;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100% !important;
        -webkit-transition: .5s !important;
        transition: all .5s !important;
        position: relative;
      }

      .item {
        height: 130px !important;
      }
    }

    .carousel-inner {
      height: 150px !important;
      margin-bottom: 10px;
      border-radius: 20px;
    }

    .property-dis {
      padding-bottom: 0px;
      width: 100%;

      h4 {
        font-size: 13px;
        line-height: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 5px;
        font-weight: 600;
      }

      .address {
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        padding-bottom: 7px;
        margin-bottom: 7px !important;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        scrollbar-width: none !important;
      }

      p {
        font-size: 10px !important;
        line-height: 15px !important;
        margin-bottom: 3px !important;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
      }

      img {
        width: 16px;
        border-radius: 0px !important;
      }

      .amenities_card {
        display: flex;
        padding-top: 4px;

        .capacity:first-child {
          margin-right: 20px;
        }
      }

      .furnish_type {
        img {
          width: 16px;
          border-radius: 0px !important;
        }
      }
    }

    .property-foot {
      display: -webkit-box;
      display: flex;
      padding: 8px 0 0;
      margin: 5px 0px 5px !important;
      border-top: 1px solid rgba(0, 0, 0, .05);

      .price {
        font-size: 10px;
        line-height: 18px;

        span {
          color: #212529;
          font-size: 10px;
          font-weight: 600;
          line-height: 13px;
        }

        .rent_title {
          display: block;
          font-size: 11px;
          line-height: 11px;
          font-weight: 600;
        }
      }

      .button.text_btn {
        justify-content: end;
        text-align: right;
        width: 100%;
      }

      .button {
        background-color: transparent !important;

        a {
          padding: 0 !important;
          color: #4343e8 !important;
          text-align: right;
          padding-right: 10px !important;
          position: relative;
          font-size: 11px;
          font-weight: 500;
        }

        a::before {
          content: "ï„…" !important;
          position: absolute;
          right: 0;
          font-family: "Font Awesome 6 Pro" !important;
          font-weight: 900;
          font-size: 9px !important;
          line-height: 5px !important;
          color: #4343e8 !important;
          top: 4px;
        }
      }
    }
  }

  // .property_item 

  // .property_item .property-img 


  // .property_item .property-img,
  // .property_item .property-img 

  // .property_item .property-img img,
  // .property_item .property-img .item {
  //   height: 130px !important;
  // }

  // .property_item 

  // .property_item .property-dis 

  // .property_item .property-dis 

  // .property_item .property-dis 



  // .amenities_card 

  // .property_item .property-dis .furnish_type img,
  // .property_item .property-dis img {
  //   width: 16px;
  //   border-radius: 0px !important;
  // }

  // .property_item .property-foot {
  //   display: -webkit-box;
  //   display: flex;
  //   padding: 8px 0 0;
  //   margin-top: 8px;
  //   border-top: 1px solid rgba(0, 0, 0, .05);
  // }

  // .property_item .property-foot .price {
  //   font-size: 10px;
  //   line-height: 18px;
  // }

  // .property_item .property-dis .price span {
  //   color: #212529;
  //   font-size: 10px;
  //   font-weight: 600;
  //   line-height: 13px;
  // }

  // .property_item .property-foot .price .rent_title {
  //   display: block;
  //   font-size: 11px;
  //   line-height: 11px;
  //   font-weight: 600;
  // }

  // .property_item .property-foot .button a {
  //   font-size: 11px;
  // }

  // .property_item .property-foot .button a::before {
  //   font-size: 6px !important;
  //   line-height: 12px !important;
  // }

  .curated-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }

  .curated-img {
    position: relative;
    height: 100px;
  }

  .curated-img img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 120px;
  }

  .curated-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.34%, rgba(0, 0, 0, 0.447625) 50.99%, #000 98.69%);
    padding: 30px 0px 0px;
    transition: all 0.5s;
  }

  .curated-item:hover .curated-content {
    padding-bottom: 15px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.34%, rgba(0, 0, 0, 0.447625) 50.99%, #000 98.69%);
  }

  .curated-content h4 {
    margin-bottom: 7px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
  }

  .col-md-12.text-center {
    text-align: left !important;
  }

  .title_divider {
    margin-bottom: 15px !important;
  }

  // .coworking_cities_list {
  //   padding-top: 50px !important;
  //   padding-bottom: 20px !important;
  // }

  .facilities_sec {
    padding: 20px 0px 0px;
  }

  .search-bar {
    margin: 10px 0px 0px;
  }

  .near-coworking-space {
    padding: 40px 0px 30px !important;
  }

  .feature_sec {
    padding-top: 20px !important;
    padding-bottom: 50px !important;
  }

  .curated_section {
    padding-bottom: 30px;
  }

}