<section class="page_banner coworking_banner mobilehide">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 order-2 order-md-1">
                <div class="banner_content">
                    <h1 class="site_title">Find the Best<br /><span style="color: #1313E6;">Coworking Offices</span> in India</h1>
                    
                    <div class="city-list">
                        <button (click)="searchCoworking()" type="button">
                        <img [src]="'/assets/images/icons/near-me-icon.svg'"
                            alt="'Office Space for Rent near me" />
                        Near Me
                        </button>
                        <button *ngFor="let city of cities" [routerLink]="city.name">
                            <img [src]="'/assets/images/city/' + city.icon" [alt]="city.name" /> {{ city.name }}
                        </button>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 col-12 order-1 order-md-2">
                <div class="banner_img">
                    <img [src]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/b8213cdfc4034c116b80c1f3fa5e77617a33e00d.jpg'" alt="Coworking Banner" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!--------------------- Mobile Banner -------------------->

<section class="innerpage_banner desktophide" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4d76dbae3fc984d286d56580f607710430cfea5a.jpg');">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="banner_content">
                    <h1 class="text-light text-center">Find the Best<br />Coworking Offices in India</h1>
                    <div class="search-bar">
                        <ng-select [items]="cities" placeholder="Select City" bindLabel="name" bindValue="id" [searchable]="false" [clearable]="false" (change)="openCityListing($event)">
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--------------------- End Mobile Banner -------------------->

<!--------------------- Mobile cities list -------------------->
<section class="coworking_cities_list desktophide" id="city">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Top Coworking Cities</h2>
                </div>
            </div>
        </div>
        <div class="row cities_list_row">
            <div class="col-md-3 col-6" *ngFor="let _city of city">
                <div class="city-icon-box">
                    <a [routerLink]="_city.name" class="text-dark">
                        <div class="row align-items-center">
                            <div class="col-4 pr-0">
                                <img [src]="'../../../assets/images/co-living/colivingMain/city-Img/'+_city.img" alt="Cities Image" class="img-fluid citi-img">
                            </div>
                            <div class="col-8">
                                <div class="cities_box_content">
                                    <h4 class="bangalore">{{_city.name|titlecase}}</h4>
                                    <p class="famous-name">{{_city.title}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 mobilehide">
                <p class="live-spaces-button p-2 text-center text-white"><span class="pr-2">25000+ Live spaces </span>| <span class="pl-2 pr-2">700+ Locations </span>| <span class="pl-2 pr-2">20+ Cities</span></p>
            </div>
        </div>
    </div>
</section>

<!--------------------- End Mobile Mobile cities list -------------------->

<!-- Catagory Services -->
<section class="facilities_sec coworking_facilities">
    <div class="container">
        <div class="row desktophide">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Amenities You will get</h2>
                </div>
            </div>
        </div>
        <div class="row amenities_row">
            <div class="col-md-4 col-4" *ngFor="let data of service">
                <div class="icon_item mb-5">
                    <img [src]="'../../../assets/images/'+data.icon" class="img-fluid d-block" [alt]="data.title">
                    <h4>{{data.title}}</h4>
                    <p class="mobilehide">{{data.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!------------------- Mobile Best Coworking Near You ---------------->
<section class="near-coworking-space desktophide" *ngIf="workSpaces && workSpaces.length">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Best Coworking Near You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="space_carousel">
                    <div class="property_item" style="cursor: pointer;" (click)="routeTodetail(_centerCity.slug)" *ngFor="let _centerCity of workSpaces">
                        <div class="property-img">
                            <img [src]="_centerCity.images[1].image.s3_link" [alt]="_centerCity.name" class="img-fluid">
                        </div>
                        <div class="property-dis">
                            <h4>{{_centerCity.name}}</h4>
                            <p class="address"><img [src]="'../../../../assets/images/icons/location-icon.svg'" alt="Location" class="img-fluid"> {{_centerCity.location.address1}}</p>
                            <div class="amenities_card">
                                <p class="capacity">
                                    <img [src]="'assets/images/amenities/wifi.svg'" alt="wifi"> High speed WiFi
                                </p>
                                <p class="capacity">
                                    <img [src]="'assets/images/amenities/tea.svg'" alt="Coffee"> Coffee & Bar
                                </p>
                            </div>
                        </div>
                        <div class="property-foot align-items-end">
                            <div class="price"><span class="rent_title">Starting from</span>₹{{_centerCity.starting_price}}/- <span>{{_centerCity.price_type}}</span></div>
                            <div class="button"><a (click)="routeTodetail(_centerCity.slug)" tabindex="0" target="_blank">Explore More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-------------------- Mobile Cruted for You ----------------------->
<section class="curated_section desktophide">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Curated Coworking Spaces</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img [src]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a4a2440021277f89ec1987d9061ab6a2a771ae7e.jpg'" alt="Low Cost" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Low Cost</h4>
                        </div>
                        <a type="button" (click)="openModal('10,000')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img [src]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ebb7c3f1686544a4a73a1b4811cbc4576e89487c.jpg'" alt="Affordable" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Affordable</h4>
                        </div>
                        <a type="button" (click)="openModal('20,000')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img [src]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e0db4b335b0946b16766daa5057d3f5fa64ad252.jpg'" alt="Luxury" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Luxury</h4>
                        </div>
                        <a type="button" (click)="openModal('above 20,000')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------- End Mobile Cruted for You ----------------------->


<!-- top Spaces -->
<section class="virtualSpace coworking_top_city tabhide">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Top Coworking Cities in India</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pt-2" *ngFor=" let _centerCity of popularCoWorkingSpaces | slice:0:1">
                <div class="top-city-item" style="cursor: pointer;" (click)="openWorkSpace(_centerCity.address.split(',').pop())">
                    <div class="top-city-img main_city">
                        <img [src]="_centerCity.image" alt="Cities Image" class="img-fluid d-block m-auto">
                    </div>
                    <div class="top-city-text">
                        <h4><i class="fas fa-map-marker-alt"></i> {{_centerCity.city}}</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 p-2" *ngFor="let _centerCity of popularCoWorkingSpaces | slice:1:7">
                        <div class="top-city-item" style="cursor: pointer;" (click)="openWorkSpace(_centerCity.address.split(',').pop())">
                            <div class="top-city-img">
                                <img [src]="_centerCity.image" alt="Cities Image" class="img-fluid d-block m-auto">
                            </div>
                            <div class="top-city-text">
                                <h4><i class="fas fa-map-marker-alt"></i> {{_centerCity.city}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="for_email_sec mail_page_email">
    <div class="container" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/397ce79a0f1dffa12d81542041292a85b8758ad0.png');">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <div class="for_email_content">
                    <h3>Find your Office Space with Cofynd</h3>
                    <p>Just drop us an email with your Office Space requirements – Number of Seat, Location, Start Date … and our team will connect back with you within 24 Hrs with the best possible options.</p>
                    <p class="email_id align-items-center"><img [src]="'assets/images/icons/email_id.svg'" alt="Email Icon"> hello@cofynd.com</p>
                </div>
            </div>
            <div class="col-md-4 mobilehide">
                <div class="for_email_img">
                    <img [src]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/cfb9eccbf93ad5602e7931f4c50c3f034157c9f8.png'" alt="Email Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choosewithcofynd_sec coworking_choose_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Choose a Coworking Space With CoFynd</h2>
                </div>
            </div>
        </div>
        <div class="row choose_item_slider mt-2">
            <div class="col-md-4" *ngFor="let data of chooseCoworking">
                <div class="left_icon_box2">
                    <div class="icon">
                        <img [src]="'assets/images/'+data.icon" class="img-fluid d-block" [alt]="data.title">
                    </div>
                    <div class="content">
                        <h4>{{data.title}}</h4>
                        <p class="mobilehide">{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-container *ngIf="spacesByCity.gurugram.length">
    <app-carousel-item [pageTitle]="'Top Spaces in Gurgaon'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.gurugram">
    </app-carousel-item>
</ng-container>
<ng-container *ngIf="spacesByCity.banglore.length">
    <app-carousel-item [pageTitle]="'Top Spaces in Bangalore'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.banglore">
    </app-carousel-item>
</ng-container>


<section class="gradient_cta_sec">
    <div class="container">
        <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9661499078f8ef5e7ef10ff311ed697ec5d86f01.jpg');">
            <div class="col-8">
                <div class="cta_content">
                    <h4>Get the Perfect Coworking Space in your City</h4>
                    <p class="mobilehide">Bangalore | Hyderabad | Mumbai | Pune | Delhi | Noida | Gurgaon & More...</p>
                    <button (click)="scrollToElement(target)" class="btn site_btn border_btn">Enquire Now</button>
                </div>
            </div>
        </div>
    </div>
</section>


<app-carousel-item *ngIf="spacesByCity.mumbai.length" [pageTitle]="'Top Spaces in Mumbai'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.mumbai">
</app-carousel-item>

<app-carousel-item *ngIf="spacesByCity.pune.length" [pageTitle]="'Top Spaces in Pune'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.pune">
</app-carousel-item>


<section class="cofynd_advantage_area coworking_advantage_area tabhide">
    <div class="container">
        <div class="row" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f8b1c9483531686a41942f8b156c3b39e96296cd.jpg');">
            <div class="col-md-3">
                <h3>CoFynd Advantages</h3>
            </div>
            <div class="col-md-3" *ngFor="let data of coFyndAdvantages">
                <div class="advantage_item">
                    <div class="icon">
                        <img [src]="'../../../assets/images/'+data.icon" class="img-fluid d-block" [alt]="data.title">
                    </div>
                    <div class="content">
                        <h4>{{data.title}}</h4>
                        <p>{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gradient_cta_sec desktophide">
    <div class="container">
        <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8789c100ed33f81a4bb8c3e165523da7daf92e72.jpg');">
            <div class="col-8">
                <div class="cta_content">
                    <h4>Get Suitable Coworking Space as per your need</h4>
                    <button (click)="scrollToElement(target)" class="btn site_btn border_btn">Enquire Now</button>
                </div>
            </div>
        </div>
    </div>
</section>


<ng-container *ngIf="spacesByCity.hyderabad.length">
    <app-carousel-item [pageTitle]="'Top Spaces in Hyderabad'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.hyderabad">
    </app-carousel-item>
</ng-container>

<app-carousel-item *ngIf="spacesByCity.noida.length" [pageTitle]="'Top Spaces in Noida'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.noida">
</app-carousel-item>


<section class="gradient_cta_sec">
    <div class="container">
        <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/15159bfc3d18b26887e6031643d176eb23e48c2d.jpg');">
            <div class="col-8">
                <div class="cta_content">
                    <h4>Customize Office Spaces as per <br>your Need</h4>
                    <button (click)="scrollToElement(target)" class="btn site_btn border_btn">Enquire Now</button>
                </div>
            </div>
        </div>
    </div>
</section>


<app-carousel-item *ngIf="spacesByCity.delhi.length" [pageTitle]="'Top Spaces in Delhi'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.delhi">
</app-carousel-item>

<app-carousel-item *ngIf="spacesByCity.ahmedabad.length" [pageTitle]="'Top Spaces in Ahmedabad'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.ahmedabad">
</app-carousel-item>


<section class="gradient_cta_sec">
    <div class="container">
        <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4e730a6d3b701021fd96f6ce8734e681ac754a5e.jpg');">
            <div class="col-8">
                <div class="cta_content">
                    <h4>Hurry ! Choose your Space Now</h4>
                    <p class="mobilehide">Low Cost | Affordable | Luxury</p>
                    <button (click)="scrollToElement(target)" class="btn site_btn border_btn">Enquire Now</button>
                </div>
            </div>
        </div>
    </div>
</section>


<app-carousel-item *ngIf="spacesByCity.chennai.length" [pageTitle]="'Top Spaces in Chennai'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.chennai">
</app-carousel-item>

<app-carousel-item *ngIf="spacesByCity.indore.length" [pageTitle]="'Top Spaces in Indore'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spacesByCity.indore">
</app-carousel-item>

<section class="pt-0 logos_background_img coworking_brands_slider">
    <app-home-brand-list *ngIf="coworkingBrands" [coworkingBrands]="coworkingBrands" [pageTitle]="'Our CoWorking Partners'">
    </app-home-brand-list>
</section>

<section class="featured_space_sec coworking_feature_spaces">
    <div class="container">
        <div class="row desktophide">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Featured Spaces</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-12 mb-4">
                <div class="feature_img" routerLink="quest-offices" style="cursor: pointer;">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/152f99486758b35bcb925f81e5eded554877bba9.png" alt="Quest Coworks Mumbai" class="img-fluid mobilehide">

                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/add733e1d86985412ba20acb579475cdcad00752.png" alt="Quest Coworks Mumbai" class="img-fluid desktophide">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12 mb-4">
                <div class="feature_img" routerLink="wework-mg-road-gurugram" style="cursor: pointer;">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f72af5bb3879352d51bbb73661ced2d7f700902b.png" alt="Wework Gurgaon Feature" class="img-fluid mobilehide">

                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/852a6792ba9f953af35aedc752e5a1f6b81f1672.png" alt="Wework Gurgaon Feature" class="img-fluid desktophide">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="feature_img" routerLink="hustlehub-hsr-layout" style="cursor: pointer;">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/af894cde1fe0eb12050ba2d6d3a98ba34639ef78.png" alt="Hustlehub Banglore" class="img-fluid mobilehide">

                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/973eb2eca1490150ba74a6fa9e016b32e8e2a005.png" alt="Hustlehub Banglore" class="img-fluid desktophide">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="query_from_sec coworking_query" #target>
    <div class="container">
        <div class="row tabhide">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Yes, I'm interested in Coworking Space</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 tabhide">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8d5b8f3ab85c5c3593e58025e7fe214e74259b0b.jpg" class="img-fluid" alt="Quiery Image">
            </div>

            <div class="col-md-6 col-12">
                <div class="virtual_query_form">
                    <div class="form_head">
                        <h3 class="desktophide">Yes, I'm interested in Coworking Space</h3>
                        <h3 class="mobilehide">Answers to your Coworking Space query</h3>
                    </div>

                    <div class="form_body">
                        <form action="" [formGroup]="enterpriseFormGroup" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/user-icon.svg" class="img-fluid" alt="User">
                                        <input type="text" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name" class="form-control" placeholder="Name*" required>
                                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                            <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/email-icon.svg" class="img-fluid" alt="Email">
                                        <input type="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" class="form-control" placeholder="Email*" required>
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                                            <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 country_phone">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/phone-icon.svg" class="img-fluid" alt="Phone">

                                        <div class="form-input icon_phone_field">
                                            <div class="flag-container">
                                                <div (click)="showcountry = !showcountry" class="selected-flag">
                                                    <div class="flag in" *ngIf="activeCountries && activeCountries.length">
                                                        <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                                        <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                                                    </div>
                                                </div>
                                                <ul *ngIf="showcountry" class="country-list">
                                                    <li (click)="hideCountry(country)" *ngFor="let country of activeCountries" class="country active" tabindex="-1">
                                                        <div class="flag-box">
                                                            <div class="flag in"><img [src]="country?.image?.s3_link" width="18px" alt="Flag" /></div>
                                                        </div>
                                                        <span class="country-name">{{country?.name}}</span>
                                                        <span class="dial-code">{{country?.dial_code}}</span>
                                                    </li>
                                                </ul>

                                                <input type="tel" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" formControlName="phone_number" class="form-control" placeholder="Phone*" required>
                                                <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">Please enter mobile number.</div>
                                                    <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile number.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/location-icon.svg" class="img-fluid" alt="Location">
                                        <select class="form-select" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" formControlName="city" placeholder="select your city" required aria-label="Default select example">
                                            <option value="" selected disabled style="display: none;">Select City*</option>
                                            <option [value]="city.name" *ngFor="let city of finalCities">{{city.name}}</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                            <div *ngIf="f['city'].errors['required']">Please select your city.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12" *ngIf="ENQUIRY_STEP === ENQUIRY_STEPS.OTP">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/phone-icon.svg" class="img-fluid" alt="Phone">
                                        <input type="tel" [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }" formControlName="otp" required class="form-control border-light" id="mobilenumber" placeholder="Otp*" aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
                                            <div *ngIf="f['otp'].errors['required']">Please enter 4 digit otp.</div>
                                        </div>
                                    </div>
                                    <button [disabled]="resendDisabled" (click)="resendOTP()" [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                                    <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="input-group message_field align-items-center">
                                        <img src="assets/images/icons/message-icon.svg" class="img-fluid" alt="Message">
                                        <textarea type="textarea" [ngClass]="{ 'is-invalid': submitted && f['requirements'].errors }" formControlName="requirements" class="form-control" placeholder="Requirements"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <button class="site_btn border_btn" type="submit">Submit</button>
                                </div>
                                <div class="col-md-12 col-12">
                                    <p class="form_query_text">Need Assistance? Email : <span>hello@cofynd.com</span></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="coworking_client_sec">
    <app-our-clients></app-our-clients>
</div>

<section class="list_your_space_sec coworking_list_space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="cta_content">
                    <h4>List Your Vacant Property with Cofynd and Start Earning</h4>
                    <p class="mobilehide">List for free and leave rest on our experts. Stay organized, manage leads, and track your bookings - all in one place.</p>
                    <button routerLink="/list-your-space" class="btn site_btn border_btn">List Your Property</button>
                </div>
            </div>
            <div class="col-4 text-center">
                <img src="../../../assets/images/list-your-space-img.svg" alt="List your Vacant" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="cofynd_desk_sec coworking_cofynd_desk">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cofynd-desk text-center">
                    <img style="max-height: 200px;" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/727de738fd2725e2045d19ac44a5873f25919b36.png" alt="What is the cofynd desk">
                    <h4>What's the CoFynd Desk?</h4>
                    <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd community Breathe, Connect and Climb
                        to their highest in life.</p>
                    <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faqs_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Frequently Asked Questions</h3>
                    <p>Here are the frequently asked questions that people enquired online before choosing a virtual office. We have gathered the most crucial ones and answer here to help you in making the right decision.</p>
                </div>
            </div>
            <div class="col-md-12">
                <accordion [isAnimated]="true" class="faqs_accordion">
                    <accordion-group>
                        <h4 accordion-heading>What is a coworking space?
                        </h4>
                        <p>A coworking space is a shared workspace in which people from different professional backgrounds work together. It gives you an amazing work environment and access to numerous state of the art amenities resulting in better communication,
                            productivity, creativity and innovation.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            Who uses coworking spaces?
                        </h4>
                        <p>From small startups to SMEs and large corporations, every type of organization can utilize a coworking space. In fact, individuals like business travelers, freelancers, remote workers, solo entrepreneurs and content creators etc.
                            are also utilizing modern coworking spaces for their business needs.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            How much does a coworking space cost?
                        </h4>
                        <p>The overall cost of a coworking space depends on the type of seats you choose- Hot Desks, Dedicated Desks, Private Cabins and the location where it is located. </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            What are the benefits of a coworking space?
                        </h4>
                        <p>A coworking space gives you an ample of work benefits such as enhanced productivity, invaluable networking opportunities, community events, enhanced creativity, good work-life balance, less operating expenses, more flexibility
                            etc.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            What are the amenities offered by coworking spaces?
                        </h4>
                        <p>Fast-speed wifi, ergonomic furniture, air conditioning, housekeeping service, support & maintenance, tight security, beverages, power backup, reception facilities, printer/scanner, washroom facilities, free tea/coffee, common area,
                            meeting rooms, phone booths, recreation facilities, pantry, dedicated storage space and a lot more.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            What types of flexible seats are available in coworking spaces?
                        </h4>
                        <p>There are hot desks, dedicated desks, private cabins and virtual offices. If you want a workspace for a day, then you can go with day passes. All the aforementioned flexible seat options are available as per your business requirements.</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>


<section class="search-description" *ngIf="seoData">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>