<app-workspace-loader *ngIf="loading"></app-workspace-loader>

<div style="display: none;">
<section class="breadcrumbs_sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Flat</a></li>
                        <li class="breadcrumb-item"><a href="#">M3M</a></li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">{{ workspace.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_page_gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-image-item first-img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/58d8790810496727c8578f7f5c5d910f0cc48539.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3 image_space">
                <div class="banner-image-item">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/58d8790810496727c8578f7f5c5d910f0cc48539.jpg" alt="" class="img-fluid">
                </div>
                <div class="banner-image-item mb-0">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/58d8790810496727c8578f7f5c5d910f0cc48539.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3">
                <div class="banner-image-item last-img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/58d8790810496727c8578f7f5c5d910f0cc48539.jpg" alt="" class="img-fluid">
                </div>
                <button class="all_photon_btn"><i class="fa-solid fa-layer-group"></i> View All Photos</button>
            </div>
        </div>
    </div>
</section>

<section class="details_area content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">

                    <div class=" col-md-12">

                        <div class="head_top">
                            <div class="rent-btn ">
                                <button type="button" class="btn rounded-pill">Rent</button>
                            </div>

                            <div class="rent-share">
                                <button class="btn btn-link" type="button" data-toggle="modal"
                                    data-target="#exampleModal"><img src="../../../../assets/images/icons/share-icon.svg" />Share</button>
                                <button type="button" class="btn btn-link"><img
                                        src="../../../../assets/images/icons/save-icon.svg" />Save</button>
                            </div>

                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Share this Properties with friends and family</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row social-media-icons">
                                                <div class="col-md-6">
                                                    <div class="icon">
                                                        <a href="javascript:void(0)" data-social="whatsapp"
                                                            data-text="From Page Bottom Share Section">
                                                            <img src="../../../../assets/images/icons/building-icon.svg" /> WhatsApp
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="icon">
                                                        <a href="javascript:void(0)" data-social="facebook"
                                                            data-text="From Page Bottom Share Section">
                                                            <img src="../../../../assets/images/icons/building-icon.svg" /> Facebook
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="icon">
                                                        <a href="javascript:void(0)" data-social="twitter"
                                                            data-text="From Page Bottom Share Section">
                                                            <img src="../../../../assets/images/icons/building-icon.svg" />Twitter
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="copy-link">
                                                        <button class="btn clipboard">
                                                            <p>Copy Link</p>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="space_head">
                            <div class="heading-info">
                                <h2>3 BHK Apartment in M3M Merlin</h2>
                                <p><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector 67 , Golf Course Road Extension</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-properties">
                            <div class="flat-like-icon">
                                <img class="bhk" src="../../../../assets/images/icons/verify-thumb-icon.svg" />
                            </div>
                            <div class="flat-icons-box">
                                <div class="flat-properties-icons">
                                    <div class="icon">
                                        <img class="bhk" src="../../../../assets/images/icons/brokerage-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Zero Brokerage</span>
                                    </div>
                                </div>

                                <div class="flat-properties-icons">
                                    <div class="icon">
                                        <img class="bhk" src="../../../../assets/images/icons/furnished-status-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Fully Furnished</span>
                                    </div>
                                </div>

                                <div class="flat-properties-icons">
                                    <div class="icon">
                                        <img class="bhk" src="../../../../assets/images/icons/verify-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Verified Flats</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row overview_area">
                    <div class="col-md-12">
                        <h3>Overview</h3>
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/bhk-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>BHK</h5>
                                        <p>3 BHK</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/area-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Built-up Area</h5>
                                        <p>2,850 sq.ft.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/area-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Carpet Area</h5>
                                        <p>2,850 sq.ft.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/security-deposit-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Security Deposit</h5>
                                        <p>6000/-</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/mainteance-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Maintenance Charges</h5>
                                        <p>2000/-</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/tenant-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Tenant Type</h5>
                                        <p>Family</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/space-status-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Status</h5>
                                        <p>Furnished</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/building-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Floor</h5>
                                        <p>3rd/10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/facing-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Facing</h5>
                                        <p>East</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/bedroom-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Bedrooms</h5>
                                        <p>2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/bathroom-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Bathrooms</h5>
                                        <p>2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="../../../../assets/images/icons/balcony-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Balconies</h5>
                                        <p>2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">


                <div class="row about-area">
                    <div class="col-md-12">
                        <h3>Description</h3>
                    </div>
                    <div class="col-md-12">
                        <p>
                            M3M Golf Estate is the High-End Residential Project by M3M Group. This Lavish
                            Residential Project is on the Sector-65 Golf Course Extension Road Gurgaon. It is a
                            Combination of Low-Rise, Mid-Rise and High-Rise Towers. Here, M3M presenting the
                            Spacious 3BHK, 4BHK and 5BHK Apartments, Duplex and Penthouses with the range of
                            sizes from 3005 Sq. Ft. to 5760 Sq. Ft. M3M Golf Estate Gurgaon is spread on a
                            Built-up Area of 56 Acres with over 25 Towers and 870 Units.
                        </p>
                        <p class="moretext">
                            This Project is easy to access from many Schools, Hospitals, Shopping Malls and
                            the count goes on. The Amenities of this Amazing Residential Project is totally
                            Top-Notch
                            which includes High-Speed Elevators, Gyms, Exclusive Clubhouse, Abundant Parking
                            Space,
                            Swimming Pool and lot more.

                            This Lavish Project is designed by World’s Top Architectural Firm Le Group Arcop
                            whose
                            Headquarter is in Canada. The Interior Designing of this Project is done by the
                            Leading
                            International Firm Bilkey Linas Design which is a USA Based Company and the
                            Structural
                            Designing is done by the (LERA) Leslie E Robots and Associates which is also a USA
                            Based
                            Company. The Apartments in M3M Golf Estate Gurgaon is designed in such a way to give
                            a
                            Luxury Lifestyle with all the conveniences and their Features. M3M Golf Estate is
                            the
                            Luxury
                            Project which everyone dreamt of and Now you are One Step close to fulfilling your
                            Dreams.
                            So, What are you waiting for?? Get your Dream Property in M3M Golf Estate Sector-65
                            Gurgaon.
                        </p>
                        <button class="moreless-button btn btn-link p-0">See More</button>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row amenities_section">
                    <div class="col-md-12">
                        <h3>Building Amenities</h3>
                    </div>
                    <div class="col-md-12" id="amenities-icons">
                        <div class="row basic">
                            <div class="col-4 basic-icons">
                                <p><img src="img/snooker-icon.svg" />Snooker</p>
                                <p><img src="img/theatre-icon.svg" />Mini Theatre</p>
                                <p><img src="img/swimming-pool-icon.svg" />Swimming Pool</p>
                            </div>
                            <div class="col-4 basic-icons">
                                <p><img src="img/children-park-icon.svg" />Children Park</p>
                                <p><img src="img/club-house-icon.svg" />Club House</p>
                                <p><img src="img/gym-icon.svg" />Gymnasium</p>

                            </div>
                            <div class="col-4 basic-icons">
                                <p><img src="img/car-parking-icon.svg" />Car Parking</p>
                                <p><img src="img/24x7-security-icon.svg" />24x7 Security</p>
                                <p><img src="img/bar-icon.svg" />Bar/Lounge</p>

                            </div>
                        </div>
                        <div class="row more-icon" style="display: none;">
                            <div class="col-4 basic-icons">
                                <p><img src="img/football-icon.svg" />Football Court</p>
                                <p><img src="img/basketball-court.svg" />Basketball Court</p>
                                <p><img src="img/lift-icon.svg" />Lift System</p>
                            </div>
                            <div class="col-4 basic-icons">
                                <p><img src="img/cycle-icon.svg" />Cycle Track</p>
                                <p><img src="img/cricket-pitch-icon.svg" />Cricket Pitch </p>
                                <p><img src="img/fire-safety-icon.svg" />Fire Safety</p>
                            </div>
                            <div class="col-4 basic-icons">
                                <p><img src="img/golf-court-icon.svg" />Golf Course</p>
                                <p><img src="img/intercom-icon.svg" />Intercom</p>
                                <p><img src="img/tennis-court-icon.svg" />Outdoor Tennis Courts</p>
                            </div>
                        </div>
                        <button class="more-icon-button btn btn-link p-0">See More</button>
                    </div>
                </div>

                <hr class="divider_line">


                <div class="row floor-plan">
                    <div class="col-md-12">
                        <h3>Floor Plans</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="properties_item_slider">
                            <div class="slider slider-nav plans_slider popup-gallery">

                                <div class="plan_item">
                                    <div class="floor-plan-img">
                                        <img class="img-fluid floor-plan-img" src="img/golf-estate-floor-plan-1.png"
                                            alt="9.jpg" />
                                    </div>
                                    <div class="floor-plan-details">
                                        <div class="square-ft">
                                            <h5>Built-up Area</h5>
                                            <p>2,882 sq.ft.</p>
                                        </div>
                                        <div class="price">
                                            <h5>Price</h5>
                                            <p>₹ 4.04 Cr</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="plan_item magnific-img">
                                    <div class="floor-plan-img">
                                        <img class="img-fluid floor-plan-img" src="img/golf-estate-floor-plan-2.png"
                                            alt="10.jpg" />
                                    </div>
                                    <div class="floor-plan-details">
                                        <div class="square-ft">
                                            <h5>Built-up Area</h5>
                                            <p>2,850 sq.ft.</p>
                                        </div>
                                        <div class="price">
                                            <h5>Price</h5>
                                            <p>₹ 4.20 Cr</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="plan_item magnific-img">
                                    <div class="floor-plan-img">
                                        <img class="img-fluid floor-plan-img" src="img/golf-estate-floor-plan-3.png"
                                            alt="3.jpg" />
                                    </div>
                                    <div class="floor-plan-details">
                                        <div class="square-ft">
                                            <h5>Built-up Area</h5>
                                            <p>2,992 sq.ft.</p>
                                        </div>
                                        <div class="price">
                                            <h5>Price</h5>
                                            <p>₹ 4.5 Cr</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="plan_item magnific-img">
                                    <div class="floor-plan-img">
                                        <img class="img-fluid floor-plan-img" src="img/golf-estate-floor-plan-4.jpg"
                                            alt="9.jpg" />
                                    </div>

                                    <div class="floor-plan-details">
                                        <div class="square-ft">
                                            <h5>Built-up Area</h5>
                                            <p>2,882 sq.ft.</p>
                                        </div>
                                        <div class="price">
                                            <h5>Price</h5>
                                            <p>₹ 4.04 Cr</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row map-location">
                    <div class="col-md-12">
                        <h3>Properties Location</h3>
                        <p class="location-icon">Sector-65, Gurgaon</p>
                    </div>
                    <div class="col-md-12">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4384.02468179727!2d77.06513306638949!3d28.400970259413807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d226f6c6b9b99%3A0x959ab1d7af7ad1c5!2sM3M%20Golf%20Estate!5e0!3m2!1sen!2sin!4v1664284150955!5m2!1sen!2sin"
                            width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row near_places">
                    <div class="col-md-12 places-nearby">
                        <h3 class="heading">Places Nearby</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="slider slider-nav places-tag-slider">

                            <div class="places-tag-box">
                                <div class="tag-icon">
                                    <img class="img-fluid" src="img/metro-icon.svg" />
                                </div>
                                <div class="tag-text">
                                    <h5>Sector 55-56 Metro Station</h5>
                                    <p>2.6 Km</p>
                                </div>
                            </div>

                            <div class="places-tag-box">
                                <div class="tag-icon">
                                    <img class="img-fluid" src="img/airport-icon.svg">
                                </div>
                                <div class="tag-text">
                                    <h5>IGI Airport</h5>
                                    <p>4.6 Km</p>
                                </div>
                            </div>

                            <div class="places-tag-box">
                                <div class="tag-icon">
                                    <img class="img-fluid" src="img/school-icon.svg">
                                </div>
                                <div class="tag-text">
                                    <h5>DPS International School</h5>
                                    <p>4.9 Km</p>
                                </div>
                            </div>

                            <div class="places-tag-box">
                                <div class="tag-icon">
                                    <img class="img-fluid" src="img/mall-icon.svg">
                                </div>
                                <div class="tag-text">
                                    <h5>Raheja Mall</h5>
                                    <p>4.9 Km</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="enquiry-section">
                    <div class="form-section">
                        <h2 class="heading">Enquiry Now</h2>
                        <form class="form">
                            <div class="form-input">
                                <input type="text" class="form-control border-light" id="name" placeholder="Name"
                                    aria-describedby="emailHelp">
                            </div>
                            <div class="form-input">
                                <input type="email" class="form-control border-light" id="exampleInputEmail1"
                                    placeholder="Email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-input">
                                <input type="text" class="form-control border-light" id="mobilenumber"
                                    placeholder="Mobile Number" aria-describedby="emailHelp">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">I agree to be contacted by
                                    Cofynd and other agents via <i class="fa-brands fa-whatsapp me-1"></i>WhatsApp,
                                    SMS, phone, email etc.</label>
                            </div>
                            <button type="button" class="btn w-100 site_btn">Send</button>
                        </form>
                    </div>
                    <div class="contact-details">
                        <div class="contact-image">
                            <img class="img-fluid" src="img/profile-img.png" />
                        </div>
                        <div class="contact-info">
                            <p class="heading">Get in Touch</p>
                            <p>+91 9999 10 8078</p>
                        </div>
                    </div>
                    <div class="policy">
                        <p>By clicking the above button you agree to our Terms of service and have read and
                            understood our <span><a class="text-decoration-none" href="#">Privacy Policy</a></span>
                        </p>
                    </div>
                    <div class="write-review">
                        <div class="image">
                            <img class="img-fluid" src="img/review_img.png" />
                        </div>
                        <div class="button-section">
                            <h5>Write about your experiences</h5>
                            <a type="button" href="#write_review" class="btn">Write Review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<section class="space-details">
    <div class="container hideOnMobile breadcrumb_area">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/co-living/']">Co Living</a></li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">{{ workspace.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- banner and social share -->
    <div class="relative" *ngIf="!loading">
        <app-social-share class="hideOnMobile" *ngIf="workspace" [title]="workspace.name" [description]="workspace.description" [image]="shareImageUrl">
        </app-social-share>

        <app-workspace-banner *ngIf="workspace && workspace.images.length" [images]="workspace.images" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name" [favoriteOption]="false">
        </app-workspace-banner>

        <app-workspace-banner-blank *ngIf="workspace && !workspace.images.length" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
        </app-workspace-banner-blank>
    </div>

    <!-- mobile breadcrumb -->
    <div class="container onlyMobile pt-3 breadcrumb_area">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/co-living/']">
                Co Living
              </a>
                        </li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">{{ workspace.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container space_details_page">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div *ngIf="!loading && workspace">
                    <div [@scrollAnimation]="isStickyHeaderVisible" [class.fixed-header]="isStickyHeaderVisible === visibilityState.Visible" class="sections section-1 space_title_area">
                        <div class="row">
                            <div class="col-md-8 col-8">
                                <h1>{{ workspace.name }}</h1>
                                <p class="address">
                                    <i class="fa-solid fa-location-dot"></i> {{ workspace.location.address }}
                                </p>
                            </div>
                            <div class="col-md-4 col-4 mt-2 mb-2 rating_star_col">
                                <ng-template [ngIf]="rating===0 && !userReview">
                                    <button class="bfrReview" (click)="openModal()">Write a review</button>
                                </ng-template>
                                <ng-template [ngIf]="rating>0">
                                    <span class="forRating">
                        <app-star-rating (click)="scrollOnRating()"
                        *ngIf="rating>0"
                        [rating]='rating'></app-star-rating>
                        </span>
                                </ng-template>
                            </div>
                        </div>
                        <div *ngIf="isStickyHeaderVisible === visibilityState.Visible" class="price"><span>Monthly Rent</span><i class="fa-solid fa-indian-rupee-sign"></i> {{ (workspace.starting_price).toLocaleString('en-IN') }}<small>/{{ workspace.price_type }}</small>
                        </div>
                    </div>

                    <!-- ----------------------- -->
                    <!-- <div class="row onlyMobile pb-2 premium_tagline">
                        <div class="col-12">
                            <p>Premium Coliving Destination for Millennials</p>
                        </div>
                    </div> -->

                    <!-- facilities-points for mobile -->

                    <div class="facilities-points mt-2 onlyMobile">
                        <div class="row">
                            <div class="col-6">
                                <div class="icon_box">
                                    <img alt="" src="../../../../assets/images/housekeeping-Icon.png" class="img-fluid">
                                    <h4>Regular Cleaning</h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="icon_box">
                                    <img alt="" src="../../../../assets/images/wi-fi-high.png" class="img-fluid">
                                    <h4>High Speed WiFi</h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="icon_box">
                                    <img alt="" src="../../../../assets/images/comfy-Bed.png" class="img-fluid">
                                    <h4>Comfy Beds</h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="icon_box">
                                    <img alt="" src="../../../../assets/images/heart-Icon.png" class="img-fluid">
                                    <h4>Food & Bevarages</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- hide on mobile view -->
                    <div class="covid-info hideOnMobile">
                        <p><img alt="Sanitized Spaces" src="/assets/images/amenities/sanitizer.svg" width="35"> Fully sanitized</p>
                        <p><img alt="CoFynd Zero Brokerage" src="/assets/images/amenities/cash.svg" width="30"> zero brokerage </p>
                        <p><img alt="CoFynd Trusted Partner" src="/assets/images/amenities/trusted.svg" width="30"> Trusted space</p>
                    </div>

                    <!-- hide on mobile view -->
                    <div class="facility-list hideOnMobile">
                        <ul class="row">
                            <li class="col-6">
                                Type
                                <span>{{ workspace.other_detail.type_of_co_living }}</span>
                            </li>
                            <li class="col-6">
                                <span class="monthy_weight" *ngIf="workspace.duration == 'month'">Monthly Rent</span>
                                <span *ngIf="workspace.duration == 'year'">Yearly Rent</span>
                                <span *ngIf="workspace.other_detail && workspace.other_detail.rent_per_bed"><i class="fa-solid fa-indian-rupee-sign"></i>{{ (workspace?.other_detail?.rent_per_bed).toLocaleString('en-IN') }}</span>
                            </li>
                            <li class="col-6">
                                Deposit
                                <span>{{ checkAmenityIsAvailable('Deposit') ? 'Yes' : 'No' }}</span>
                            </li>
                            <li class="col-6">
                                Food & Bevarages
                                <span>{{ workspace.other_detail.food_and_beverage }}</span>
                            </li>
                        </ul>
                    </div>
                    <!-- ------------------------------------------------------ -->
                    <div *ngIf="workspace.description" class="sections about-section pt-4">
                        <!-- <h2 class="hideOnMobile">About this property</h2> -->
                        <h2>About this property</h2>
                        <!-- <h2 class="onlyMobile">About property</h2> -->
                        <p class="hideOnMobile" [innerHTML]="workspace.description">
                        </p>
                        <div class="hideOnweb">
                            <p class="mobileabout" [innerHTML]="workspace.description" *ngIf="seeMore; else hide">
                            </p>
                            <ng-template #hide>
                                <p [innerHTML]="workspace.description"> </p>
                            </ng-template>

                            <p (click)="toggleAboutMore()" class="see_more mt-1">{{seeMore? "See More":"See Less"}}</p>
                        </div>
                        <!-- <div class="row buttonOnMobile"
              (click)="toggleAmenitiesDiv()">
              <div class="col-12">
                <button class="btn btn-block bg-white">
                  show {{haftAmenities? "all": "less" }} amenities
                </button>
              </div>
            </div> -->
                    </div>

                    <!-- Pricing Plans -->
                    <div class="sections price_area">
                        <h2>Pricing Plans</h2>
                        <div class="plan-list row">
                            <ng-container *ngIf="workspace.coliving_plans.length > 0">
                                <div class="col-md-12 col-6" *ngFor="let plan of workspace.coliving_plans">
                                    <div class="box price_box" (click)="openEnquireModal()">
                                        <div class="img">
                                            <img [src]="plan?.planId?.icons?.s3_link" alt="">
                                        </div>
                                        <h4 class="text-capitalize">{{plan.planId.name}}</h4>
                                        <p class="hideOnMobile">{{plan.planId.description}}</p>
                                        <div class="action-box">
                                            <div class="price">
                                                <span class="hideOnMobile">starting</span>
                                                <div>
                                                    {{ plan.price | currency: workspace.currency_code : 'symbol' : '1.0-0' }}
                                                    <small *ngIf="!plan.duration" class="small_text">/month</small>
                                                    <small *ngIf="plan?.duration" class="small_text">/{{plan.duration}}</small>
                                                </div>
                                            </div>
                                            <button type="button" (click)="openEnquireModal()" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}' class="btn-link enquireButton hideOnMobile">Enquire<small
          class="icon-next fas fa-angle-right"></small></button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <!-- <div class="col-md-12 col-6" *ngIf="workspace.price.double_sharing">
                  <div class="box" (click)="openEnquireModal()">
                      <div class="img">
                          <img [src]="'/assets/images/amenities/double-sharing.svg'" alt="">
                      </div>
                      <h4 class="text-capitalize">Double Sharing</h4>
                      <p class="hideOnMobile">It is the Basic plan include only residences</p>
                      <div class="action-box">
                          <div class="price">
                              <span class="hideOnMobile">starting*</span>
                              <div>
                                  {{ workspace.price.double_sharing | currency: workspace.currency_code }}
                                  <small>/month*</small>
                              </div>
                          </div>
                          <button type="button" (click)="openEnquireModal()" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}' class="btn-link enquireButton hideOnMobile">Enquire<small
          class="icon-next fas fa-angle-right"></small></button>
                      </div>
                  </div>
              </div>

              <div class="col-md-12 col-6" *ngIf="workspace.price.triple_sharing">
                  <div class="box" (click)="openEnquireModal()">
                      <div class="img">
                          <img [src]="'/assets/images/amenities/triple-sharing1.jpg'" alt="">
                      </div>
                      <h4 class="text-capitalize">Triple Sharing</h4>
                      <p class="hideOnMobile">It is the Basic plan include only residences</p>
                      <div class="action-box">
                          <div class="price">
                              <span class="hideOnMobile">starting*</span>
                              <div>
                                  {{ workspace.price.triple_sharing | currency: workspace.currency_code }}
                                  <small>/month*</small>
                              </div>
                          </div>
                          <button type="button" (click)="openEnquireModal()" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}' class="btn-link enquireButton hideOnMobile">Enquire<small
          class="icon-next fas fa-angle-right"></small></button>
                      </div>
                  </div>
              </div>

              <div class="col-md-12 col-6" *ngIf="workspace.price.studio_apartment">
                  <div class="box" (click)="openEnquireModal()">
                      <div class="img">
                          <img [src]="'/assets/images/amenities/studio-apartment.svg'" alt="">
                      </div>
                      <h4 class="text-capitalize">studio apartment</h4>
                      <p class="hideOnMobile">It is the Basic plan include only residences</p>
                      <div class="action-box">
                          <div class="price">
                              <span class="hideOnMobile">starting*</span>
                              <div>
                                  {{ workspace.price.studio_apartment | currency: workspace.currency_code }}
                                  <small>/month*</small>
                              </div>
                          </div>
                          <button type="button" (click)="openEnquireModal()" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}' class="btn-link enquireButton hideOnMobile">Enquire<small
          class="icon-next fas fa-angle-right"></small></button>
                      </div>
                  </div>
              </div> -->

                        </div>

                        <!-- only for mobile -->
                        <div class="row onlyMobile" (click)="openEnquireModal()">
                            <div class="col-12">
                                <button class="btn btn-block bg-white" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}'>
    Enquire
  </button>
                            </div>
                        </div>
                    </div>


                    <div class="sections hideOnMobile">
                        <h2>Property Amenities</h2>
                        <ul class="amenity-list">
                            <li *ngFor="let amenity of workspace.amenties">
                                <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                            </li>
                        </ul>
                    </div>

                    <!-- working, will add slider -->
                    <div class="section pt-5 pb-5 onlyMobile sleep_area" *ngIf="!workspace.sleepimg">
                        <h2>Where you'll sleep</h2>
                        <div class="row">
                            <div class="col-6">
                                <div class="sleep_box">
                                    <div class="sleep_bad_img"><img [src]="workspace.images[1].image.s3_link" class="img-fluid d-block"></div>
                                    <div class="sleep_bad_content">
                                        <h4 class="mb-0 mt-2">Bedroom</h4>
                                        <p class="mb-0">Twin/Single Bed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ---------------------------->

                    <!-- working, will add slider -->
                    <div class="section pt-5 pb-5 onlyMobile sleep_area" *ngIf="workspace.sleepimg">
                        <h2>Where you'll sleep</h2>
                        <div class="row">
                            <div class="col-6">
                                <div class="sleep_box">
                                    <div class="sleep_bad_img"><img [src]="workspace.sleepimg.s3_link" class="img-fluid d-block"></div>
                                    <div class="sleep_bad_content">
                                        <h4 class="mb-0 mt-2">Bedroom</h4>
                                        <!-- <p class="mb-0">Twin/Single Bed</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ---------------------------->

                    <div class="sections onlyMobile offers_section">
                        <h2>What this place offers</h2>
                        <ul class="amenity-list">
                            <ng-container *ngIf="haftAmenities; else fullAmenities">
                                <li *ngFor="let amenity of workspace.amenties.slice(0,8)">
                                    <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                </li>
                            </ng-container>

                            <ng-template #fullAmenities>
                                <li *ngFor="let amenity of workspace.amenties">
                                    <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                </li>
                            </ng-template>
                        </ul>
                        <div class="row buttonOnMobile" (click)="toggleAmenitiesDiv()">
                            <div class="col-12">
                                <button class="btn btn-block bg-white">
                  show {{haftAmenities? "all": "less" }} amenities
                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sections pt-5 location_area">
                    <div class="metro-detail hideOnMobile" *ngIf="!loading && workspace && workspace.location.metro_detail.is_near_metro">
                        <p>
                            <i class="metro-icon"></i>Nearest Metro <span>{{ workspace.location.metro_detail.name }}</span>
                        </p>
                        <p *ngIf="workspace.location.shuttle_point.is_near">
                            <i class="shuttle-icon"></i>Walking Distance from
                            <span>{{ workspace.location.shuttle_point.name }}</span>
                        </p>
                    </div>
                    <h2 class="hideOnMobile">Location</h2>
                    <h2 class="onlyMobile mb-1">You'll be here</h2>
                    <p *ngIf="workspace">
                        {{ workspace.location.address }}
                    </p>
                    <!-- <div #workspaceMap class="map-container">
                    </div> -->
                    <div *ngIf="options.zoom" style="height: 200px;" leaflet [leafletOptions]="options" [leafletLayers]="markers">
                    </div>
                </div>
                <div class="onlyMobile">
                    <p style="font-weight: 300;">Prime location with 24*7 surveillance</p>
                </div>

                <!-- for Mobile -->
                <div class="metro-detail onlyMobile mb-5" *ngIf="!loading && workspace && workspace.location.metro_detail.is_near_metro">
                    <p class="P-heading">Nearest Metro &amp; Shuttl</p>
                    <div class="row">
                        <div class="col-6 pr-0">
                            <p>
                                <i class="metro-icon"></i>Nearest Metro <span>{{ workspace.location.metro_detail.name }}</span>
                            </p>
                        </div>
                        <div class="col-6 pr-0 pl-0" *ngIf="workspace.location.shuttle_point.is_near">
                            <p>
                                <i class="shuttle-icon"></i>Walking Distance from
                                <span>{{ workspace.location.shuttle_point.name }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <app-static-review></app-static-review> -->
            </div>
            <div *ngIf="!loading && workspace" class="col-lg-4 col-md-12 enquiry-box-wrapper" [class.enquiry-modal]="isEnquireModal">
                <app-workspace-enquire [isSticky]="isSticky" [enquiryType]="enquiryType" [shouldReload]="shouldReloadEnquiryForm" [workSpaceId]="workspace.id" [isOfficeEnquiry]="true" (backButtonClick)="closeEnquireModal()">
                </app-workspace-enquire>
            </div>
        </div>

        <div class="row pt-4 similar_spaces_area">
            <div class="col-md-12">
                <div class="sections no-border">
                    <h2 class="hideOnMobile">Similar Properties</h2>
                    <app-co-living-similar *ngIf="!loading && workspace" [workSpaceId]="workspace.id" [address]="workspace.location.address">
                    </app-co-living-similar>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mobile-ftr-contact bg-white pb-0 pt-0 onlyMobile">
    <div class="container" *ngIf="!loading && workspace">
        <div class="row">
            <div class="col-6 bottomPrize">
                <p class="mb-0 mt-0"><i class="fa-solid fa-indian-rupee-sign"></i><span> {{workspace.starting_price}}/month</span></p>
                <!-- <p class="mb-0 mt-0" style="font-weight:600;color:#4343e8;"><small>Single/Double Sharing</small></p> -->
            </div>
            <div class="col-6">
                <button class="btn btn-block mt-2 text-white" (click)="openEnquireModal()" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}'>
          Enquire Now
        </button>
            </div>
        </div>
    </div>
</section>

<!-- <div class="affix-action-btn">
  <a [href]="'tel:' + supportPhone"
    [appCustomEventAnalytics]='{"category":"CALL_ON_SUPPORT","action":"click", "label": "SUPPORT_PHONE_NUMBER"}'
    class="btn btn-primary">
    <i class="icon-phone"></i>
    {{supportPhone}}
  </a>
  <button type="button"
    class="btn btn-primary"
    [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}'
    (click)="openEnquireModal()">
    Enquire Now
  </button>
</div> -->