<section class="page_banner aboutus_banner">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 col-12 order-2 order-md-1 about_content_col">
        <div class="banner_content">
          <h2 class="site_title">Space Search Made Simple</h2>
          <h5 style="color: #1313E6;">Search . Book . Work . Live</h5>
          <p class="mobilehide tabhide">CoFynd is India's fastest growing online discovery platform for searching and booking Coworking and Co-living spaces. Our spaces boast of present-day amenities and reflect Freedom, Flexibility and Fulfillment completely in sync with the modern day millennial behavior</p>
        </div>
      </div>
      <div class="col-md-6 col-12 order-1 order-md-2">
        <div class="banner_img">
          <img
          lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/b7e009d99049b8364193915a78f81a82d2cbe6f2.jpg"
            alt="About Banner"
            class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grey-bg more_about_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="more_about_text">
          <p>CoFynd provides frictionless access to a network of more than 100,000 Coworking, Coliving and Private Office Spaces in over 25+ cities of India and expanding. We serve as an online discovery and booking platform leveraging easy availability and convenience anytime and anywhere. With our unmatched technology powered by T9L and expert support team, we make your space journey a smooth one, an experience to cherish.</p>
        </div>
      </div>
      <div class="col-md-6 mobilehide">
        <img
        lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/df315865c1684c841af06402fcfecd52d632f4cb.png"
          alt="Dot Pattern"
          class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="about_network_area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="network_content_box">
          <h3 class="site_title left_divider title_divider">The CoFynd Network</h3>
          <p>The CoFynd network includes more than 100,000+ verified work and living spaces in 25+ cities across India located in top neighborhood and available on complete flexible terms. Cofynd is India’s fastest growing discovery platform to find and book your perfect Space. And we have just started !</p>
        </div>
        <div class="counter_area">
          <div class="row">
            <div class="col-4">
              <div class="counter_item text-center">
                <p class="number">25+</p>
                <p class="title">Cities</p>
              </div>
            </div>
            <div class="col-4">
              <div class="counter_item text-center">
                <p class="number">1,000+</p>
                <p class="title">Locations</p>
              </div>
            </div>
            <div class="col-4">
              <div class="counter_item text-center">
                <p class="number">100,000+</p>
                <p class="title">Spaces</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mobilehide tabhide">
        <img
        lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/Cities-on-map.svg"
          alt="India Map"
          class="img-fluid">
      </div>
    </div>
  </div>
</section>


<section class="about_ondemand_sec about_image_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="text-start">
          <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b388fadeb7e73f0af340eaba465f658927aac7e.jpg" alt="In the Beginning" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <h6 class="tag_line">In the Beginning</h6>
        <h3 class="site_title left_divider title_divider">On-demand spaces to Work, Meet, and Live.</h3>
        <p>CoFynd was born when Atul realised a paradigm shift in the way people wanted to Work & Live. Many were leaving behind the traditional mundane offices to quirky Co-Working spaces and conventional living to community based Co-Living. With a solid vision in his mind, he implemented this platform with the technology partner in the country, T9L to fulfill the dynamic user needs.</p>
      </div>
    </div>
  </div>
</section>

<section class="about_flexible_sec about_image_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h6 class="tag_line">Expanding our Focus</h6>
        <h3 class="site_title left_divider title_divider">Flexible office space, without the distractions of coworking.
        </h3>
        <p>While we tap on more and more cities everyday, our constant aim remains to offer the highest quality of flexibility and privacy at each point. Our spaces speak loud of present-day amenities that are well suited for maximizing work efficiency and potential of the individuals.</p>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <div class="text-end">
          <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b388fadeb7e73f0af340eaba465f658927aac7e.jpg" alt="Expanding our Focus" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_globle_sec about_image_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="text-start">
          <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b388fadeb7e73f0af340eaba465f658927aac7e.jpg" alt="Today's CoFynd" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <h6 class="tag_line">Today's CoFynd</h6>
        <h3 class="site_title left_divider title_divider">A global network of flexible, private workspaces.</h3>
        <p>CoFynd is rapidly prospering with over 100,000+ live spaces in 25+ cities of India. With this, we have also tapped into the Coliving and Private Office Spaces recently. Like this, we aim to reach out and ease every individual's professional journey in searching the best workspace for himself.</p>
      </div>
    </div>
  </div>
</section>


<section class="team_section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-4">
          <h3 class="site_title title_divider">The CoFynd Knowledge Center</h3>
        </div>
      </div>
    </div>
    <div class="row team_slider">
      <div class="col-md-3 col-6">
        <div class="team_box">
          <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/abee4b290476abeb158d14d990b4fa8f1b4bdd51.jpg" alt="Atul Gupta" class="img-fluid">
          <div class="team_bio">
            <h4>Atul Gupta</h4>
            <p>Founder & CEO</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="team_box">
          <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a12d6f9a08c5c9eaec1c39da3231a6275d52567c.jpg" alt="Harpreet" class="img-fluid">
          <div class="team_bio">
            <h4>Harpreet</h4>
            <p>Mentor & Advisor</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="team_box">
          <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a1161dc4edd3a32f4206437b1df1ad8b85103b82.jpg" alt="Mr. V Kishan" class="img-fluid">
          <div class="team_bio">
            <h4>Mr. V Kishan</h4>
            <p>Mentor & Advisor</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="team_box">
          <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fbdb722d211d553bca8184d3405f8f28fce2baa8.jpg" alt="T9L" class="img-fluid">
          <div class="team_bio">
            <h4>T9L</h4>
            <p>Technology Partner</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="home_client_sec">
  <app-our-clients></app-our-clients>
</div>



<section class="join_team_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8">
        <div class="cta_content">
          <h4>Join our team</h4>
          <p class="mobilehide">CoFynd is striving hard to offer perfect work and living spaces across India. Want to
            join this amazing team? Apply now at hello@cofynd.com</p>
          <button routerLink="/contact-us" class="btn site_btn border_btn">Connect With Us</button>
        </div>
      </div>
      <div class="col-4 text-center">
        <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/2f9cdfe89c6d0d347d62d808215d091f3311f35f.png" alt="Join our team" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="cofynd_desk_sec home_cofynd_desk">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cofynd-desk text-center">
          <img style="max-height: 200px;"
          lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/727de738fd2725e2045d19ac44a5873f25919b36.png"
            alt="What's the CoFynd Desk">
          <h4>What's the CoFynd Desk?</h4>
          <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything
            in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd
            community Breathe, Connect and Climb
            to their highest in life.</p>
          <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faqs_area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-center mb-4">
                  <h3 class="site_title title_divider">Frequently Asked Questions</h3>
              </div>
          </div>
          <div class="col-md-12">
              <accordion [isAnimated]="true" class="faqs_accordion">
                  <accordion-group>
                      <h4 accordion-heading>Who is the CEO of Cofynd?</h4>
                      <p>Atul Gupta is the CEO of Cofynd which was launched in 2019 and he holds more than 20 years of experience in the Prop-tech, Investments, Real Estate Acquisitions.</p>
                  </accordion-group>
                  <accordion-group>
                      <h4 accordion-heading>What services are offered by Cofynd?</h4>
                      <p>Cofynd offers a premium range of services such as coworking spaces, coliving spaces, virtual offices & private offices on rent  across India.</p>
                  </accordion-group>
                  <accordion-group>
                      <h4 accordion-heading>Is listing a property on Cofynd paid or free?</h4>
                      <p>A big YES, listing a property space with Cofynd is Free, Fast, and Super Easy.</p>
                  </accordion-group>
                  <accordion-group>
                      <h4 accordion-heading>Does Cofynd charge any brokerage fee to book any space for rent?</h4>
                      <p>No, Cofynd does not charge any brokerage fees from its customers to book any space for rent.</p>
                  </accordion-group>
                  <accordion-group>
                      <h4 accordion-heading>Does Cofynd offer offline support?</h4>
                      <p>Yes, our team at Cofynd provides excellent offline support to its clients and tries to resolve their issues within 48 hours of time.</p>
                  </accordion-group>
                  <accordion-group>
                      <h4 accordion-heading>In which cities, Cofynd is offering its services?</h4>
                      <p>Cofynd offers its premium services across the India in cities such as Bangalore, Gurugram, Chennai, Mumbai, Ahmedabad, Chandigarh, Jaipur, etc.</p>
                  </accordion-group>
                  <accordion-group>
                      <h4 accordion-heading>What brand names have collaborated with Cofynd?</h4>
                      <p>Cofynd has collaborated with well-known brands such as WeWork, Innov8, The Tribe, 91Springboard, Awfis, InstaOffice, Colive, and more.</p>
                  </accordion-group>
              </accordion>
          </div>
      </div>
  </div>
</section>