<section class="banner about_banner">
  <div class="banner-bg desktophide"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="banner-content">
          <h1>Space Search Made Simple <br>Search . Book . Work . Live</h1>
          <p>CoFynd is India's fastest growing online discovery platform for searching and
            booking Coworking and Co-living spaces. Our spaces boast of present-day
            amenities and reflect Freedom, Flexibility and Fulfillment completely in
            sync with the modern day millennial behavior</p>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-bg mobilehide"></div>
</section>
<section class="about-us-description">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-justify">CoFynd provides frictionless access to a network of more than 25,000 Coworking, Coliving
          and Private Office
          Spaces in over 18 cities of India and expanding. We serve as an online discovery and booking platform
          leveraging easy availability and convenience anytime and anywhere. With our unmatched technology powered by
          T9L and expert support team, we make your space journey a smooth one, an experience to cherish.</p>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>
          <span>In the Beginning</span>
          On-demand spaces to Work, Meet, and Live.
        </h3>
        <p class="text-justify">CoFynd was born when Atul realised a paradigm shift in the way people wanted to Work &
          Live. Many were
          leaving behind the traditional mundane offices to quirky Co-Working spaces and conventional living to
          community based Co-Living. With a solid vision in his mind, he implemented this platform with the technology
          partner in the country, T9L to fulfill the dynamic user needs.</p>
      </div>
      <div class="col-md-6">
        <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3873d1ee85cd712bce23593138f32a3c71818081.jpg"
          alt="">
      </div>
    </div>
  </div>
</section>
<section class="content-section grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1d54b19bb7e79402503766e642b38aeee0fdbfe3.jpg"
          alt="">
      </div>
      <div class="col-md-6">
        <h3>
          <span>Expanding our Focus</span>
          Flexible office space, without the distractions of coworking.
        </h3>
        <p class="text-justify">While we tap on more and more cities everyday, our constant aim remains to offer the
          highest quality of
          flexibility and privacy at each point. Our spaces speak loud of present-day amenities that are well suited for
          maximizing work efficiency and potential of the individuals.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>
          <span>Today's CoFynd</span>
          A global network of flexible, private workspaces.
        </h3>
        <p class="text-justify">CoFynd is rapidly prospering with over 25,000 live spaces in 18 cities of India. With
          this, we have also
          tapped into the Coliving and Private Office Spaces recently. Like this, we aim to reach out and ease every
          individual's professional journey in searching the best workspace for himself.</p>
      </div>
      <div class="col-md-6">
        <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ba3ca21638764b988647af7b56a013e2e2d65184.jpg"
          alt="">
      </div>
    </div>
  </div>
</section>

<app-team-carousel></app-team-carousel>

<section class="our-network content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="page-title">
            <h2>The CoFynd Network</h2>
        </div>
        <!-- <h3>The CoFynd Network</h3> -->
        <p class="text-justify">The CoFynd network includes more than 25,000 verified work and living spaces in 18+ cities across India
          located in top neighborhood and available on complete flexible terms. Cofynd is India’s fastest growing
          discovery platform to find and book your perfect Space. And we have just started !</p>
        <a routerLink="/contact-us"
          class="btn btn-primary">Contact our Expert</a>
      </div>
      <div class="col-md-6">
        <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a2f6a2402af2535e241ce28ed521758125554dc8.jpg">
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="join-team-band">
          <div class="row">
            <div class="col-md-9">
              <h4>Join our team</h4>
              <p>CoFynd is striving hard to offer perfect work and living spaces across India. <br />Want to join this amazing
                team? Apply now at <a href="mailto:hello@cofynd.com">hello@cofynd.com</a></p>
            </div>
            <div class="col-md-3 d-flex align-items-center">
              <a routerLink="/contact-us"
                class="btn btn-primary">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="cofynd-desk text-center">
          <img style="max-height: 200px;"
            src="/assets/images/about-us/work-desk.png"
            alt="">
          <h4>What's the CoFynd Desk ?</h4>
          <p>CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we
            grow, we think of ourselves as creating a shared Ecosystem, one that lets the
            Cofynd community Breathe, Connect and Climb to their highest in life.</p>
          <p class="link-text text-center">- Atul Gupta, Founder & CEO</p>
          <div class="space-btn pb-5">
            <p class="live-spaces-button p-2 text-center text-white"><span class="pr-2">India </span>|
              <span class="pl-2 pr-2">Singapore </span>| <span class="pl-2 pr-2">Dubai</span>
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="join-team-band">
          <div class="row">
            <div class="col-md-9">
              <h4>Join our team</h4>
              <p>CoFynd is striving hard to offer perfect work and living spaces across India. <br />Want to join this amazing
                team? Apply now at <a href="mailto:hello@cofynd.com">hello@cofynd.com</a></p>
            </div>
            <div class="col-md-3 d-flex align-items-center">
              <a routerLink="/contact-us"
                class="btn btn-primary">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cofynd_desk_sec">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="cofynd-desk text-center">
                  <img style="max-height: 200px;" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c73da7d3135107aeb381095d5913bc54c77d5c4d.png" alt="">
                  <h4>What's the CoFynd Desk ?</h4>
                  <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd community Breathe, Connect and Climb
                      to their highest in life.</p>
                  <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
                  <!-- <div class="space-btn pb-5">
                      <p class="live-spaces-button p-2 text-center text-white "><span class="pr-2">India </span>|
                          <span class="pl-2 pr-2">Singapore </span>| <span class="pl-2 pr-2">Dubai</span>
                      </p>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</section>