<section class="page_banner office_space_banner mobilehide">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 order-2 order-md-1">
                <div class="banner_content">
                    <h1 class="site_title">Find the Best <br /><span style="color: #1313E6;">Office Spaces</span> in
                        India</h1>
                    <p>Find office space that supports your business in a conducive setting. Attentively designed
                        workspaces providing flexible and effective working environments.</p>
                    <div class="city-list">
                        <button *ngFor="let city of officeCities"
                            [routerLink]="city.name.toLowerCase()">
                            <img [lazyLoad]="city?.icon?.s3_link"
                                [alt]="city.name" /> {{ city.name }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 order-1 order-md-2">
                <div class="banner_img">
                    <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/2b908e60b1582e6965c02a9b404f12b91f065760.jpg"
                        alt="Office Space Banner"
                        class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="innerpage_banner desktophide"
    style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/2b908e60b1582e6965c02a9b404f12b91f065760.jpg');">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="banner_content">
                    <h1 class="text-light text-center">Find The Best Office Spaces in India</h1>
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <select class="form-control"
                                        (change)="openCityListing($event.target.value)"
                                        id="exampleFormControlSelect1">
                                        <option value="">Select City</option>
                                        <option *ngFor="let city of officeCities"
                                            [value]="city.name">{{removedash(city.name) | titlecase}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="near-vitual-office best_officespace_near desktophide"
    *ngIf="offices && offices.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Best Office Space Near You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="space_carousel">
                    <div class="property_item"
                        *ngFor=" let _centerCity of offices"
                        [routerLink]="['/office-space/rent/', _centerCity.slug]">
                        <div class="property-img">
                            <img [lazyLoad]="_centerCity.images[0].image.s3_link"
                                alt="CoworkInsta"
                                class="img-fluid">
                        </div>
                        <div class="property-dis">
                            <h4>{{_centerCity.name}}</h4>
                            <p class="address"><img lazyLoad="../../../../assets/images/icons/location-icon.svg"
                                    alt="Location"
                                    class="img-fluid"> {{_centerCity.location.address}}</p>
                            <div class="amenities_card">
                                <p class="capacity">
                                    <img lazyLoad="assets/images/amenities/wifi.svg"
                                        alt="wifi"> High speed WiFi
                                </p>
                                <p class="capacity"><img alt="Flexible Lease"
                                        class="img-fluid"
                                        lazyLoad="assets/images/icons/flexible-lease-icon.svg"> Flexible Lease</p>
                            </div>
                        </div>
                        <div class="property-foot align-items-end">
                            <div class="price"><span class="rent_title">Rent</span>{{
                                (_centerCity.other_detail.area_for_lease_in_sq_ft *
                                _centerCity.other_detail.rent_in_sq_ft).toLocaleString('en-IN') }}/- <span>month</span>
                            </div>
                            <div class="button"><a [routerLink]="['/office-space/rent/', _centerCity.slug]"
                                    tabindex="0">Explore More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="facilities_sec office_facilities">
    <div class="container">
        <div class="row desktophide">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Amenities you will get</h2>
                </div>
            </div>
        </div>
        <div class="row amenities_row">
            <div class="col-md-4 col-4"
                *ngFor="let data of service">
                <div class="icon_item mb-5">
                    <img [lazyLoad]="'../../../assets/images/'+data.icon"
                        class="img-fluid d-block"
                        [alt]="data.title">
                    <h4>{{data.title}}</h4>
                    <p class="mobilehide">{{data.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choosewithcofynd_sec office_choose_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Find a Office Space With CoFynd</h2>
                </div>
            </div>
        </div>
        <div class="row choose_item_slider mt-2">
            <div class="col-md-4"
                *ngFor="let data of chooseOffice">
                <div class="left_icon_box2">
                    <div class="icon">
                        <img [lazyLoad]="'../../../assets/images/'+data.icon"
                            class="img-fluid d-block"
                            [alt]="data.title">
                    </div>
                    <div class="content">
                        <h4>{{data.title}}</h4>
                        <p class="mobilehide tabhide">{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="curated_section office_curated_office desktophide">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Curated Office Space For You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item"
                        (click)="onClick('raw')">
                        <div class="curated-img">
                            <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/cfd31a363339982b0669301c5214fc454ec5529e.jpg"
                                alt="Raw Office"
                                class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Raw Office</h4>
                        </div>
                        <a type="button"
                            data-toggle="modal"
                            data-target="#curated_coliving"
                            class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item"
                        (click)="onClick('fully-furnished')">
                        <div class="curated-img">
                            <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0e3dbfd1e6e359cc6ca02cbbbc072feac17ef5e2.jpg"
                                alt="Furnished Office"
                                class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Furnished Office</h4>
                        </div>
                        <a type="button"
                            data-toggle="modal"
                            data-target="#curated_coliving"
                            class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item"
                        (click)="onClick('build-to-suite')">
                        <div class="curated-img">
                            <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/158e89700617ca5cc7e3399b81e5989855c45103.jpg"
                                alt="Built to Suit Office"
                                class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Built to Suit Office</h4>
                        </div>
                        <a type="button"
                            data-toggle="modal"
                            data-target="#curated_coliving"
                            class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Curated Coliving popup -->
<div class="modal fade"
    id="curated_coliving"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">Select City</h5>
                <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="coworking_cities">
                    <div class="city-left-box"
                        *ngFor="let city of officeCities">
                        <div class="cities-icon-item">
                            <div class="cities-img">
                                <img [lazyLoad]="city?.image?.s3_link"
                                    alt="{{removedash(city.name) | titlecase}}"
                                    class="img-fluid">
                            </div>
                            <div class="cities-icon-content">
                                <h4>{{removedash(city.name) | titlecase}}</h4>
                            </div>
                            <a (click)="openWorkSpace(city.name)"
                                class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="top_virtualoffice_city mobilehide tabhide" *ngIf="popularOfficeSpaces.length">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Top Office Space Cities in India</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pt-2"
                *ngFor=" let _centerCity of popularOfficeSpaces | slice:0:1">
                <div class="top-city-item"
                    (click)="openWorkSpace(_centerCity?.location?.city?.name.toLowerCase())">
                    <div class="top-city-img main_city">
                        <img [lazyLoad]="_centerCity?.images[0]?.image?.s3_link"
                            class="img-fluid d-block m-auto" alt="Cities Image">
                    </div>
                    <div class="top-city-text">
                        <h4><i class="fas fa-map-marker-alt"></i> {{_centerCity?.location?.city?.name.toLowerCase()}}
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 p-2"
                        *ngFor="let _centerCity of popularOfficeSpaces | slice:1:7">
                        <div class="top-city-item"
                            style="cursor: pointer;"
                            (click)="openWorkSpace(_centerCity?.location?.city?.name.toLowerCase())">
                            <div class="top-city-img">
                                <img [lazyLoad]="_centerCity?.images[0]?.image?.s3_link"
                                    class="img-fluid d-block m-auto" alt="Cities Image">
                            </div>
                            <div class="top-city-text">
                                <h4><i class="fas fa-map-marker-alt"></i>
                                    {{_centerCity?.location?.city?.name.toLowerCase()}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cities_section desktophide" *ngIf="popularOfficeSpaces.length">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Top Office Space Cities</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="top_cities_carousel">
                    <div class="top-city-item"
                        *ngFor=" let _centerCity of popularOfficeSpaces">
                        <div class="top-city-img"
                            (click)="openWorkSpace(_centerCity?.location?.city?.name)">
                            <img [lazyLoad]="_centerCity.images[0]?.image?.s3_link"
                                class="img-fluid d-block m-auto" alt="Cities Image">
                        </div>
                        <div class="top-city-text"
                            (click)="openWorkSpace(_centerCity?.location?.city?.name)">
                            <h4>{{_centerCity?.location?.city?.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="for_email_sec mail_page_email">
    <div class="container"
        style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/397ce79a0f1dffa12d81542041292a85b8758ad0.png');">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <div class="for_email_content">
                    <h3>Find your Office Space with Cofynd</h3>
                    <p>Send us an email with your Office Space requirements – Area, Team Size, Location, Start Date …
                        and our office space experts will connect back within 24 Hrs with the best options.</p>
                    <p class="email_id align-items-center"><img [lazyLoad]="'assets/images/icons/email_id.svg'"
                            alt="Email Icon"> hello@cofynd.com</p>
                </div>
            </div>
            <div class="col-md-4 mobilehide">
                <div class="for_email_img">
                    <img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/cfb9eccbf93ad5602e7931f4c50c3f034157c9f8.png'"
                        alt="Email Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="office_top_properties office_gurugram_properties" *ngIf="spacesByCity.gurugram">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Office Space for Rent in Gurugram</h2>
                </div>
            </div>
        </div>

        <div class="row office_top_properties_slider" >
            <div class="col-lg-4 col-md-4 col-sm-6"
                *ngFor="let space of spacesByCity.gurugram | slice:0:6">
                <div class="property_item property_item2">
                    <div class="property-img">
                        <img [lazyLoad]="space?.images[0].image?.s3_link"
                            alt="Property Space Image"
                            class="img-fluid" (click)="goToLink(space?.slug)" style="cursor: pointer;">
                    </div>
                    <div class="property-dis" (click)="goToLink(space?.slug)" style="cursor: pointer;">
                        <h4 *ngIf="space.location.micro_location && space.location.city">Office Space for Rent in {{
                            space?.location?.micro_location?.name }}, {{ space?.location?.city?.name }} <br><span
                                class="builder_name">{{space?.other_detail?.building_name}}</span></h4>
                        <h4 *ngIf="!space.location.micro_location">Office Space for Rent in {{
                            space?.location?.city?.name }} <br><span
                                class="builder_name">{{space?.other_detail?.building_name}}</span></h4>
                        <p class="address"><img lazyLoad="../../../../assets/images/icons/location-icon.svg"
                                alt="Location"
                                class="img-fluid"> {{space?.location?.address}}</p>

                        <div class="row align-items-end">
                            <div class="col-md-6 col-6">
                                <p class="capacity">
                                    <img class="img-fluid"
                                        lazyLoad="assets/images/icons/flexible-lease-icon.svg"
                                        alt="Flexible Lease"> {{space.other_detail.area_for_lease_in_sq_ft}} Sq. Ft.
                                </p>
                                <p class="capacity mb-0">
                                    <img lazyLoad="assets/images/amenities/wifi.svg"
                                        alt="wifi"> High speed WiFi
                                </p>
                            </div>
                            <div class="col-md-6 col-6 justify-content-end d-flex">
                                <div class="price"><span class="rent_title">Rent</span>₹{{
                                    (space.other_detail.area_for_lease_in_sq_ft *
                                    space.other_detail.rent_in_sq_ft).toLocaleString('en-IN') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="property-foot align-items-end">
                        <div class="button">
                            <a (click)="goToLink(space?.slug)"
                                target="_blank"
                                tabindex="0">Explore More</a>
                        </div>
                        <div class="button">
                            <a type="button"
                                (click)="getQuote(space)"
                                data-toggle="modal"
                                data-target="#exampleModal">Get Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="all_properties_show"
                routerLink="/office-space/rent/gurugram"><button class="text_btn">Show More</button></div>
        </div>
    </div>
</section>


<section class="gradient_cta_sec officespace_cta1">
    <div class="container">
        <div class="row align-items-center"
            style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3a71d5686abcc4cb8058d1bcb9c583b5c6d57d8c.jpg');">
            <div class="col-8">
                <div class="cta_content">
                    <h4>Get the Perfect Office Spaces in Your City</h4>
                    <p class="mobilehide">Bangalore | Hyderabad | Mumbai | Pune | Delhi | Noida | Gurgaon & More...</p>
                    <a (click)="scrollToElement(target)"
                        class="btn site_btn border_btn">Enquire Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="office_top_properties office_delhi_properties" *ngIf="spacesByCity.delhi">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Office Space for Rent in Delhi</h2>
                </div>
            </div>
        </div>

        <div class="row office_top_properties_slider">
            <div class="col-lg-4 col-md-4 col-sm-6"
                *ngFor="let space of spacesByCity.delhi | slice:0:6">
                <div class="property_item property_item2">
                    <div class="property-img">
                        <img [lazyLoad]="space?.images[0].image?.s3_link"
                            alt="Property Space Image"
                            class="img-fluid" (click)="goToLink(space?.slug)" style="cursor: pointer;">
                    </div>
                    <div class="property-dis" (click)="goToLink(space?.slug)" style="cursor: pointer;">
                        <h4 *ngIf="space.location.micro_location && space.location.city">Office Space for Rent in {{
                            space?.location?.micro_location?.name }}, {{ space?.location?.city?.name }} <br><span
                                class="builder_name">{{space?.other_detail?.building_name}}</span></h4>
                        <h4 *ngIf="!space.location.micro_location">Office Space for Rent in {{
                            space?.location?.city?.name }} <br><span
                                class="builder_name">{{space?.other_detail?.building_name}}</span></h4>
                        <p class="address"><img lazyLoad="../../../../assets/images/icons/location-icon.svg"
                                alt="Location"
                                class="img-fluid"> {{space?.location?.address}}</p>

                        <div class="row align-items-end">
                            <div class="col-md-6 col-6">
                                <p class="capacity">
                                    <img class="img-fluid"
                                        lazyLoad="assets/images/icons/flexible-lease-icon.svg"
                                        alt="Flexible Lease"> {{space.other_detail.area_for_lease_in_sq_ft}} Sq. Ft.
                                </p>
                                <p class="capacity mb-0">
                                    <img lazyLoad="assets/images/amenities/wifi.svg"
                                        alt="wifi"> High speed WiFi
                                </p>
                            </div>
                            <div class="col-md-6 col-6 justify-content-end d-flex">
                                <div class="price"><span class="rent_title">Rent</span>₹{{
                                    (space.other_detail.area_for_lease_in_sq_ft *
                                    space.other_detail.rent_in_sq_ft).toLocaleString('en-IN') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="property-foot align-items-end">
                        <div class="button">
                            <a (click)="goToLink(space?.slug)"
                                target="_blank"
                                tabindex="0">Explore More</a>
                        </div>
                        <div class="button">
                            <a type="button"
                                (click)="getQuote(space)"
                                data-toggle="modal"
                                data-target="#exampleModal">Get Quote</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="all_properties_show"
                routerLink="/office-space/rent/delhi"><button class="text_btn">Show More</button></div>
        </div>
    </div>
</section>


<section class="gradient_cta_sec officespace_cta2">
    <div class="container">
        <div class="row align-items-center"
            style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fe5cb8e6ccbfd6d114c9e0c9c7783e04246442be.jpg');">
            <div class="col-8">
                <div class="cta_content">
                    <h4>Customize Office Spaces as per <br>your need</h4>
                    <a (click)="scrollToElement(target)"
                        class="btn site_btn border_btn">Enquire Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="office_top_properties office_noida_properties" *ngIf="spacesByCity.noida">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Office Space for Rent in Noida</h2>
                </div>
            </div>
        </div>

        <div class="row office_top_properties_slider" >
            <div class="col-lg-4 col-md-4 col-sm-6"
                *ngFor="let space of spacesByCity.noida | slice:0:6">
                <div class="property_item property_item2">
                    <div class="property-img">
                        <img [lazyLoad]="space?.images[0].image?.s3_link"
                            alt="Property Space Image"
                            class="img-fluid" (click)="goToLink(space?.slug)" style="cursor: pointer;">
                    </div>
                    <div class="property-dis" (click)="goToLink(space?.slug)" style="cursor: pointer;">
                        <h4 *ngIf="space.location.micro_location && space.location.city">Office Space for Rent in {{
                            space?.location?.micro_location?.name }}, {{ space?.location?.city?.name }} <br><span
                                class="builder_name">{{space?.other_detail?.building_name}}</span></h4>
                        <h4 *ngIf="!space.location.micro_location">Office Space for Rent in {{
                            space?.location?.city?.name }} <br><span
                                class="builder_name">{{space?.other_detail?.building_name}}</span></h4>
                        <p class="address"><img lazyLoad="../../../../assets/images/icons/location-icon.svg"
                                alt="Location"
                                class="img-fluid"> {{space?.location?.address}}</p>
                        <div class="row align-items-end">
                            <div class="col-md-6 col-6">
                                <p class="capacity">
                                    <img class="img-fluid"
                                        lazyLoad="assets/images/icons/flexible-lease-icon.svg"
                                        alt="Flexible Lease"> {{space.other_detail.area_for_lease_in_sq_ft}} Sq. Ft.
                                </p>
                                <p class="capacity mb-0">
                                    <img lazyLoad="assets/images/amenities/wifi.svg"
                                        alt="wifi"> High speed WiFi
                                </p>
                            </div>
                            <div class="col-md-6 col-6 justify-content-end d-flex">
                                <div class="price"><span class="rent_title">Rent</span>₹{{
                                    (space.other_detail.area_for_lease_in_sq_ft *
                                    space.other_detail.rent_in_sq_ft).toLocaleString('en-IN') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="property-foot align-items-end">
                        <div class="button">
                            <a (click)="goToLink(space?.slug)"
                                target="_blank"
                                tabindex="0">Explore More</a>
                        </div>
                        <div class="button">
                            <a type="button"
                                (click)="getQuote(space)"
                                data-toggle="modal"
                                data-target="#exampleModal">Get Quote</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="all_properties_show"
                routerLink="/office-space/rent/noida"><button class="text_btn">Show More</button></div>
        </div>
    </div>
</section>

<section class="our_brand_partner">
    <app-home-brand-list [shouldOtherBrandVisible]="true"
        [shouldCoWorkingVisible]="false">
    </app-home-brand-list>
</section>


<section class="cofynd_advantage_area office_advantage_area mobilehide">
    <div class="container">
        <div class="row"
            style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ae369baf5407686f76d0e217cb479582f86d24e0.jpg');">
            <div class="col-md-3 col-12">
                <h3>CoFynd Advantages</h3>
            </div>
            <div class="col-md-3 col-4"
                *ngFor="let data of coFyndAdvantages">
                <div class="advantage_item">
                    <div class="icon">
                        <img [lazyLoad]="'assets/images/'+data.icon"
                            class="img-fluid d-block"
                            [alt]="data.title">
                    </div>
                    <div class="content">
                        <h4>{{data.title}}</h4>
                        <p class="tabhide">{{data.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="query_from_sec officespace_query"
    #target>
    <div class="container">
        <div class="row mobilehide tabhide">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Yes, I'm interested in Office Space</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 mobilehide tabhide">
                <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/28ea3eaa2af7ac7991b576c496d9fbbe48267fa3.png"
                    class="img-fluid"
                    alt="Form Image">
            </div>

            <div class="col-md-6">
                <div class="virtual_query_form">
                    <div class="form_head">
                        <h3 class="desktophide">Yes, I'm interested in Office Space</h3>
                        <h3 class="mobilehide">Answers to your Office Space query</h3>
                    </div>

                    <div class="form_body">
                        <form [formGroup]="queryFormGroup"
                            (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img lazyLoad="../../../assets/images/icons/user-icon.svg"
                                            class="img-fluid"
                                            alt="User">
                                        <input type="text"
                                            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                                            formControlName="name"
                                            class="form-control"
                                            placeholder="Name*"
                                            required>
                                        <div *ngIf="submitted && f['name'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img lazyLoad="../../../assets/images/icons/email-icon.svg"
                                            class="img-fluid"
                                            alt="Email">
                                        <input type="email"
                                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                            formControlName="email"
                                            class="form-control"
                                            placeholder="Email*"
                                            required>
                                        <div *ngIf="submitted && f['email'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                                            <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 country_phone">
                                    <div class="input-group align-items-center">
                                        <img lazyLoad="../../../assets/images/icons/phone-icon.svg"
                                            class="img-fluid"
                                            alt="Phone">
                                        <div class="form-input icon_phone_field">
                                            <div class="flag-container">
                                                <div (click)="showcountry = !showcountry"
                                                    class="selected-flag">
                                                    <div class="flag in"
                                                        *ngIf="activeCountries && activeCountries.length">
                                                        <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                                        <span class="arrow arrow-up"><i
                                                                class="fa-solid fa-angle-down"></i></span>
                                                    </div>
                                                </div>
                                                <ul *ngIf="showcountry"
                                                    class="country-list">
                                                    <li (click)="hideCountry(country)"
                                                        *ngFor="let country of activeCountries"
                                                        class="country active"
                                                        tabindex="-1">
                                                        <div class="flag-box">
                                                            <div class="flag in"><img
                                                                    [lazyLoad]="country?.image?.s3_link"
                                                                    width="18px" alt="Flat" /></div>
                                                        </div>
                                                        <span class="country-name">{{country?.name}}</span>
                                                        <span class="dial-code">{{country?.dial_code}}</span>
                                                    </li>
                                                </ul>

                                                <input type="tel"
                                                    maxlength="10"
                                                    [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }"
                                                    formControlName="phone_number"
                                                    class="form-control"
                                                    placeholder="Phone*"
                                                    required>
                                                <div *ngIf="submitted && f['phone_number'].errors"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">
                                                        Please enter mobile number.</div>
                                                    <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile
                                                        number.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img lazyLoad="assets/images/icons/location-icon.svg"
                                            class="img-fluid"
                                            alt="Location">
                                        <select class="form-select"
                                            [ngClass]="{ 'is-invalid': submitted && f['city'].errors }"
                                            formControlName="city"
                                            class="form-control"
                                            placeholder="select city*"
                                            required
                                            aria-label="Default select example">
                                            <option value=""
                                                selected
                                                disabled
                                                style="display: none;">Select City*</option>
                                            <option [value]="city.name"
                                                *ngFor="let city of finalCities">{{city.name}}</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <div *ngIf="submitted && f['city'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f['city'].errors['required']">Please select your city.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12"
                                    *ngIf="ENQUIRY_STEP === ENQUIRY_STEPS.OTP">
                                    <div class="input-group align-items-center">
                                        <img lazyLoad="../../../assets/images/icons/phone-icon.svg"
                                            class="img-fluid"
                                            alt="Phone">
                                        <input type="tel"
                                            [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }"
                                            formControlName="otp"
                                            required
                                            class="form-control border-light"
                                            id="mobilenumber"
                                            placeholder="Otp*"
                                            aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['otp'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f['otp'].errors['required']">Please enter 4 digit otp.</div>
                                        </div>
                                    </div>
                                    <button [disabled]="resendDisabled"
                                        (click)="resendOTP()"
                                        [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                                    <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="input-group message_field align-items-center">
                                        <img lazyLoad="assets/images/icons/message-icon.svg"
                                            class="img-fluid"
                                            alt="Message">
                                        <textarea type="textarea"
                                            [ngClass]="{ 'is-invalid': submitted && f['requirements'].errors }"
                                            formControlName="requirements"
                                            class="form-control"
                                            placeholder="Requirements"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <button class="site_btn border_btn"
                                        type="submit">Submit</button>
                                </div>
                                <div class="col-md-12 col-12">
                                    <p class="form_query_text">Need Assistance? Email : <span>hello@cofynd.com</span>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="office_client_sec">
    <app-our-clients></app-our-clients>
</div>

<section class="list_your_space_sec office_list_space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="cta_content">
                    <h4>List Your Vacant Property with Cofynd and Start Earning</h4>
                    <p class="mobilehide">List for free and leave rest on our experts. Stay organized, manage leads, and
                        track your bookings - all in one place.</p>
                    <a routerLink="/list-your-space"
                        class="site_btn border_btn">List Your Property</a>
                </div>
            </div>
            <div class="col-4 text-center">
                <img lazyLoad="../../../assets/images/list-your-space-img.svg"
                    alt="List Your Vacant"
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="cofynd_desk_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cofynd-desk text-center">
                    <img style="max-height: 200px;"
                        lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/727de738fd2725e2045d19ac44a5873f25919b36.png"
                        alt="What's the CoFynd Desk">
                    <h4>What's the CoFynd Desk?</h4>
                    <p>CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in
                        between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets
                        the Cofynd community Breathe, Connect and Climb
                        to their highest in life.</p>
                    <p class="link-text text-center">- Atul Gupta, Founder & CEO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq faqs_section office_space_faqs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq_content text-center">
                    <div class="main_heading title_divider">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <p class="pt-3">Here are the frequently asked questions that people enquired online before choosing
                        an office space. We have gathered the most crucial ones and answer here to help you in making
                        the right decision.</p>
                </div>
                <accordion [isAnimated]="true"
                    class="faqs_accordion">
                    <accordion-group>
                        <h4 accordion-heading>
                            What are the benefits of an office space?
                        </h4>
                        <p>An office space offers benefits like a great amount of privacy, high concentration, healthy
                            atmosphere, regular cleaning, full of amenities, prestige and more. </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            What are the types of office space?
                        </h4>
                        <p>The types of an office space are serviced, managed, leased and subleased.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            Who should choose an office?
                        </h4>
                        <p> An office space is suitable for both large and small enterprises.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            Where are office spaces most popular in India?
                        </h4>
                        <p>office spaces are most popular in Delhi, Gurgaon, Mumbai, Pune, Bangalore and Noida.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>
                            Are visitors allowed in an office space?
                        </h4>
                        <p> Yes, visitors can be taken to your cabin.
                        </p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>

<section class="search-description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{footer_title }}</h2>
                <div [innerHTML]="footer_description"></div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade office_card_popup"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    #myModal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body"
                style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/753febf95bc0e22e68d7777d9df2fdda1aeec62f.png');">
                <div class="enquire-box">
                    <div class="form-section enquire-box-content">
                        <div class="title">
                            <h4 class="heading">
                                <button type="button"
                                    class="fas fa-close"></button> Yes, I'm Interested!
                            </h4>
                            <p>Know More About this property</p>

                            <button type="button"
                                data-dismiss="modal"
                                aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                        </div>

                        <form class="form"
                            [formGroup]="enquiryForm"
                            (ngSubmit)="onOfficeQuoteSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control"
                                            type="text"
                                            formControlName="name"
                                            placeholder="Name*"
                                            appMaterialInput />
                                        <app-input-validation [control]="enquiryForm.controls.name">
                                        </app-input-validation>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control"
                                            type="text"
                                            formControlName="email"
                                            placeholder="Email*"
                                            appMaterialInput />
                                        <app-input-validation [control]="enquiryForm.controls.email">
                                        </app-input-validation>
                                    </div>
                                </div>

                                <div class="col-md-12 country_phone">
                                    <div class="form-group city_card_phone">
                                        <div class="flag-container">
                                            <div (click)="showcountry = !showcountry"
                                                class="selected-flag">
                                                <div class="flag in"
                                                    *ngIf="activeCountries && activeCountries.length">
                                                    <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                                    <span class="arrow arrow-up"><i
                                                            class="fa-solid fa-angle-down"></i></span>
                                                </div>
                                            </div>
                                            <ul *ngIf="showcountry"
                                                class="country-list">
                                                <li (click)="hideCountry(country)"
                                                    class="country active"
                                                    tabindex="-1"
                                                    *ngFor="let country of activeCountries">
                                                    <div class="flag-box">
                                                        <div class="flag in"><img [lazyLoad]="country?.image?.s3_link"
                                                                width="18px" alt="Flag" /></div>
                                                    </div>
                                                    <span class="country-name">{{country?.name}}</span>
                                                    <span class="dial-code">{{country?.dial_code}}</span>
                                                </li>
                                            </ul>
                                            <input class="form-control"
                                                maxlength="10"
                                                type="text"
                                                formControlName="phone_number"
                                                placeholder="Phone*"
                                                appMaterialInput />
                                        </div>
                                        <app-input-validation [control]="enquiryForm.controls.phone_number">
                                        </app-input-validation>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group otp-form"
                                *ngIf="ENQUIRY_STEP === ENQUIRY_STEPS.OTP">
                                <input class="form-control"
                                    placeholder="Enter Otp"
                                    type="password"
                                    formControlName="otp"
                                    appMaterialInput
                                    autofocus />
                                <app-input-validation [control]="enquiryForm.controls.otp">
                                </app-input-validation>
                                <button [disabled]="resendDisabled"
                                    (click)="resendOTP()"
                                    [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                                <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <ng-select placeholder="Type"
                                            
                                            [clearable]="true"
                                            [searchable]="false"
                                            [items]="OfficePlans"
                                            bindLabel="label"
                                            bindValue="value"
                                            formControlName="interested_in">
                                        </ng-select>
                                        <app-input-validation [control]="enquiryForm.controls.interested_in">
                                        </app-input-validation>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <ng-select placeholder="Budget"
                                            
                                            [clearable]="true"
                                            [searchable]="false"
                                            [items]="OfficeBudgets"
                                            bindLabel="label"
                                            bindValue="value"
                                            formControlName="mx_BudgetPrice">
                                        </ng-select>
                                        <app-input-validation [control]="enquiryForm.controls.mx_BudgetPrice">
                                        </app-input-validation>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <ng-select placeholder="Move In"
                                            
                                            [clearable]="true"
                                            [searchable]="false"
                                            [items]="MoveIn"
                                            bindLabel="label"
                                            bindValue="value"
                                            formControlName="mx_Move_In_Date">
                                        </ng-select>
                                        <app-input-validation [control]="enquiryForm.controls.mx_Move_In_Date">
                                        </app-input-validation>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit"
                                        class="site_btn border_btn full_width_btn">{{ btnLabel }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>