.wrapper .banner .office-banner-bg {
    background: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/2b908e60b1582e6965c02a9b404f12b91f065760.jpg') no-repeat top right;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 0 0 30%;
    background-size: cover;
    @media (max-width: 767px) {
        display: none;
    }
}

.office-benifits {
    .benifits {
        border-radius: 10px;
        border: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        transition-delay: .3s;
        transition-duration: .5s;
    }
    .pad100 {
        padding: 100px 0px;
    }
    .img50 {
        height: 50px;
        width: auto;
    }
    .yellow-border {
        border-bottom: 3px solid #ffcc05;
    }
    .font-20 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
    }
    .blue-text {
        color: #4343e8;
    }
    .font-18-mid {
        font-size: 18px;
        line-height: 26px;
        color: #010101;
        font-weight: 500;
    }
}

.customized {
    .option-box {
        box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.02);
        transition-delay: 0.5s;
        transition-duration: 0.7s;
        p:first-child {
            font-size: 23px;
            line-height: 32px;
        }
    }
    img {
        height: 50px;
        width: auto;
    }
}

@media (max-width: 480px) {
    .hide-m {
        display: none;
    }
}

.benifits {
    cursor: pointer;
}

.book-now {
    cursor: pointer;
}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}

.map {
    height: 100%;
    padding: 0;
}

.onlyMobile {
    display: none;
    @media (max-width: 480px) {
        display: block;
    }
}

.hideOnMobile {
    @media (max-width: 480px) {
        display: none !important;
    }
}

//Mobile view private office css

/**************  Responsive  *************/

@media (max-width: 480px) {
    .innerpage_banner::before {
	background-color: rgba(0, 0, 0, 0.6);
}
    .innerpage_banner {
        padding: 40px 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .innerpage_banner::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .banner_content h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .banner_content .form-group .form-control {
        font-size: 10px !important;
        color: #272828 !important;
        font-weight: 600 !important;
    }
    .near_office_space {
        padding-top: 30px !important;
        padding-bottom: 20px !important;
    }
    .page-title {
        text-align: left !important;
        padding: 0px 0px 0px 15px !important;
        position: relative !important;
        z-index: 1 !important;
    }
    .page-title h2 {
        margin-bottom: 0px !important;
        display: block !important;
        text-align: left !important;
        margin-bottom: 15px !important;
        position: relative;
    }
    .page-title h2::before {
        width: 35px;
        height: 35px;
        left: -15px;
        top: -9px;
        background: #ffe785;
        border-radius: 100%;
        position: absolute;
        content: "";
        display: block;
        z-index: -1;
    }
    .curated_section {
        padding: 20px 0 !important;
    }
    .curated_section .row:last-child {
        margin-left: 0;
        margin-right: 0;
    }
    .curated_section .col-4 {
        padding: 0 5px;
    }
    .curated-item {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }
    .curated-img {
        position: relative;
        height: 100px;
    }
    .curated-img img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 120px;
    }
    .curated-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.34%, rgba(0, 0, 0, .447625) 50.99%, #000 98.69%);
        padding: 30px 0 0;
        -webkit-transition: .5s;
        transition: all .5s;
    }
    .curated-item:hover .curated-content {
        padding-bottom: 15px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.34%, rgba(0, 0, 0, .447625) 50.99%, #000 98.69%);
    }
    .curated-content h4 {
        margin-bottom: 7px;
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        line-height: 14px;
    }
    .coworking_cities .cities-icon-item {
        display: flex;
        align-items: center;
        position: relative;
    }
    .coworking_cities .cities-img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-radius: 50%;
        overflow: hidden;
    }
    .coworking_cities .cities-img img {
        object-fit: cover;
        height: 30px;
    }
    .coworking_cities .cities-icon-content h4 {
        font-size: 11px;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: 0px;
    }
    .coworking_cities .city-left-box {
        width: 33.33%;
        float: left;
        padding: 5px 5px;
    }
    .stretched-link::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        background-color: rgba(0, 0, 0, 0);
    }
    .cta_section {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .cta_section .row {
        margin-left: 0;
        margin-right: 0;
    }
    .cta_section .cta_area {
        border-radius: 10px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        box-shadow: 0 0 9px 4px rgba(0, 0, 0, .16);
        background-color: #e8e8ff;
        padding: 20px 0;
    }
    .cta_content {
        padding: 10px 0;
    }
    .coworking_cta .cta_content p {
        line-height: 10px !important;
    }
    .cta_section p {
        font-size: 14px;
        line-height: 18px !important;
    }
    .cta_section span {
        font-weight: 600;
        margin-top: 10px;
        display: inline-block;
    }
    .cta_section .img-fluid {
        width: 80%;
    }
    .amenities_sec {
        padding: 20px 0 !important;
    }
    .amenities_sec h4 {
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 0;
    }
    .cities_section {
        padding: 20px 0px !important;
    }
    .cities_carousel {
        display: block;
        width: 100%;
        height: auto;
        overflow-x: scroll;
        padding: 0px;
        margin: 0;
        white-space: nowrap;
        scrollbar-width: none !important;
    }
    .cities-item {
        display: inline-block;
        margin: 0 5px;
        height: 300px;
        background: rgba(0, 0, 0, 0.05) no-repeat center center;
        background-size: cover;
        position: relative;
        border-radius: 8px;
        box-shadow: 0 0 10px #dfdfdf;
        -webkit-box-flex: 0;
        flex: 0 0 71.4285714286%;
        width: 71.4285714286%;
        overflow: hidden;
    }
    .cities_carousel .cities-item::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, black 100%);
        -webkit-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
        z-index: 1;
    }
    .cities_carousel .cities-item img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transition: -webkit-transform 2000ms ease;
        transition: -webkit-transform 2000ms ease;
        transition: transform 2000ms ease;
        transition: transform 2000ms ease, -webkit-transform 2000ms ease;
    }
    .cities_carousel .cities-item .cities-content {
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
        text-align: center;
    }
    .cities_carousel .cities-item h4 {
        font-size: 19px;
        line-height: 24px;
        color: #fff;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .cities_carousel .cities-item p {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        margin: 0;
    }
    .client_logo_sec {
        padding: 20px 0px !important;
    }
    .logos_slider {
        display: block;
        width: 100%;
        height: auto;
        overflow-x: scroll;
        padding: 0px;
        margin: 0;
        white-space: nowrap;
        scrollbar-width: none !important;
    }
    .logos_slider .band-img {
        display: inline-block;
        margin: 0 5px;
        width: 25.429%;
        overflow: hidden;
        padding: 0px !important;
    }
    .properties_section {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .looking_sec {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .looking_box h3 {
        margin-bottom: 10px;
    }
    .looking_box .icon-box img {
        width: 40px;
        margin-bottom: 2px;
    }
    .looking_box .icon-box h5 {
        font-size: 11px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .faqs_list .card {
        border: none;
    }
    .faqs_list .card-header {
        padding: 0px;
        background-color: transparent;
    }
    .faqs_list .card-header h2 button {
        font-size: 11px !important;
        padding: 7px 9px;
        color: #000;
        text-decoration: none;
    }
    .faqs_list .card-body {
        padding: 6px 11px;
        border-bottom: 1px solid rgba(0, 0, 0, .125);
    }
    .cofynd_desk h4 {
        margin: 10px 0 5px !important;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
    .cofynd_desk .about_text {
        padding-right: 0;
        font-size: 10px !important;
        font-weight: 400 !important;
        text-align: justify;
        line-height: 16px !important;
        margin-bottom: 10px;
    }
    .cofynd_desk .title_name {
        color: #1313E6 !important;
        font-weight: 600 !important;
        font-size: 11px !important;
        line-height: 15px !important;
    }
}