.modal-content {
	border-radius: 20px !important;
	border: none !important;
}
.home_city_popup .cat_box.coliving-space-box .img-box {
	background-color: #4343e814;
}
.home_city_popup .cat_box.coliving-space-box {
	filter: drop-shadow(0px 4px 4px #4343e814);
}