<div class="modal-content cities_popup_option">
  <div class="modal-header">
    <h5 class="modal-title text-center">Find the Best Spaces in {{city.toUpperCase()}}<br><span>Choose
        from 100,000+ Sanitized &amp; Verified Spaces</span></h5>
  </div>
  <div class="modal-body pb-4">
    <div class="row">
      <!-- <div class="col-1">&nbsp;</div> -->
      <div class="col-md-5 offset-md-1 col-6">
        <!-- <a href=""> -->
        <a [routerLink]="'/coworking/' + city"
          (click)="closeModal()">
          <div class="coworking-space-box mt-2 mb-2">
            <div class="img-box">
              <img src="/assets/images/icons/coworking-space-icon.svg"
                class="img-fluid d-block m-auto icon"
                alt="">
              <p class="text-center">
                Co-Working<br>Space</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6">
        <!-- <a href=""> -->
        <a [routerLink]="'/co-living/' + city"
          (click)="closeModal()">
          <div class="coworking-space-box mt-2 mb-2">
            <div class="img-box">
              <img src="/assets/images/icons/double-sharing-icon.svg"
                class="img-fluid d-block m-auto"
                alt="">
              <p class="text-center">
                Co-Living<br>Space</p>
            </div>
          </div>
        </a>
      </div>
      <!-- <div class="col-1">&nbsp;</div> -->
    </div>
  </div>
</div>
