<div class="home_city_popup">
  <div class="modal-header text-center">
    <div class="popup_icon">
      <img lazyLoad="assets/images/icons/coworking-desk-icon.svg"
        class="img-fluid"
        alt="Coworking Desk">
    </div>
    <h5>Find the Best Spaces in {{city.toUpperCase()}}</h5>
    <p>Choose from 100,000+ Sanitized and Verified Spaces</p>
  </div>
  <div class="modal-body pb-4">
    <div class="row">
      <div class="col-4">
        <a [routerLink]="'/coworking/' + city"
          (click)="closeModal()">
          <div class="cat_box coworking-space-box">
            <div class="img-box">
              <img lazyLoad="/assets/images/icons/cowork-icon.svg"
                class="img-fluid d-block m-auto icon"
                alt="Coworking">
            </div>
            <div class="title-box">
              <p>Coworking<br> Space</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a [routerLink]="'/co-living/' + city"
          (click)="closeModal()">
          <div class="cat_box coliving-space-box">
            <div class="img-box">
              <img lazyLoad="/assets/images/icons/double-sharing-icon-blue.svg"
                class="img-fluid d-block m-auto"
                alt="Coliving Space">
            </div>
            <div class="title-box">
              <p>Coliving<br> Space</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a [routerLink]="'/virtual-office/' + city"
          (click)="closeModal()">
          <div class="cat_box virtual-office-box">
            <div class="img-box">
              <img lazyLoad="/assets/images/icons/virtual-offices.svg"
                class="img-fluid d-block m-auto"
                alt="Virtual Office">
            </div>
            <div class="title-box">
              <p>Virtual<br> Office</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>