// .banner-footer {
//     padding: 75px 0;
//     .space-facility {
//         border: 1px solid #e9e9e9;
//         padding: 60px 30px;
//         text-align: right;
//         background-position: center left;
//         background-size: cover;
//         background-repeat: no-repeat;
//         cursor: pointer;
//         border-radius: 5px;
//         transition: border-color ease-out 0.5s;
//         &:focus {
//             outline: none;
//         }
//         &:hover {
//             box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
//             border-color: #9291ef;
//         }
//     }
//     h4 {
//         color: #222121;
//         font-size: 28px;
//         line-height: 30px;
//         font-weight: 300;
//         span {
//             font-weight: 500;
//             display: block;
//         }
//     }
//     .space-types {
//         border: 1px solid #e9e9e9;
//         padding: 25px 30px;
//         margin-top: 40px;
//         background-repeat: no-repeat;
//         background-position: 93% 85%;
//         background-size: auto 30px;
//         min-height: 150px;
//         cursor: pointer;
//         border-radius: 5px;
//         transition: border-color ease-out 0.5s;
//         &:focus {
//             outline: none;
//         }
//         &:hover {
//             box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
//             border-color: #9291ef;
//         }
//         span {
//             color: #898989;
//             font-size: 16px;
//             letter-spacing: 0.5px;
//             text-transform: uppercase;
//             display: block;
//             margin-bottom: 40px;
//             font-weight: 500;
//         }
//         h3 {
//             font-size: 20px;
//             font-weight: 500;
//             line-height: 26px;
//             margin: 0;
//             color: #010101;
//         }
//         &.space-type-1 {
//             background-image: url('/assets/images/home/day-pass.svg');
//             &:hover {
//                 background-image: url('/assets/images/home/day-pass-hover.svg');
//             }
//         }
//         &.space-type-2 {
//             background-image: url('/assets/images/home/team.svg');
//             &:hover {
//                 background-image: url('/assets/images/home/team-hover.svg');
//             }
//             span {
//                 margin-bottom: 20px;
//             }
//         }
//         &.space-type-3 {
//             background-image: url('/assets/images/home/enterprise.svg');
//             &:hover {
//                 background-image: url('/assets/images/home/enterprise-hover.svg');
//             }
//         }
//     }
//     @media(max-width: 1200px) {
//         h4 {
//             font-size: 21px;
//         }
//         .space-types {
//             min-height: 135px;
//             margin-top: 30px;
//             h3 {
//                 font-size: 16px;
//                 line-height: 20px;
//             }
//         }
//     }
//     @media(max-width: 991px) {
//         .space-types {
//             padding: 20px;
//             background-size: auto 22px;
//             min-height: 120px;
//             span {
//                 font-size: 13px;
//             }
//             h3 {
//                 font-size: 14px;
//             }
//         }
//     }
//     @media(max-width: 767px) {
//         padding: 0 0 50px;
//         .space-types,
//         .space-facility {
//             margin-top: 10px;
//         }
//     }
// }

.feature {
    background: #4343e8;
    height: 610px;
    position: relative;
    &-content {
        position: absolute;
        top: 160px;
        width: 100%;
        h3 {
            font-size: 30px;
            font-weight: 500;
            color: #fff;
            line-height: 34px;
            margin-bottom: 65px;
            &:first-child {
                margin-top: -22px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            span {
                display: block;
                font-weight: 700;
                font-size: 46px;
                line-height: 50px;
            }
        }
        @media(max-width: 991px) {
            position: static;
            padding-top: 60px;
            h3 {
                display: inline-block;
                width: 33.333333%;
                text-align: center;
                font-size: 26px;
            }
        }
        @media (max-width: 600px) {
            h3 {
                display: block;
                width: 100%;
                font-size: 22px;
                margin-bottom: 30px;
                span {
                    font-size: 35px;
                }
                &:first-child {
                    margin: 0 0 30px;
                }
                &:last-child {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .left-content {
        padding: 50px 0 0 60px;
        h2 {
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
        }
        .anchor-text {
            font-size: 30px;
            line-height: 40px;
            color: #4343e8;
            font-weight: 600;
            display: flex;
            align-items: center;
            i {
                font-size: 18px;
                margin-left: 30px;
                font-weight: bold;
            }
        }
        .divider-line {
            width: 195px;
            height: 2px;
            background-color: #4343e8;
            margin: 75px 0;
        }
        @media(max-width: 991px) {
            padding: 50px 0;
            text-align: center;
            background: #fff;
            border-radius: 50px 50px 0 0;
            .divider-line {
                margin: 40px auto;
            }
            .anchor-text {
                display: block;
                text-align: center;
                width: 100%;
            }
        }
        @media(max-width: 767px) {
            padding: 20px;
            h2,
            .anchor-text {
                font-size: 20px;
                line-height: 24px;
                i {
                    font-size: 14px;
                    position: relative;
                    top: -1px;
                    margin-left: 20px;
                }
            }
        }
    }
    &-half-left {
        height: 100%;
        background: #fff;
        position: absolute;
        bottom: 0;
        width: 50%;
        left: 0;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            background: #4243e8 url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/87cfbfcb25f50514da9d59458eb4f77934b4e2b3.png') no-repeat center left;
            height: 100%;
            border-radius: 0 0 100px 0;
        }
    }
    &-half-right {
        height: 465px;
        background: #fff;
        position: absolute;
        bottom: 0;
        width: 50%;
        right: 0;
        border-radius: 100px 0 0;
    }
    @media(max-width: 991px) {
        &-half-right,
        &-half-left {
            width: 100%;
            display: none;
        }
        .feature-content .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.what-you-get {
    padding: 80px 0;
    .right-part {
        padding-left: 100px;
    }
    ul {
        li {
            font-size: 20px;
            color: #000;
            font-weight: 300;
            position: relative;
            padding-left: 60px;
            margin-bottom: 50px;
            @media(max-width: 767px) {
                br {
                    display: none;
                }
            }
            span {
                font-weight: 600;
            }
            .wt-icon {
                width: 50px;
                height: 40px;
                display: inline-block;
                position: absolute;
                left: 0;
                top: -6px;
                &.wt-icon-support {
                    background: url('/assets/images/home/support.svg') no-repeat center center;
                }
                &.wt-icon-space {
                    background: url('/assets/images/home/work-spaces.svg') no-repeat center center;
                    top: 4px;
                }
                &.wt-icon-price {
                    background: url('/assets/images/home/pricing.svg') no-repeat center center;
                }
                &.wt-icon-fee {
                    background: url('/assets/images/home/fee.svg') no-repeat center center;
                }
                &.wt-icon-Coupon {
                    background: url('/assets/images/home/exclusive-brand-coupons.svg') no-repeat center center;
                }
                @media (max-width: 480px) {
                    top: 0;
                    &.wt-icon-space {
                        top: 0;
                    }
                    &.wt-icon-fee {
                        top: -10px;
                    }
                }
            }
        }
        li:last-child {
            margin-bottom: 0px !important;
        }
    }
    @media (max-width: 767px) {
        display: none;
        .row {
            .col-md-6 {
                &:first-child {
                    display: none;
                }
            }
        }
        .right-part {
            padding-left: 20px;
        }
    }
}

@media(max-width: 1080px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media(max-width: 991px) {
    .feature {
        height: auto;
    }
}

.search {
    margin-bottom: 20px;
}
::ng-deep {
    .sub-footer {
        background: #f9f9f9;
        padding: 30px 0;
        h2,
        h3 {
            color: #7b7b7b;
            font-size: 18px;
            line-height: 20px;
            font-weight: 600;
            margin: 25px 0 5px;
        }
        h4,
        h5,
        h6 {
            color: #7b7b7b;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
            margin: 25px 0 5px;
        }
        p {
            color: #777;
            font-size: 13px;
        }

        @media (max-width: 480px) {
            
    h2, h3 {
        color: #272828 !important;
        font-size: 14px !important;
        line-height: 20px !important;
        margin-top: 0px !important;
    }
            
        }
    }
}

.covid-section {
    background: #4343e8;
    padding: 60px 0 0;
    .covid-content {
        background: #fff;
        border-radius: 10px;
        padding: 25px;
        display: flex;
        h3 {
            flex: 0 0 235px;
            max-width: 235px;
            font-size: 23px;
            font-weight: 400;
            span {
                color: #bd8a00;
                font-size: 18px;
                font-weight: 500;
                display: block;
            }
        }
        ul {
            display: flex;
            justify-content: space-evenly;
            li {
                padding: 0 20px;
                .img {
                    width: 65px;
                    height: 50px;
                    margin-bottom: 20px;
                    img {
                        height: 100%;
                    }
                }
                h4 {
                    font-size: 15px;
                    line-height: 18px;
                    font-weight: 600;
                    margin: 10px 0;
                    color: #1c1c1c;
                }
                p {
                    font-size: 12px;
                    line-height: 18px;
                    margin: 0;
                    color: #272828;
                }
            }
            @media screen and (max-width: 767px) {
                flex-wrap: wrap;
                li {
                    max-width: 50%;
                    flex: 0 0 50%;
                    padding: 0 10px;
                    p {
                        min-height: 80px;
                    }
                }
            }
            @media screen and (max-width: 480px) {
                li {
                    margin-top: 20px;
                }
                p {
                    display: none;
                }
            }
        }
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            h3 {
                display: block;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 40px;
                text-align: center;
                br {
                    display: none;
                }
            }
        }
    }
}

// .onlyMobile {
//     display: none;
//     @media (max-width: 480px) {
//         display: block;
//     }
// }

// .hideOnMobile {
//     @media (max-width: 480px) {
//         display: none !important;
//     }
// }

// .live-spaces-button {
//     font-weight: 500;
//     background-color: #4343e8;
//     font-size: 12px;
//     border-radius: 20px;
// }

// .covid-safety {
//     img {
//         border-radius: 10px;
//         box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
//     }
//     .facility-head {
//         font-size: 20px;
//         line-height: 26px;
//         font-weight: 600;
//     }
// }



// new css for mobile UI
// body,
// p,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: Montserrat;
//     color: #000;
// }

// body,
// p {
//     font-family: Montserrat;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0em;
// }

// body {
//     padding-top: 80px;
// }

// ul {
//     padding-left: 18px;
//     line-height: 26px;
// }

// .white_text h3,
// .white_text p {
//     color: #fff;
// }

// .main_header {
//     background: #FFFFFF;
//     box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.1);
// }

// .main_header .navbar {
//     padding: 15px 0px;
// }

// .main_header .navbar-brand {
//     font-size: 24px;
//     font-weight: 700;
//     line-height: 24px;
//     letter-spacing: 0em;
//     text-align: left;
// }

// .main_header .nav-link {
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 22px;
//     letter-spacing: 0em;
//     color: #000 !important;
// }

// .main_header .nav-item {
//     margin-left: 12px;
// }

// .main_header .nav-item:first-child {
//     margin-left: 0px;
// }

// .navbar-nav li.divider-line {
//     padding-left: 15px;
// }

// .navbar-nav li {
//     margin-left: 15px;
//     position: relative;
// }

// .navbar-nav li.divider-line::before {
//     content: "";
//     display: inline-block;
//     width: 1px;
//     height: 20px;
//     border-left: 1px solid #afafaf;
//     position: absolute;
//     left: 0;
//     top: 9px;
// }

// .navbar-nav .btn {
//     padding: 10px 18px;
//     font-size: 12px;
//     background: #4343e8;
//     border-color: #4343e8;
// }

// .navbar-brand .img-fluid {
//     width: 250px;
// }

// .white_btn {
//     background-color: #fff;
//     color: #000;
// }

// .diffrent-width {
//     width: 27px !important;
// }

// .img_content_sec {
//     padding-top: 40px;
//     padding-bottom: 40px;
//     background-color: #F8F9FA;
// }

// .img_content_sec2 {
//     padding-top: 40px;
//     padding-bottom: 40px;
// }

// .img_content_sec3 {
//     padding-top: 40px;
//     padding-bottom: 40px;
//     background-color: #F8F9FA;
// }

// .btn_text {
//     font-weight: 600;
// }

// .btn_text a {
//     text-decoration: none;
//     color: #000;
// }

// .btn_text img {
//     width: 20px;
//     margin-left: 10px;
// }

// .round_img_box {
//     border-radius: 10px;
//     overflow: hidden;
// }

// .advantage_sec {
//     padding-top: 50px;
//     padding-bottom: 50px;
// }

// .left_icon_box {
//     display: flex;
//     align-items: center;
// }

// .left_icon_box .icon {
//     background: #F9F9F9;
//     padding: 15px;
//     border-radius: 50%;
// }

// .left_icon_box img {
//     width: 100px;
// }

// .left_icon_box .content {
//     padding-left: 15px;
// }

// .left_icon_box h4 {
//     font-size: 15px;
//     margin-bottom: 5px;
//     line-height: 17px;
// }

// .left_icon_box p {
//     margin-bottom: 0px;
// }

// .cta_sec {
//     padding-top: 50px;
//     padding-bottom: 80px;
// }

// .cta_box {
//     background: #FFFFFF;
//     box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
//     border-radius: 10px;
//     padding: 70px 60px;
// }

// .cta_box p {
//     margin-bottom: 0px;
// }

// .cta_box .icon_box {
//     margin-bottom: 0px;
// }

// .hlaf_cta_sec {
//     padding-top: 50px;
//     padding-bottom: 50px;
//     background-color: #F1F1F1;
// }

// .cta_title {
//     z-index: 0;
//     position: relative;
// }

// .cta_form .form-control {
//     background: #FFFFFF;
//     border-radius: 10px;
//     padding: 13px 18px;
//     font-size: 14px;
//     color: #222;
//     border: 1px solid #CCCCCC;
//     font-weight: 500;
// }

// .cta_form h4 {
//     font-size: 19px;
//     line-height: 28px;
//     margin-bottom: 30px;
// }

// .cta_title h3 {
//     font-size: 32px;
//     line-height: 42px;
// }

// .list_now_sec {
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     padding-top: 90px;
//     padding-bottom: 90px;
// }

// .list_now_sec .row {
//     background-color: #4343E8;
//     border-radius: 10px;
//     overflow: hidden;
//     padding: 60px 25px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }

// .list_now_content h3 {
//     margin-bottom: 20px;
// }

// .list_now_content p {
//     margin-bottom: 0px;
// }

// #faqs_sec {
//     padding: 60px 0px;
// }

// .faqs_list .accordion-button {
//     padding: 5px 15px;
// }

// .faqs_list .accordion-button:focus {
//     box-shadow: none;
// }

// .accordion-button:not(.collapsed) {
//     color: #212529;
//     background-color: #ffe7854a;
//     box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
// }

// .advantage_sec .col-md-4:last-child .left_icon_box {
//     margin-bottom: 0px;
// }

// .program_sec {
//     background: #F8F9FA;
//     padding-top: 60px;
//     padding-bottom: 50px;
// }

// .counter_box h4 {
//     color: #4343E8;
//     font-weight: 600;
//     font-size: 30px;
//     line-height: 40px;
// }

// .counter_box p {
//     margin-bottom: 0px;
//     font-weight: 500;
// }

// .title_shap {
//     position: relative;
//     z-index: 0;
// }

// .feature_work_sec {
//     padding-top: 50px;
//     padding-bottom: 50px;
// }

// .reviews_sec {
//     padding-top: 50px;
//     padding-bottom: 50px;
//     background: #F8F9FA;
// }

// .review_logo img {
//     width: 190px;
// }

// .review_logo h4 {
//     font-size: 18px;
//     font-weight: 600;
//     line-height: 26px;
//     margin-bottom: 0px;
// }

// .review_logo span {
//     font-weight: 400;
// }

// .review_content p {
//     margin-bottom: 0px;
// }

// .network_content h3,
// .network_content p {
//     margin-bottom: 30px;
// }

// .solution_sec {
//     padding-top: 50px;
//     padding-bottom: 50px;
// }

// .benefits_sec {
//     padding-top: 50px;
//     padding-bottom: 50px;
//     background: #F8F9FA;
// }

// .page-title h2::after {
//     width: 92px;
//     height: 2px;
//     background: #4343e8;
//     position: absolute;
//     bottom: -15px;
//     left: 50%;
//     margin-left: -46px;
//     content: "";
//     display: inline-block;
// }

.partners {
    overflow: hidden;
    // background: #fff url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/a987f2b01a39adf7b57918f90183aa2733f6fb0b.png') no-repeat center center;
  
    &.grey-layout {
      background: #f8f9fa;
      padding: 30px 0 60px;
  
      @media (max-width: 767px) {
  
        .page-title h2::before {
          display: none;
        }
  
        .partner-carousel {
          white-space: nowrap;
          overflow: hidden;
          flex-wrap: nowrap;
          overflow-x: auto;
          justify-content: flex-start;
        }
      }
    }
  
    .remove-side-circle {
      padding: 70px 0;
  
      h2 {
        &::before {
          display: none;
        }
      }
    }
  
    .partner-carousel {
      display: -webkit-box;
      justify-content: space-evenly;
  
      .band-img {
        flex-grow: 1;
        text-align: center;
      }
  
  
      img {
        cursor: pointer;
        max-width: 100%;
        width: 238px;
        transition: filter 1000ms ease-out;
      }
  
      .brand-partner{
        cursor: text !important;
      }
  
      @media (max-width: 767px) {
        margin-right: 0;
        margin-left: 0;
  
        .band-img {
          flex-grow: 1;
          max-width: 33%;
          flex: 0 0 33%;
          padding: 15px 5px;
          text-align: center;
        }
  
        img {
          max-width: 100%;
        }
      }
    }
  }
  
  .slider-on-mobile-view {
    display: none;
  
    @media (max-width: 767px) {
      justify-content: space-evenly;
      width: 100%;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 0 15px;
      overflow-x: auto;
      flex-wrap: unset;
    }
  }
  
  @media (max-width: 600px) {
    .partners .remove-side-circle {
      padding: 40px 0;
    }
    .partners .page-title{
      padding: 20px 0;
    }
  }
.partner-carousel::-webkit-scrollbar {
    height: 0;
  }
//   .categories_sec .col-4, .categories_sec .col-12, .categories_sec .col-8, .curated_section .col-4 {
// 	padding: 0px 5px;
// }
// .categories_sec .col-12 {
// 	margin-top: 10px !important;
// }
// .curated-img {
// 	position: relative;
// 	height: 100px;
// }
// .curated-img img {
// 	object-fit: cover;
// 	height: 120px;
// }

/**************  Responsive  *************/

@media (max-width: 480px) {
    // body, p {
    //     font-size: 11px !important;
    //     line-height: 17px !important;
    // }
    // .banner {
    //     padding: 40px 0 20px !important;
    // }
    // .banner_content {
    //     padding: 40px 15px 30px 15px;
    // }
    // .banner h1::before {
    //     width: 40px;
    //     height: 40px;
    //     left: -13px;
    //     top: -12px;
    // }
    // .site_title {
    //     position: relative;
    //     display: inline-block;
    //     z-index: 0;
    // }
    // .site_title::before {
    //     background: #ffe785;
    //     border-radius: 100%;
    //     position: absolute;
    //     content: "";
    //     display: block;
    //     z-index: -1;
    //     width: 35px;
    //     height: 35px;
    //     left: -10px;
    //     top: -10px;
    // }
    // .banner_content .form-select {
    //     padding: 10px 15px;
    //     margin-bottom: 12px;
    //     color: #4A4A4A !important;
    //     font-size: 15px;
    // }
    // .banner_content form {
    //     margin-top: 10px;
    // }
    // .city-list a {
    //     text-align: center;
    //     text-decoration: none;
    //     font-size: 10px;
    //     font-weight: 600;
    //     color: #000;
    //     margin-right: 0px;
    //     text-transform: capitalize;
    //     -webkit-transition: .5s ease-in;
    //     transition: all ease-in .5s;
    //     padding: 0;
    //     outline: 0;
    //     margin-top: 0px;
    //     display: -webkit-inline-box;
    //     display: inline-flex;
    //     -webkit-box-align: center;
    //     align-items: center;
    //     -webkit-box-pack: center;
    //     justify-content: center;
    //     -webkit-box-orient: vertical;
    //     -webkit-box-direction: normal;
    //     flex-direction: column;
    // }
    // .city-list .img-box {
    //     width: 70px;
    //     height: 70px;
    //     border-radius: 100%;
    //     background: #f8f8f8;
    //     vertical-align: middle;
    //     -webkit-transition: .5s ease-in;
    //     transition: all ease-in .5s;
    //     padding: 16px;
    //     outline: 0;
    //     align-items: center;
    //     display: -webkit-inline-box;
    //     display: inline-flex;
    //     -webkit-box-align: center;
    //     align-items: center;
    //     -webkit-box-pack: center;
    //     justify-content: center;
    // }
    // .city-list .slick-slide {
    //     text-align: center;
    // }
    .category_item {
        background-color: #F8F8F8;
        border-radius: 10px;
        overflow: hidden;
        min-height: 110px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
    .category_item h3 {
        font-size: 10px;
        font-weight: 600;
        line-height: 16px;
        padding: 10px 2px 10px;
        text-align: center;
    }
    .category_item img {
        width: 100%;
        position: absolute;
        height: auto;
        bottom: 0;
    }
    .category_item2 {
        background-color: #F8F8F8;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }
    .category_item2.full-width {
        display: flex;
        align-items: center;
    }
    .category_item2.full-width h3 {
        float: left;
        width: 50%;
    }
    .category_item2.full-width img {
        width: 50%;
        height: auto;
        float: right;
    }
    .category_item2 h3 {
        font-size: 11px;
        font-weight: 600;
        line-height: 21px;
        padding: 10px 5px 10px 15px;
        text-align: left;
    }
    .category_item.listing_item {
        width: 100%;
        background-size: 130%;
    }
    .coworking_item h3 {
        text-align: right !important;
        padding-right: 10px !important;
    }
    .cities_section {
        padding: 40px 0px 30px;
    }    
    .cities-item {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }
    .cities-img {
        position: relative;
    }
    .cities-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.34%, rgba(0, 0, 0, 0.447625) 50.99%, #000 98.69%);
        padding: 30px 0px 0px;
        transition: all 0.5s;
    }
    .cities-item:hover .cities-content {
        padding-bottom: 15px;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.34%, rgba(0, 0, 0, 0.447625) 50.99%, #000 98.69%);
    }
    .cities-content h4 {
        margin-bottom: 7px;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
    }
    
    // .partners .partner-carousel .band-img {
    //     padding: 0px 5px;
    // }
    // .partners .page-title {
    //     padding: 20px 0px 5px;
    // }
    // .slick-next,
    // .slick-prev {
    //     display: none !important;
    // }
    // .cities_slides .slick-list {
    //     padding: 0 20% 0 0 !important;
    // }
    // .client_slides .slick-list {
    //     padding: 0 14% 0 0 !important;
    // }
    // .feature_slides .slick-list {
    //     padding: 0 20% 0 0 !important;
    // }
    /* .cities_slides .slick-slide {
		margin: 0 10px;
	} */
    // .cities_slides .city-box,
    // .client_slides .city-box {
    //     margin: 0px 5px;
    // }
    // .client_logo_sec {
    //     padding: 20px 0px 5px !important;
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    // }
    // .client_slides img {
    //     padding: 0px 8px;
    // }
    .curated_section {
        padding: 20px 0px 20px;
    }
    // .slick-slider {
    //     margin-bottom: 0px !important;
    // }
    // .curated-item {
    //     position: relative;
    //     border-radius: 8px;
    //     overflow: hidden;
    // }
    // .curated-img {
    //     position: relative;
    // }
    // .curated-content {
    //     position: absolute;
    //     bottom: 0;
    //     width: 100%;
    //     text-align: center;
    //     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.34%, rgba(0, 0, 0, 0.447625) 50.99%, #000 98.69%);
    //     padding: 30px 0px 0px;
    //     transition: all 0.5s;
    // }
    // .curated-item:hover .curated-content {
    //     padding-bottom: 15px;
    //     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.34%, rgba(0, 0, 0, 0.447625) 50.99%, #000 98.69%);
    // }
    // .curated-content h4 {
    //     margin-bottom: 7px;
    //     color: #fff;
    //     font-size: 11px;
    //     font-weight: 500;
    // }
    // .popular-spaces .page-title h2::after {
    //     display: none !important;
    // }
    .feature_sec {
        padding: 20px 0px 20px !important;
    }
    // .icon_box {
    //     margin-bottom: 40px;
    // }
    // .icon_box img {
    //     width: 25px;
    //     margin-bottom: 0px;
    // }
    // .icon_box h4 {
    //     font-size: 12px;
    //     line-height: 14px;
    //     margin-bottom: 0px;
    // }
    // .cta_section {
    //     padding-top: 20px;
    //     padding-bottom: 20px;
    // }
    // .cta_section .cta_area {
    //     background-color: #F8F9FA;
    //     padding: 15px;
    //     border-radius: 10px;
    //     display: flex;
    //     align-items: center;
    //     box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.1);
    //     margin: 0 auto;
    // }
    // .cta_section p {
    //     font-size: 12px !important;
    //     line-height: 16px !important;
    //     margin-bottom: 10px !important;
    // }
    // .cta_section span {
    //     font-weight: 600;
    //     margin-top: 10px;
    //     display: inline-block;
    // }
    // .cta_section .img-fluid {
    //     width: 80%;
    // }
//     .cta_content {
//         padding: 10px 0px;
//     }
    
//     .space_search_made_sec {
//         background: #F8F8F8;
//         padding: 20px 0px;
//     }
//     .space_search_made_content p {
//         font-size: 19px;
//         line-height: 24px;
//     }
//     .space_search_made_sec img {
//         width: 50%;
//     }
//     .sub-footer {
//         padding: 30px 0px;
//         background-color: #f8f8f8;
//     }
//     .sub-footer h2, .sub-footer h3 {
//         color: #272828 !important;
//         font-size: 14px !important;
//         line-height: 20px !important;
//         margin-top: 0px;
//     }
//     .sub-footer h3:first-child {
//         margin-top: 0px !important;
//     }
//     .sub-footer p {
//         color: #777;
//         font-size: 11px;
//     }
//     .sub-footer a {
//         text-decoration: none;
//     }
//     .news_logo img {
//         padding: 0px 12px;
//     }
//     .city_col {
//         background: #F8F8F8;
//         box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.14);
//         display: flex;
//         width: 150px;
//         height: 150px;
//         align-items: center;
//         text-align: center;
//         margin: 0px 15px;
//         border-radius: 50%;
//         position: relative;
//     }
//     .city_col:first-child::after {
//         position: absolute;
//         content: "";
//         width: 1px;
//         height: 150px;
//         right: -15px;
//         background-color: #C1C1C1;
//     }
//     .city_click_popup .modal-body {
//         text-align: center;
//         margin: auto;
//         padding: 30px 15px;
//     }
//     .search_city img {
//         width: 40px;
//         margin-bottom: 12px;
//     }
//     .search_city {
//         width: 100%;
//     }
//     .search_city h4 {
//         font-size: 12px;
//         text-align: center;
//         line-height: 16px;
//         margin-bottom: 0px;
//     }
//     .coworking_cities .cities-icon-item {
//         display: flex;
//         align-items: center;
//         position: relative;
//     }
//     .coworking_cities .cities-img {
//         width: 30px;
//         height: 30px;
//         margin-right: 5px;
//         border-radius: 50%;
//         overflow: hidden;
//     }
//     .coworking_cities .cities-img img {
//         object-fit: cover;
//         height: 30px;
//     }
//     .coworking_cities .cities-icon-content h4 {
//         font-size: 11px;
//         font-weight: 500;
//         line-height: 15px;
//         margin-bottom: 0px;
//     }
//     .coworking_cities .city-left-box {
//         width: 33.33%;
//         float: left;
//         padding: 5px 5px;
//     }
//     .item {
//         padding: 0 5px;
//     }
//     .popular-spaces .item {
//         padding: 0 5px;
//     }
//     .popular-spaces .popular-space-box:hover::before {
//         background-image: linear-gradient(to bottom,rgba(255,255,255,0) 60%,#000 100%) !important;
//     }
    .categories_sec {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
//     .curated_section .row:last-child {
//         margin-left: 0px;
//         margin-right: 0;
//     }
//     .search {
//         margin-bottom: 10px !important;
//     }
    
//     .popular-spaces {
//         border-bottom: none !important;
//         padding: 30px 0px 30px !important;
//     }
    .feature_sec .feature_slides {
        padding-left: 0px !important;
    }
    .feature_slides .item {
        padding: 0 5px;
        width: 77.429%;
    }
//     .feature_sec .feature_slides img {
//         width: 100%;
//         border-radius: 8px;
//     }
//     .client_logo_sec .band-img {
//         padding: 0px 5px !important;
//     }
    .advantages_sec {
        padding: 20px 0px 10px;
    }
    .advantages_sec .row {
        margin-bottom: 0px !important;
    }
    .advantages_sec .icon_box {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    .advantages_sec .icon_box h4 {
        padding-left: 10px;
    }
//     .cofynd-desk .live-spaces-button {
//         background-color: transparent;
//         color: #222 !important;
//         padding: 0px !important;
//     }
//     .live-spaces-button a {
//         cursor: pointer;
//     }
//     .sub-footer p {
//         font-size: 11px;
//     }
    
//     .cities_carousel {
//         display: block;
//         width: 100%;
//         height: auto;
//         overflow-x: scroll;
//         padding: 8px 0px;
//         margin: 0;
//         white-space: nowrap;
//     }
// .cities_carousel::-webkit-scrollbar {
//     display: none !important;
//     height: 0 !important;
//     width: 0 !important;
// }
//     .cities_carousel {
//         -webkit-overflow-scrolling: touch;
//         -ms-overflow-style: none !important;
//         scrollbar-width: none !important;
//     }
    // .cities_item {
    //     display: inline-block;
    //     margin: 0 5px;
    //     height: 300px;
    //     background: rgba(0, 0, 0, 0.05) no-repeat center center;
    //     background-size: cover;
    //     position: relative;
    //     border-radius: 8px;
    //     box-shadow: 0 0 10px #dfdfdf;
    //     flex: 0 0 71.42857142857143%;
    //     width: 71.42857142857143%;
    //     overflow: hidden;
    // }
    // .cities_carousel .cities_item::before {
    //     content: "";
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), to(black));
    //     background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, black 100%);
    //     -webkit-transition: background-color 2s ease-out;
    //     transition: background-color 2s ease-out;
    //     z-index: 1;
    // }
    // .cities_carousel .cities_item img {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     bottom: 0;
    //     right: 0;
    //     width: 100%;
    //     height: 100%;
    //     -o-object-fit: cover;
    //     object-fit: cover;
    //     -webkit-transition: -webkit-transform 2000ms ease;
    //     transition: -webkit-transform 2000ms ease;
    //     transition: transform 2000ms ease;
    //     transition: transform 2000ms ease, -webkit-transform 2000ms ease;
    // }
    // .cities_carousel .cities_item .space-detail {
    //     padding: 20px;
    //     position: absolute;
    //     bottom: 0;
    //     width: 100%;
    //     z-index: 1;
    //     text-align: center;
    // }
    // .cities_carousel .cities_item h5 {
    //     font-size: 14px;
    //     line-height: 20px;
    //     color: #fff;
    //     margin-bottom: 5px;
    //     font-weight: 700;
    // }
    // .cities_carousel .cities_item p {
    //     font-size: 12px;
    //     font-weight: 500;
    //     color: #fff !important;
    //     margin: 0;
    // }
    // .top_coliving_cities {
    //     padding: 20px 0px;
    // }
    // .our_brands {
    //     padding: 20px 0px 20px !important;
    //   }
    //   .logos_slider {
    //     display: block;
    //     width: 100%;
    //     height: auto;
    //     overflow-x: scroll;
    //     padding: 0px;
    //     margin: 0;
    //     white-space: nowrap;
    // }
    // .logos_slider .band-img {
    //     display: inline-block;
    //     margin: 0 5px;
    //     width: 25.429%;
    //     overflow: hidden;
    //     padding: 0px !important;
    // }
    // .logos_slider::-webkit-scrollbar {
    //   display: none !important;
    //   height: 0 !important;
    //   width: 0 !important;
    // }
    // .logos_slider {
    //   -webkit-overflow-scrolling: touch;
    //   -ms-overflow-style: none !important;
    //   scrollbar-width: none !important;
    //   }
    //   .cta_section .cta_area {
    //     padding: 15px 0px;
    // }
    .advertisement_sec {
        padding: 20px 0px;
    }
    .add-item-list .add-item {
        margin: 0px 0px 10px;
        box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.03);
        border-radius: 10px;
        overflow: hidden;
    }
    .add-item-list .add-item:last-child {
        margin-bottom: 0px !important;
    }
    .cofynd_desk_sec {
        padding: 0px 0px 20px !important;
    }
    
}