<section class="banner">
    <div class="banner-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Choose from <span>25,000+</span><br> Spaces on Rent
                </h1>
                <div class="search">
                    <app-home-city-dropdown [typeLabel]="'Looking For'" [cityLabel]="'Select City'" [isCountryLandingPage]=false [isCoworking]="true" [isCoLiving]="true">
                    </app-home-city-dropdown>
                    <!-- <app-home-new-search></app-home-new-search> -->
                </div>
                <app-home-cities></app-home-cities>
            </div>
        </div>
    </div>
</section>

<section class="banner-footer hideOnMobile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div routerLink="/coworking/" class="space-facility" style="background-image: url('/assets/images/home/coworking-space.jpg');">
                    <h4>Coworking <span>Spaces</span></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div routerLink="/co-living/" class="space-facility" style="background-image: url('/assets/images/co-living/community.jpg');">
                    <h4>Coliving <span>Spaces</span></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div routerLink="/office-space/rent/" class="space-facility" style="background-image: url('/assets/images/home/office-space.jpg');">
                    <h4>Office <span>Spaces</span></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a routerLink="virtual-office">
                    <div class="space-types space-type-1">
                        <span>Looking For</span>
                        <h3>Virtual Office</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="space-types space-type-3" (click)="openModalWithComponent2('Art Gallery')">
                    <span>Looking For</span>
                    <h3>Art Gallery</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="space-types space-type-3" (click)="openModalWithComponent2('Film Shoot')">
                    <span>Looking For</span>
                    <h3>Film Shoot</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <span><h2 class="page-title onlyMobile" style="margin-left: 20px;  font-size: 22px;">Categories</h2></span> -->
<section class="categories_sec onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="category_item">
                    <h3>Coworking Space</h3>
                    <img src="../../../assets/images/mobile-home-page/coworking-space.png" class="img-fluid" alt="Coworking Space">
                    <a routerLink="/coworking/" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-4">
                <div class="category_item">
                    <h3>Coliving Space</h3>
                    <img src="../../../assets/images/mobile-home-page/coliving-space.png" class="img-fluid" alt="Coliving Space">
                    <a routerLink="/co-living/" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-4">
                <div class="category_item">
                    <h3>Virtual Office</h3>
                    <img src="../../../assets/images/mobile-home-page/virtual-office.png" class="img-fluid" alt="Virtual Office">
                    <a routerLink="virtual-office" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="category_item2 full-width">
                    <h3>Private Office</h3>
                    <img src="../../../assets/images/mobile-home-page/private-office.jpg" class="img-fluid" alt="Private Office">
                    <a routerLink="/office-space/rent/" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<section class="cities_section onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Coworking Spaces</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cities_slides">
                    <div class="city-box">
                        <div class="cities-item">
                            <div class="cities-img">
                                <img src="../../../assets/images/mobile-home-page/bangalore-city-img.jpg" alt="Bangalore" class="img-fluid">
                            </div>
                            <div class="cities-content">
                                <h4>Bangalore</h4>
                            </div>
                            <a href="https://cofynd.com/coworking/bangalore" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="city-box">
                        <div class="cities-item">
                            <div class="cities-img">
                                <img src="../../../assets/images/mobile-home-page/gurgaon-city-img.jpg" alt="Gurgaon" class="img-fluid">
                            </div>
                            <div class="cities-content">
                                <h4>Gurgaon</h4>
                            </div>
                            <a href="https://cofynd.com/coworking/gurugram" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="city-box">
                        <div class="cities-item">
                            <div class="cities-img">
                                <img src="../../../assets/images/mobile-home-page/noida-city-img.jpg" alt="Noida" class="img-fluid">
                            </div>
                            <div class="cities-content">
                                <h4>Noida</h4>
                            </div>
                            <a href="https://cofynd.com/coworking/noida" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="city-box">
                        <div class="cities-item">
                            <div class="cities-img">
                                <img src="../../../assets/images/mobile-home-page/delhi-city-img.jpg" alt="Delhi" class="img-fluid">
                            </div>
                            <div class="cities-content">
                                <h4>Delhi</h4>
                            </div>
                            <a href="https://cofynd.com/coworking/delhi" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="city-box">
                        <div class="cities-item">
                            <div class="cities-img">
                                <img src="../../../assets/images/mobile-home-page/hyderabad-city-img.jpg" alt="Hyderabad" class="img-fluid">
                            </div>
                            <div class="cities-content">
                                <h4>Hyderabad</h4>
                            </div>
                            <a href="https://cofynd.com/coworking/hyderabad" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- 
<section class="covid-section hideOnMobile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="covid-content">
          <h3>
            <span>COVID-19 RESPONSE</span>
            We are ready for <br>the new normal!
          </h3>
          <ul>
            <li>
              <div class="img">
                <img lazyLoad="/assets/images/amenities/mask.svg"
                  alt="Free Mask">
              </div>
              <h4>Free Masks Provided</h4>
              <p>Each of our hubs will provide you with free masks whenever you visit.</p>
            </li>
            <li>
              <div class="img">
                <img lazyLoad="/assets/images/amenities/sanitizer.svg"
                  alt="Sanitized Spaces">
              </div>
              <h4>Sanitized Spaces</h4>
              <p>All our spaces are sanitized
                regularly to make sure you have the best experience</p>
            </li>
            <li>
              <div class="img">
                <img lazyLoad="/assets/images/amenities/hand-sanitizers.svg"
                  alt="Hand Sanitizers">
              </div>
              <h4>Hand Sanitizers Provided</h4>
              <p>We provide you with sanitizers at each desk so that you have a clean experience.</p>
            </li>
            <li>
              <div class="img">
                <img lazyLoad="/assets/images/amenities/social-distancing.svg"
                  alt="Social Distancing">
              </div>
              <h4>Social Distancing </h4>
              <p>Each of our hubs makes sure that we maintain social distancing norms.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section class="covid-section hideOnMobile">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="cursor: pointer;" routerLink="/singapore">
                <img src="../../../assets/images/coworking/cowrking-singapore/singapore-home-new.png">
                <!-- <div class="covid-content">
          <h3>
            <span>COVID-19 RESPONSE</span>
            We are ready for <br>the new normal!
          </h3>
          <ul>
            <li>
              <div class="img">
                <img lazyLoad="/assets/images/amenities/mask.svg"
                  alt="Free Mask">
              </div>
              <h4>Free Masks Provided</h4>
              <p>Each of our hubs will provide you with free masks whenever you visit.</p>
            </li>
            <li>
              <div class="img">
                <img lazyLoad="/assets/images/amenities/sanitizer.svg"
                  alt="Sanitized Spaces">
              </div>
              <h4>Sanitized Spaces</h4>
              <p>All our spaces are sanitized
                regularly to make sure you have the best experience</p>
            </li>
            <li>
              <div class="img">
                <img lazyLoad="/assets/images/amenities/hand-sanitizers.svg"
                  alt="Hand Sanitizers">
              </div>
              <h4>Hand Sanitizers Provided</h4>
              <p>We provide you with sanitizers at each desk so that you have a clean experience.</p>
            </li>
            <li>
              <div class="img">
                <img lazyLoad="/assets/images/amenities/social-distancing.svg"
                  alt="Social Distancing">
              </div>
              <h4>Social Distancing </h4>
              <p>Each of our hubs makes sure that we maintain social distancing norms.</p>
            </li>
          </ul>
        </div> -->
            </div>
        </div>
    </div>
</section>


<section class="hideOnMobile feature">
    <div class="feature-half-left"></div>
    <div class="feature-half-right"></div>
    <div class="feature-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        <span>25,000+</span> Live Spaces
                    </h3>
                    <h3>
                        <span>700+</span> Locations
                    </h3>
                    <h3>
                        <span>18</span> Cities
                    </h3>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h2>CoFynd is India's fastest growing online discovery platform for searching and booking Coworking and Co-living spaces.</h2>
                        <div class="divider-line"></div>
                        <button type="button" (click)="openModalWithComponent()" class="anchor-text">
              Search . Book . Work . Live<i class="icon-next fas fa-angle-right"> </i>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="onlyMobile pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="live-spaces-button p-2 text-center text-white"><span class="pr-2">25000+ Live spaces </span>| <span class="pl-2 pr-2">700+ Locations </span>| <span class="pl-2 pr-2">20+ Cities</span></p>
            </div>
        </div>
    </div>
</section> -->

<section class="what-you-get">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img lazyLoad="../../../assets/images/home/mid-curved-image.jpg" alt="CoFynd">
            </div>
            <div class="col-md-6 right-part">
                <div class="page-title page-title-left">
                    <h2>What You Get From Us</h2>
                </div>
                <ul>
                    <li>
                        <i class="wt-icon wt-icon-price"></i> Exclusive pricing for CoFynd members
                    </li>
                    <li>
                        <i class="wt-icon wt-icon-space"></i> Verified Spaces and Trusted Partners
                    </li>
                    <li>
                        <i class="wt-icon wt-icon-fee"></i> No booking service fee
                    </li>
                    <li>
                        <i class="wt-icon wt-icon-support"></i> 100% offline support even after you move in
                    </li>
                    <li>
                        <i class="wt-icon wt-icon-Coupon"></i> Exclusive Brand Coupon Codes
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="hideOnMobile">
    <app-home-popular-space [isCountryLandingPage]=false></app-home-popular-space>
</div>

<section class="top_coliving_cities onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Top Coworking in India</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cities_carousel">
                    <div class="cities_item first-slide" (click)="openWorkSpace(city.city)" *ngFor="let city of popularCoWorkingSpaces">
                        <img class="ng-lazyloaded" [alt]="city.city" [src]="city.image">
                        <div class="space-detail">
                            <h5>{{removedash(city.city) | titlecase}}</h5>
                            <!-- <p><i class="icon-location"></i>{{city.address}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<div class="pb-5">
    <app-home-brand-list *ngIf="coworkingBrands" [coworkingBrands]="coworkingBrands">
    </app-home-brand-list>
</div> -->

<section class="curated_section onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h2>Curated Coworking Spaces</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img src="../../../assets/images/mobile-home-page/coworking-curated-img1.jpg" alt="Bangalore" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Low Cost</h4>
                        </div>
                        <a type="button" (click)="openModal('10,000')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img src="../../../assets/images/mobile-home-page/coworking-curated-img2.jpg" alt="Bangalore" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Affordable</h4>
                        </div>
                        <a type="button" (click)="openModal('20,000')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img src="../../../assets/images/mobile-home-page/coworking-curated-img3.jpg" alt="Bangalore" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Luxury</h4>
                        </div>
                        <a type="button" (click)="openModal('above 20,000')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature_sec partners pb-5 onlyMobile" *ngIf="coworkingImages && coworkingImages.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Featured Coworking</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="feature_slides partner-carousel slider-on-mobile-view">
                    <div class="item" *ngFor="let item of coworkingImages">
                        <!-- <img src="/assets/images/star-coworking-img.jpg" alt="" class="img-fluid"> -->
                        <a [routerLink]="item.description" target="_blank"> <img [src]="item.image?.s3_link" [alt]="item.name" class="img-fluid"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="advertisement_sec onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="add-item-list">
                    <div class="add-item" routerLink="/brand/awfis">
                        <img src="../../../assets/images/ads/awfis-ads.png" alt="Awfis" class="img-fluid">
                    </div>
                    <div class="add-item" routerLink="/brand/wework">
                        <img src="../../../assets/images/ads/wework-ads.png" alt="WeWork" class="img-fluid">
                    </div>
                    <div class="add-item" routerLink="/brand/91-spring-board">
                        <img src="../../../assets/images/ads/91springboard-ads.png" alt="91Springboard" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="enquiry-section hideOnMobile" style="padding-top: 90px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" (click)="openAdd()">
                <img lazyLoad="/assets/images/home/advertisement1.jpg" class="enquiry-box" alt="Co Working Spaces" />
            </div>
        </div>
    </div>
</section>

<!-- We are ready for the new normal! -->
<!-- <section class="onlyMobile covid-safety pt-5 pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <p class="facility-head">We are ready for the new normal!</p>
            </div>
            <div class="col-12">
                <img src="../../../assets/images/co-living/colivingMain/covid-2.png" class="img-fluid m-auto d-block border pt-2 pl-2 pr-2" alt="">
            </div>
        </div>
    </div>
</section> -->
<div class="hideOnMobile">
    <app-home-popular-space [shouldCoLivingVisible]="true" [pageTitle]="'Top Coliving in India'" [popularCoLivingSpaces]="popularCoLivingSpaces" [shouldCoWorkingVisible]="false">
    </app-home-popular-space>
</div>

<section class="top_coliving_cities onlyMobile" *ngIf="popularCoLivingSpaces.length">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Top Coliving in India</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cities_carousel">
                    <div class="cities_item first-slide" (click)="openCoLivingSpace(city.slug)" *ngFor="let city of popularCoLivingSpaces">
                        <img class="ng-lazyloaded" [alt]="city.name" [src]="city.image">
                        <div class="space-detail">
                            <h5>{{removedash(city.name) | titlecase}}</h5>
                            <p><i class="icon-location"></i>{{city.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<app-home-brand-list [shouldCoLivingVisible]="true" pageTitle='Our Coliving Partners' [shouldCoWorkingVisible]="false" *ngIf="coLivingBrands" [coLivingBrands]="coLivingBrands">
</app-home-brand-list> -->

<section class="curated_section onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Curated Coliving Spaces</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img src="../../../assets/images/coliving-curated-img1.jpg" alt="Bangalore" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Food Available</h4>
                        </div>
                        <a type="button" (click)="openModal('Inclusive')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img src="../../../assets/images/coliving-curated-img2.jpg" alt="Bangalore" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Private Room</h4>
                        </div>
                        <a type="button" (click)="openModal('625698d3a91948671a4c590b')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="curated-box">
                    <div class="curated-item">
                        <div class="curated-img">
                            <img src="../../../assets/images/coliving-curated-img3.jpg" alt="Bangalore" class="img-fluid">
                        </div>
                        <div class="curated-content">
                            <h4>Twin Sharing</h4>
                        </div>
                        <a type="button" (click)="openModal('625698e8a91948671a4c590c')" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature_sec partners pb-5 onlyMobile" *ngIf="colivingImages && colivingImages.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Featured Coliving</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="feature_slides partner-carousel slider-on-mobile-view">
                    <div class="item" *ngFor="let item of colivingImages">
                        <!-- <img src="img/pearl-premium-lux-homes.jpg" alt="" class="img-fluid"> -->
                        <a [routerLink]="item.description" target="_blank"> <img [src]="item.image?.s3_link" [alt]="item.name" class="img-fluid"> </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="advertisement_sec onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="add-item-list">
                    <div class="add-item">
                        <img src="../../../assets/images/ads/flock-ads.png" alt="Awfis" class="img-fluid">
                    </div>
                    <div class="add-item">
                        <img src="../../../assets/images/ads/locl-ads.png" alt="WeWork" class="img-fluid">
                    </div>
                    <div class="add-item" routerLink="/brand/co-living/yourspace">
                        <img src="../../../assets/images/ads/yourspace-ads.png" alt="91Springboard" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="advantages_sec onlyMobile">
    <div class="container">
        <div class="row mb-2">
            <div class="col-12">
                <div class="page-title">
                    <h2>CoFynd Advantages</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="icon_box">
                    <img src="../../../assets/images/price-icon.png" alt="">
                    <h4>Exclusive Pricing</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="icon_box">
                    <img src="../../../assets/images/trusted-icon.png" alt="">
                    <h4>Verified Spaces</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="icon_box">
                    <img src="../../../assets/images/support-icon.png" alt="">
                    <h4>100% Support</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="icon_box">
                    <img src="../../../assets/images/brokerage-icon.png" alt="">
                    <h4>Zero Brokerage</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="enquiry-section hideOnMobile">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a routerLink="brand/gostops">
                    <img lazyLoad="/assets/images/home/advertisement2.jpg" style="cursor: pointer;" class="enquiry-box" alt="Co Working Spaces" />
                </a>
            </div>
        </div>
    </div>
</section>



<section class="cta_section onlyMobile">
    <div class="container">
        <div class="row align-items-center">
            <div class="cta_area">
                <div class="col-8">
                    <div class="cta_content">
                        <p>List Your Vacant Space with Cofynd and Start Earning</p>
                        <a href="https://cofynd.com/list-your-space" class="btn site_btn">List Your Space</a>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <img src="../../../assets/images/cta-img.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client_logo_sec onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Our Clients</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="logos_slider">
                    <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo1.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo2.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo3.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo4.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo5.png'" alt="" class="img-fluid"></div>
                    <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo6.png'" alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-home-brand-list [shouldOtherBrandVisible]="true" [pageTitle]="'Our Brand Partners'" [shouldCoWorkingVisible]="false"></app-home-brand-list>


<section class="enquiry-section hideOnMobile">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/list-your-space" target="_blank">
                    <img src="../../../assets/images/listYourSpace.jpg" style="cursor: pointer; box-shadow: 0px 6px 12px rgba(0,0,0,0.12);" class="enquiry-box forLapT" alt="Co Working Spaces" />
                    <img src="../../../assets/images/co-living/colivingMain/list-space.png" style="cursor: pointer; box-shadow: 0px 6px 12px rgba(0,0,0,0.2);" class="enquiry-box forMob" alt="Co Working Spaces" />
                </a>
            </div>
        </div>
    </div>
</section>

<app-home-news-list></app-home-news-list>

<section class="cofynd_desk_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cofynd-desk text-center">
                    <img style="max-height: 200px;" src="/assets/images/about-us/work-desk.png" alt="">
                    <h4>What's the CoFynd Desk ?</h4>
                    <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd community Breathe, Connect and Climb
                        to their highest in life.</p>
                    <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
                    <div class="space-btn pb-5">
                        <p class="live-spaces-button p-2 text-center text-white "><a><span class="pr-2" routerLink="/coworking">India </span></a>|
                            <span class="pl-2 pr-2" routerLink="/singapore">Singapore </span>| <span class="pl-2 pr-2">Dubai</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>