<div class="plain-text">
  <p>
    <strong>CoFynd Infotech Pvt. Ltd.</strong> (or Simply <strong>"CoFynd"</strong> or Any reference made to "we", "us"
    or "ours" refers to CoFynd) understands the need to protect the privacy of the personal information you provide to
    CoFynd with respect to your access and use of CoFynd's Websites and Mobile Application (hereinafter individually
    referred to as "Platform" and collectively as "Platforms").
  </p>

  <p>
    Therefore, we have adopted this privacy policy. This Privacy Policy governs how we collect and use your personal
    information wherever you use our Platforms. This Privacy Policy shall be read in accordance with the Terms of Use
    and/or any other agreement entered into with a User or Co Working Space Partner, available of CoFynd Platforms.
  </p>

  <p>
    By using or accessing the Platforms, you hereby agree to the terms of this Privacy Policy, especially the terms with
    respect to collection, storage, processing and sharing of your personal information. If you disagree with this
    Privacy Policy, please do not use or access our Platforms.
  </p>

  <h4>HOW COFYND ACCEPT YOUR INFORMATION?</h4>
  <p>
    We receive and store any information you enter on our Website or give us in any other way. This includes information
    that can identify you (i.e. personal information), including your first and last name, telephone number, postal and
    email addresses, user name and password, and billing information. We may also request information about your
    location, travel plans and coworking preferences. You can choose not to provide information to us, but in general
    some information about you is required in order for you to receive relevant offerings from Some information is also
    required in order for you to ask us a question or initiate other transactions on our site. Information About Others.
    You will have the opportunity to provide contact and coworking-related information for other people through our
    Website. When you browse our website, we also automatically receive your computer’s internet protocol (IP) address
    in order to provide us with information that helps us learn about your browser and operating system. Email marketing
    (if applicable): With your permission, we may send you emails about our services, new offers and other updates.
  </p>

  <h6>Your consensus …</h6>

  <p>
    When you provide us with personal information to search or to book a space, verify your Billing Information (such as
    your Debit / credit card number, cardholder name, and card expiration date etc), we imply it as your consent and use
    it for that specific reason only. If we ask for your personal information for a secondary reason, like marketing, we
    will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
  </p>

  <h6>You can withdraw your consensus …</h6>

  <p>
    If somehow, you change your mind, you may withdraw your consent to contact you, for the continued collection, use or
    disclosure of your information shared, at any time, by reaching us at hello@CoFynd.com
  </p>

  <h4>COFYND COLLECTS</h4>

  <h6>INFORMATION shared by You</h6>

  <p>We ask for and collect the following personal information about you when you use our Platforms.</p>

  <p>
    <strong>- User Account Registration:</strong> For creating or updating an account on our Platforms to avail our
    services we collect information which may include, full name, date of birth, mobile number, email address, display
    picture, billing address, and company details such as company name, GST number and company address.
  </p>

  <p>
    <strong>- Listing Account Registration:</strong> When a Co working Space creates an account on our platform to list
    their services, we collect the personal information about the listed Co Working Space and services, images of the
    space and services, videos, dates and times of availability, permissions to list the property (proof of ownership or
    lease), detailed description of the types of services offered, and company details such as company name, GST number
    and company address.
  </p>

  <p>
    <strong>- Verification Information:</strong> We may collect your identity verification information (such as images
    of government issued ID, passport, national ID card, or driving license, as permitted by applicable laws) or other
    authentication information, as and when the need arises to ensure such a level of identity authentication, with
    clear prior intimation.
  </p>

  <p>
    <strong>- Payment Information (Users):</strong> To make a booking on our Platforms, we shall require certain
    financial information from the Users, such as bank account details and credit or debit card information to
    facilitate the payments and comply with any applicable laws/regulations/rules. Payment Information (Co Working Space
    Partner):To list a Co Working Space on the Platforms, Co working Spaces will be required to share their banking
    details with us for settlement of payments. This information includes, Name of the Account Holder, Account Number,
    IFSC Code, Branch Name, Bank Name and GST Number.
  </p>
  <h5>INFORMATION BY DEFAULT</h5>

  <p>
    When you use our Platforms, relevant information is collected by default. This information helps us enhance our
    services and functionalities of the Platforms, to serve you better.
  </p>

  <p>
    - Location Information: When you use certain features of our Platforms, we may collect information about your
    precise or approximate location as determined through data such as your IP address or mobile device’s GPS to offer
    you an improved user experience. We may also collect this information even when you are not using the Platforms if
    this connection is enabled through your settings or device permissions.
  </p>

  <p>
    - Platform Usage Information: We collect information about how you interact with our services. This includes
    information such as access dates and times, Application/Website(s) features or pages viewed, Application/Website(s)
    crashes and other system activity, type of browser, and third-party sites or services you were using before
    interacting with our services. In some cases, we collect this information through cookies, pixel tags and similar
    technologies that create and maintain unique identifiers.
  </p>

  <p>
    - Transaction Information: We collect transaction details related to your use of our services, including the type of
    services you requested or provided, your purchase details, date and time the service was provided, amount charged,
    duration of usage, and payment method.
  </p>
  <p>
    - Device Information: We may collect information about the devices you use to access our services, including the
    hardware models, device IP address, operating systems and versions, software, file names and versions, preferred
    languages, unique device identifiers, advertising identifiers, serial numbers, device motion information, and mobile
    network information.
  </p>

  <p>
    - Communications and Interaction Information: When you communicate with CoFynd or with other members using our
    Platforms, we collect information about such communication.
  </p>

  <p>
    - Cookies: CoFynd uses cookies to protect and improve the services provided through our Platforms, increase the ease
    of access to users, show you relevant content, monitor and analyse the performance, operation, and effectiveness of
    the Platforms, and to serve you tailored advertising. We also use other technologies with similar functionality to
    cookies, such as web beacons, pixels, mobile identifiers, and tracking URLs, to obtain Log Data. For example, our
    email messages may contain web beacons and tracking URLs to determine whether you have opened a certain message or
    accessed a certain link.
  </p>

  <h6> INFORMATION FROM THIRD PARTIES</h6>

  <p>
    We may receive information about you from third parties, in the course of your interaction with our Platforms. We
    may retain this information to provide our services to the Users and Co Working Space Partners, comply with legal
    obligations, or in order to improve our services and overall user experience. This information includes:
  </p>
  <ul>
    <li>
      - User ratings, reviews, and feedbacks. This shall include any images or videos uploaded by the User in its
      reviews.
    </li>
    <li>
      - Information received through linked social media or email accounts (Google, Facebook, etc.), third-party payment
      service providers through which you make payments on our Platforms, and APIs used by our Platforms.
    </li>
    <li>- Information in the public domain received through publicly available sources.</li>
  </ul>

  <h4>COFYND USES YOUR INFORMATION FOR</h4>

  <p>
    We use your information primarily to provide you with our services, and to fulfil our legal obligations while doing
    so. This information is used to improve and develop our Platforms, provide you with custom suggestions according to
    your usage, and to create a safe environment for exchange of services
  </p>

  <h5>LISTING AND BOOKING OF SERVICES</h5>
  <ul>
    <li>- To list Co Working Space Partner’s services on our Platforms and making them available to the Users.</li>
    <li>
      - To verify User identity while making or accepting a booking. These identity details can be used to pre-fill
      booking forms allowing expeditious booking of services.
    </li>
    <li>- To send booking confirmations, service messages, support messages, updates, and notifications.</li>
    <li>- To determine the Booking Fee, Co Working Space Partner’s Fees</li>
    <li>- To send price update messages to the Co Working Space Partner, adjusted according to CoFynd.</li>
    <li>- To customise the content of our Platforms and present tailor-made suggestions to you.</li>
    <li>- To provide customer service.</li>
    <li>
      - To process and facilitate payments for the booking, we use your payment details such as saved credit or debit
      card details, bank account details, GST Number, billing address, and other linked third-party payment platforms or
      methods.
    </li>
    <li>
      - To process and facilitate payments due to Co Working Space Partner, we use the name, address and account details
      provided to us at the time of account registration/submitting of Invoice.
    </li>
    <li>- To track the successful completion of services by the Co Working Space Partner.</li>
  </ul>

  <h5>Marketing, Promotion, Personalisation and Research</h5>

  <ul>
    <li>
      - To send promotional messages, marketing, advertising and other information based on your preferences and usage
      of Platforms and services. This includes social media advertising through various platforms such as Google,
      Facebook, etc.
    </li>
    <li>- Personalise, measure and improve our Advertising.</li>
    <li>
      {' '}
      - We may use the information provided to us for conducting research, in order to improve our Platform’s
      performance, develop services, optimising the placement of listings on our Platforms, and introduce new features
      in connection with our services.
    </li>
    <li>
      - To assess your Selections and preferences based on your interaction with the Platforms, bookings made, services
      availed, and search history; to send you promotional messages and marketing information that may benefit you.
    </li>
  </ul>

  <h5>Safety, Security and Support</h5>

  <ul>
    <li>- To detect and prevent fraud, spam, abuse, and other harmful activity.</li>
    <li>- To verify or authenticate account information provided by a User or Co Working Space Partner.</li>
    <li>
      - Using ratings and reviews to improve performance of Co Working Space Partners, and to deactivate accounts that
      are below a required threshold of ratings.
    </li>
    <li>
      - To assist users when they contact the customer support services, by providing the customer support executive
      with the required details of the User, to verify their identity, information of the booked services and payment
      details, to ensure speedy redressal of issues.
    </li>
  </ul>

  <h5>LEGAL Requirements</h5>

  <ul>
    <li>- To enforce the Terms of Use, available on our Platforms.</li>
    <li>- To comply with legal and regulatory obligations.</li>
    <li> - To communicate any changes in the Privacy Policy, Terms of Use, or any other agreement.</li>
    <li> - To investigate or address claims or disputes relating to your use of CoFynd's services.</li>
  </ul>

  <h4>COFYND SHARE INFORMATION RESPONSIBLY</h4>

  <p>
    We use your information primarily to provide you with our services, and to fulfil our legal obligations while doing
    so. This information is used to improve and develop our Platforms, provide you with custom suggestions according to
    your usage, and to create a safe environment for exchange of services{' '}
  </p>
  <h4>At the time of booking</h4>

  <h5>Users</h5>
  <p>
    - Your personal information such as name, email-address, contact number, and billing address will be shared with the
    Co Working Space Partner whose services have been booked by a User, to enable the User’s identity verification at
    the time of availing the services. Though Cofynd cannot be made accountable how the Co Working Space Partner uses
    this information.
  </p>

  <h5>Co Working Space Partners</h5>
  <p>
    - Your personal information such as name, email-address, contact number, and billing address will be shared with the
    Co Working Space Partner whose services have been booked by a User, to enable the User’s identity verification at
    the time of availing the services. Though Cofynd cannot be made accountable how the Co Working Space Partner uses
    this information.
  </p>

  <h5>PROFILES AND LISTINGS</h5>

  <p>
    The CoFynd Platform lets Co Working Space Partner publish information, including personal information, that is
    visible to the general public. For example:
  </p>

  <ul>
    <li>
      - Listing pages are publicly visible and include information such as the services offered, description and details
      of the Workspace Property, or precise location (where you have provided your consent), calendar availability, your
      Co Working space Property’s photographs, aggregated demand information (like page views over a period of time),
      and any additional information you choose to share.
    </li>
    <li>
      - After completing a booking, Users may write reviews and rate the Services. Reviews and ratings are a part of
      your public profile page and may also be surfaced elsewhere on the Platforms (such as the Listing page).
    </li>
    <li>
      - If you submit content in a community or discussion forum, blog or social media post, or use a similar feature on
      our Platform, that content is publicly visible.
    </li>
    <li>
      - To promote the CoFynd Platform we may display parts of the Platform on sites operated by our marketing/business
      partners. If Listings are displayed on a partner’s site, information from your public profile page may also be
      displayed.
    </li>
    <li>- Information you share publicly on the CoFynd Platform may be indexed through third party search engines</li>
  </ul>

  <h5>Legal Obligations and Compliances</h5>

  <p>CoFynd may share or disclose personal information and/or sensitive personal data or information:</p>

  <ul>
    <li>- if it is required to do so by applicable law, any statutory, legislative or governmental authorities,</li>
    <li>
      - to voluntarily release any information about Users or Co Working Space Partners who we believe are engaged in
      illegal activities or are otherwise in violation of our Terms of Use, without any court order or summons, if we
      believe, in our sole discretion, that such disclosure is necessary or appropriate to operate our Platforms or to
      protect our rights and/or property,
    </li>
    <li>- for regulatory compliance, internal compliance, or audits,</li>
    <li>
      - to enforce and administer our Terms of Use, the payment terms or other agreements with the Workspace Partners,
    </li>
    <li>
      - to protect the rights, property or personal safety of CoFynd, its employees, its Members, or members of the
      public,
    </li>
    <li>
      - in connection with, or during negotiations of, any merger, sale of company assets, consolidation or
      restructuring,
    </li>
    <li>financing, or acquisition of all or a portion of our business by or into another company.</li>
  </ul>

  <h5>Disclosures to Investors, Directors and Acquirers</h5>

  <p>
    - We will disclose the information to prospective or existing Investors and/or Directors. Although the Investors,
    Directors are subjected to a strict code of confidentiality, CoFynd cannot be held liable in the event any Investor,
    discloses any information to any third party.
  </p>
  <p>
    - CoFynd may transfer, sell or assign all or any part of your information to any person or company that may acquire
    CoFynd, in part or whole, as a result of a merger, acquisition, re-organization, change in control, sale,
    consolidation, transfer of assets or liquidation.
  </p>

  <h5>Payment Services</h5>

  <p>
    CoFynd shall share information with Payment Gateway Service providers to ensure processing and settlement of
    payments.
  </p>

  <p>
    - In case of Users : full name, email address, contact number, amount payable, bank account details, credit or debit
    card details, and other third-party payment platforms or methods shall be shared with the Payment Gateway Service
    providers.
  </p>
  <p>
    {' '}
    - In case of Co Working space Partners : full name or name of the registered business entity, amount payable, email
    address, contact number and bank account details shall be shared with the Payment Gateway Service providers.
  </p>

  <h5>Other disclosures and sharing</h5>

  <ul>
    <li>- Cloud storage providers</li>
    <li>- Marketing partners and marketing platform providers.</li>
    <li>- Data analytics providers.</li>
    <li>- Research partners, including those performing surveys or research projects on behalf of CoFynd.</li>
    <li>
      - Third parties, affiliated with CoFynd or otherwise, that assist CoFynd to enhance the safety and security of its
      Platforms.
    </li>
    <li> - Consultants, lawyers, accountants and other professional service providers.</li>
  </ul>

  <p>
    The information we provide to such third parties are protected by confidentiality agreements and such information is
    to be used solely for completing the specific project, and in compliance with the applicable regulations.
  </p>

  <h6>Links </h6>

  <p>
    When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy
    practices of other sites and encourage you to read their privacy statements.
  </p>

  <h6>SECURITY</h6>

  <p>
    To protect your personal information, we take reasonable precautions and follow industry best practices to make sure
    it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
  </p>

  <h6>AGE OF CONSENT</h6>

  <p>
    By using this site, you represent that you are at least the age of majority in your state or province of residence,
    or that you are the age of majority in your state or province of residence and you have given us your consent to
    allow any of your minor dependents to use this site.
  </p>
</div>;
