<div class="similar-workspaces" *ngIf="!loading && workSpaces.length">
    <ngu-carousel #similarCarousel [inputs]="carouselConfig" [dataSource]="workSpaces" (onMove)="onSliderMove($event)">
        <div *nguCarouselDef="let office;let i = index;" class="item" [ngClass]="(i== workSpaces.length-1)?'last-slide':null">
            <div class="box" [routerLink]="['/co-living/', office.slug]">
                <div class="img">
                    <img [lazyLoad]="office.images[0]?.image.s3_link" alt="">
                </div>
                <div>
                    <h5 class="detail">{{ office.name }}</h5>
                    <p class="address">
                        <i class="icon-location-outline fal fa-map-marker-alt"></i> {{ office.location.address }}
                    </p>
                    <!-- <p class="capacity">
            <i class="building-icon"></i>
            Best Price Guarantee
          </p> -->
                    <div class="price-box">
                        <div class="price">
                            <!-- <span>Monthly Rent*</span> -->

                            <!-- {{ (office.other_detail.area_for_lease_in_sq_ft * office.other_detail.rent_in_sq_ft).toLocaleString('en-IN') }} -->
                            {{office.starting_price | currency:office.currency_code : 'symbol' : '1.0-0' }}<span class="price-bed">/-Month</span>
                        </div>
                        <a target="_blank" [routerLink]="['/co-living/', office.slug]" class="btn-link forMobileOnly">Explore Now<small class="icon-next"></small>
            </a>
                    </div>
                </div>
            </div>
        </div>

    </ngu-carousel>

    <button type="button" (click)="goToPrev()" [disabled]="similarCarousel.isFirst" class="carousel-arrow icon-back fas fa-angle-left">
  </button>
    <button type="button" (click)="goToNext()" [disabled]="similarCarousel.isLast" class="carousel-arrow icon-next fas fa-angle-right">
  </button>
</div>