.similar-workspaces {
  .ngucarousel-items {
    margin: 0 -10px;
  }

  .carousel-arrow {
    position   : absolute;
    top        : 210px;
    color      : #4343e8;
    font-size  : 26px;
    font-weight: bold;

    &.icon-next {
      right: -20px;
    }

    &.icon-back {
      left: -20px;
    }

    &[disabled] {
      opacity: 0.4;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  .item {
    padding: 0 10px;
  }

  .box {
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .img {
    margin-bottom   : 15px;
    // height       : 190px;
    position        : relative;
    overflow        : hidden;
    background      : #e0dfdf url('/assets/images/no-img.svg') no-repeat center center;
    border-radius   : 4px 4px 0 0;

    @media(max-width:480px) {
      margin-bottom: 0px;
    }
  }

  img {
    border-radius: 4px;
  }

  h5 {
    font-size  : 16px;
    font-weight: 600;
    color      : #000;
    margin     : 15px 0;

    @media(max-width:480px) {
      font-size  : 12px;
      font-weight: 500;
      margin     : 5px 0;
    }
  }

  p {
    font-size     : 12px;
    font-weight   : 400;
    line-height   : normal;
    letter-spacing: 0.24px;
    color         : #908f8f;
    margin-bottom : 7px;
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
  }
}

.price-box {
  position   : relative;
  padding-top: 10px;

  .price-bed {
    display  : inline !important;
    font-size: 17px !important;
  }

  .price {
    font-size     : 18px;
    font-weight   : 700;
    letter-spacing: 0.36px;

    span {
      font-size     : 12px;
      font-weight   : 300;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : normal;
      letter-spacing: 0.12px;
      color         : #000000;
      display       : block;
    }

    small {
      font-size     : 17px;
      letter-spacing: 0.34px;
      font-weight   : 300;
      font-stretch  : normal;
      font-style    : normal;
      line-height   : normal;
    }
  }

  .btn-link {
    position   : absolute;
    right      : 0;
    bottom     : -5px;
    font-size  : 14px;
    font-weight: 500;
    margin     : 0;

    small {
      font-size  : 10px;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  @media(max-width:480px) {
    padding-top: 0px;

    .price-bed {
      font-size: 12px !important;
    }

    .price {
      font-size  : 12px;
      font-weight: 500;
    }
  }
}

// .last-slide {
//   @media (max-width:767px) {
//     margin-left: 25px;
//     padding    : 0 !important;
//   }
// }

::ng-deep .ngucarousel-items {
  @media (max-width:767px) {
    width: 100%;
  }
}

@media(max-width:480px) {
  .forMobileOnly {
    display: none;
  }

  .detail {
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
  }
}