<div class="similar-workspaces" *ngIf="!loading && workSpaces.length">
    <ngu-carousel #similarCarousel [inputs]="carouselConfig" [dataSource]="workSpaces" (onMove)="onSliderMove($event)">
        <div *nguCarouselDef="let office;let i = index;" class="item" [ngClass]="(i== workSpaces.length-1)?'last-slide':null">

            <div class="property_item" [routerLink]="['/co-living/', office.slug]" style="cursor: pointer;">
                <div class="property-img">
                    <img [lazyLoad]="office.images[0]?.image.s3_link" alt="" class="img-fluid">
                </div>
                <div class="property-dis">
                    <h4>{{ office.name }}</h4>
                    <p class="address"><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{ office.location.address }}</p>
                    <p class="capacity"><img class="img-fluid" alt="" src="../../../../assets/images/amenities/save-money.svg"> Best Price</p>
                    <p class="capacity light_blue"><img class="img-fluid" alt="" src="../../../../assets/images/amenities/minimum-stay.svg"> Minimum stay 3 months</p>
                </div>
                <div class="property-foot align-items-end">
                    <div class="price"><span class="rent_title">Starting from</span>₹{{office.starting_price}}/- <span>month</span></div>
                    <div class="button"><a [routerLink]="['/co-living/', office.slug]" tabindex="0">Explore More</a></div>
                </div>
            </div>

            
            <!-- <div class="box" [routerLink]="['/co-living/', office.slug]">
                <div class="img">
                    <img [lazyLoad]="office.images[0]?.image.s3_link" alt="">
                </div>
                <div>
                    <h5 class="detail">{{ office.name }}</h5>
                    <p class="address">
                        <i class="fa-solid fa-location-dot"></i> {{ office.location.address }}
                    </p>
                    <div class="price-box">
                        <div class="price">
                            <i class="fa-solid fa-indian-rupee-sign"></i>
                            {{office.starting_price}}<span class="price-bed">/-Month</span>
                        </div>
                        <a target="_blank" [routerLink]="['/co-living/', office.slug]" class="btn-link forMobileOnly">Explore Now<small class="icon-next"></small>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>

    </ngu-carousel>

    <button type="button" (click)="goToPrev()" [disabled]="similarCarousel.isFirst" class="carousel-arrow icon-back fas fa-angle-left">
  </button>
    <button type="button" (click)="goToNext()" [disabled]="similarCarousel.isLast" class="carousel-arrow icon-next fas fa-angle-right">
  </button>
</div>






<!-- <section class="near-vitual-office best-vitual-office onlyMobile" *ngIf="!loading && workSpaces.length">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Similar Coliving Spaces</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="space_carousel">
                    <div class="property-item" [routerLink]="['/co-living/', _centerCity.slug]" *ngFor=" let _centerCity of workSpaces">
                        <div class="property-img">
                            <img [src]="_centerCity.images[0].image.s3_link" alt="Plus Offices Sector 67" class="img-fluid">
                        </div>
                        <div class="properties-content">
                            <h4>{{_centerCity.name}}</h4>
                            <p><i class="fa-solid fa-location-dot"></i> {{_centerCity.location.address}}</p>
                            <ng-container>
                                <p class="price"><span style="color: blue !important;">₹{{_centerCity.starting_price}}</span>/- Month</p>
                            </ng-container>
                        </div>
                        <a [routerLink]="['/co-living/', _centerCity.slug]"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->