.payment-box {
  .box {
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .02);
    border-radius: 4px;
    padding: 20px;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .divider {
    width: 160px;
    height: 1px;
    margin: 20px 0 0;
    border-bottom: 1px dotted #f1f1f1;
  }


  .visit-info {
    margin-top: 40px;
    display: flex;


    .visitors-count {
      padding-left: 40px;
      position: relative;

      &::before {
        content: "";
        height: 30px;
        display: inline-block;
        width: 1px;
        background: #d8d8d8;
        position: absolute;
        left: 0;
        margin: 0 20px;
      }
    }

    span {
      display: block;
      color: #000;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
    }

    small {
      color: #908f8f;
      font-size: 11px;
    }
  }
}
