<section class="marketing_header fixed-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-6">
        <div class="marketing_logo">
          <img src="assets/images/logo.svg"
              class="img-fluid"
              alt="Cofynd Logo">
        </div>
      </div>
      <div class="col-md-6 col-6">
        <div class="head_contact">
          <h4 class="mobilehide">Looking for Office Space</h4>
          <p><i class="fa-solid fa-phone"></i> <a href="tel:+919811249423">+91 9811 24 9423</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="marketing_banner"
  style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/28b36648c783301bf060c3655db4f2bddb29dcf1.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="banner_content">
          <h1>Choose from 1,000+ Coworking Spaces in <span style="color: #FFDD2C;">Mumbai</span></h1>
          <p>Offices at All prime locations of Mumbai - Andheri, BKC, Goregaon, Lower Parel, Powai, Navi Mumbai, Vikhroli, Malad, Worli, Thane and more ...</p>
          <button class="site_btn btn desktophide"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="viewMoreLocation()">Enquire Now</button>

          <!-- Modal -->
          <div class="modal fade banner_form_popup"
            id="banner_popup"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="enquire-box">
                    <div class="form-section enquire-box-content"
                      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/753febf95bc0e22e68d7777d9df2fdda1aeec62f.png');">
                      <div class="title">
                        <h4>Coworking Space in Mumbai</h4>
                        <button type="button"
                          class="btn-close"
                          data-dismiss="modal"
                          aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                      </div>

                      <!-- <form class="form" [formGroup]="enterpriseFormGroup" (ngSubmit)="onSubmit()">
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name" type="text" placeholder="Name 1111*" />
                                  <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['name'].errors['required']">
                                        Please enter your name.
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="form-group">
                                  <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" class="form-control" type="text" placeholder="Email*" />
                                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors['required']">
                                        Please enter your email id.
                                    </div>
                                    <div *ngIf="f['email'].dirty">
                                        Please enter valid email id.
                                    </div>
                                </div>
                              </div>
                          </div>

                          <div class="col-lg-4 col-sm-4 country_phone">
                            <div class="form-input">
                                <div class="flag-container">
                                    <div (click)="showcountry = !showcountry" class="selected-flag">
                                        <div class="flag in" *ngIf="activeCountries && activeCountries.length">
                                            <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                            <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                                        </div>
                                    </div>
                                    <ul *ngIf="showcountry" class="country-list">
                                        <li (click)="hideCountry(country)" class="country active" tabindex="0" *ngFor="let country of activeCountries">
                                            <div class="flag-box">
                                                <div class="flag in"><img rel="preload" [lazyLoad]="country?.image?.s3_link" width="18px" alt="Flag" /></div>
                                            </div>
                                            <span class="country-name">{{country?.name}}</span>
                                            <span class="dial-code">{{country?.dial_code}}</span>
                                        </li>
                                    </ul>

                                    <input type="tel" [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" maxlength="10" formControlName="phone_number" required class="form-control border-light" id="mobilenumber" placeholder="Phone*" aria-describedby="emailHelp" />
                                    <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
                                        <div *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">
                                            Please enter mobile number.
                                        </div>
                                        <div *ngIf="f['phone_number'].dirty">
                                            Please enter 10 digit mobile number.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-12" *ngIf="ENQUIRY_STEP == ENQUIRY_STEPS.OTP">
                            <div class="form-group floating-label otp-form" style="display: none;">
                              <label>OTP</label>
                              <input class="form-control" [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }" formControlName="otp" placeholder="Enter Otp" type="password" />
                              <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
                                <div *ngIf="f['otp'].errors['required']">
                                    Please enter 4 digit otp.
                                </div>
                            </div>
                            <button [disabled]="resendDisabled" (click)="resendOTP()" [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                            <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                            </div>
                          </div>
                          <div class="col-sm-12">
                            <button type="submit" class="site_btn border_btn full_width_btn">Enquire Now</button>
                          </div>
                          <div class="col-md-12">
                            <p class="policy_content">Please visit the <span routerLink="/privacy-policy">privacy policy</span> to understand how Cofynd handles your personal data.</p>
                          </div>
                        </div>
                      </form> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="banner_form enquire-box mobilehide">
          <div class="form-section enquire-box-content"
            style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/753febf95bc0e22e68d7777d9df2fdda1aeec62f.png');">
            <div class="title">
              <h4>Enquire Now</h4>
            </div>

            <form class="form"
              [formGroup]="enterpriseFormGroup"
              (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                      formControlName="name"
                      type="text"
                      placeholder="Name*" />
                    <div *ngIf="submitted && f['name'].errors"
                      class="invalid-feedback">
                      <div *ngIf="f['name'].errors['required']">
                        Please enter your name.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                      formControlName="email"
                      type="text"
                      placeholder="Email*" />
                    <div *ngIf="submitted && f['email'].errors"
                      class="invalid-feedback">
                      <div *ngIf="f['email'].errors['required']">
                        Please enter your email id.
                      </div>
                      <div *ngIf="f['email'].dirty">
                        Please enter valid email id.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 country_phone">
                  <div class="form-group city_card_phone">
                    <div class="flag-container">
                      <!-- <div (click)="showcountry = !showcountry"
                        class="selected-flag">
                        <div class="flag in"
                          *ngIf="activeCountries && activeCountries.length">
                          <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                          <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                        </div>
                      </div>
                      <ul *ngIf="showcountry"
                        class="country-list">
                        <li (click)="hideCountry(country)"
                          class="country active"
                          tabindex="0"
                          *ngFor="let country of activeCountries">
                          <div class="flag-box">
                            <div class="flag in"><img rel="preload"
                                [lazyLoad]="country?.image?.s3_link"
                                width="18px"
                                alt="Flag" /></div>
                          </div>
                          <span class="country-name">{{country?.name}}</span>
                          <span class="dial-code">{{country?.dial_code}}</span>
                        </li>
                      </ul> -->
                      <input class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }"
                        maxlength="10"
                        formControlName="phone_number"
                        required
                        type="text"
                        placeholder="Phone*"
                        appMaterialInput />
                      <div *ngIf="submitted && f['phone_number'].errors"
                        class="invalid-feedback">
                        <div *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">
                          Please enter mobile number.
                        </div>
                        <div *ngIf="f['phone_number'].dirty">
                          Please enter 10 digit mobile number.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12"
                  *ngIf="ENQUIRY_STEP == ENQUIRY_STEPS.OTP">
                  <div class="form-group floating-label otp-form">
                    <label>OTP</label>
                    <input class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }"
                      formControlName="otp"
                      required
                      placeholder="Enter Otp"
                      type="password" />
                    <div *ngIf="submitted && f['otp'].errors"
                      class="invalid-feedback">
                      <div *ngIf="f['otp'].errors['required']">
                        Please enter 4 digit otp.
                      </div>
                    </div>
                    <button [disabled]="resendDisabled"
                      (click)="resendOTP()"
                      [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                    <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="submit"
                    class="site_btn border_btn full_width_btn">Enquire Now</button>
                </div>
                <div class="col-md-12 mt-2">
                  <p class="policy_content">Please visit the <span routerLink="/privacy-policy">privacy policy</span> to
                    understand how Cofynd handles your personal data.</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="prime_location_section"
  style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5958659d1ce62d07abc4c37967aac2aeea498cda.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Prime Coworking Locations in Mumbai</h2>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3 col-6"
        *ngFor="let data of primeLocation">
        <div class="micro_location_card"
          (click)="primeLocations(data)"
          style="cursor: pointer;"
          data-toggle="modal"
          data-target="#exampleModal">
          <div class="card_img">
            <img [src]="data.image"
              [alt]="data.title">
          </div>
          <div class="pricing_tag">
            <p>Starting <span>{{data.price}}</span></p>
          </div>
          <div [class]="data.class">
            <h4>Coworking Space in <br> {{data.title}}</h4>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade prime_location_popup"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="enquire-box">
                  <div class="form-section enquire-box-content"
                    style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/753febf95bc0e22e68d7777d9df2fdda1aeec62f.png');">
                    <div class="title">
                      <h4>Coworking Space in {{micro_title}}</h4>
                      <button type="button"
                        class="btn-close"
                        data-dismiss="modal"
                        aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>

                    <form class="form"
                      [formGroup]="primeFormGroup"
                      (ngSubmit)="onPrimeLocationSubmit()">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input class="form-control"
                              type="text"
                              [ngClass]="{ 'is-invalid': primesubmitted && p['name'].errors }"
                              formControlName="name"
                              placeholder="Name*" />
                            <div *ngIf="primesubmitted && p['name'].errors"
                              class="invalid-feedback">
                              <div *ngIf="p['name'].errors['required']">
                                Please enter your name.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input class="form-control"
                              type="text"
                              [ngClass]="{ 'is-invalid': primesubmitted && p['email'].errors }"
                              formControlName="email"
                              placeholder="Email*" />
                            <div *ngIf="primesubmitted && p['email'].errors"
                              class="invalid-feedback">
                              <div *ngIf="p['email'].errors['required']">
                                Please enter your email id.
                              </div>
                              <div *ngIf="p['email'].dirty">
                                Please enter valid email id.
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12 country_phone">
                          <div class="form-group city_card_phone">
                            <div class="flag-container">
                              <!-- <div (click)="showcountry = !showcountry"
                                class="selected-flag">
                                <div class="flag in"
                                  *ngIf="activeCountries && activeCountries.length">
                                  <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                  <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                                </div>
                              </div>
                              <ul *ngIf="showcountry"
                                class="country-list">
                                <li (click)="hideCountry(country)"
                                  class="country active"
                                  tabindex="0"
                                  *ngFor="let country of activeCountries">
                                  <div class="flag-box">
                                    <div class="flag in"><img rel="preload"
                                        [lazyLoad]="country?.image?.s3_link"
                                        width="18px"
                                        alt="Flag" /></div>
                                  </div>
                                  <span class="country-name">{{country?.name}}</span>
                                  <span class="dial-code">{{country?.dial_code}}</span>
                                </li>
                              </ul> -->
                              <input class="form-control"
                                [ngClass]="{ 'is-invalid': primesubmitted && p['phone_number'].errors }"
                                maxlength="10"
                                formControlName="phone_number"
                                required
                                type="text"
                                placeholder="Phone*"
                                appMaterialInput />
                              <div *ngIf="primesubmitted && p['phone_number'].errors"
                                class="invalid-feedback">
                                <div *ngIf="p['phone_number'].errors['required'] && !p['phone_number'].dirty">
                                  Please enter mobile number.
                                </div>
                                <div *ngIf="p['phone_number'].dirty">
                                  Please enter 10 digit mobile number.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12"
                          *ngIf="ENQUIRY_STEP == ENQUIRY_STEPS.OTP">
                          <div class="form-group floating-label otp-form">
                            <label>OTP</label>
                            <input class="form-control"
                              [ngClass]="{ 'is-invalid': primesubmitted && p['otp'].errors }"
                              formControlName="otp"
                              required
                              placeholder="Enter Otp"
                              type="password" />
                            <div *ngIf="primesubmitted && f['otp'].errors"
                              class="invalid-feedback">
                              <div *ngIf="f['otp'].errors['required']">
                                Please enter 4 digit otp.
                              </div>
                            </div>
                            <button [disabled]="resendDisabled"
                              (click)="resendprimeFormOtp()"
                              [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                            <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <button type="submit"
                            class="site_btn border_btn full_width_btn">Enquire Now</button>
                        </div>
                        <div class="col-md-12 mt-2">
                          <p class="policy_content">Please visit the <span routerLink="/privacy-policy">privacy
                              policy</span> to understand how Cofynd handles your personal data.</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="row">
      <div class="col-md-12 text-center">
        <button class="more_option_btn"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="viewMoreLocation()">View more Locations <i class="fa-solid fa-angle-down"></i></button>
      </div>
    </div>
  </div>
</section>

<section class="facilities_sec coworking_facilities">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Coworking With Cofynd</h2>
        </div>
        <!-- <p>Across All Coworking Gurgaon Locations</p> -->
      </div>
    </div>
    <div class="row amenities_row">
      <div class="col-md-4 col-4"
        *ngFor="let data of service">
        <div class="icon_item mb-5">
          <img [src]="'../../../assets/images/'+data.icon"
            class="img-fluid d-block"
            [alt]="data.title">
          <h4>{{data.title}}</h4>
          <p class="mobilehide">{{data.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="coworking_solution_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Discover the Perfect Coworking Offices in Mumbai</h2>
        </div>
        <!-- <p>Discover the Perfect Coworking Solution in Gurgaon</p> -->
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3 col-6"
        *ngFor="let solution of solutions">
        <div class="solution_card"  data-toggle="modal" style="cursor: pointer;"
        data-target="#exampleModal"
        (click)="viewMoreLocation()">
          <div class="card_img">
            <img [src]="solution.image"
              [alt]="solution.title">
          </div>
          <div [class]="solution.class">
            <h4>{{solution.title}}</h4>
            <p>{{solution.tagline}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="desktophide">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="cofynd-desk text-center">
            <img rel="preload"
              style="max-height: 200px;"
              lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c73da7d3135107aeb381095d5913bc54c77d5c4d.png"
              alt="CoFynd Desk" />
            <h4>Looking for Office Space in Mumbai</h4>
            <p class="about_text">
              Cofynd has extensive range of verified Office Spaces in Mumbai ranging from Coworking Spaces, Private
              Office, Customised Offices for enterprise teams and Virtual Offices to boost your business presence across
              all major locations of Mumbai with Zero Brokerage and offline Customer support. Office space search made
              simple in Mumbai with Cofynd.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cofynd_advantage_area">
  <div class="container">
    <div class="row"
      style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ae369baf5407686f76d0e217cb479582f86d24e0.jpg');">
      <div class="col-md-3 col-12">
        <h3>CoFynd Advantages</h3>
      </div>
      <div class="col-md-3 col-4"
        *ngFor="let data of coFyndAdvantages">
        <div class="advantage_item">
          <div class="icon">
            <img [lazyLoad]="'assets/images/'+data.icon"
              class="img-fluid d-block"
              [alt]="data.title">
          </div>
          <div class="content">
            <h4>{{data.title}}</h4>
            <p class="tabhide">{{data.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="marketing_query_form query_from_sec mobilehide tabhide">
  <div class="container">
    <div class="row mobilehide tabhide">
      <div class="col-md-12 text-center">
        <div class="main_heading title_divider">
          <h2>Best Coworking Spaces in Mumbai</h2>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-md-6 mobilehide tabhide">
        <img
          lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/223b893b1d4f5aa0830218676f386e84de5c1ee5.png"
          class="img-fluid"
          alt="Form Image">
      </div>

      <div class="col-md-6">
        <div class="virtual_query_form">
          <div class="form_head">
            <h3 class="desktophide">Best Coworking Spaces in Gurgaon</h3>
            <h3 class="mobilehide">Our team is ready to provide you best solutions</h3>
          </div>

          <div class="form_body">
            <form class="form"
              [formGroup]="midBannerFormGroup"
              (ngSubmit)="onMidBannerSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group align-items-center">
                    <img lazyLoad="../../../assets/images/icons/user-icon.svg"
                      class="img-fluid"
                      alt="User">
                    <input class="form-control"
                      type="text"
                      [ngClass]="{ 'is-invalid': midbannersubmitted && m['name'].errors }"
                      formControlName="name"
                      placeholder="Name*" />
                    <div *ngIf="midbannersubmitted && m['name'].errors"
                      class="invalid-feedback">
                      <div *ngIf="m['name'].errors['required']">
                        Please enter your name.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group align-items-center">
                    <img lazyLoad="../../../assets/images/icons/email-icon.svg"
                      class="img-fluid"
                      alt="Email">
                    <input class="form-control"
                      type="text"
                      [ngClass]="{ 'is-invalid': midbannersubmitted && m['email'].errors }"
                      formControlName="email"
                      placeholder="Email*" />
                    <div *ngIf="midbannersubmitted && m['email'].errors"
                      class="invalid-feedback">
                      <div *ngIf="m['email'].errors['required']">
                        Please enter your email id.
                      </div>
                      <div *ngIf="m['email'].dirty">
                        Please enter valid email id.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 country_phone">
                  <div class="input-group align-items-center">
                    <img lazyLoad="../../../assets/images/icons/phone-icon.svg"
                      class="img-fluid"
                      alt="Phone">
                    <div class="form-group city_card_phone">
                      <div class="flag-container">
                        <!-- <div (click)="showcountry = !showcountry"
                          class="selected-flag">
                          <div class="flag in"
                            *ngIf="activeCountries && activeCountries.length">
                            <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                            <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                          </div>
                        </div>
                        <ul class="country-list"
                          style="display: none;">
                          <li class="country active"
                            tabindex="-1"
                            *ngFor="let country of activeCountries">
                            <div class="flag-box">
                              <div class="flag in"><img
                                  lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fd0d8e6d752e27929c79e1b5984f63a1edbec49d.jpg"
                                  width="18px" /></div>
                            </div>
                            <span class="country-name">India</span>
                            <span class="dial-code">+91</span>
                          </li>
                        </ul> -->
                        <input class="form-control"
                          [ngClass]="{ 'is-invalid': midbannersubmitted && m['phone_number'].errors }"
                          maxlength="10"
                          formControlName="phone_number"
                          required
                          type="text"
                          placeholder="Phone*"
                          appMaterialInput />
                        <div *ngIf="midbannersubmitted && m['phone_number'].errors"
                          class="invalid-feedback">
                          <div *ngIf="m['phone_number'].errors['required'] && !m['phone_number'].dirty">
                            Please enter mobile number.
                          </div>
                          <div *ngIf="m['phone_number'].dirty">
                            Please enter 10 digit mobile number.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12"
                  *ngIf="ENQUIRY_STEP == ENQUIRY_STEPS.OTP">
                  <div class="form-group floating-label otp-form">
                    <label>OTP</label>
                    <input class="form-control"
                      [ngClass]="{ 'is-invalid': midbannersubmitted && m['otp'].errors }"
                      formControlName="otp"
                      required
                      placeholder="Enter Otp"
                      type="password" />
                    <div *ngIf="midbannersubmitted && m['otp'].errors"
                      class="invalid-feedback">
                      <div *ngIf="m['otp'].errors['required']">
                        Please enter 4 digit otp.
                      </div>
                    </div>
                    <button [disabled]="resendDisabled"
                      (click)="resendmidBannerOtp()"
                      [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                    <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                  </div>
                </div>
                <div class="col-sm-12 mt-2">
                  <button type="submit"
                    class="site_btn border_btn full_width_btn">Enquire Now</button>
                </div>
                <div class="col-md-12 mt-2">
                  <p class="policy_content">Please visit the <span routerLink="/privacy-policy">privacy policy</span> to
                    understand how Cofynd handles your personal data.</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="marketing_coworking_client">
  <app-our-clients></app-our-clients>
</div>

<section class="footer_content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <p>CoFynd is India's biggest platform for searching and booking the best Coworking Office spaces in Mumbai and
          all across India. Our Office spaces boast of present-day amenities and reflect Freedom, Flexibility and
          Fulfilment. CoFynd gives you access to all the prime Office Space locations of Mumbai - Udyog Vihar, Sohna
          Road, MG Road, Golf Course Road, Golf Course Extension Road, DLF Cyber city and lot more. Whether you are a
          startup, SME or a large Enterprise we have the right Office space solution for you. CoFynd also provides
          customised Office spaces for larger teams and enterprise clients. Be a part of the biggest Office space
          community in Mumbai and meet like-minded leaders.</p> -->
        <p *ngIf="!showFullText">{{ previewText }}</p>
        <p *ngIf="showFullText">{{ fullText }}</p>
        <button class="footer_read_more" (click)="toggleText()">Read {{ showFullText ? 'Less' : 'More' }} »</button>
      </div>
    </div>
  </div>
</section>

<section class="marketing_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="logo">
          <a routerlink="/">
            <img alt="Cofynd"
              class="img-fluid"
              src="/assets/images/logo.svg">
          </a>
          <h5>Fynd the right space, Globally</h5>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="footer_info">
          <h4>Email :</h4>
          <p><a href="mailto:hello@cofynd.com">hello@cofynd.com</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer_img">
          <img lazyLoad="assets/images/marketing/coworking/gurugram/cofynd_desk.png"
            class="img-fluid"
            alt="CoFynd">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer_sticky_form fixed-bottom">
  <div class="container desktophide">
    <div class="row mobile_footer">
      <div class="col-md-6 col-6">
        <a class="btn footer_btn"
          href="tel:+919811249423">Call Now</a>
      </div>
      <div class="col-md-6 col-6">
        <button class="btn footer_btn"
        data-toggle="modal"
        data-target="#exampleModal"
        (click)="viewMoreLocation()">Enquire Now</button>
      </div>
    </div>
  </div>
  <div class="container mobilehide">
    <form [formGroup]="footerFormGroup"
      (ngSubmit)="onFooterSubmit()">
      <div class="form_row">
        <div class="form_col form_title_col">
          <h4>Enquire Now</h4>
        </div>
        <div class="form_col">
          <input class="form-control"
            [ngClass]="{ 'is-invalid': footersubmitted && s['name'].errors }"
            formControlName="name"
            type="text"
            placeholder="Name*" />
          <div *ngIf="footersubmitted && s['name'].errors"
            class="invalid-feedback">
            <div *ngIf="s['name'].errors['required']">
              Please enter your name.
            </div>
          </div>
        </div>
        <div class="form_col">
          <input class="form-control"
            [ngClass]="{ 'is-invalid': footersubmitted && s['phone_number'].errors }"
            maxlength="10"
            formControlName="phone_number"
            required
            type="text"
            placeholder="Phone*"
            appMaterialInput />
          <div *ngIf="footersubmitted && s['phone_number'].errors"
            class="invalid-feedback">
            <div *ngIf="f['phone_number'].errors['required'] && !s['phone_number'].dirty">
              Please enter mobile number.
            </div>
            <div *ngIf="s['phone_number'].dirty">
              Please enter 10 digit mobile number.
            </div>
          </div>
        </div>
        <div class="form_col">
          <input class="form-control"
            [ngClass]="{ 'is-invalid': footersubmitted && s['email'].errors }"
            formControlName="email"
            type="text"
            placeholder="Email*" />
          <div *ngIf="footersubmitted && s['email'].errors"
            class="invalid-feedback">
            <div *ngIf="s['email'].errors['required']">
              Please enter your email id.
            </div>
            <div *ngIf="s['email'].dirty">
              Please enter valid email id.
            </div>
          </div>
        </div>
        <div class="form_col">
          <button type="submit"
            class="btn">Enquire Now</button>
        </div>
      </div>
    </form>
  </div>
</section>