<section class="breadcrumbs_sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item text-overflow">India</li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">M3M India</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_page_gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-image-item first-img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3 image_space">
                <div class="banner-image-item">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f9093e6a6cd17530b4ee827460e1141485ac39c6.jpg" alt="" class="img-fluid">
                </div>
                <div class="banner-image-item mb-0">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9736117ef06e4197e19ff5e6f9d506cf2739685f.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3">
                <div class="banner-image-item last-img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0e35e69acccd6dc6e4051bfbca2f589a70b399bf.jpg" alt="" class="img-fluid">
                </div>
                <button class="all_photon_btn"><i class="fa-solid fa-layer-group"></i> View All Photos</button>
            </div>
        </div>
    </div>
</section>

<section class="details_area content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <!-- <div class="row">

                    <div class="col-md-12">

                        <div class="space_head">
                            <div class="heading-info">
                                <h2>M3M India</h2>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="row about-area">
                    <div class="col-md-12">
                        <div class="about_details">
                            <div class="logo_col">
                                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/24ad04d5511f297cba1000c65310fcb4a9303b33.png" alt="M3M">
                            </div>
                            <div class="building_experience">
                                <h4>M3M India Pvt. Ltd.</h4>
                                <p>1998 Year Estd.</p>
                            </div>
                            <div class="building_totle_project">
                                <h4>Projects</h4>
                                <p>43</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>M3M group is a renowned real estate developer with over 2000 acres of land bank in the high-growth corridors of NCR with presence in all real estate verticals i.e. residential, commercial, education institutions, IT SEZ, entertainment & hospitality. We are a 100% debt free company with seasoned and professional senior management team. Our function heads and team members bring-in a wealth of experience and expertise from some of the most reputable names in Real Estate, Financial Services and Consultancy sectors.</p>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row overview_area">
                    <div class="col-md-12">
                        <h3>Overview</h3>
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/pricing-tag-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Starting Price</h5>
                                        <p>2.25 cr</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/configuration-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Configuration</h5>
                                        <p>2BHK-3BHK-4BHK-5BHK</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/area-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Area</h5>
                                        <p>2200 Acres</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/building-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>No. 1 Developer</h5>
                                        <p>North India</p>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/comercial-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Comercial Projects</h5>
                                        <p>13 Lucrative</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/residential-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Residential Projects</h5>
                                        <p>16 Premium</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row">
                    <div class="col-md-12">
                        <div class="video_area">
                            <iframe width="100%" height="402" src="https://www.youtube.com/embed/MhF-NxiT2LU" title="M3M India - Brand Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="enquiry_section">
                    <div class="form-section enquire-box-content" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e68056858a71545a4cfba7013434076f71bd592d.png');">
                        <h2 class="heading">Yes, I'm Interested!</h2>
                        <p>Know More About <span class="light_blue" style="font-weight: 600;">M3M Merlin</span></p>
                        <form class="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Name" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="mobilenumber" placeholder="Mobile Number" aria-describedby="emailHelp">
                            </div>
                            <button type="button" class="site_btn border_btn full_width_btn">Send</button>
                        </form>
                    </div>
                    <div class="contact-details" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1400395b5b72f417b2108d288877a8ec323817b4.png');">
                        <div class="contact-image">
                            <img class="img-fluid" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9767d9ef9766e8c572306101f7c1a71448d4ed30.png" />
                        </div>
                        <div class="contact-info">
                            <p class="heading">Get in Touch</p>
                            <p><a href="tel:+919999108078">+91 9999 10 8078</a></p>
                        </div>
                    </div>
                    <div class="policy">
                        <p>By clicking the above button you agree to our Terms of service and have read and understood our <span><a class="text-decoration-none" routerLink="/privacy-policy">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line">

<section class="simlar_builders">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h3 class="h3_heading">Residential Projects by M3M India </h3>
            </div>
            <div class="col-md-4">
                <p class="text-right"><a href="" class="btn_text">View All</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <app-builder-resi-com-card></app-builder-resi-com-card>
                    <app-builder-resi-com-card></app-builder-resi-com-card>
                    <app-builder-resi-com-card></app-builder-resi-com-card>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line">

<section class="simlar_builders">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h3 class="h3_heading">Commercial Projects by M3M India</h3>
            </div>
            <div class="col-md-4">
                <p class="text-right"><a href="" class="btn_text">View All</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <app-builder-resi-com-card></app-builder-resi-com-card>
                    <app-builder-resi-com-card></app-builder-resi-com-card>
                    <app-builder-resi-com-card></app-builder-resi-com-card>
                </div>
            </div>
        </div>
    </div>
</section>