.banner_content {
  padding: 0px 40px 10px 120px;
}

.innerpage_banner {
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
}

.banner_img {
  border-radius: 0px 0px 0px 180px;
  overflow: hidden;
  height: 620px;
}

.banner_img img {
  height: 620px;
  width: 100%;
  object-fit: cover;
}

.city-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  button {
    flex: 0 0 auto;
    width: 23%;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 10px;
    margin: 0.5%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

    img {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 10px;
    }
  }
}

.icon_item {
  img {
    width: 35px;
    height: 35px;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 8px;
    font-weight: 600;
  }
}

.facilities_sec {
  padding: 70px 0px 0px;
}

.lifestyle_with_cofynd {
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-city-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);

  .top-city-img {
    position: relative;
    height: 230px;
    transition: all 0.5s;

    img {
      height: 230px;
      object-fit: cover;
    }
  }

  .top-city-img::before {
    position: absolute;
    content: "";
    background: radial-gradient(44.97% 44.97% at 50% 55.03%, rgba(57, 68, 79, 0) 0%, rgba(57, 68, 79, 0.2) 0);
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }

  .top-city-text {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    transition: all 0.5s;

    h4 {
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      line-height: 28px;
      transition: all 0.5s;
      text-transform: capitalize;
    }
  }

}

.top-city-item:hover {
  .top-city-img::before {
    opacity: 1;
    background: radial-gradient(44.97% 44.97% at 50% 55.03%, rgba(57, 68, 79, 0.5) 1%, rgba(57, 68, 79, 0.8) 0);
  }

  .top-city-text {
    bottom: 43%;
  }
}

.top-city-img.main_city {
  height: 476px !important;
}

.top-city-img.main_city img {
  height: 476px !important;
}

.brands_banner_area {
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}


/******** Old Css ******/

.hideInDesktop {
  display: none;
}

@media (max-width: 480px) {
  .hideInMobile {
    display: none !important;
  }

  .hideInDesktop {
    display: block;
  }

  .col-md-12.text-center {
    text-align: left !important;
  }

  .innerpage_banner {
    padding: 40px 10px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .innerpage_banner::before {
    content: "";
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .banner_content {
    padding: 40px 15px 30px 15px;
  }

  .banner_content h1 {
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .coliving_cities_list {
    padding-top: 40px;
    padding-bottom: 40px;

    .cities_list_row {
      width: 100%;
      margin: 0 auto;

      .col-6 {
        padding: 0px 5px;

        .city-icon-box {
          border: 1px solid rgba(0, 0, 0, 0.03);
          margin-bottom: 14px;
          padding: 5px;
          border-radius: 5px;

          button {
            width: 100%;

            .row {
              margin: 0 auto;

              .col-4 {
                padding: 0px !important;

                .citi-img {
                  border-radius: 5px;
                  height: 50px;
                  width: 50px;
                }
              }

              .col-8 {
                padding: 0px !important;

                .cities_box_content {
                  padding-left: 5px;
                  text-align: left;

                  h4 {
                    font-size: 12px;
                    line-height: 18px;
                    margin-top: 0px !important;
                  }

                  p {
                    font-size: 10px !important;
                    line-height: 14px !important;
                    margin-bottom: 0px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .coliving_facilities {
    padding: 50px 0px 20px;
  }

  .search-bar {
    margin: 10px 0px 0px;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px !important;
    font-weight: 600 !important;
    font-size: 10px !important;
  }

  .colving_brands {
    .brands_banner {
      background-position: 0% 80%;
      overflow: hidden;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover !important;

      h4 {
        font-size: 13px !important;
        line-height: 20px !important;
        color: #fff;
        z-index: 99;
        position: relative;
      }

      p {
        font-size: 11px !important;
        line-height: 20px !important;
        color: #fff !important;
        z-index: 99;
        position: relative;
        margin-bottom: 5px;
      }

      button {
        font-size: 10px;
        padding: 2px 10px !important;
        color: #fff;
        z-index: 99;
        position: relative;
        border: 1px solid #fff;
        border-radius: 30px;
      }
    }

    .brands_banner:before {
      content: "";
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .amenities_row .icon_item img {
    height: 25px !important;
    width: 25px !important;
    margin: 0 !important;
  }

  .amenities_row h4 {
    font-size: 10px !important;
    line-height: 14px !important;
    text-align: left !important;
    font-weight: 500 !important;
    margin-top: 4px !important;
  }

  .facilities_sec .icon_item.mb-5 {
    margin-bottom: 20px !important;
  }

  .offer-img {
    border-radius: 20px;
  }

  .exp-button {
    border: 1px solid #fff;
    border-radius: 20px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
  }
}