<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title text-center">Find the Best Spaces <br><span>Choose
        from 25,000+ Sanitized &amp; Verified Spaces</span></h5>
    </div>
    <div class="modal-body pb-4">
        <div class="row">
            <!-- <div class="col-1">&nbsp;</div> -->
            <div class="col-md-5 offset-md-1 col-6">
                <!-- <a href=""> -->
                <a (click)="searchCoworking()" style="cursor: pointer;">
                    <div class="coworking-space-box mt-2 mb-2">
                        <div class="img-box">
                            <img src="/assets/images/coworking/system.png" class="img-fluid d-block m-auto" alt="">
                            <p class="text-center">
                                Co-Working<br>Space</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <!-- <a href=""> -->
                <a (click)="searchColiving()" style="cursor: pointer;">
                    <div class="coworking-space-box mt-2 mb-2">
                        <div class="img-box">
                            <img src="https://cofynd.com/assets/images/amenities/double-sharing.svg" class="img-fluid d-block m-auto" alt="">
                            <p class="text-center">
                                Co-Living<br>Space</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-1">&nbsp;</div> -->
        </div>
    </div>
</div>