<section class="banner">
    <div class="banner-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="main_heading">
                    <h1>Choose from <span>25,000+</span><br> Spaces on Rent</h1>
                </div>
                <div class="search">
                    <app-home-city-dropdown [typeLabel]="'Looking For'" [cityLabel]="'Select City'" [isCountryLandingPage]=true [isCoworking]="true" [isCoLiving]="true">
                    </app-home-city-dropdown>
                </div>
                <app-home-cities></app-home-cities>
            </div>
        </div>
    </div>
</section>

<section class="our_services_sec singapore_service">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div (click)="routeToVerticalPage()" class="service_item" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/169daf9cedb9b3b61f70c7fda6916a9985ff0bbf.jpg');">
                    <h4>Coworking <span>Spaces</span></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div (click)="routeToColivingVerticalPage()" class="service_item" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f282b4ca2a3b521ce4d7d804a16b7925483baa8f.jpg');">
                    <h4>Coliving <span>Spaces</span></h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service_item" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/6d614883a0c59958b038886e9400dc15a73c89c7.jpg');">
                    <h4>Office <span>Spaces</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature hideOnMobile">
    <div class="feature-half-left"></div>
    <div class="feature-half-right"></div>
    <div class="feature-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>
                        <span>25,000+</span> Live Spaces
                    </h3>
                    <h3>
                        <span>700+</span> Locations
                    </h3>
                    <h3>
                        <span>3</span> Countries
                    </h3>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h2>CoFynd is world's fastest growing online discovery platform for searching and booking Coworking and Co-living spaces.</h2>
                        <div class="divider-line"></div>
                        <button type="button" class="anchor-text">
                Search . Book . Work . Live
              </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="onlyMobile pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="live-spaces-button p-2 text-center text-white"><span class="pr-2">25000+ Live spaces </span>| <span class="pl-2 pr-2">700+ Locations </span>| <span class="pl-2 pr-2">3 Countries</span></p>
            </div>
        </div>
    </div>
</section>

<section class="what-you-get">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e23851977631426a7ef3a48187a294d048fcbb63.jpg" alt="CoFynd">
            </div>
            <div class="col-md-6 right-part">
                <div class="text-center">
                    <div class="main_heading title_divider">
                        <h2>What You Get From Us</h2>
                    </div>
                </div>
                <ul>
                    <li>
                        <i class="wt-icon wt-icon-price"></i> Exclusive pricing for CoFynd members
                    </li>
                    <li>
                        <i class="wt-icon wt-icon-space"></i> Verified Spaces and Trusted Partners
                    </li>
                    <li>
                        <i class="wt-icon wt-icon-fee"></i> No booking service fee
                    </li>
                    <li>
                        <i class="wt-icon wt-icon-support"></i> 100% offline support
                    </li>
                    <li>
                        <i class="wt-icon wt-icon-Coupon"></i> Exclusive Brand Coupon Codes
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-home-popular-space [isCountryLandingPage]=true></app-home-popular-space>

<section class="enquiry-section hideOnMobile" style="padding-top: 90px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" (click)="openAdd()">
                <img lazyLoad="/assets/images/home/coworking-space-singapore-new.jpg" class="enquiry-box" alt="Co Working Spaces" />
            </div>
        </div>
    </div>
</section>


<section class="popular-spaces top_cities_slider" *ngIf="popularCoLivingSpaces.length">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Top Coliving in {{title}}</h2>
                </div>
            </div>

            <div class="col-md-12">
                <div class="popular-space-carousel">
                    <ngu-carousel #popularSpaceCarousel [inputs]="carouselConfig" [dataSource]="popularCoLivingSpaces" (onMove)="onSliderMove($event)">
                        <div *nguCarouselDef="let space; let i = index;" class="item">
                            <div (click)="openWorkSpace(space)" class="top-city-item" [ngClass]="(i==0)?'first-slide':'not-first-slide'">
                                <div class="top-city-img">
                                    <img [lazyLoad]="space.image" [alt]="space.name" class="img-fluid d-block m-auto">
                                </div>
                                <div class="top-city-text">
                                    <h4>{{ removedash(space.address.split(",").pop() | titlecase) }}</h4>
                                </div>
                            </div>
                        </div>
                    </ngu-carousel>
                </div>
                <button type="button" (click)="goToPrev()" [disabled]="popularSpaceCarousel.isFirst" class="carousel-arrow icon-back fas fa-chevron-left">
                </button>
                <button type="button" (click)="goToNext()" [disabled]="popularSpaceCarousel.isLast" class="carousel-arrow icon-next fas fa-chevron-right">
                </button>
            </div>
        </div>
    </div>
</section>

<section class="enquiry-section hideOnMobile" style="padding-top: 90px !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" (click)="openAdd()">
                <img [lazyLoad]="'/assets/images/home/coliving-sapce-singapore-new.jpg'" class="enquiry-box" alt="Co Working Spaces" />
            </div>
        </div>
    </div>
</section>


<section class="onlyMobile covid-safety pt-5 pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <p class="facility-head">We are ready for the new normal!</p>
            </div>
            <div class="col-12">
                <img lazyLoad="../../../assets/images/co-living/colivingMain/covid-2.png" class="img-fluid m-auto d-block border pt-2 pl-2 pr-2" alt="">
            </div>
        </div>
    </div>
</section>

<div class="home_client_sec">
    <app-our-clients></app-our-clients>
</div>


<section class="list_your_space_sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="cta_content">
                    <h4>List Your Vacant Space with Cofynd and Start Earning</h4>
                    <p class="mobilehide">List for free and leave rest on our experts. Stay organized, manage leads, and track your bookings - all in one place.</p>
                    <a lazyLoad="/list-your-space" class="btn site_btn border_btn">List Your Property</a>
                </div>
            </div>
            <div class="col-4 text-center">
                <img lazyLoad="../../../assets/images/list-your-space-img.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<app-home-news-list></app-home-news-list>

<section class="cofynd_desk_sec home_cofynd_desk">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cofynd-desk text-center">
                    <img style="max-height: 200px;" lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c73da7d3135107aeb381095d5913bc54c77d5c4d.png" alt="">
                    <h4>What's the CoFynd Desk ?</h4>
                    <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd community Breathe, Connect and Climb
                        to their highest in life.</p>
                    <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-description" *ngIf="seoData">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>