<!-- <router-outlet></router-outlet> -->

<section class="innerpage_banner coworking_brand_banner mobilehide">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="innerpage_content mb-0">
                    <div class="main_heading">
                        <h1>Find the Best<br /><span>Coworking Brand</span> in India</h1>
                    </div>
                    <p>Co-working is the future of office space in India. India is experiencing high demand in coworking office space market with the flexibility it provides toward work and work culture. Cofynd offers top coworking brands in India to choose
                        the perfect workspace for startups, growing organizations, and top MNCs. We assist you to find the perfect coworking office space for rent in India.</p>
                    <a (click)="scrollToElement(target)" class="site_btn border_btn">Enquire Now</a>
                </div>
            </div>
            <div class="col-md-6">
                <img src=" https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c21495cf7574047b16f9cad1ce40e36ce7109a2e.png" alt="Coworking Brand" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="innerpage_banner desktophide" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/4d76dbae3fc984d286d56580f607710430cfea5a.jpg');">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="banner_content">
                    <h1 class="text-light text-center">Find the Best<br />Coworking Brand in India</h1>
                    <div class="search-bar">
                        <!-- <ng-select [items]="cities" placeholder="Select City" bindLabel="name" bindValue="id" [searchable]="false" [clearable]="false" (change)="openCityListing($event)">
                        </ng-select> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="coworking_brands_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Top Coworking Brands in India</h2>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4 col-6" *ngFor="let data of coworkingBrand|slice:0:show; let i=index">
                <div class="brant_item" [routerLink]="data.url">
                    <div class="brand_img mobilehide">
                        <img [src]="data.image" class="img-fluid" [alt]="data.title">
                    </div>
                    <div class="brand_content text-center">
                        <div class="title_img">
                            <img [src]="data.titleImg" class="img-fluid" [alt]="data.title">
                        </div>
                        <div class="brandCounter row">
                            <div class="cityNum col-md-6 col-6">
                                <p>{{data.cityCount}}</p>
                                <h5>Cities</h5>
                            </div>
                            <div class="centerNum col-md-6 col-6">
                                <p>{{data.centersCount}}</p>
                                <h5>Centers</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" *ngIf="i==14 && show == 15">
                    <div class="col-md-12">
                        <div class="text-center">
                            <button (click)="show = data.length" class="site_btn border_btn">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="query_from_sec coworking_brand_query" #target>
    <div class="container">
        <div class="row mobilehide">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Yes, I'm interested in Coworking Space</h2>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 mobilehide">
                <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9b7b34947ee86bdfae0ec326b230b97ac96f4238.png" class="img-fluid" alt="">
            </div>

            <div class="col-md-6 col-12">
                <div class="virtual_query_form">
                    <div class="form_head">
                        <h3 class="desktophide">Yes, I'm interested in Coworking Space</h3>
                        <h3 class="mobilehide">Answers to your Coworking Space query</h3>
                        <p class="mobilehide">Our team is ready to answer your questions.</p>
                    </div>

                    <div class="form_body">
                        <form action="" [formGroup]="enterpriseFormGroup" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/user-icon.svg" class="img-fluid" alt="">
                                        <input type="text" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name" class="form-control" placeholder="Name*" required>
                                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                            <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/email-icon.svg" class="img-fluid" alt="">
                                        <input type="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" class="form-control" placeholder="Email*" required>
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                                            <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/phone-icon.svg" class="img-fluid" alt="">
                                        <input type="tel" [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" formControlName="phone_number" class="form-control" placeholder="Phone*" required>
                                        <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
                                            <div *ngIf="f['phone_number'].errors['required']">Please enter mobile number.</div>
                                            <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile number.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/location-icon.svg" class="img-fluid" alt="">
                                        <select class="form-select" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" formControlName="city" placeholder="select your city" required aria-label="Default select example">
                                            <option value="" selected disabled style="display: none;">Select City*</option>
                                            <option [value]="city.name" *ngFor="let city of finalCities">{{city.name}}</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                            <div *ngIf="f['city'].errors['required']">Please select your city.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="input-group align-items-center">
                                        <img src="assets/images/icons/message-icon.svg" class="img-fluid" alt="">
                                        <textarea type="textarea" [ngClass]="{ 'is-invalid': submitted && f['requirements'].errors }" formControlName="requirements" class="form-control" placeholder="Requirements"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <button class="site_btn border_btn" type="submit">Submit</button>
                                </div>
                                <div class="col-md-12 col-12">
                                    <p class="form_query_text">Need Assistance? Call Now : <span><a
                                                href="tel:+91-9599509999">+91-9599509999</a></span></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="coworking_brand_client_sec">
    <app-our-clients></app-our-clients>
</div>

<section class="list_your_space_sec coworking_brand_list_space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="cta_content">
                    <h4>List Your Vacant Property with Cofynd and Start Earning</h4>
                    <p class="mobilehide">List for free and leave rest on our experts. Stay organized, manage leads, and track your bookings - all in one place.</p>
                    <a routerLink="/list-your-space" class="btn site_btn border_btn">List Your Property</a>
                </div>
            </div>
            <div class="col-4 text-center">
                <img src="assets/images/list-your-space-img.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="cofynd_desk_sec coworking_brand_cofynd_desk">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cofynd-desk text-center">
                    <img style="max-height: 200px;" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c73da7d3135107aeb381095d5913bc54c77d5c4d.png" alt="">
                    <h4>What's the CoFynd Desk ?</h4>
                    <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd community Breathe, Connect and Climb
                        to their highest in life.</p>
                    <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faqs_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Frequently Asked Questions</h3>
                </div>
            </div>
            <div class="col-md-12">
                <accordion [isAnimated]="true" class="faqs_accordion">
                    <accordion-group>
                        <h4 accordion-heading>What are the various types of membership plans offered by various coworking brands in India?</h4>
                        <p>A variety of membership plans are offered by well-known coworking brands in India such as hot desks, dedicated desks, private cabins, meeting/ conference rooms, event spaces, and more all available at cost-effective prices.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>Name some of the top coworking space brands in India.</h4>
                        <p>Some of the top coworking space companies in India are - Awfis, IndiQube, Workafella, Cowrks, ABL workspaces, and more.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What is the starting price of dedicated desk space for coworking spaces in India?</h4>
                        <p>All the coworking brands offer dedicated desk seating arrangements at a starting price of ₹6,000/seat.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>Does the Workafella coworking space have its brand center in Mumbai?</h4>
                        <p>Yes, Workafella has a beautifully designed and youth-centric coworking space center located in Mumbai.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>Do all these coworking brands also offer private offices for small/large businesses?</h4>
                        <p>Yes, majorly all the coworking brands in India offer exquisite and professional private offices for all types & sizes of businesses.</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>


<section class="search-description" *ngIf="!loading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>