<app-search-breadcrumb [breadcrumbs]="breadcrumbs"
  [isPriceFilter]="true"
  [isSortFilter]="true"
  breadcumbType='coliving'
  (priceFilterChanged)="onFilterPriceChange($event)"
  (sortTypeChanged)="onSortTypeChange($event)"
  (onResetFilter)="resetFilter()"
  [isPageScrolled]="isScrolled"
  [breadcrumbs]="breadcrumbs"
  (mapViewChanged)="toggleMapView($event)">
</app-search-breadcrumb>

<section class="search-container clearfix">
  <div class="search-grid-container"
    [class.search-grid-full]="!isMapView">
    <div class="search-grid-wrapper">

      <h1 class="page-heading"
        *ngIf="!loading && workSpaces.length">
        {{ pageTitle ? pageTitle : setSubName()}}
      </h1>

      <!-- <app-search-similar-location *ngIf="!loading && cityWisePopularLocation.length"
        [cityName]="title"
        [relativeUrl]="'coworking'"
        [popularLocationList]="cityWisePopularLocation">
      </app-search-similar-location> -->

      <!-- <app-search-no-result *ngIf="!loading && !workSpaces.length"
        [title]="'Virtual Office'"
        [url]="'/virtual-office'">
      </app-search-no-result> -->

      <app-search-card-loader *ngIf="loading">
      </app-search-card-loader>

      <div class="row"
        *ngIf="!loading">
        <ng-container *ngFor="let space of workSpaces; let i = index">
          <div class="col-sm-6"
            [class.col-md-4]="!isMapView"
            [class.col-md-6]="isMapView">
            <app-search-card [workspace]="space" [forAll]="false">
            </app-search-card>
          </div>
          <ng-template [ngIf]="isMapView">
            <div class="col-sm-12"
              *ngIf="(i + 1) % 4 === 0">
              <app-search-contact-us-text [cities]="availableCities"
                [type]="'for_coWorking'">
              </app-search-contact-us-text>
            </div>
          </ng-template>
          <ng-template [ngIf]="!isMapView">
            <div class="col-sm-12"
              *ngIf="(i + 1) % 6 === 0">
              <app-search-contact-us-text [cities]="availableCities"
                [type]="'for_coWorking'">
              </app-search-contact-us-text>
            </div>
          </ng-template>
        </ng-container>
      </div>

      <div *ngIf="!loading && workSpaces.length"
        class="pagination-container">
        <pagination [totalItems]="totalRecords"
          [itemsPerPage]="500"
          [(ngModel)]="page"
          [maxSize]="maxSize"
          (pageChanged)="loadMore($event)">
        </pagination>
      </div>

    </div>
  </div>
  <div *ngIf="loading"
    class="search-map-container">
  </div>
  <div *ngIf="!loading && isMapView"
    class="search-map-container"
    [class.absolute-map]="isSearchFooterVisible"
    [class.hide-map]="!isMapView">
    <app-search-map-view (pageScrollEvent)="onPageScroll($event)"
      [workspaces]="workSpaces"></app-search-map-view>
  </div>
</section>

<section class="search-description">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{footerData?.title }}</h2>
        <div [innerHTML]="footerData?.description"></div>
      </div>
    </div>
  </div>
</section>