<app-search-breadcrumb *ngIf="!loading && workSpaces.length" [spaceLength]="workSpaces.length" [breadcrumbs]="breadcrumbs" [isPriceFilter]="true" [isSortFilter]="true" breadcumbType='coliving' (priceFilterChanged)="onFilterPriceChange($event)" (sortTypeChanged)="onSortTypeChange($event)"
    (onResetFilter)="resetFilter()" [isPageScrolled]="isScrolled" [breadcrumbs]="breadcrumbs" (mapViewChanged)="toggleMapView($event)">
</app-search-breadcrumb>

<section class="search-container clearfix cities_page_listing">
    <div class="search-grid-container" [class.search-grid-full]="!isMapView">
        <div class="search-grid-wrapper">
            <div class="row align-items-center filter_title" *ngIf="workSpaces && workSpaces.length > 1">
                <div class="col-12">
                    <div class="page-title city_page_title">
                        <h1 class="page-heading" *ngIf="!loading && workSpaces.length">{{ pageTitle ? pageTitle : setSubName()}}</h1>
                    </div>
                </div>
            </div>

            <!-- <section class="for_email_sec">
                <div class="container-fluid" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/397ce79a0f1dffa12d81542041292a85b8758ad0.png');">
                    <div class="row align-items-center">
                        <div class="col-md-8 col-12">
                            <div class="for_email_content">
                                <h3>Find your Office Space with Cofynd</h3>
                                <p>Just drop us an email with your Office Space requirements – Number of Seat, Location, Start Date … and our team will connect back with you within 24 Hrs with the best possible options.</p>
                                <p class="email_id align-items-center"><img lazyLoad="assets/images/icons/email_id.svg" alt="Email Icon"> hello@cofynd.com</p>
                            </div>
                        </div>
                        <div class="col-md-4 mobilehide">
                            <div class="for_email_img">
                                <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/cfb9eccbf93ad5602e7931f4c50c3f034157c9f8.png" alt="Email Image">
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->

            <app-search-no-result *ngIf="!loading && (workSpaces.length == 0 || workSpaces.length == 1)" [pageTitle]="pageTitle" [title]="'Virtual'" [shouldShowContactForm]="true" [url]="'/office-space/rent/'">
            </app-search-no-result>

            <app-search-card-loader *ngIf="loading">
            </app-search-card-loader>

            <div class="row" *ngIf="!loading && workSpaces.length > 1">
                <ng-container *ngFor="let space of workSpaces; let i = index">
                    <div class="col-sm-6" [class.col-md-4]="!isMapView" [class.col-md-6]="isMapView">
                        <app-search-card [workspace]="space" [forAll]="true">
                        </app-search-card>
                    </div>
                    <ng-template [ngIf]="isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) === 6">
                            <app-search-contact-us-text2 *ngIf="workSpaces.length" [activeCountries]="activeCountries" >
                            </app-search-contact-us-text2>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 12" #target>
                            <app-search-contact-us-text2 *ngIf="workSpaces.length" [activeCountries]="activeCountries" >
                            </app-search-contact-us-text2>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 18" #target>
                            <app-search-contact-us-text2 *ngIf="workSpaces.length" [activeCountries]="activeCountries" >
                            </app-search-contact-us-text2>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="!isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) === 6">
                            <app-search-contact-us-text2 *ngIf="workSpaces.length" [activeCountries]="activeCountries" >
                            </app-search-contact-us-text2>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 12" #target>
                            <app-search-contact-us-text2 *ngIf="workSpaces.length" [activeCountries]="activeCountries" >
                            </app-search-contact-us-text2>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 18" #target>
                            <app-search-contact-us-text2 *ngIf="workSpaces.length" [activeCountries]="activeCountries" >
                            </app-search-contact-us-text2>
                        </div>
                    </ng-template>
                </ng-container>

                <div class="col-md-4" [class.col-md-4]="!isMapView" [class.col-md-6]="isMapView">
                    <app-virtual-office-city-page-enquire *ngIf="workSpaces.length"></app-virtual-office-city-page-enquire>
                </div>
            </div>

            <div *ngIf="!loading && workSpaces.length" class="pagination-container">
                <pagination [totalItems]="totalRecords" [itemsPerPage]="20" [(ngModel)]="page" [maxSize]="maxSize" (pageChanged)="loadMore($event)">
                </pagination>
            </div>

        </div>
    </div>
    <div *ngIf="loading" class="search-map-container">
    </div>
    <div *ngIf="!loading && isMapView" class="search-map-container" [class.absolute-map]="isSearchFooterVisible" [class.hide-map]="!isMapView">
        <app-search-map-view (pageScrollEvent)="onPageScroll($event)" [workspaces]="workSpaces"></app-search-map-view>
    </div>
</section>

<section class="search-description" *ngIf="!loading && seoData">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>