.working-days {
  display: flex;
  justify-content: space-between;

  .day {
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: #575757;
    text-align: center;

    span {
      font-weight: 500;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    .day {
      text-align: left;
    }
  }
}

@media (max-width: 480px) {  
  .working-days {
    margin-top: 10px;
  }
  .working-days .day {
    font-size: 11px;
    font-weight: 600;
    color: #272828;
    line-height: 17px;
}
}