.working-days {
  display: flex;
  justify-content: space-between;

  .day {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    color: #272828;
    text-align: center;

    span {
      font-weight: 500;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    .day {
      text-align: left;
    }
  }
}

@media (max-width: 991px) {
  .working-days .day {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
.working-days {
    display: flex;
    flex-direction: row;
}
.working-days .day {
    flex: 0 0 33.33% !important;
    display: flex;
}
}

@media (max-width: 480px) {  
  .working-days {
    margin-top: 10px;
  }
  .working-days .day {
    font-size: 12px;
    font-weight: 600;
    color: #272828;
    line-height: 18px;
}
}