<app-search-breadcrumb [breadcrumbs]="breadcrumbs" [isPriceFilter]="true" [isSortFilter]="true" [priceFilters]="price_filters" breadcumbType='coliving' (onResetFilter)="resetFilter()" (priceFilterChanged)="onFilterPriceChange($event)" (sortTypeChanged)="onSortTypeChange($event)"
    [isPageScrolled]="isScrolled" [breadcrumbs]="breadcrumbs" (filterChanged)="filterMapView($event)" (mapViewChanged)="toggleMapView($event)">
</app-search-breadcrumb>
<section class="search-container clearfix">
    <div class="search-grid-container" [class.search-grid-full]="!isMapView">
        <div class="search-grid-wrapper">

            <h1 class="page-heading" *ngIf="!loading">
                {{ pageTitle ? pageTitle : 'Coliving space in ' + subTitle + ' ' + title }}
            </h1>

            <app-search-no-result *ngIf="!loading && !coLivings.length" [title]="'Co-Living'" [url]="'/co-living'">
            </app-search-no-result>

            <app-search-card-loader *ngIf="loading">
            </app-search-card-loader>

            <app-search-similar-location *ngIf="!loading" [relativeUrl]="'co-living'" [cityName]="title" [popularLocationList]="popularLocation">
            </app-search-similar-location>

            <div class="row" *ngIf="!loading">
                <ng-container *ngFor="let coLiving of coLivings; let i = index">
                    <div class="col-sm-6" [class.col-md-4]="!isMapView" [class.col-md-6]="isMapView">
                        <app-co-living-card [coLiving]="coLiving"></app-co-living-card>
                    </div>


                    <ng-template [ngIf]="isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) % 4 === 0">
                            <app-search-contact-us-text [cities]="availableCities" [type]="'for_coLiving'">
                            </app-search-contact-us-text>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="!isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) === 6">
                            <section class="gradient_cta_sec micro-location-cta">
                                <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9a0e263d79da3f58c4edfeb944679aab35c178ee.jpg');">
                                    <div class="col-8">
                                        <div class="cta_content">
                                            <h4>Get the Perfect Coliving in Your City</h4>
                                            <ul class="mobilehide">
                                                <ng-container *ngFor="let item of popularLocation | slice:0:9; let i=index">
                                                    <li *ngIf="item != 'Near Me'" (click)="routeToMicro(item)">{{item}}</li>
                                                </ng-container>
                                                and More...
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 12">
                            <section class="gradient_cta_sec micro-location-cta">
                                <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3102eee22751ef1d6fb45f6060217a954903d087.jpg');">
                                    <div class="col-8">
                                        <div class="cta_content">
                                            <h4>Looking for Coworking Office in Your City</h4>
                                            <p>Select from thousands of options, without brokerage.</p>
                                            <a routerLink="/coworking" class="btn site_btn border_btn">Enquire Now</a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 18">
                            <app-search-contact-us-text2 [pageNo]="'microlocation page'" [microlocation]="subTitle">
                            </app-search-contact-us-text2>
                        </div>
                    </ng-template>

                </ng-container>
            </div>

            <div *ngIf="!loading" class="pagination-container">
                <pagination [totalItems]="totalRecords" [itemsPerPage]="number_record" [(ngModel)]="page" [maxSize]="maxSize" (pageChanged)="loadMore($event)">
                </pagination>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="search-map-container">
    </div>
    <div *ngIf="!loading && isMapView" class="search-map-container" [class.absolute-map]="isSearchFooterVisible" [class.hide-map]="!isMapView">
        <app-search-map-view (pageScrollEvent)="onPageScroll($event)" [spaceType]="'co-living'" [workspaces]="coLivings">
        </app-search-map-view>
    </div>
</section>
<section class="search-description" *ngIf="!loading && seoData">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>