<section class="gradient_cta_sec micro-location-cta">
    <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ead20e07886ea0f6c46a5f79a5600408a0488907.png');">
        <div class="col-md-8 col-10">
            <div class="cta_content">
                <h4>Get the Perfect Coworking in your city</h4>
                <p>Cyber City | DLF Phase 1 | Golf Course Extension Road | MG Road | Rajiv Chowk | Sector 64 | Sohna Road and More...</p>
                <a class="btn site_btn border_btn">Enquire Now</a>
            </div>
        </div>
    </div>
</section>