.main_footer .footer-top {
  background: linear-gradient(180.37deg, #FFFDF5 0.34%, #FFF9F4 102.54%) !important;
  border: none !important;
  padding: 0px !important;
}

.footer_about {
  padding-left: 150px;
  padding-top: 40px;
}

.footer_about img {
  width: 180px;
  margin-bottom: 10px;
}

.footer_about h5 {
  font-size: 12px;
  line-height: normal;
  font-weight: 600;
  color: #464646;
  margin-bottom: 15px;
}

.footer_about p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0px;
}

.footer_right {
  padding-right: 150px;
}

.footer_links {
  background: linear-gradient(90deg, #FFC883 0%, #FFD200 100%);
  padding: 40px 15px 40px 40px;
}

.footer_links::before {
  content: "";
  background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c89409ca1f13b4d9bec5f687c08d01ea98c3b171.png');
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.footer_right h4 {
  color: #212529;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer_right li a,
.footer_right li p {
  color: #111;
  font-size: 12px;
  line-height: 28px;
  margin-bottom: 0px;
  cursor: pointer;
}

.footer_info,
.footer_sm {
  margin-top: 15px;
}

.footer_info p {
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 18px;
  margin-top: 2px;
}

.footer_info h5 {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: #111;
}

.footer_info a {
  color: #111;
  font-size: 12px;
  line-height: 15px;
}

.footer_bottom {
  padding: 15px 15px !important;
}

.footer_bottom p {
  font-size: 11px;
  margin-bottom: 0;
}

.footer_bottom p span {
  font-weight: 600;
}

.cofynd_footer {
  text-align: right;
}

.social-links {

  li {
    margin-right: 10px;
    display: inline-block;

    a {
      width: 28px;
      height: 28px;
      line-height: 28px;
      display: inline-block;
      border-radius: 50px;
      border: 1px solid #886600;
      color: #886600;
      font-size: 12px;
      text-align: center;

      @media(max-width: 991px) {
        color: #4243e7;
        border-color: #4243e7
      }
    }
  }
}

@media (max-width: 991px) {
  .footer-top .container-fluid {
    padding: 0px 25px;
  }

  .footer_about {
    padding-left: 0 !important;
    padding-bottom: 15px;
    padding-top: 20px;
  }

  .footer_bottom {
    padding-top: 10px;
  }
}


@media (max-width: 480px) {
  .footer_about {
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer_bottom {
    text-align: left;
}
.footer-bottom p {
  font-size: 10px !important;
}
.cofynd_footer {
  text-align: left;
}
}