<footer class="main_footer" *ngIf="countryId !== '6232b86b2a52af3ddaa74e12'">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="footer_about">
                        <div class="logo">
                            <div routerLink="/"><img src="/assets/images/logo.svg" alt="Cofynd Logo" /></div>
                            <h5>Fynd the right space, Globally</h5>
                        </div>
                        <p>CoFynd is India’s fastest growing space discovery platform for searching and booking coworking, coliving, and private office spaces. We give access to choose from 100,000+ verified spaces across India and we have just started!
                            Our spaces boast of present-day amenities and reflect Freedom, Flexibility and Fulfillment completely in sync with the modern day millennial behavior. Space Search Made Simple.</p>
                        <p>Search. Book. Work. Live.</p>
                    </div>
                </div> 

                <div class="col-md-8 footer_links mobilehide">
                    <div class="footer_right">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Coworking Space</h4>
                                <ul class="footer_menu">
                                    <li><p routerLink="/coworking/gurugram">Coworking Space in Gurgaon</p></li>
                                    <li><p routerLink="/coworking/delhi">Coworking Space in Delhi</p></li>
                                    <li><p routerLink="/coworking/noida">Coworking Space in Noida</p></li>
                                    <li><p routerLink="/coworking/bangalore">Coworking Space in Bangalore</p></li>
                                    <li><p routerLink="/coworking/hyderabad">Coworking Space in Hyderabad</p></li>
                                    <li><p routerLink="/coworking/pune">Coworking Space in Pune</p></li>
                                    <li><p routerLink="/coworking/mumbai">Coworking Space in Mumbai</p></li>
                                </ul>

                                <div class="footer_info">
                                    <h5>Email</h5>
                                    <p>hello@cofynd.com</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h4>Coworking Space</h4>
                                <ul class="footer_menu">
                                    <li><p routerLink="/coworking/indore">Coworking Space in Indore</p></li>
                                    <li><p routerLink="/coworking/chennai">Coworking Space in Chennai</p></li>
                                    <li><p routerLink="/coworking/ahmedabad">Coworking Space in Ahmedabad</p></li>
                                    <li><p routerLink="/coworking/kochi">Coworking Space in Kochi</p></li>
                                    <li><p routerLink="/coworking/chandigarh">Coworking Space in Chandigarh</p></li>
                                    <li><p routerLink="/coworking/jaipur">Coworking Space in Jaipur</p></li>
                                    <li><p routerLink="/coworking/lucknow">Coworking Space in Lucknow</p></li>
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <h4>Knowledge Centre</h4>
                                <ul class="footer_menu">
                                    <li><p routerLink="/coworking">Coworking Space</p></li>
                                    <li><p routerLink="/co-living">Coliving Space</p></li>
                                    <li><p routerLink="/enterprise">Enterprise Solutions</p></li>
                                    <li><p routerLink="/list-your-space">List Your Space</p></li>
                                    <li><p routerLink="/about-us">About Us</p></li>
                                    <li><p routerLink="/contact-us">Contact Us</p></li>
                                    <li><p routerLink="/privacy-policy">Privacy Policy</p></li>
                                </ul>

                                <div class="footer_sm">
                                    <ul class="social-links">
                                        <li *ngFor="let link of socialLinks;">
                                            <a [href]="link.url" target="_blank" [classList]="link.icon"></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer_bottom">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © 2023 Cofynd. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <p class="cofynd_footer">Cofynd and the Cofynd.com logo are registered trademarks of Cofynd Infotech Pvt Ltd. | <span (click)="routeOnPage('terms-and-conditions')" style="cursor: pointer;">T&C</span></p>
            </div>
        </div>
    </div>
</footer>

<footer class="main_footer" *ngIf="countryId == '6232b86b2a52af3ddaa74e12'">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="footer_about">
                        <div class="logo">
                            <a routerLink="/"><img src="/assets/images/logo.svg" alt="Cofynd Logo" /></a>
                            <h5>Fynd the right space, Globally</h5>
                        </div>
                        <p>CoFynd is Singapore fastest growing space discovery platform for searching and booking coworking, coliving, and private office spaces. We give access to choose from 100,000+ verified spaces across India and we have just started!
                            Our spaces boast of present-day amenities and reflect Freedom, Flexibility and Fulfillment completely in sync with the modern day millennial behavior. Space Search Made Simple.</p>
                        <p>Search. Book. Work. Live.</p>
                    </div>
                </div>

                <div class="col-md-8 footer_links tabhide">
                    <div class="footer_right">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Singapore Coworking Space</h4>
                                <ul class="footer_menu">
                                    <li><p routerLink="/singapore/coworking/changi">Coworking Space in Changi</p></li>
                                    <li><p routerLink="/singapore/coworking/chinatown">Coworking Space in Chinatown</p></li>
                                    <li><p routerLink="/singapore/coworking/novena">Coworking Space in Novena</p></li>
                                    <li><p routerLink="/singapore/coworking/paya-lebar">Coworking Space in Paya Lebar</p></li>
                                    <li><p routerLink="/singapore/coworking/river-valley">Coworking Space in River Valley</p></li>
                                    <li><p routerLink="/singapore/coworking/tampnies">Coworking Space in Tampnies</p></li>
                                    <li><p routerLink="/singapore/coworking/tanjong-pagar">Coworking Space in Tanjong Pagar</p></li>
                                </ul>

                                <div class="footer_info">
                                    <h5>Email</h5>
                                    hello@cofynd.com
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h4>Singapore Coworking Space</h4>
                                <ul class="footer_menu">
                                    <li><p routerLink="/singapore/coworking/toa-payoh">Coworking Space in Toa Payoh</p></li>
                                    <li><p routerLink="/singapore/coworking/orchard">Coworking Space in Orchard</p></li>
                                    <li><p routerLink="/singapore/coworking/tiong-bahru">Coworking Space in Tiong Bahru</p></li>
                                    <li><p routerLink="/singapore/coworking/katong">Coworking Space in Katong</p></li>
                                    <li><p routerLink="/singapore/coworking/telok-ayer">Coworking Space in Telok Ayer</p></li>
                                    <li><p routerLink="/singapore/coworking/cbd">Coworking Space in Cbd</p></li>
                                    <li><p routerLink="/singapore/coworking/buona-vista">Coworking Space in Buona Vista</p></li>
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <h4>Knowledge Centre</h4>
                                <ul class="footer_menu">
                                    <li><p routerLink="/singapore/coworking">Coworking Space</p></li>
                                    <li><p routerLink="/singapore/co-living">Coliving Space</p></li>
                                    <li><p routerLink="/enterprise">Enterprise Solutions</p></li>
                                    <li><p routerLink="/list-your-space">List Your Space</p></li>
                                    <li><p routerLink="/about-us">About Us</p></li>
                                    <li><p routerLink="/contact-us">Contact Us</p></li>
                                    <li><p routerLink="/privacy-policy">Privacy Policy</p></li>
                                </ul>

                                <div class="footer_sm">
                                    <ul class="social-links">
                                        <li *ngFor="let link of socialLinks;">
                                            <a [href]="link.url" target="_blank" [classList]="link.icon"></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer_bottom">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © 2023 Cofynd. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <p class="cofynd_footer">Cofynd and the Cofynd.com logo are registered trademarks of Cofynd Infotech Pvt Ltd. | <span (click)="routeOnPage('terms-and-conditions')"style="cursor: pointer;">T&C</span></p>
            </div>
        </div>
    </div>
</footer>