<footer>
  <div class="footer-top">
    <div class="yellow-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="clearfix">
            <div class="footer-left">
              <div class="logo">
                <a routerLink="/"><img src="/assets/images/logo.svg"
                    alt=""></a>
                <h5>Fynd the right space, Globally</h5>
              </div>
              <p>CoFynd is India’s fastest growing space discovery platform for searching and booking coworking,
                coliving, and private office spaces. We give access to choose from 25,000+ verified spaces across India and we have just started! Our spaces boast of present-day amenities and reflect Freedom,
                Flexibility and Fulfillment completely in sync with the modern day millennial behavior. Space Search
                Made Simple. Search. Book. Work. Live.</p>
            </div>
            <div class="footer-center">

              <ul class="link-list">
                <li>
                  <b>Coworking Space</b>
                </li>
                <li *ngFor="let link of coworkingLinks">
                  <a [routerLink]="'/coworking/' + link.city">
                    {{ link.name }}
                  </a>
                </li>
              </ul>
              <ul class="link-list">
                <li>
                  <b>Coliving Space</b>
                </li>
                <li *ngFor="let link of colivingLinks">
                  <a [routerLink]="'/co-living/' + link.city">
                    {{ link.name }}
                  </a>
                </li>
              </ul>
              <ul class="link-list">
                <li>
                  <b>Office Space</b>
                </li>
                <li *ngFor="let link of officeLinks">
                  <a [routerLink]="'/office-space/rent/' + link.city">
                    {{ link.name }}
                  </a>
                </li>
              </ul>
              <div class="footer-right">
                <div class="contact-info">
                  <a [href]="'tel:' + contactInfo.phone"
                    [appCustomEventAnalytics]='{"category":"INITIATED_PHONE_CALL","action":"click", "label": "PHONE_CALL"}'>
                    <i class="fa fa-mobile"></i>
                    <span>Call us on:</span>
                    {{ contactInfo.phone }}
                  </a>
                </div>
                <div class="contact-info">
                  <a [href]="'mailto:' + contactInfo.email"
                    [appCustomEventAnalytics]='{"category":"INITIATED_EMAIL","action":"click", "label": "OPEN_EMAIL"}'>
                    <i class="fa fa-envelope-o"></i>
                    <span>Email:</span>
                    {{ contactInfo.email }}
                  </a>
                </div>
                <ul class="social-links">
                  <li *ngFor="let link of socialLinks;">
                    <a [href]="link.url"
                      target="_blank"
                      [classList]="link.icon"></a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-bottom">
    <div class="row">
      <div class="col-md-4">
        <p>COPYRIGHT &copy; 2020 COFYND ALL RIGHTS RESERVED.</p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7 links-item">
        <p class="text"
          (click)="routeOnPage('about-us')">About Us</p>
        <p class="text"
          (click)="routeOnPage('list-your-space')"> &nbsp;| List Your Space</p>
        <p class="text"
          (click)="routeOnPage('contact-us')"> &nbsp;| Contact Us</p>
        <p class="text"
          (click)="routeOnPage('privacy-policy')"> &nbsp;| Privacy Policy</p>
        <p class="text"
          (click)="routeOnPage('terms-and-conditions')"> &nbsp;| T&C</p>
      </div>
      <!-- <div class="col-md-2">
        <div class="text-right">
          <img src="/assets/images/t9l-logo.png"
            alt="">
        </div>
      </div> -->
    </div>
  </div>
</footer>
