<section class="breadcrumbs_sec"
    *ngIf="!loading && SubBuilder">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item text-overflow">{{SubBuilder?.location?.country.name}}</li>
                        <li class="breadcrumb-item text-overflow"><a
                                [routerLink]="'/'+SubBuilder?.location?.country.name.toLowerCase() + '/builder/' + SubBuilder?.builder.slug">{{SubBuilder?.builder?.name}}</a>
                        </li>
                        <li class="breadcrumb-item text-overflow active"
                            aria-current="page">{{SubBuilder?.name}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_page_gallery"
    *ngIf="!loading && SubBuilder">
    <div class="container">
        <div class="row">
            <div class="relative"
                *ngIf="!loading">
                <app-social-share class="hideOnMobile"
                    *ngIf="SubBuilder"
                    [title]="SubBuilder.name"
                    [description]="SubBuilder.description"
                    [image]="shareImageUrl">
                </app-social-share>
                <app-workspace-banner *ngIf="SubBuilder && SubBuilder.images.length > 3"
                    [images]="SubBuilder.images"
                    [workspaceId]="SubBuilder.id"
                    [title]="SubBuilder.name"
                    [favoriteOption]="false">
                </app-workspace-banner>
                <app-workspace-banner-blank *ngIf="SubBuilder && SubBuilder.images.length < 3"
                    [workspaceId]="SubBuilder.id"
                    [title]="SubBuilder.name">
                </app-workspace-banner-blank>
            </div>
        </div>
    </div>
</section>

<section class="details_area content"
    *ngIf="!loading && SubBuilder">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-12">
                        <div class="space_head">
                            <div class="heading-info">
                                <h2>{{SubBuilder?.name}}</h2>
                                <p><img [lazyLoad]="'../../../../assets/images/icons/location-icon.svg'"
                                        alt=""
                                        class="img-fluid"> {{SubBuilder?.location?.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line"
                    *ngIf="SubBuilder.overview">

                <div class="row overview_area"
                    *ngIf="SubBuilder.overview">
                    <div class="col-md-12">
                        <h3>Overview</h3>
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img [lazyLoad]="'assets/images/icons/project-type-icon.svg'" />
                                    </div>
                                    <div class="info"
                                        *ngIf="SubBuilder.overview.project_type">
                                        <h5>Project Type</h5>
                                        <p *ngIf="SubBuilder?.overview?.project_type !== 'both'">
                                            {{SubBuilder?.overview?.project_type }}</p>
                                        <p *ngIf="SubBuilder?.overview?.project_type == 'both'">Residential-Commercial
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6"
                                *ngIf="SubBuilder.overview.project_size">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img [lazyLoad]="'assets/images/icons/area-icon.svg'" />
                                    </div>
                                    <div class="info">
                                        <h5>Project Size</h5>
                                        <p>{{SubBuilder?.overview?.project_size | titlecase}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-6"
                                *ngIf="SubBuilder.overview.build_up_area">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img [lazyLoad]="'assets/images/icons/area-icon.svg'" />
                                    </div>
                                    <div class="info">
                                        <h5>Project Status</h5>
                                        <p>{{SubBuilder?.overview?.build_up_area}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-6"
                                *ngIf="SubBuilder?.overview?.is_sale && SubBuilder?.overview?.is_rent">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid"
                                            [lazyLoad]="'assets/images/icons/pricing-tag-icon.svg'" />
                                    </div>
                                    <div class="info">
                                        <h5>Sale & Rent</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-6"
                                *ngIf="SubBuilder?.overview?.is_sale && !SubBuilder?.overview?.is_rent">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid"
                                            [lazyLoad]="'assets/images/icons/pricing-tag-icon.svg'" />
                                    </div>
                                    <div class="info">
                                        <h5>Sale</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-6"
                                *ngIf="!SubBuilder?.overview?.is_sale && SubBuilder?.overview?.is_rent">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid"
                                            [lazyLoad]="'assets/images/icons/pricing-tag-icon.svg'" />
                                    </div>
                                    <div class="info">
                                        <h5>Rent</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-6"
                                *ngIf="SubBuilder?.overview?.is_rera_approved">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid"
                                            [lazyLoad]="'assets/images/icons/verified-icon.svg'" />
                                    </div>
                                    <div class="info">
                                        <h5>RERA Approved</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-6"
                                *ngIf="SubBuilder?.overview?.is_zero_brokerage">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid"
                                            [lazyLoad]="'assets/images/icons/brokerage-icon.svg'" />
                                    </div>
                                    <div class="info">
                                        <h5>Zero Brokerage</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line"
                    *ngIf="SubBuilder.description">


                <div class="row about-area"
                    *ngIf="SubBuilder.description">
                    <div class="col-md-12">
                        <h3>About {{SubBuilder?.name}}</h3>
                    </div>

                    <div class="col-md-12">
                        <p [innerHTML]="(SubBuilder?.description.length > 580? SubBuilder?.description.slice(0,580) + '...' : SubBuilder?.description)"
                            *ngIf="seeMore; else hide">
                        </p>
                        <ng-template #hide>
                            <p [innerHTML]="SubBuilder?.description">
                            </p>
                        </ng-template>

                        <p class="moreless-button mt-1"
                            *ngIf="SubBuilder?.description.length > 580"
                            (click)="toggleAboutMore()">{{seeMore? "See More »":"See Less »"}}</p>
                    </div>

                    <!-- <div class="col-md-12">
                        <p>{{SubBuilder?.description}}</p>
                    </div> -->
                </div>

                <hr class="divider_line"
                    *ngIf="SubBuilder?.amenties.length > 0">

                <div class="row amenities_section"
                    *ngIf="SubBuilder?.amenties.length > 0">
                    <div class="col-md-12">
                        <h3>{{SubBuilder?.name}} Amenities</h3>
                    </div>
                    <div class="col-md-12 mobilehide"
                        id="amenities-icons">
                        <div class="basic-icons">
                            <ng-container *ngFor="let amenity of SubBuilder?.amenties">
                                <p><i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{
                                    removeSpecialCharacter(amenity.name) }}</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-12 desktophide"
                        id="amenities-icons">
                        <div class="basic-icons">
                            <ng-container *ngIf="haftAmenities; else fullAmenities">
                                <p *ngFor="let amenity of SubBuilder?.amenties.slice(0,6)">
                                    <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{
                                    removeSpecialCharacter(amenity.name) }}
                                </p>
                            </ng-container>

                            <ng-template #fullAmenities>
                                <p *ngFor="let amenity of SubBuilder.amenties">
                                    <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{
                                    removeSpecialCharacter(amenity.name) }}
                                </p>
                            </ng-template>
                        </div>
                        <p class="moreless-button"
                            (click)="toggleAmenitiesDiv()">See {{haftAmenities? "More »": "Less »" }} </p>
                    </div>
                </div>

                <hr class="divider_line"
                    *ngIf="SubBuilder?.overview?.project_type === 'residential' && SubBuilder?.plans.length > 0">

                <div class="row floor-plan"
                    *ngIf="SubBuilder?.overview?.project_type === 'residential' && SubBuilder?.plans.length > 0">
                    <div class="col-md-12">
                        <h3>{{SubBuilder?.name}} Configuration</h3>
                    </div>
                    <div class="col-md-12">
                        <!-- <div class="tab_area">
                            <div class="tab_item active"><button>Rent</button></div>
                            <div class="tab_item"><button>Sale</button></div>
                        </div> -->

                        <div class="configuration_list">
                            <div class="configuration_item"
                                *ngFor="let plan of SubBuilder?.plans">
                                <div class="configuration_head">
                                    <h4>{{plan?.planId?.name}} Apartment</h4>
                                    <p>{{plan?.area}}.</p>
                                </div>
                                <div class="configuration_body">
                                    <div class="price_box">
                                        <h5>Price</h5>
                                        <p>₹{{plan?.price}} Onwards </p>
                                    </div>
                                    <div class="configuration_img">
                                        <img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9107d41c7468dec04eaffb1447d917893a60b3dc.png'"
                                            alt="Configuration">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line"
                    *ngIf="SubBuilder?.plans.length > 0 && SubBuilder?.overview?.project_type !== 'both'">

                <div class="row floor-plan"
                    *ngIf="SubBuilder?.plans.length > 0 && SubBuilder?.overview?.project_type !== 'both'">
                    <div class="col-md-12">
                        <h3>Floor Plans {{SubBuilder?.name}}</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="tab_area">
                            <ng-container *ngFor="let item of SubBuilder?.plans">
                                <div class="tab_item"
                                    (click)="floorPlanClick(item?.planId?.id)"
                                    [ngClass]="{'active': planId === item?.planId?.id }"><button>{{item?.planId?.name}}
                                        Floor Plan</button></div>
                            </ng-container>
                        </div>

                        <div class="properties_item_slider">
                            <div class="plans_slider">
                                <div class="plan_item"
                                    *ngFor="let item of floorPlan">
                                    <div class="floor-plan-img"
                                        *ngIf="!item?.image?.s3_link">
                                        <img class="img-fluid floor-plan-img"
                                            [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3b514199eb59c37cc4e1a72983059a86e8407e5e.png'"
                                            alt="9.jpg" />
                                    </div>
                                    <div class="floor-plan-img"
                                        *ngIf="item?.image?.s3_link">
                                        <img class="img-fluid floor-plan-img"
                                            [lazyLoad]="item?.image?.s3_link"
                                            alt="9.jpg" />
                                    </div>
                                    <div class="floor_plan_title">
                                        <h4>{{item?.name}}</h4>
                                    </div>
                                    <div class="floor-plan-details"
                                        *ngIf="item.rent_price || item.sale_price">
                                        <div class="price"
                                            *ngIf="item.rent_price">
                                            <h5>Rent Price</h5>
                                            <p>₹ {{item?.rent_price}}/month</p>
                                        </div>
                                        <div class="square-ft"
                                            *ngIf="item.sale_price">
                                            <h5>Sale Price</h5>
                                            <p>₹ {{item?.sale_price}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row floor-plan"
                    *ngIf="SubBuilder?.plans.length > 0 && SubBuilder?.overview?.project_type == 'both' && residentailPlans.length > 0">
                    <div class="col-md-12">
                        <h3>Residential Floor Plans {{SubBuilder?.name}}</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="tab_area">
                            <ng-container *ngFor="let item of residentailPlans">
                                <div class="tab_item"
                                    (click)="residentailFloorPlanClick(item?.planId?.id)"
                                    [ngClass]="{'active': resiPlanId === item?.planId?.id }">
                                    <button>{{item?.planId?.name}} Floor Plan</button></div>
                            </ng-container>
                        </div>

                        <div class="properties_item_slider">
                            <div class="plans_slider">
                                <div class="plan_item"
                                    *ngFor="let item of residentailFloorPlan">
                                    <div class="floor-plan-img"
                                        *ngIf="!item?.image?.s3_link">
                                        <img class="img-fluid floor-plan-img"
                                            [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/61d5cda4fe5ba5490f8da97c8389d480293ae2b8.jpg'"
                                            alt="9.jpg" />
                                    </div>
                                    <div class="floor-plan-img"
                                        *ngIf="item?.image?.s3_link">
                                        <img class="img-fluid floor-plan-img"
                                            [lazyLoad]="item?.image?.s3_link"
                                            alt="9.jpg" />
                                    </div>
                                    <div class="floor_plan_title">
                                        <h4>{{item?.name}}</h4>
                                    </div>
                                    <div class="floor-plan-details"
                                        *ngIf="item.rent_price || item.sale_price">
                                        <div class="price"
                                            *ngIf="item.rent_price">
                                            <h5>Rent Price</h5>
                                            <p>₹ {{item?.rent_price}}/month</p>
                                        </div>
                                        <div class="square-ft"
                                            *ngIf="item.sale_price">
                                            <h5>Sale Price</h5>
                                            <p>₹ {{item?.sale_price}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line"
                    *ngIf="SubBuilder?.plans.length > 0 && SubBuilder?.overview?.project_type == 'both' && commercialPlans.length > 0">

                <div class="row floor-plan"
                    *ngIf="SubBuilder?.plans.length > 0 && SubBuilder?.overview?.project_type == 'both' && commercialPlans.length > 0">
                    <div class="col-md-12">
                        <h3>Commercial Floor Plans {{SubBuilder?.name}}</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="tab_area">
                            <ng-container *ngFor="let item of commercialPlans">
                                <div class="tab_item"
                                    (click)="commercialFloorPlanClick(item?.planId?.id)"
                                    [ngClass]="{'active': commPlanId === item?.planId?.id }">
                                    <button>{{item?.planId?.name}} Floor Plan</button></div>
                            </ng-container>
                        </div>

                        <div class="properties_item_slider">
                            <div class="plans_slider">
                                <div class="plan_item"
                                    *ngFor="let item of commercialFloorPlan">
                                    <div class="floor-plan-img"
                                        *ngIf="!item?.image?.s3_link">
                                        <img class="img-fluid floor-plan-img"
                                            [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/61d5cda4fe5ba5490f8da97c8389d480293ae2b8.jpg'"
                                            alt="9.jpg" />
                                    </div>
                                    <div class="floor-plan-img"
                                        *ngIf="item?.image?.s3_link">
                                        <img class="img-fluid floor-plan-img"
                                            [lazyLoad]="item?.image?.s3_link"
                                            alt="9.jpg" />
                                    </div>
                                    <div class="floor_plan_title">
                                        <h4>{{item?.name}}</h4>
                                    </div>
                                    <div class="floor-plan-details"
                                        *ngIf="item.rent_price || item.sale_price">
                                        <div class="price"
                                            *ngIf="item.rent_price">
                                            <h5>Rent Price</h5>
                                            <p>₹ {{item?.rent_price}}/month</p>
                                        </div>
                                        <div class="square-ft"
                                            *ngIf="item.sale_price">
                                            <h5>Sale Price</h5>
                                            <p>₹ {{item?.sale_price}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row map-location">
                    <div class="col-md-12">
                        <h2>Location of {{SubBuilder?.name}}</h2>
                        <p class="location-icon"
                            *ngIf="SubBuilder">
                            <img [lazyLoad]="'../../../../assets/images/icons/location-icon.svg'"
                                alt=""
                                class="img-fluid"> {{ SubBuilder.location.address }}
                        </p>
                        <div *ngIf="options.zoom"
                            style="height: 200px; border-radius: 20px;"
                            leaflet
                            [leafletOptions]="options"
                            [leafletLayers]="markers">
                        </div>
                        <div class="desktophide">
                            <p style="font-weight: 300;">Prime location with 24*7 surveillance</p>
                        </div>
                    </div>
                </div>
                <hr class="divider_line"
                    *ngIf="SubBuilder && SubBuilder.location && SubBuilder.location.metro_detail.name">

                <div class="row near_places"
                    *ngIf="SubBuilder && SubBuilder.location && SubBuilder.location.metro_detail.name">
                    <div class="col-md-12 places-nearby">
                        <h2 class="heading">Places Nearby</h2>
                    </div>

                    <div class="col-md-12">
                        <div class="places-tag-slider">
                            <div class="places-tag-item">
                                <div class="places-tag-box">
                                    <div class="tag-icon">
                                        <img class="img-fluid"
                                            lazyLoad="../../../../assets/images/icons/metro-icon.svg" />
                                    </div>
                                    <div class="tag-text">
                                        <h5>Nearest Metro</h5>
                                        <p>{{ SubBuilder.location.metro_detail.name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider_line"
                    *ngIf="SubBuilder?.location?.near_by_places.length > 0">

                <div class="row near_places"
                    *ngIf="SubBuilder?.location?.near_by_places.length > 0">
                    <div class="col-md-12 places-nearby">
                        <h3 class="heading">Nearby</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="places-tag-slider">
                            <div class="places-tag-item"
                                *ngFor="let near of SubBuilder.location.near_by_places">
                                <div class="tag-icon">
                                    <img class="img-fluid"
                                        [lazyLoad]="near?.image?.s3_link" />
                                </div>
                                <div class="tag-text">
                                    <h5>{{near?.lankmark}}</h5>
                                    <p>{{near?.distance}} Km</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="enquiry_section">
                    <div class="form-section card_form enquire-box-content"
                        style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e68056858a71545a4cfba7013434076f71bd592d.png');">
                        <h2 class="heading">Yes, I'm Interested !</h2>
                        <p>in <span class="light_blue"
                                style="font-weight: 600;">{{SubBuilder?.name}}</span></p>
                        <form class="form"
                            [formGroup]="enterpriseFormGroup"
                            (ngSubmit)="onSubmit()"
                            *ngIf="!showSuccessMessage">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                                            formControlName="name"
                                            id="name"
                                            placeholder="Name"
                                            aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['name'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email"
                                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                            formControlName="email"
                                            class="form-control"
                                            id="exampleInputEmail1"
                                            placeholder="Email"
                                            aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['email'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                                            <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 country_phone">
                                    <div class="form-group city_card_phone">
                                        <div class="flag-container">
                                            <div (click)="showcountry = !showcountry"
                                                class="selected-flag">
                                                <div class="flag in"
                                                    *ngIf="activeCountries.length">
                                                    <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                                    <span class="arrow arrow-up"><i
                                                            class="fa-solid fa-angle-down"></i></span>
                                                </div>
                                            </div>
                                            <ul *ngIf="showcountry"
                                                class="country-list">
                                                <li (click)="hideCountry(country)"
                                                    class="country active"
                                                    tabindex="-1"
                                                    *ngFor="let country of activeCountries">
                                                    <div class="flag-box">
                                                        <div class="flag in"><img [lazyLoad]="country?.image?.s3_link"
                                                                width="18px" /></div>
                                                    </div>
                                                    <span class="country-name">{{country?.name}}</span>
                                                    <span class="dial-code">{{country?.dial_code}}</span>
                                                </li>

                                                <li class="divider"></li>

                                                <li (click)="hideCountry(inactive)"
                                                    class="country selected"
                                                    *ngFor="let inactive of inActiveCountries">
                                                    <div class="flag-box">
                                                        <div class="flag af"><img
                                                                [lazyLoad]="inactive?.image?.s3_link" /></div>
                                                    </div>
                                                    <span class="country-name">{{inactive?.name}}</span>
                                                    <span class="dial-code">{{inactive?.dial_code}}</span>
                                                </li>
                                            </ul>
                                            <input type="tel"
                                                maxlength="10"
                                                [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }"
                                                formControlName="phone_number"
                                                class="form-control"
                                                placeholder="Phone*"
                                                required>
                                            <div *ngIf="submitted && f['phone_number'].errors"
                                                class="invalid-feedback">
                                                <div
                                                    *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">
                                                    Please enter mobile number.</div>
                                                <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile
                                                    number.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group floating-label otp-form"
                                        *ngIf="ENQUIRY_STEP === ENQUIRY_STEPS.OTP">
                                        <input type="tel"
                                            [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }"
                                            formControlName="otp"
                                            required
                                            class="form-control border-light"
                                            id="mobilenumber"
                                            placeholder="Otp*"
                                            aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['otp'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f['otp'].errors['required']">Please enter 4 digit otp.</div>
                                        </div>
                                        <button [disabled]="resendDisabled"
                                            (click)="resendOTP()"
                                            [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                                        <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit"
                                        class="site_btn border_btn full_width_btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="contact-details"
                        style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1400395b5b72f417b2108d288877a8ec323817b4.png');">
                        <div class="contact-image">
                            <img class="img-fluid"
                                [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9767d9ef9766e8c572306101f7c1a71448d4ed30.png'" />
                        </div>
                        <div class="contact-info">
                            <p class="heading">Get in Touch</p>
                            <p>hello@cofynd.com</p>
                        </div>
                    </div>
                    <div class="policy">
                        <p>By clicking the above button you agree to our Terms of service and have read and understood
                            our <span><a class="text-decoration-none"
                                    routerLink="/privacy-policy">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line"
    *ngIf="!loading && SubBuilder">

<section class="main_builder_about"
    *ngIf="!loading && SubBuilder">
    <div class="container">
        <div class="row about-area">
            <div class="col-md-12">
                <div class="about_details">
                    <div class="logo_col">
                        <img [lazyLoad]="builderLogoUrl"
                            alt="M3M">
                    </div>
                    <div class="building_experience"
                        *ngIf="SubBuilder?.builder">
                        <h4 *ngIf="SubBuilder?.builder?.name">{{SubBuilder?.builder?.name | titlecase}}</h4>
                        <p *ngIf="SubBuilder?.builder?.establish_year">{{SubBuilder?.builder?.establish_year}}</p>
                    </div>
                    <div class="building_totle_project"
                        *ngIf="SubBuilder?.builder?.projects">
                        <h4>Projects</h4>
                        <p>{{SubBuilder?.builder?.projects}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12"
                *ngIf="SubBuilder?.builder?.description">
                <p [innerHTML]="(SubBuilder?.builder?.description)">
                </p>
                <!-- <p>{{SubBuilder?.builder?.description}}</p> -->
            </div>
        </div>
    </div>
</section>

<hr class="divider_line"
    *ngIf="!loading && moreProjects.length > 0">

<section class="more_builders"
    *ngIf="!loading && moreProjects.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h3_heading">More Properties By {{SubBuilder?.builder?.name}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <ng-container *ngFor="let more_projects of moreProjects">
                        <app-builder-resi-com-card [buildername]="SubBuilder?.builder?.name"
                            [subbuilder]="more_projects"></app-builder-resi-com-card>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-description"
    *ngIf="!loading && seoData && seoData.footer_description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>