<section class="breadcrumbs_sec" *ngIf="!loading && SubBuilder">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item text-overflow">{{SubBuilder?.country_dbname | titlecase}}</li>
                        <li class="breadcrumb-item text-overflow"><a [routerLink]="'/'+SubBuilder?.country_dbname.toLowerCase() + '/builder/' + SubBuilder?.builder.slug">{{SubBuilder?.builder?.name | titlecase}}</a></li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">{{SubBuilder?.name | titlecase}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_page_gallery" *ngIf="!loading && SubBuilder">
    <div class="container">
        <div class="row">
            <div class="relative" *ngIf="!loading">
                <app-social-share class="hideOnMobile" *ngIf="SubBuilder" [title]="SubBuilder.name" [description]="SubBuilder.description" [image]="shareImageUrl">
                </app-social-share>
                <app-workspace-banner *ngIf="SubBuilder && SubBuilder.images.length" [images]="SubBuilder.images" [workspaceId]="SubBuilder.id" [title]="SubBuilder.name" [favoriteOption]="false">
                </app-workspace-banner>
                <app-workspace-banner-blank *ngIf="SubBuilder && !SubBuilder.images.length" [workspaceId]="SubBuilder.id" [title]="SubBuilder.name">
                </app-workspace-banner-blank>
            </div>
        </div>
    </div>
</section>

<section class="details_area content" *ngIf="!loading && SubBuilder">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-12">

                        <div class="space_head">
                            <div class="heading-info">
                                <h2>{{SubBuilder?.name | titlecase}}</h2>
                                <p><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{SubBuilder?.location?.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="flat-properties">
                            <div class="flat-icons-box">
                                <div class="flat-properties-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid" src="assets/images/icons/ready-to-move.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Ready To Move</span>
                                    </div>
                                </div>

                                <div class="flat-properties-icons" *ngIf="SubBuilder?.overview?.project_type === 'residential'">
                                    <div class="icon">
                                        <img class="bhk img-fluid" src="assets/images/icons/verified-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <span>RERA Approved</span>
                                    </div>
                                </div>

                                <div class="flat-properties-icons" *ngIf="SubBuilder?.overview?.project_type === 'commercial'">
                                    <div class="icon">
                                        <img class="bhk img-fluid" src="../../../../assets/images/icons/furnished-status-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Fully Furnished</span>
                                    </div>
                                </div>

                                <div class="flat-properties-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid" src="assets/images/icons/brokerage-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Zero Brokerage</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row overview_area">
                    <div class="col-md-12">
                        <h3>Overview</h3>
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/project-type-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Project Type</h5>
                                        <p>{{SubBuilder?.overview?.project_type | titlecase}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/area-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Project Size</h5>
                                        <p>{{SubBuilder?.overview?.project_size | titlecase}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/area-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Built-up Area</h5>
                                        <p>{{SubBuilder?.overview?.build_up_area | titlecase}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/configuration-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Configuration</h5>
                                        <p>{{SubBuilder?.overview?.configuration | titlecase}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/building-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Apartment Design</h5>
                                        <p>{{SubBuilder?.overview?.apartment_design | titlecase}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">


                <div class="row about-area">
                    <div class="col-md-12">
                        <h3>About {{SubBuilder?.name}}</h3>
                    </div>
                    <div class="col-md-12">
                        <p>{{SubBuilder?.description}}</p>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row amenities_section" *ngIf="SubBuilder?.amenties.length">
                    <div class="col-md-12">
                        <h3>{{SubBuilder?.name}} Amenities</h3>
                    </div>
                    <div class="col-md-12 mobilehide" id="amenities-icons">
                        <div class="basic-icons">
                            <ng-container *ngFor="let amenity of SubBuilder?.amenties">
                                <p><i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}</p>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-md-12 desktophide" id="amenities-icons">
                        <div class="basic-icons">
                            <ng-container *ngIf="haftAmenities; else fullAmenities">
                                <p *ngFor="let amenity of SubBuilder?.amenties.slice(0,6)">
                                    <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                </p>
                            </ng-container>

                            <ng-template #fullAmenities>
                                <p *ngFor="let amenity of SubBuilder.amenties">
                                    <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                </p>
                            </ng-template>
                        </div>
                        <p class="moreless-button" (click)="toggleAmenitiesDiv()">See {{haftAmenities? "More »": "Less »" }} </p>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row floor-plan" *ngIf="SubBuilder?.overview?.project_type === 'residential'">
                    <div class="col-md-12">
                        <h3>{{SubBuilder?.name}} Configuration</h3>
                    </div>
                    <div class="col-md-12">
                        <!-- <div class="tab_area">
                            <div class="tab_item active"><button>Rent</button></div>
                            <div class="tab_item"><button>Sale</button></div>
                        </div> -->

                        <div class="configuration_list">
                            <div class="configuration_item" *ngFor="let plan of SubBuilder?.plans">
                                <div class="configuration_head">
                                    <h4>{{plan?.planId?.name}} Apartment</h4>
                                    <p>{{plan?.area}}.</p>
                                </div>
                                <div class="configuration_body">
                                    <div class="price_box">
                                        <h5>Price</h5>
                                        <p>₹{{plan?.price}} Onwards </p>
                                    </div>
                                    <div class="configuration_img">
                                        <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9107d41c7468dec04eaffb1447d917893a60b3dc.png" alt="Configuration">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row floor-plan">
                    <div class="col-md-12">
                        <h3>Floor Plans {{SubBuilder?.name}}</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="tab_area">
                            <ng-container *ngFor="let item of SubBuilder?.plans">
                                <div class="tab_item" (click)="floorPlanClick(item?.planId?.id)" [ngClass]="{'active': planId === item?.planId?.id }"><button>{{item?.planId?.name}} Floor Plan</button></div>
                            </ng-container>
                        </div>

                        <div class="properties_item_slider">
                            <div class="plans_slider">
                                <div class="plan_item" *ngFor="let item of floorPlan">
                                    <div class="floor-plan-img">
                                        <img class="img-fluid floor-plan-img" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/61d5cda4fe5ba5490f8da97c8389d480293ae2b8.jpg" alt="9.jpg" />
                                    </div>
                                    <div class="floor_plan_title">
                                        <h4>{{item?.name}}</h4>
                                    </div>
                                    <div class="floor-plan-details">
                                        <div class="price">
                                            <h5>Rent Price</h5>
                                            <p>₹ {{item?.rent_price}}/month</p>
                                        </div>
                                        <div class="square-ft">
                                            <h5>Sale Price</h5>
                                            <p>₹ {{item?.sale_price}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row map-location">
                    <div class="col-md-12">
                        <h2>Location of {{SubBuilder?.name}}</h2>
                        <p class="location-icon" *ngIf="SubBuilder">
                            <img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{ SubBuilder.location.address }}
                        </p>
                        <div *ngIf="options.zoom" style="height: 200px; border-radius: 20px;" leaflet [leafletOptions]="options" [leafletLayers]="markers">
                        </div>
                        <div class="desktophide">
                            <p style="font-weight: 300;">Prime location with 24*7 surveillance</p>
                        </div>
                    </div>
                </div>

                <!-- <hr class="divider_line"> -->

                <!-- <div class="row near_places">
                    <div class="col-md-12 places-nearby">
                        <h3 class="heading">Nearby</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="places-tag-slider">
                            <div class="places-tag-item">
                                <div class="tag-icon">
                                    <img class="img-fluid" src="../../../../assets/images/icons/metro-icon.svg" />
                                </div>
                                <div class="tag-text">
                                    <h5>Sector 55-56 Metro Station</h5>
                                    <p>2.6 Km</p>
                                </div>
                            </div>

                            <div class="places-tag-item">
                                <div class="tag-icon">
                                    <img class="img-fluid" src="../../../../assets/images/icons/airport-icon.svg">
                                </div>
                                <div class="tag-text">
                                    <h5>IGI Airport</h5>
                                    <p>4.6 Km</p>
                                </div>
                            </div>

                            <div class="places-tag-item">
                                <div class="tag-icon">
                                    <img class="img-fluid" src="../../../../assets/images/icons/school-icon.svg">
                                </div>
                                <div class="tag-text">
                                    <h5>DPS International School</h5>
                                    <p>4.9 Km</p>
                                </div>
                            </div>

                            <div class="places-tag-item">
                                <div class="tag-icon">
                                    <img class="img-fluid" src="../../../../assets/images/icons/mall-icon.svg">
                                </div>
                                <div class="tag-text">
                                    <h5>Raheja Mall</h5>
                                    <p>4.9 Km</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-4">
                <div class="enquiry_section">
                    <div class="form-section card_form enquire-box-content" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e68056858a71545a4cfba7013434076f71bd592d.png');">
                        <h2 class="heading">Yes, I'm Interested!</h2>
                        <p>Know More About <span class="light_blue" style="font-weight: 600;">{{SubBuilder?.name}}</span></p>
                        <form class="form" [formGroup]="enterpriseFormGroup" (ngSubmit)="onSubmit()" *ngIf="!showSuccessMessage">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name" id="name" placeholder="Name" aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                            <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                                            <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 country_phone">
                                    <div class="form-group city_card_phone">
                                        <div class="flag-container">
                                            <div (click)="showcountry = !showcountry" class="selected-flag">
                                                <div class="flag in" *ngIf="activeCountries.length">
                                                    <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                                    <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                                                </div>
                                            </div>
                                            <ul *ngIf="showcountry" class="country-list">
                                                <li (click)="hideCountry(country)" class="country active" tabindex="-1" *ngFor="let country of activeCountries">
                                                    <div class="flag-box">
                                                        <div class="flag in"><img [src]="country?.image?.s3_link" width="18px" /></div>
                                                    </div>
                                                    <span class="country-name">{{country?.name}}</span>
                                                    <span class="dial-code">{{country?.dial_code}}</span>
                                                </li>

                                                <li class="divider"></li>

                                                <li (click)="hideCountry(inactive)" class="country selected" *ngFor="let inactive of inActiveCountries">
                                                    <div class="flag-box">
                                                        <div class="flag af"><img [src]="inactive?.image?.s3_link" /></div>
                                                    </div>
                                                    <span class="country-name">{{inactive?.name}}</span>
                                                    <span class="dial-code">{{inactive?.dial_code}}</span>
                                                </li>
                                            </ul>
                                            <input type="tel" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" formControlName="phone_number" class="form-control" placeholder="Phone*" required>
                                            <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
                                                <div *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">Please enter mobile number.</div>
                                                <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile number.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group floating-label otp-form" *ngIf="ENQUIRY_STEP === ENQUIRY_STEPS.OTP">
                                        <input type="tel" [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }" formControlName="otp" required class="form-control border-light" id="mobilenumber" placeholder="Otp*" aria-describedby="emailHelp">
                                        <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
                                            <div *ngIf="f['otp'].errors['required']">Please enter 4 digit otp.</div>
                                        </div>
                                        <button [disabled]="resendDisabled" (click)="resendOTP()" [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                                        <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="site_btn border_btn full_width_btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="contact-details" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1400395b5b72f417b2108d288877a8ec323817b4.png');">
                        <div class="contact-image">
                            <img class="img-fluid" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9767d9ef9766e8c572306101f7c1a71448d4ed30.png" />
                        </div>
                        <div class="contact-info">
                            <p class="heading">Get in Touch</p>
                            <p><a href="tel:+919999108078">+91 9999 10 8078</a></p>
                        </div>
                    </div>
                    <div class="policy">
                        <p>By clicking the above button you agree to our Terms of service and have read and understood our <span><a class="text-decoration-none" routerLink="/privacy-policy">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line">

<!-- <section class="similar_spaces_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h3_heading">Office Space For Rent in Emaar Capital Tower</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <app-flat-space-card></app-flat-space-card>
                    <app-flat-space-card></app-flat-space-card>
                    <app-flat-space-card></app-flat-space-card>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line">

<section class="simlar_builders">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h3_heading">Similar Builders Projects</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <app-flat-space-card></app-flat-space-card>
                    <app-flat-space-card></app-flat-space-card>
                    <app-flat-space-card></app-flat-space-card>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line"> -->

<section class="main_builder_about" *ngIf="!loading && SubBuilder">
    <div class="container">
        <div class="row about-area">
            <div class="col-md-12">
                <div class="about_details">
                    <div class="logo_col">
                        <img [src]="builderLogoUrl" alt="M3M">
                    </div>
                    <div class="building_experience">
                        <h4>{{SubBuilder?.builder?.name | titlecase}}</h4>
                        <p>{{SubBuilder?.builder?.establish_year}}</p>
                    </div>
                    <div class="building_totle_project">
                        <h4>Projects</h4>
                        <p>{{SubBuilder?.builder?.projects}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p>{{SubBuilder?.builder?.description}}</p>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line">

<section class="more_builders" *ngIf="!loading && moreProjects.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h3_heading">More Properties By {{SubBuilder?.builder?.name}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <ng-container *ngFor="let more_projects of moreProjects">
                        <app-builder-resi-com-card [buildername]="SubBuilder?.builder?.name" [subbuilder]="more_projects"></app-builder-resi-com-card>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-description" *ngIf="!loading && seoData">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.title }}</h2>
                <div [innerHTML]="seoData?.description"></div>
            </div>
        </div>
    </div>
</section>