<app-search-breadcrumb *ngIf="!loading" [spaceLength]="offices.length" [breadcrumbs]="breadcrumbs" [isOfficeListing]="true" [isSizeFilter]="true" [isTypeFilter]="true" breadcumbType='office' (priceFilterChanged)="onFilterPriceChange($event)" (sizeFilterChanged)="onFilterSizeChange($event)"
    (typeFilterChanged)="onFilterTypeChange($event)" (onResetFilter)="resetFilter()" [isPageScrolled]="isScrolled" [priceFilter]="priceFilter" [sizeFilter]="sizeFilter" [typeFilter]="typeFilter" (mapViewChanged)="toggleMapView($event)">
</app-search-breadcrumb>

<section class="search-container clearfix">
    <div class="search-grid-container" [class.search-grid-full]="!isMapView">
        <div class="search-grid-wrapper">
            <div class="row align-items-center filter_title">
                <div class="col-md-9 col-8">
                    <div class="page-title city_page_title">
                        <h1 *ngIf="!loading">{{ pageTitle ? pageTitle : 'Office Space in ' + subTitle + ', ' + this.title }}</h1>
                    </div>
                </div>
                <div class="col-md-3 col-4 filter_options">
                    <div class="filter_col">
                        <select class="form-select form-control" style="cursor: pointer;" name="price" [(ngModel)]="selectedOption" aria-label="Default select example" (change)="sortByHighLow($event.target.value)">
                            <option value="SortBy" disabled>Sort By</option>
                            <option value="Low to High">Low to High</option>
                            <option value="High to Low">High to Low</option>
                        </select>
                    </div>
                </div>
            </div>

            <app-search-similar-location *ngIf="!loading" [relativeUrl]="'office-space/rent'" [cityName]="title" [popularLocationList]="cityWisePopularLocation">
            </app-search-similar-location>

            <section class="for_email_sec mobilehide">
                <div class="container-fluid" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3178e0cd0b21178e626195ffde0edbf7e1947382.png');">
                    <div class="row align-items-center">
                        <div class="col-md-8 col-12">
                            <div class="for_email_content">
                                <h3>Find your Office Space with Cofynd</h3>
                                <p>Send us an email with your Office Space requirements – Area, Team Size, Location, Start Date … and our office space experts will connect back within 24 Hrs with the best options.</p>
                                <p class="email_id align-items-center"><img [lazyLoad]="'assets/images/icons/email_id.svg'" alt="Email Icon"> hello@cofynd.com</p>
                            </div>
                        </div>
                        <div class="col-md-4 mobilehide">
                            <div class="for_email_img">
                                <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/00e405e2b9a8afc8ac552ea76d1ba5e698ba9b48.png" alt="Email Image">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <app-search-no-result *ngIf="!loading && !offices.length" [title]="'Office'" [shouldShowContactForm]="true" [url]="'/office-space/rent/'">
            </app-search-no-result>

            <app-search-card-loader *ngIf="loading">
            </app-search-card-loader>

            <div class="row" *ngIf="!loading">
                <ng-container *ngFor="let office of offices; let i = index">
                    <div class="col-sm-6" [class.col-md-4]="!isMapView" [class.col-md-6]="isMapView">
                        <app-office-card [office]="office" [activeCountries]="activeCountries" [inActiveCountries]="inActiveCountries">
                        </app-office-card>
                    </div>
                    <ng-template [ngIf]="isMapView">
                        <!-- <div class="col-sm-12" *ngIf="(i + 1) % 4 === 0">
                            <app-search-contact-us-text [cities]="availableCities" [type]="'for_office'">
                            </app-search-contact-us-text>
                        </div> -->

                        <div class="col-sm-12" *ngIf="(i + 1) === 6">
                            <section class="gradient_cta_sec micro-location-cta">
                                <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ba23d2df5adce219c36d8cad262aefdfe186dacf.jpg');">
                                    <div class="col-8">
                                        <div class="cta_content">
                                            <h4>Get the Perfect Office Space in Your City</h4>
                                            <ul class="mobilehide">
                                                <ng-container *ngFor="let item of cityWisePopularLocation | slice:0:9; let i=index">
                                                    <li *ngIf="item != 'Near Me'" (click)="routeToMicro(item)">{{item}}</li>
                                                </ng-container>
                                                and More...
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 12">
                            <app-search-contact-us-text1>
                            </app-search-contact-us-text1>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 18">
                            <app-search-contact-us-text2 [activeCountries]="activeCountries" [pageNo]="'microlocation page'" [microlocation]="subTitle">
                            </app-search-contact-us-text2>
                        </div>
                    </ng-template>
                    <ng-template [ngIf]="!isMapView">
                        <div class="col-sm-12" *ngIf="(i + 1) === 6">
                            <section class="gradient_cta_sec micro-location-cta">
                                <div class="row align-items-center" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ba23d2df5adce219c36d8cad262aefdfe186dacf.jpg');">
                                    <div class="col-8">
                                        <div class="cta_content">
                                            <h4>Get the Perfect Office Space in Your City</h4>
                                            <ul class="mobilehide">
                                                <ng-container *ngFor="let item of cityWisePopularLocation | slice:0:9; let i=index">
                                                    <li *ngIf="item != 'Near Me'" (click)="routeToMicro(item)">{{item}}</li>
                                                </ng-container>
                                                and More...
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 12">
                            <app-search-contact-us-text1>
                            </app-search-contact-us-text1>
                        </div>
                        <div class="col-sm-12" *ngIf="(i + 1) === 18">
                            <app-search-contact-us-text2 [activeCountries]="activeCountries" [pageNo]="'microlocation page'" [microlocation]="subTitle">
                            </app-search-contact-us-text2>
                        </div>
                    </ng-template>
                </ng-container>

                <div class="col-md-4" [class.col-md-4]="!isMapView" [class.col-md-6]="isMapView">
                    <app-city-page-enquire *ngIf="offices.length" [activeCountries]="activeCountries" [inActiveCountries]="inActiveCountries" [enquiryType]="enquiryType" [isOfficeEnquiry]="true"></app-city-page-enquire>
                </div>

            </div>

            <section class="for_email_sec desktophide mt-4">
                <div class="container-fluid" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/3178e0cd0b21178e626195ffde0edbf7e1947382.png');">
                    <div class="row align-items-center">
                        <div class="col-md-8 col-12">
                            <div class="for_email_content">
                                <h3>Find your Office Space with Cofynd</h3>
                                <p>Send us an email with your Office Space requirements – Area, Team Size, Location, Start Date … and our office space experts will connect back within 24 Hrs with the best options.</p>
                                <p class="email_id align-items-center"><img [lazyLoad]="'assets/images/icons/email_id.svg'" alt="Email Icon"> hello@cofynd.com</p>
                            </div>
                        </div>
                        <div class="col-md-4 mobilehide">
                            <div class="for_email_img">
                                <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/00e405e2b9a8afc8ac552ea76d1ba5e698ba9b48.png" alt="Email Image">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div *ngIf="!loading && offices.length" class="pagination-container">
                <pagination [totalItems]="totalRecords" [itemsPerPage]="20" [(ngModel)]="page" [maxSize]="maxSize" (pageChanged)="loadMore($event)">
                </pagination>
            </div>

        </div>
    </div>
    <div *ngIf="loading" class="search-map-container">
    </div>
    <div *ngIf="!loading && isMapView" class="search-map-container" [class.absolute-map]="isSearchFooterVisible" [class.hide-map]="!isMapView">
        <app-search-map-view (pageScrollEvent)="onPageScroll($event)" [spaceType]="'office-space/rent'" [workspaces]="offices"></app-search-map-view>
    </div>
</section>
<section class="search-description" *ngIf="!loading && seoData">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ seoData?.footer_title }}</h2>
                <div [innerHTML]="seoData?.footer_description"></div>
            </div>
        </div>
    </div>
</section>