<!-- Event snippet for Submit lead form (2) conversion page -->
<script>
    gtag('event', 'conversion', {
        'send_to': 'AW-671913436/lpuWCNzV8NkDENyrssAC'
    });
</script>
<section class="thank_you_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="thank-you-content text-center">
                    <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fbad87405b1c4f1034ab12ac313af56e617ad4f3.png" alt="Thank You" class="img-fluid">
                    <h3>Thank You for Your Query!</h3>
                    <p>Your request has been initiated and a Cofynd Space <br>expert will contact you.</p>
                    <a (click)="backClicked()" class="site_btn btn">Previous Page</a> <a routerLink="/" class="site_btn btn border-btn">Homepage</a>
                </div>
            </div>
        </div>

        <!-- <div class="row text-center sm-area">
            <div class="col-12">
                <h4>Let’s Connect with us!</h4>
            </div>
            <div class="col-12">
                <div class="sm-list">
                    <ul class="d-flex m-auto justify-content-center">
                        <li><a href="https://www.facebook.com/cofynd/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/cofynd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/cofynd1/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/CoFynd" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</section>