<!-- Event snippet for Submit lead form (2) conversion page -->
<script>
    gtag('event', 'conversion', {
        'send_to': 'AW-671913436/lpuWCNzV8NkDENyrssAC'
    });
</script>
<section class="thank_you_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="thank-you-content text-center">
                    <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/fbad87405b1c4f1034ab12ac313af56e617ad4f3.png" alt="Thank You" class="img-fluid">
                    <h3>Thank You for Your Query!</h3>
                    <p>Your request has been initiated and a Cofynd Space <br>expert will contact you.</p>
                    <a (click)="backClicked()" class="site_btn btn">Previous Page</a> <a routerLink="/" class="site_btn btn border-btn">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>