<app-workspace-loader *ngIf="loading"></app-workspace-loader>
<section class="breadcrumbs_sec mobilehide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/office-space/rent/']">Office Space</a>
                        </li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">{{ workspace.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_page_gallery">
    <div class="container">
        <div class="row">
            <div class="relative" *ngIf="!loading">
                <app-social-share *ngIf="workspace" [title]="workspace.name" [description]="workspace.description" [image]="shareImageUrl">
                </app-social-share>

                <app-workspace-banner *ngIf="workspace && workspace.images.length" [images]="workspace.images" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
                </app-workspace-banner>

                <app-workspace-banner-blank *ngIf="workspace && !workspace.images.length" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
                </app-workspace-banner-blank>
            </div>
        </div>
    </div>
</section>

<section class="breadcrumbs_sec desktophide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/office-space/rent/']">Office Space</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_area content" *ngIf="!loading && workspace">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">

                    <div class=" col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="space_head " [@scrollAnimation]="isStickyHeaderVisible" [class.fixed-header]="isStickyHeaderVisible === visibilityState.Visible">
                                        <div class="heading-info">
                                            <h1>{{ workspace.name }}</h1>
                                            <p class="address"><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{ workspace.location.address }}</p>
                                            <p class="price"><span class="rent_title">Monthly Rent</span>₹{{ (workspace.other_detail.rent_in_sq_ft * workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="divider_line">

                            <div class="row overview_area">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="../../../../assets/images/icons/area-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Area</h5>
                                                    <p>{{ workspace.other_detail.area_for_lease_in_sq_ft }} Sq. Ft.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="../../../../assets/images/icons/security-deposit-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Security Deposit</h5>
                                                    <p>{{ checkAmenityIsAvailable('Deposit') ? 'Yes' : 'No' }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="../../../../assets/images/icons/space-status-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Status</h5>
                                                    <p>{{workspace.other_detail.office_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="assets/images/icons/brokerage-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Zero Brokerage</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="assets/images/icons/verify-thumb-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Verified Spaces</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="assets/images/icons/flexible-lease-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Flexible Lease</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <hr class="divider_line">

                            <div class="row about-area" *ngIf="workspace.description">
                                <div class="col-md-12">
                                    <h2 class="mobilehide">About this property</h2>
                                </div>
                                <div class="col-md-12">
                                    <p *ngIf="seeMore; else hide">
                                        {{ workspace.description |slice:0:270 }} ...
                                    </p>
                                    <ng-template #hide>
                                        <p>
                                            {{ workspace.description }}
                                        </p>
                                    </ng-template>
            
                                    <p class="moreless-button mt-1" (click)="toggleAboutMore()">{{seeMore? "See More »":"See Less »"}}</p>
                                </div>
                            </div>
            
                            <hr class="divider_line">

                            <div class="row amenities_section">
                                <div class="col-md-12">
                                    <h2>Building Amenities</h2>
                                </div>
                                <div class="col-md-12 mobilehide" id="amenities-icons">
                                    <div class="basic-icons">
                                        <ng-container *ngFor="let amenity of workspace.amenties">
                                            <p><i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}</p>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-md-12 desktophide" id="amenities-icons">
                                    <div class="basic-icons">
                                        <ng-container *ngIf="haftAmenities; else fullAmenities">
                                            <p *ngFor="let amenity of workspace.amenties.slice(0,6)">
                                                <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                            </p>
                                        </ng-container>
            
                                        <ng-template #fullAmenities>
                                            <p *ngFor="let amenity of workspace.amenties">
                                                <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                            </p>
                                        </ng-template>
                                    </div>
                                    <p class="moreless-button" (click)="toggleAmenitiesDiv()">See {{haftAmenities? "More »": "Less »" }} </p>
                                </div>
                            </div>

                            <hr class="divider_line">

                            <div class="row map-location">
                                <div class="col-md-12">
                                    <h2>You'll work here</h2>
                                    <p class="location-icon" *ngIf="workspace">
                                        <img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{ workspace.location.address }}
                                    </p>
                                    <div *ngIf="options.zoom" style="height: 200px; border-radius: 20px;" leaflet [leafletOptions]="options" [leafletLayers]="markers">
                                    </div>
                                    <div class="desktophide">
                                        <p style="font-weight: 300;">Located at the most prime location with 24*7 surveillance</p>
                                    </div>
                                </div>
                            </div>

                            <hr class="divider_line">

                            <div class="row near_places" *ngIf="workspace && workspace.location && workspace.location.metro_detail.name">
                                <div class="col-md-12 places-nearby">
                                    <h2 class="heading">Places Nearby</h2>
                                </div>

                                <div class="col-md-12">
                                    <div class="places-tag-slider">
                                        <div class="places-tag-item">
                                            <div class="places-tag-box">
                                                <div class="tag-icon">
                                                    <img class="img-fluid" src="../../../../assets/images/icons/metro-icon.svg" />
                                                </div>
                                                <div class="tag-text">
                                                    <h5>Nearest Metro</h5>
                                                    <p>{{ workspace.location.metro_detail.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div *ngIf="!loading && workspace" class="enquiry_section enquiry-box-wrapper" [class.enquiry-modal]="isEnquireModal">
                    <app-workspace-enquire [isSticky]="isSticky" [enquiryType]="enquiryType" [shouldReload]="shouldReloadEnquiryForm" [workSpaceId]="workspace.id" [isOfficeEnquiry]="true" (backButtonClick)="closeEnquireModal()">
                    </app-workspace-enquire>
                </div>
            </div>
        </div>

        <hr class="divider_line">

        <div class="row similar_spaces_area">
            <div class="col-md-12">
                <div class="sections no-border">
                    <h2 class="similarSpace">Similar Office Spaces</h2>
                    <app-office-space-similar *ngIf="!loading && workspace" [workSpaceId]="workspace.id" [address]="workspace.location.address">
                    </app-office-space-similar>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mobile-ftr-contact bg-white pb-0 pt-0 desktophide">
    <div class="container" *ngIf="!loading && workspace">
        <div class="row">
            <div class="col-6 bottomPrize">
                <p class="mb-0 mt-0"><i class="fas fa-rupee-sign"></i><span>{{
            (workspace.other_detail.rent_in_sq_ft *
            workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}/month</span></p>
                <p class="mb-0 mt-0" style="font-weight:600;color:#4343e8;"><small>{{workspace.other_detail.office_type}}</small></p>
            </div>
            <div class="col-6">
                <button class="btn btn-block mt-2 text-white" (click)="openEnquireModal()" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}'>
          Enquire Now
        </button>
            </div>
        </div>
    </div>
</section>



<!-- <section class="breadcrumbs_sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Emaar</a></li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">Emaar Capital Tower</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_page_gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-image-item first-img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3 image_space">
                <div class="banner-image-item">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f9093e6a6cd17530b4ee827460e1141485ac39c6.jpg" alt="" class="img-fluid">
                </div>
                <div class="banner-image-item mb-0">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9736117ef06e4197e19ff5e6f9d506cf2739685f.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3">
                <div class="banner-image-item last-img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0e35e69acccd6dc6e4051bfbca2f589a70b399bf.jpg" alt="" class="img-fluid">
                </div>
                <button class="all_photon_btn"><i class="fa-solid fa-layer-group"></i> View All Photos</button>
            </div>
        </div>
    </div>
</section>

<section class="details_area content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-12">

                        <div class="space_head">
                            <div class="heading-info">
                                <h2>Emaar Capital Tower </h2>
                                <p><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector 26, Gurugram</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="flat-properties">
                            <div class="flat-icons-box">
                                <div class="flat-properties-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid" src="../../../../assets/images/icons/furnished-status-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Fully Furnished</span>
                                    </div>
                                </div>

                                <div class="flat-properties-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid" src="../../../../assets/images/icons/brokerage-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Zero Brokerage</span>
                                    </div>
                                </div>

                                <div class="flat-properties-icons">
                                    <div class="icon">
                                        <img class="bhk img-fluid" src="../../../../assets/images/icons/ready-to-move.svg" />
                                    </div>
                                    <div class="info">
                                        <span>Ready To Move</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row overview_area">
                    <div class="col-md-12">
                        <h3>Overview</h3>
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/building-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Project Size</h5>
                                        <p>6 Acre</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/pricing-tag-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Starting Price*</h5>
                                        <p>₹ 4.94 Cr</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/area-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Built-up Area</h5>
                                        <p>2,850 sq.ft.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/project-type-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Project Type</h5>
                                        <p>Commercial</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="overview-icons">
                                    <div class="icon">
                                        <img src="assets/images/icons/configuration-icon.svg" />
                                    </div>
                                    <div class="info">
                                        <h5>Configuration</h5>
                                        <p>Office Space</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">


                <div class="row about-area">
                    <div class="col-md-12">
                        <h3>About this property</h3>
                    </div>
                    <div class="col-md-12">
                        <p>Emaar Capital Tower is a place for all who want to develop their Brand Equity and Fame in the world of Business and Retail Space with Top-Notch Office Space, Ground Floor Retail Shops, and other Entertaining spaces. It is prepared by Award-winning Architects. The Entrance of the Emaar MGF Capital Tower 1 is Spectacular and there are a lot more exciting features also. For More Details, You can call us at 99991-8999 and Get your Commercial Property in Emaar Capital Tower 1. Emaar MGF Capital Tower 1 at Downtown Sector-26 Gurgaon over G-12, is available with adjustable. Emaar MGF Capital Tower 1 at Downtown Sector-26 Gurgaon over G-12, is available with adjustable.</p>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row amenities_section">
                    <div class="col-md-12">
                        <h3>Building Amenities</h3>
                    </div>
                    <div class="col-md-12" id="amenities-icons">
                        <div class="row basic">
                            <div class="col-md-12 basic-icons">
                                <p><img src="../../../../assets/images/icons/snooker-icon.svg" />Snooker</p>
                                <p><img src="../../../../assets/images/icons/theatre-icon.svg" />Mini Theatre</p>
                                <p><img src="../../../../assets/images/icons/swimming-pool-icon.svg" />Swimming Pool</p>
                                <p><img src="../../../../assets/images/icons/children-park-icon.svg" />Children Park</p>
                                <p><img src="../../../../assets/images/icons/club-house-icon.svg" />Club House</p>
                                <p><img src="../../../../assets/images/icons/gym-icon.svg" />Gymnasium</p>
                                <p><img src="../../../../assets/images/icons/car-parking-icon.svg" />Car Parking</p>
                                <p><img src="../../../../assets/images/icons/24x7-security-icon.svg" />24x7 Security</p>
                                <p><img src="../../../../assets/images/icons/bar-icon.svg" />Bar/Lounge</p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">


                <div class="row floor-plan">
                    <div class="col-md-12">
                        <h3>Floor Plans Emmar Capital Tower</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="properties_item_slider">
                            <div class="plans_slider">
                                <div class="plan_item">
                                    <div class="floor-plan-img">
                                        <img class="img-fluid floor-plan-img" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/61d5cda4fe5ba5490f8da97c8389d480293ae2b8.jpg" alt="9.jpg" />
                                    </div>
                                    <div class="floor_plan_title">
                                        <h4>Ground Floor 1761.84 sq.ft. Office</h4>
                                    </div>
                                    <div class="floor-plan-details">
                                        <div class="price">
                                            <h5>Rent Price</h5>
                                            <p>₹ 15,000/month</p>
                                        </div>
                                        <div class="square-ft">
                                            <h5>Sale Price</h5>
                                            <p>₹ 1.85 Cr</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="plan_item">
                                    <div class="floor-plan-img">
                                        <img class="img-fluid floor-plan-img" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/6b637ffd171ec35cede137b0b74146671e11f7c3.jpg" alt="9.jpg" />
                                    </div>
                                    <div class="floor_plan_title">
                                        <h4>1st Floor 2,000 sq.ft. Office</h4>
                                    </div>
                                    <div class="floor-plan-details">
                                        <div class="price">
                                            <h5>Rent Price</h5>
                                            <p>₹ 15,000/month</p>
                                        </div>
                                        <div class="square-ft">
                                            <h5>Sale Price</h5>
                                            <p>₹ 1.85 Cr</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="plan_item">
                                    <div class="floor-plan-img">
                                        <img class="img-fluid floor-plan-img" src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/acec5f65fd8aa25fe91c89fa6b4bc199e4adb643.jpg" alt="9.jpg" />
                                    </div>
                                    <div class="floor_plan_title">
                                        <h4>2nd Floor 2,000 sq.ft. Office</h4>
                                    </div>
                                    <div class="floor-plan-details">
                                        <div class="price">
                                            <h5>Rent Price</h5>
                                            <p>₹ 15,000/month</p>
                                        </div>
                                        <div class="square-ft">
                                            <h5>Sale Price</h5>
                                            <p>₹ 1.85 Cr</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row map-location">
                    <div class="col-md-12">
                        <h3>Properties Location</h3>
                        <p class="location-icon"><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector 26, Gurugram</p>
                    </div>
                    <div class="col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4384.02468179727!2d77.06513306638949!3d28.400970259413807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d226f6c6b9b99%3A0x959ab1d7af7ad1c5!2sM3M%20Golf%20Estate!5e0!3m2!1sen!2sin!4v1664284150955!5m2!1sen!2sin"
                            width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <hr class="divider_line">

                <div class="row near_places">
                    <div class="col-md-12 places-nearby">
                        <h3 class="heading">Places Nearby</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="places-tag-slider">
                            <div class="places-tag-item">
                                    <div class="tag-icon">
                                        <img class="img-fluid" src="../../../../assets/images/icons/metro-icon.svg" />
                                    </div>
                                    <div class="tag-text">
                                        <h5>Sector 55-56 Metro Station</h5>
                                        <p>2.6 Km</p>
                                    </div>
                            </div>

                            <div class="places-tag-item">
                                    <div class="tag-icon">
                                        <img class="img-fluid" src="../../../../assets/images/icons/airport-icon.svg">
                                    </div>
                                    <div class="tag-text">
                                        <h5>IGI Airport</h5>
                                        <p>4.6 Km</p>
                                    </div>
                            </div>

                            <div class="places-tag-item">
                                    <div class="tag-icon">
                                        <img class="img-fluid" src="../../../../assets/images/icons/school-icon.svg">
                                    </div>
                                    <div class="tag-text">
                                        <h5>DPS International School</h5>
                                        <p>4.9 Km</p>
                                    </div>
                            </div>

                            <div class="places-tag-item">
                                    <div class="tag-icon">
                                        <img class="img-fluid" src="../../../../assets/images/icons/mall-icon.svg">
                                    </div>
                                    <div class="tag-text">
                                        <h5>Raheja Mall</h5>
                                        <p>4.9 Km</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="enquiry_section">
                    <div class="form-section enquire-box-content" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e68056858a71545a4cfba7013434076f71bd592d.png');">
                        <h2 class="heading">Yes, I'm Interested!</h2>
                        <p>Know More About M3M Merlin</p>
                        <form class="form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Name" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="mobilenumber" placeholder="Mobile Number" aria-describedby="emailHelp">
                            </div>
                            <button type="button" class="site_btn border_btn full_width_btn">Send</button>
                        </form>
                    </div>
                    <div class="contact-details" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/1400395b5b72f417b2108d288877a8ec323817b4.png');">
                        <div class="contact-image">
                            <img class="img-fluid" src="../../../../assets/images/icons/profile-img.png" />
                        </div>
                        <div class="contact-info">
                            <p class="heading">Get in Touch</p>
                            <p>+91 9999 10 8078</p>
                        </div>
                    </div>
                    <div class="policy">
                        <p>By clicking the above button you agree to our Terms of service and have read and understood our <span><a class="text-decoration-none" routerLink="/privacy-policy">Privacy Policy</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line">

<section class="similar_spaces_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h3_heading">Office Space For Rent in Emaar Capital Tower</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>1,277Sq. Ft. Office Space for Rent</h4>
                                <p class="building_name">Emaar Capital Tower</p>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-26, Gurugram</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            <p class="capacity"><img class="img-fluid" src="assets/images/icons/flexible-lease-icon.svg" alt="Coffee"> Flexible Lease</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>1,277Sq. Ft. Office Space for Rent</h4>
                                <p class="building_name">Emaar Capital Tower</p>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-26, Gurugram</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            <p class="capacity"><img class="img-fluid" src="assets/images/icons/flexible-lease-icon.svg" alt="Coffee"> Flexible Lease</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>1,277Sq. Ft. Office Space for Rent</h4>
                                <p class="building_name">Emaar Capital Tower</p>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-26, Gurugram</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            <p class="capacity"><img class="img-fluid" src="assets/images/icons/flexible-lease-icon.svg" alt="Coffee"> Flexible Lease</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line">

<section class="simlar_builders">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h3_heading">Similar Builders Projects</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>Vatika Market Walk</h4>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-82A, Gurugram</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>Vatika Market Walk</h4>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-82A, Gurugram</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>Vatika Market Walk</h4>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-82A, Gurugram</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider_line">

<section class="more_builders">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h3_heading">More Properties By Emmar</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="properties_slider">
                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>Emaar The Views</h4>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Mohali Hillis, Mohali</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>Emaar The Views</h4>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Mohali Hillis, Mohali</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="property_item">
                        <div class="property-img">
                            <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
                        </div>
                        <div class="space_details" style="cursor: pointer;">
                            <div class="property-dis">
                                <h4>Emaar The Views</h4>
                                <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Mohali Hillis, Mohali</p>
                                <p class="capacity"><img src="/assets/images/icons/furnished-status-icon.svg" alt="wifi" class="img-fluid"> Fully Furnished</p>
                            </div>
                            <div class="property-foot align-items-end">
                                <div class="price"><span class="rent_title">Rent</span>₹20,500/- <span>month</span></div>
                                <div class="button"><a href="" tabindex="0">Explore More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->