<app-workspace-loader *ngIf="loading"></app-workspace-loader>
<section class="breadcrumbs_sec mobilehide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/office-space/rent/']">Office Space</a>
                        </li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">{{ workspace.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_page_gallery">
    <div class="container">
        <div class="row">
            <div class="relative" *ngIf="!loading">
                <app-social-share *ngIf="workspace" [title]="workspace.name" [description]="workspace.description" [image]="shareImageUrl">
                </app-social-share>

                <app-workspace-banner *ngIf="workspace && workspace.images.length" [images]="workspace.images" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
                </app-workspace-banner>

                <app-workspace-banner-blank *ngIf="workspace && !workspace.images.length" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
                </app-workspace-banner-blank>
            </div>
        </div>
    </div>
</section>

<section class="breadcrumbs_sec desktophide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/office-space/rent/']">Office Space</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_area content" *ngIf="!loading && workspace">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">

                    <div class=" col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="space_head " [@scrollAnimation]="isStickyHeaderVisible" [class.fixed-header]="isStickyHeaderVisible === visibilityState.Visible">
                                        <!-- <div class="sections section-1 space_title_area">
                                            <h1>{{ workspace.name }}</h1>
                                            <p class="address">
                                                <i class="icon-location-outline fal fa-map-marker-alt"></i> {{ workspace.location.address }}
                                            </p>
                                            <div *ngIf="isStickyHeaderVisible === visibilityState.Visible" class="price"><span>Monthly Rent*</span><small class="icon-rupee fas fa-rupee-sign"></small>{{ (workspace.other_detail.rent_in_sq_ft * workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}
                                            </div>
                                        </div> -->
                                        <div class="heading-info">
                                            <h1>{{ workspace.name }}</h1>
                                            <p class="address"><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{ workspace.location.address }}</p>
                                            <p class="price"><span class="rent_title">Monthly Rent</span>₹{{ (workspace.other_detail.rent_in_sq_ft * workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}</p>

                                            <!-- <div *ngIf="isStickyHeaderVisible === visibilityState.Visible" class="price"><span>Monthly Rent*</span><small class="icon-rupee fas fa-rupee-sign"></small>{{ (workspace.other_detail.rent_in_sq_ft * workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="space_facility_area">
                                        <div class="space_facility_box">
                                            <div class="space_facility_icons">
                                                <div class="icon">
                                                    <img class="bhk" src="../../../../assets/images/icons/furnished-status-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <span>Fully Furnished</span>
                                                </div>
                                            </div>
            
                                            <div class="space_facility_icons">
                                                <div class="icon">
                                                    <img class="bhk" src="../../../../assets/images/icons/brokerage-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <span>Zero Brokerage</span>
                                                </div>
                                            </div>
            
                                            <div class="space_facility_icons">
                                                <div class="icon">
                                                    <img class="bhk" src="../../../../assets/images/icons/verify-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <span>Verified Spaces</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <hr class="divider_line">

                            <div class="row overview_area">
                                <div class="col-md-12">
                                    <!-- <h2>Overview</h2> -->
                                    <div class="row">
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="../../../../assets/images/icons/area-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Area</h5>
                                                    <p>{{ workspace.other_detail.area_for_lease_in_sq_ft }} Sq. Ft.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="../../../../assets/images/icons/security-deposit-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Security Deposit</h5>
                                                    <p>{{ checkAmenityIsAvailable('Deposit') ? 'Yes' : 'No' }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="../../../../assets/images/icons/space-status-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Status</h5>
                                                    <p>{{workspace.other_detail.office_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="assets/images/icons/brokerage-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Zero Brokerage</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="assets/images/icons/verify-thumb-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Verified Spaces</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <div class="overview-icons">
                                                <div class="icon">
                                                    <img src="assets/images/icons/flexible-lease-icon.svg" />
                                                </div>
                                                <div class="info">
                                                    <h5>Flexible Lease</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <hr class="divider_line">

                            <div class="row about-area" *ngIf="workspace.description">
                                <div class="col-md-12">
                                    <h2 class="mobilehide">About this property</h2>
                                </div>
                                <div class="col-md-12">
                                    <p *ngIf="seeMore; else hide">
                                        {{ workspace.description |slice:0:270 }} ...
                                    </p>
                                    <ng-template #hide>
                                        <p>
                                            {{ workspace.description }}
                                        </p>
                                    </ng-template>
            
                                    <p class="moreless-button mt-1" (click)="toggleAboutMore()">{{seeMore? "See More »":"See Less »"}}</p>
                                </div>
                            </div>
            
                            <hr class="divider_line">

                            <div class="row amenities_section">
                                <div class="col-md-12">
                                    <h2>Building Amenities</h2>
                                </div>
                                <div class="col-md-12 mobilehide" id="amenities-icons">
                                    <div class="basic-icons">
                                        <ng-container *ngFor="let amenity of workspace.amenties">
                                            <p><i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}</p>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="col-md-12 desktophide" id="amenities-icons">
                                    <div class="basic-icons">
                                        <ng-container *ngIf="haftAmenities; else fullAmenities">
                                            <p *ngFor="let amenity of workspace.amenties.slice(0,6)">
                                                <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                            </p>
                                        </ng-container>
            
                                        <ng-template #fullAmenities>
                                            <p *ngFor="let amenity of workspace.amenties">
                                                <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                            </p>
                                        </ng-template>
                                    </div>
                                    <!-- <div class="col-12 desktophide"> -->
                                        <p class="moreless-button" (click)="toggleAmenitiesDiv()">See {{haftAmenities? "More »": "Less »" }} </p>
                                    <!-- </div> -->
                                </div>
                            </div>

                            <hr class="divider_line">

                            <div class="row map-location">
                                <div class="col-md-12">
                                    <h2>You'll work here</h2>
                                    <p class="location-icon" *ngIf="workspace">
                                        <img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{ workspace.location.address }}
                                    </p>
                                    <div *ngIf="options.zoom" style="height: 200px; border-radius: 20px;" leaflet [leafletOptions]="options" [leafletLayers]="markers">
                                    </div>
                                    <div class="desktophide">
                                        <p style="font-weight: 300;">Located at the most prime location with 24*7 surveillance</p>
                                    </div>
                                    <!-- <p class="location-icon"><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-65, Gurgaon</p> -->
                                </div>
                            </div>

                            <hr class="divider_line">

                            <div class="row near_places" *ngIf="workspace && workspace.location && workspace.location.metro_detail.name">
                                <div class="col-md-12 places-nearby">
                                    <h2 class="heading">Places Nearby</h2>
                                </div>

                                <div class="col-md-12">
                                    <div class="places-tag-slider">
                                        <div class="places-tag-item">
                                            <div class="places-tag-box">
                                                <div class="tag-icon">
                                                    <img class="img-fluid" src="../../../../assets/images/icons/metro-icon.svg" />
                                                </div>
                                                <div class="tag-text">
                                                    <h5>Nearest Metro</h5>
                                                    <p>{{ workspace.location.metro_detail.name }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="places-tag-item">
                                            <div class="places-tag-box">
                                                <div class="tag-icon">
                                                    <img class="img-fluid" src="../../../../assets/images/icons/airport-icon.svg">
                                                </div>
                                                <div class="tag-text">
                                                    <h5>IGI Airport</h5>
                                                    <p>4.6 Km</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="places-tag-item">
                                            <div class="places-tag-box">
                                                <div class="tag-icon">
                                                    <img class="img-fluid" src="../../../../assets/images/icons/school-icon.svg">
                                                </div>
                                                <div class="tag-text">
                                                    <h5>DPS International School</h5>
                                                    <p>4.9 Km</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="places-tag-item">
                                            <div class="places-tag-box">
                                                <div class="tag-icon">
                                                    <img class="img-fluid" src="../../../../assets/images/icons/mall-icon.svg">
                                                </div>
                                                <div class="tag-text">
                                                    <h5>Raheja Mall</h5>
                                                    <p>4.9 Km</p>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- <div class="enquiry_section">
                    <div class="form-section">
                        <h2 class="heading">Send Enquiry</h2>
                        <p>Know More About M3M Merlin</p>
                        <form class="form">
                            <div class="form-input">
                                <input type="text" class="form-control border-light" id="name" placeholder="Name" aria-describedby="emailHelp">
                            </div>
                            <div class="form-input">
                                <input type="email" class="form-control border-light" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-input">
                                <input type="text" class="form-control border-light" id="mobilenumber" placeholder="Mobile Number" aria-describedby="emailHelp">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">I agree to be contacted by Cofynd and other agents via <i class="fa-brands fa-whatsapp me-1"></i>WhatsApp, SMS, phone, email etc.</label>
                            </div>
                            <button type="button" class="btn w-100">Send</button>
                        </form>
                    </div>
                    <div class="contact-details">
                        <div class="contact-image">
                            <img class="img-fluid" src="../../../../assets/images/icons/profile-img.png" />
                        </div>
                        <div class="contact-info">
                            <p class="heading">Get in Touch</p>
                            <p>+91 9999 10 8078</p>
                        </div>
                    </div>
                    <div class="policy">
                        <p>By clicking the above button you agree to our Terms of service and have read and understood our <span><a class="text-decoration-none" routerLink="/privacy-policy">Privacy Policy</a></span>
                        </p>
                    </div>
                </div> -->

                <div *ngIf="!loading && workspace" class="enquiry_section enquiry-box-wrapper" [class.enquiry-modal]="isEnquireModal">
                    <app-workspace-enquire [isSticky]="isSticky" [enquiryType]="enquiryType" [shouldReload]="shouldReloadEnquiryForm" [workSpaceId]="workspace.id" [isOfficeEnquiry]="true" (backButtonClick)="closeEnquireModal()">
                    </app-workspace-enquire>
                </div>
            </div>
        </div>

        <hr class="divider_line">

        <div class="row similar_spaces_area">
            <div class="col-md-12">
                <div class="sections no-border">
                    <h2 class="similarSpace">Similar Office Spaces</h2>
                    <app-office-space-similar *ngIf="!loading && workspace" [workSpaceId]="workspace.id" [address]="workspace.location.address">
                    </app-office-space-similar>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- <section class="space-details">
    <div class="container-field breadcrumbs_sec mobilehide">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/office-space/rent/']">Office Space</a>
                        </li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">{{ workspace.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="relative" *ngIf="!loading">

                <app-social-share *ngIf="workspace" [title]="workspace.name" [description]="workspace.description" [image]="shareImageUrl">
                </app-social-share>

                <app-workspace-banner *ngIf="workspace && workspace.images.length" [images]="workspace.images" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
                </app-workspace-banner>

                <app-workspace-banner-blank *ngIf="workspace && !workspace.images.length" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
                </app-workspace-banner-blank>
            </div>
        </div>
    </div>

    <div class="container desktophide pt-3 breadcrumb_area">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/office-space/rent/']">
                Office Space
              </a>
                        </li>
                        <li class="breadcrumb-item text-overflow active"
              aria-current="page">{{ workspace.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div *ngIf="!loading && workspace">
                    <div [@scrollAnimation]="isStickyHeaderVisible" [class.fixed-header]="isStickyHeaderVisible === visibilityState.Visible" class="sections section-1 space_title_area">
                        <h1>{{ workspace.name }}</h1>
                        <p class="address">
                            <i class="icon-location-outline fal fa-map-marker-alt"></i> {{ workspace.location.address }}
                        </p>
                        <div *ngIf="isStickyHeaderVisible === visibilityState.Visible" class="price"><span>Monthly Rent*</span><small class="icon-rupee fas fa-rupee-sign"></small>{{ (workspace.other_detail.rent_in_sq_ft * workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}
                        </div>
                    </div>
                    <div class="other-office-info">
                        <p>
                            <img width="26" src="/assets/images/amenities/verified.svg" alt="CoFynd Verified Spaces"> Verified Spaces
                        </p>
                        <p class="mobilehide">
                            <img width="30" src="/assets/images/amenities/trusted.svg" alt="CoFynd Trusted Partner"> Trusted Partner
                        </p>
                        <p>
                            <img width="30" src="/assets/images/amenities/cash.svg" alt="CoFynd Zero Brokerage"> Zero Brokerage
                        </p>
                    </div>
                    <div class="facility-list">
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <span class="small-text">Area</span>
                                <span>{{ workspace.other_detail.area_for_lease_in_sq_ft }} Sq. Ft.</span>
                            </div>
                            <div class="col-md-6 col-6">
                                <span class="small-text">Monthly Rent*</span>
                                <span><i class="icon-rupee fas fa-rupee-sign"></i>{{ (workspace.other_detail.area_for_lease_in_sq_ft *
                  workspace.other_detail.rent_in_sq_ft).toLocaleString('en-IN') }}</span>
                            </div>
                            <div class="col-md-6 col-6">
                                <span class="small-text">Status</span>
                                <span>{{workspace.other_detail.office_type}}</span>
                            </div>
                            <div class="col-md-6 col-6">
                                <span class="small-text">Deposit</span>
                                <span>{{ checkAmenityIsAvailable('Deposit') ? 'Yes' : 'No' }}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="workspace.description" class="sections about-section">
                        <h2 class="mobilehide">About this Office Space</h2>
                        <p *ngIf="seeMore; else hide">
                            {{ workspace.description |slice:0:270 }}
                        </p>
                        <ng-template #hide>
                            <p>
                                {{ workspace.description }}
                            </p>
                        </ng-template>

                        <p class="see_more mt-1" (click)="toggleAboutMore()">{{seeMore? "See More":"See Less"}}</p>
                    </div>

                    <div class="sections mobilehide">
                        <h2>Building Amenities</h2>
                        <ul class="amenity-list">
                            <li *ngFor="let amenity of workspace.amenties">
                                <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                            </li>
                        </ul>
                    </div>

                    <div class="sections desktophide offers_section">
                        <h2>Building Amenities</h2>
                        <ul class="amenity-list">
                            <ng-container *ngIf="haftAmenities; else fullAmenities">
                                <li *ngFor="let amenity of workspace.amenties.slice(0,6)">
                                    <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                </li>
                            </ng-container>

                            <ng-template #fullAmenities>
                                <li *ngFor="let amenity of workspace.amenties">
                                    <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                </li>
                            </ng-template>
                        </ul>
                        <div class="row buttonOnMobile" (click)="toggleAmenitiesDiv()">
                            <div class="col-12">
                                <button class="btn btn-block bg-white">show {{haftAmenities? "all": "less" }} amenities </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sections location location_area">
                    <h2>You'll work here</h2>
                    <p *ngIf="workspace">
                        {{ workspace.location.address }}
                    </p>
                    <div *ngIf="options.zoom" style="height: 200px;" leaflet [leafletOptions]="options" [leafletLayers]="markers">
                    </div>
                </div>
                <div class="desktophide">
                    <p style="font-weight: 300;">Located at the most prime location with 24*7 surveillance</p>
                </div>

                <div class="metro-detail mb-2 mobilehide" *ngIf="workspace && workspace.location && workspace.location.metro_detail.name">
                    <p class="P-heading">Nearest Metro &amp; Shuttl</p>
                    <div class="row">
                        <div class="col-12 pr-0">
                            <p>
                                <i class="metro-icon"></i>Nearest Metro <span>{{ workspace.location.metro_detail.name }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!loading && workspace" class="col-lg-4 col-md-12 enquiry-box-wrapper" [class.enquiry-modal]="isEnquireModal">
                <app-workspace-enquire [isSticky]="isSticky" [enquiryType]="enquiryType" [shouldReload]="shouldReloadEnquiryForm" [workSpaceId]="workspace.id" [isOfficeEnquiry]="true" (backButtonClick)="closeEnquireModal()">
                </app-workspace-enquire>
            </div>
        </div>

        <div class="row similar_spaces_area">
            <div class="col-md-12">
                <div class="sections no-border">
                    <h2 class="similarSpace">Similar Office Spaces</h2>
                    <app-office-space-similar *ngIf="!loading && workspace" [workSpaceId]="workspace.id" [address]="workspace.location.address">
                    </app-office-space-similar>
                </div>
            </div>
        </div>

    </div>
</section> -->

<section class="mobile-ftr-contact bg-white pb-0 pt-0 desktophide">
    <div class="container" *ngIf="!loading && workspace">
        <div class="row">
            <div class="col-6 bottomPrize">
                <p class="mb-0 mt-0"><i class="fas fa-rupee-sign"></i><span>{{
            (workspace.other_detail.rent_in_sq_ft *
            workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}/month</span></p>
                <p class="mb-0 mt-0" style="font-weight:600;color:#4343e8;"><small>{{workspace.other_detail.office_type}}</small></p>
            </div>
            <div class="col-6">
                <button class="btn btn-block mt-2 text-white" (click)="openEnquireModal()" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}'>
          Enquire Now
        </button>
            </div>
        </div>
    </div>
</section>

<!-- <div class="affix-action-btn">
  <a [href]="'tel:' + supportPhone"
    [appCustomEventAnalytics]='{"category":"CALL_ON_SUPPORT","action":"click", "label": "SUPPORT_PHONE_NUMBER"}'
    class="btn btn-primary">
    <i class="icon-phone"></i>
    {{supportPhone}}
  </a>
  <button type="button"
    class="btn btn-primary"
    [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}'
    (click)="openEnquireModal()">
    Enquire Now
  </button>
</div> -->