<app-workspace-loader *ngIf="loading"></app-workspace-loader>
<section class="breadcrumbs_sec mobilehide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/office-space/rent/']">Office Space</a>
                        </li>
                        <li class="breadcrumb-item text-overflow active" aria-current="page">{{ workspace.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_page_gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="relative" *ngIf="!loading">
                    <app-social-share *ngIf="workspace" [title]="workspace.name" [description]="workspace.description" [image]="shareImageUrl">
                    </app-social-share>

                    <app-workspace-banner *ngIf="workspace && workspace.images.length" [images]="workspace.images" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
                    </app-workspace-banner>

                    <app-workspace-banner-blank *ngIf="workspace && !workspace.images.length" [isFavorite]="workspace.is_favorite" [workspaceId]="workspace.id" [title]="workspace.name">
                    </app-workspace-banner-blank>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="breadcrumbs_sec desktophide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav *ngIf="!loading && workspace">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/office-space/rent/']">Office Space</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="details_area content" *ngIf="!loading && workspace">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">

                    <div class=" col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="space_head " [@scrollAnimation]="isStickyHeaderVisible" [class.fixed-header]="isStickyHeaderVisible === visibilityState.Visible">
                                    <div class="heading-info">
                                        <h1>{{ workspace.name }}</h1>
                                        <p class="address"><img lazyLoad="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{ workspace.location.address }}</p>
                                        <p class="price"><span class="rent_title">Monthly Rent</span>₹{{ (workspace.other_detail.rent_in_sq_ft * workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="divider_line">

                        <div class="row overview_area">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-6">
                                        <div class="overview-icons">
                                            <div class="icon">
                                                <img lazyLoad="../../../../assets/images/icons/area-icon.svg" />
                                            </div>
                                            <div class="info">
                                                <h5>Area</h5>
                                                <p>{{ workspace.other_detail.area_for_lease_in_sq_ft }} Sq. Ft.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <div class="overview-icons">
                                            <div class="icon">
                                                <img lazyLoad="../../../../assets/images/icons/security-deposit-icon.svg" />
                                            </div>
                                            <div class="info">
                                                <h5>Security Deposit</h5>
                                                <p>{{ checkAmenityIsAvailable('Deposit') ? 'Yes' : 'No' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <div class="overview-icons">
                                            <div class="icon">
                                                <img lazyLoad="../../../../assets/images/icons/space-status-icon.svg" />
                                            </div>
                                            <div class="info">
                                                <h5>Status</h5>
                                                <p>{{workspace.other_detail.office_type}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <div class="overview-icons">
                                            <div class="icon">
                                                <img lazyLoad="assets/images/icons/brokerage-icon.svg" />
                                            </div>
                                            <div class="info">
                                                <h5>Zero Brokerage</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <div class="overview-icons">
                                            <div class="icon">
                                                <img lazyLoad="assets/images/icons/verify-thumb-icon.svg" />
                                            </div>
                                            <div class="info">
                                                <h5>Verified Spaces</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <div class="overview-icons">
                                            <div class="icon">
                                                <img lazyLoad="assets/images/icons/flexible-lease-icon.svg" />
                                            </div>
                                            <div class="info">
                                                <h5>Flexible Lease</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="divider_line">

                        <div class="row about-area" *ngIf="workspace.description">
                            <div class="col-md-12">
                                <h2 class="mobilehide">About this property</h2>
                            </div>
                            <div class="col-md-12">
                                <p *ngIf="seeMore; else hide">
                                    {{ workspace.description |slice:0:270 }} ...
                                </p>
                                <ng-template #hide>
                                    <p>
                                        {{ workspace.description }}
                                    </p>
                                </ng-template>

                                <p class="moreless-button mt-1" (click)="toggleAboutMore()">{{seeMore? "See More »":"See Less »"}}</p>
                            </div>
                        </div>

                        <hr class="divider_line">

                        <div class="row amenities_section">
                            <div class="col-md-12">
                                <h2>Building Amenities</h2>
                            </div>
                            <div class="col-md-12 mobilehide" id="amenities-icons">
                                <div class="basic-icons" *ngIf="workspace && workspace.amenties">
                                    <ng-container *ngFor="let amenity of workspace.amenties">
                                        <p><i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}</p>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="col-md-12 desktophide" id="amenities-icons">
                                <div class="basic-icons">
                                    <ng-container *ngIf="haftAmenities; else fullAmenities">
                                        <p *ngFor="let amenity of workspace.amenties.slice(0,6)">
                                            <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                        </p>
                                    </ng-container>

                                    <ng-template #fullAmenities>
                                        <p *ngFor="let amenity of workspace.amenties">
                                            <i [class]="'amn-' + addSpecialCharacter(amenity.name)"></i> {{ removeSpecialCharacter(amenity.name) }}
                                        </p>
                                    </ng-template>
                                </div>
                                <p class="moreless-button" (click)="toggleAmenitiesDiv()">See {{haftAmenities? "More »": "Less »" }} </p>
                            </div>
                        </div>

                        <hr class="divider_line">

                        <div class="row map-location">
                            <div class="col-md-12">
                                <h2>You'll work here</h2>
                                <p class="location-icon" *ngIf="workspace">
                                    <img lazyLoad="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{ workspace.location.address }}
                                </p>
                                <div *ngIf="options.zoom" style="height: 200px; border-radius: 20px;" leaflet [leafletOptions]="options" [leafletLayers]="markers">
                                </div>
                                <div class="desktophide">
                                    <p style="font-weight: 300;">Located at the most prime location with 24*7 surveillance</p>
                                </div>
                            </div>
                        </div>

                        <hr class="divider_line">

                        <div class="row near_places" *ngIf="workspace && workspace.location && workspace.location.metro_detail.name">
                            <div class="col-md-12 places-nearby">
                                <h2 class="heading">Places Nearby</h2>
                            </div>

                            <div class="col-md-12">
                                <div class="places-tag-slider">
                                    <div class="places-tag-item">
                                        <div class="places-tag-box">
                                            <div class="tag-icon">
                                                <img class="img-fluid" lazyLoad="../../../../assets/images/icons/metro-icon.svg" />
                                            </div>
                                            <div class="tag-text">
                                                <h5>Nearest Metro</h5>
                                                <p>{{ workspace.location.metro_detail.name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div *ngIf="!loading && workspace" class="enquiry_section enquiry-box-wrapper office_space_query_form" [class.enquiry-modal]="isEnquireModal">
                    <app-workspace-enquire [cityName]="workspace?.location?.city?.name" [microlocationName]="workspace?.location?.micro_location?.name" [isSticky]="isSticky" [enquiryType]="enquiryType" [shouldReload]="shouldReloadEnquiryForm" [workSpaceId]="workspace.id"
                        [isOfficeEnquiry]="true" (backButtonClick)="closeEnquireModal()">
                    </app-workspace-enquire>
                </div>
            </div>
        </div>

        <hr class="divider_line">

        <div class="row similar_spaces_area">
            <div class="col-md-12">
                <div class="sections no-border">
                    <h2 class="similarSpace">Similar Office Spaces</h2>
                    <app-office-space-similar *ngIf="!loading && workspace" [workSpaceId]="workspace.id" [address]="workspace.location.address">
                    </app-office-space-similar>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="mobile-ftr-contact bg-white pb-0 pt-0 desktophide">
    <div class="container" *ngIf="!loading && workspace">
        <div class="row">
            <div class="col-6 bottomPrize">
                <p class="mb-0 mt-0"><i class="fas fa-rupee-sign"></i><span>{{
            (workspace.other_detail.rent_in_sq_ft *
            workspace.other_detail.area_for_lease_in_sq_ft).toLocaleString('en-IN') }}/month</span></p>
                <p class="mb-0 mt-0" style="font-weight:600;color:#4343e8;"><small>{{workspace.other_detail.office_type}}</small></p>
            </div>
            <div class="col-6">
                <button class="btn btn-block mt-2 text-white" (click)="openEnquireModal()" [appCustomEventAnalytics]='{"category":"OPEN_ENQUIRY_FORM","action":"click", "label": "OPEN_FORM"}'>
          Enquire Now
        </button>
            </div>
        </div>
    </div>
</section> -->








