section {
  padding: 160px 0 85px;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 22px;
  color: #000;
  line-height: 32px;
  font-weight: 700;
  margin: 0 0 20px;
}

h1 span {
  font-size: 16px;
  line-height: 26px;
  display: block;
  font-weight: 300;
}
