<div class="wrapper">
  <section class="banner hideOnMobile"
    style="margin-top: 0 !important;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Find the Best<br /><span>Virtual Office</span> in India</h1>
          <!-- <app-home-cities></app-home-cities> -->
          <div class="city-list">
            <a *ngFor="let city of cities"
              [routerLink]="city.name">
              <img [lazyLoad]="'/assets/images/city/' + city.icon"
                [alt]="'Office Space for Rent in ' + city.name" />
              {{ city.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="Virtual-banner-bg"></div>
  </section>

  <section class="innerpage_banner onlyMobile" style="background-image: url('../../../assets/images/virtual-office-banner-img.jpg');">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="banner_content">
                    <h1 class="text-light text-center">Find The Best Virtual Office in India</h1>
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1" (change)="openWorkSpace($event.target.value)">
                                        <option value="">Select City</option>
                                        <option  *ngFor="let city of cities" [value]="city.name">{{removedash(city.name) | titlecase}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

  <section class="near-vitual-office onlyMobile">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="page-title">
            <h2>Best Virtual Office Near You</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="space_carousel">
            <div class="property-item">
              <div class="property-img">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0d86b9f83155ff14729872f1fdd1b706738e3b75.jpg" alt="Plus Offices Sector 67" class="img-fluid">
              </div>
              <div class="properties-content">
                  <h4>ReOffice</h4>
                  <p>Nirvana Courtyard</p>
                  <p class="price">₹5,199/- month</p>
              </div>
              <a href="https://cofynd.com/coworking/insta-office-nirvana-courtyard-a370-gurugram" class="stretched-link" tabindex="-1"></a>
            </div>
            <div class="property-item">
              <div class="property-img">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0d86b9f83155ff14729872f1fdd1b706738e3b75.jpg" alt="Plus Offices Sector 67" class="img-fluid">
              </div>
              <div class="properties-content">
                  <h4>ReOffice</h4>
                  <p>Nirvana Courtyard</p>
                  <p class="price">₹5,199/- month</p>
              </div>
              <a href="https://cofynd.com/coworking/insta-office-nirvana-courtyard-a370-gurugram" class="stretched-link" tabindex="-1"></a>
            </div>
            <div class="property-item">
              <div class="property-img">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0d86b9f83155ff14729872f1fdd1b706738e3b75.jpg" alt="Plus Offices Sector 67" class="img-fluid">
              </div>
              <div class="properties-content">
                  <h4>ReOffice</h4>
                  <p>Nirvana Courtyard</p>
                  <p class="price">₹5,199/- month</p>
              </div>
              <a href="https://cofynd.com/coworking/insta-office-nirvana-courtyard-a370-gurugram" class="stretched-link" tabindex="-1"></a>
            </div>
            <div class="property-item">
              <div class="property-img">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0d86b9f83155ff14729872f1fdd1b706738e3b75.jpg" alt="Plus Offices Sector 67" class="img-fluid">
              </div>
              <div class="properties-content">
                  <h4>ReOffice</h4>
                  <p>Nirvana Courtyard</p>
                  <p class="price">₹5,199/- month</p>
              </div>
              <a href="https://cofynd.com/coworking/insta-office-nirvana-courtyard-a370-gurugram" class="stretched-link" tabindex="-1"></a>
            </div>
            <div class="property-item">
              <div class="property-img">
                  <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0d86b9f83155ff14729872f1fdd1b706738e3b75.jpg" alt="Plus Offices Sector 67" class="img-fluid">
              </div>
              <div class="properties-content">
                  <h4>ReOffice</h4>
                  <p>Nirvana Courtyard</p>
                  <p class="price">₹5,199/- month</p>
              </div>
              <a href="https://cofynd.com/coworking/insta-office-nirvana-courtyard-a370-gurugram" class="stretched-link" tabindex="-1"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 
  <!-- Catagory Services -->
  <section class="facilities hideOnMobile">
    <div class="container">
      <div class="option-box">
        <div class="row hide-d">
          <div class="col-12 blueLine text-center">
            <p>Amenities offered</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-6"
            *ngFor="let data of service"
            (click)="openModalWithComponent(data.title)">
            <div class="mt-3 mb-3"
              style="cursor: pointer;">
              <img [src]="'../../../assets/images/'+data.icon"
                class="img-fluid d-block"
                [alt]="data.title">
              <p class="mt-2 mb-2 h-font18">{{data.title}}</p>
              <p class="text-dark mb-0 hide-m">{{data.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- booking navigation -->
  <section class="booking-navigation bg-light hideOnMobile">
    <div class="container">
      <div class=" ">
        <div class="row">
          <div class="col-md-12 blueLine">
            <p class="font-36 text-center"
              style="font-weight: 600;">Book Your Virtual Office in 3 Easy Steps</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="row mt-3">
          <div class="col-md-4">
            <p class="mb-0 stepNumber">01</p>
            <p class="steps">Step 01</p>
            <p class="pt-3">Select your desired city and search for the best suited virtual office.</p>
          </div>
          <div class="col-md-4">
            <p class="mb-0 stepNumber">02</p>
            <p class="steps">Step 02</p>
            <p class="pt-3">Choose the Virtual office plan and fill in your details in the query form.</p>
          </div>
          <div class="col-md-4">
            <p class="mb-0 stepNumber">03</p>
            <p class="steps">Step 03</p>
            <p class="pt-3">Our virtual office team will get in touch with you and help you get your desired virtual
              office.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="feature_sec onlyMobile">
    <div class="container">
        <div class="row mb-2">
            <div class="col-12">
              <div class="page-title">
                <h2>Book with Cofynd</h2>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="icon_box mb-3">
                    <img src="../../../assets/images/price-icon.png" alt="">
                    <h4>Exclusive Pricing</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="icon_box mb-3">
                    <img src="../../../assets/images/trusted-icon.png" alt="">
                    <h4>Verified Spaces</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="icon_box mb-0">
                    <img src="../../../assets/images/support-icon.png" alt="">
                    <h4>100% Support</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="icon_box mb-0">
                    <img src="../../../assets/images/brokerage-icon.png" alt="">
                    <h4>Zero Brokerage</h4>
                </div>
            </div>
        </div>
    </div>
</section>


 <!-- Cruted for You -->
 <section class="curated_section onlyMobile">
  <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="page-title">
              <h2>Curated For You</h2>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-4">
              <div class="curated-box">
                  <div class="curated-item">
                      <div class="curated-img">
                          <img src="../../../assets/images/company-registration-img.jpg" alt="Bangalore" class="img-fluid">
                      </div>
                      <div class="curated-content">
                          <h4>Company Registration</h4>
                      </div>
                      <a type="button" data-toggle="modal" data-target="#curated_coliving" class="stretched-link"></a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="curated-box">
                  <div class="curated-item">
                      <div class="curated-img">
                          <img src="../../../assets/images/gst-registration-img.jpg" alt="Bangalore" class="img-fluid">
                      </div>
                      <div class="curated-content">
                          <h4>GST Registration</h4>
                      </div>
                      <a type="button" data-toggle="modal" data-target="#curated_coliving" class="stretched-link"></a>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="curated-box">
                  <div class="curated-item">
                      <div class="curated-img">
                          <img src="../../../assets/images/courier-handling-img.jpg" alt="Bangalore" class="img-fluid">
                      </div>
                      <div class="curated-content">
                          <h4>Courier Handling</h4>
                      </div>
                      <a type="button" data-toggle="modal" data-target="#curated_coliving" class="stretched-link"></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="cta_section coworking_cta onlyMobile">
  <div class="container">
      <div class="row align-items-center">
          <div class="cta_area" style="background-image: url('img/cta-pattern-img.png');">
              <div class="col-8">
                  <div class="cta_content">
                      <p>Hurry in choosing your <span style="color:#1313E6;">ideal space</span>?</p>
                      <a href="https://cofynd.com/list-your-space" class="btn site_btn">Enquire Now</a>
                  </div>
              </div>
              <div class="col-4 text-center">
                  <img src="../../../assets/images/cta-img2.png" alt="" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>


<!-- service offered -->

<section class="amenities_sec onlyMobile">
  <div class="container">
      <div class="row mb-2">
          <div class="col-12">
            <div class="page-title">
              <h2>Services Offered</h2>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-4">
              <div class="icon_box mb-4">
                  <img src="../../../assets/images/icons/day-pass.svg" alt="">
                  <h4>Company Registation</h4>
              </div>
          </div>
          <div class="col-4">
              <div class="icon_box mb-4">
                  <img src="../../../assets/images/icons/meeting-room.svg" alt="">
                  <h4>Meeting Room Access</h4>
              </div>
          </div>
          <div class="col-4">
              <div class="icon_box mb-4">
                  <img src="../../../assets/images/icons/hot-desk.svg" alt="">
                  <h4>GST Registration</h4>
              </div>
          </div>
          <div class="col-4">
              <div class="icon_box mb-0">
                  <img src="../../../assets/images/icons/dedicated-desk.svg" alt="">
                  <h4>Mailing Address</h4>
              </div>
          </div>
          <div class="col-4">
              <div class="icon_box mb-0">
                  <img src="../../../assets/images/icons/private-cabin.svg" alt="">
                  <h4>Business Address</h4>
              </div>
          </div>
          <div class="col-4">
              <div class="icon_box mb-0">
                  <img src="../../../assets/images/icons/reception.svg" alt="">
                  <h4>Reception Services</h4>
              </div>
          </div>
      </div>
  </div>
</section>

  <!-- top Spaces -->
  <section class="virtualSpace">
    <div class="container ">
      <div class="page-title pt-3 ">
        <h2>Top Virtual Office Cities in India</h2>
      </div>
      <div class="row">
        <div class="col-md-4 pt-2"
          *ngFor=" let _centerCity of popularVirtualOffice | slice:0:1">
          <div style="position: relative; cursor: pointer;" (click)="openWorkSpace(_centerCity.name.split(',').pop())">
            <img [src]="_centerCity.image"
              class="img-fluid d-block m-auto"
              style="height:516px; object-fit:cover; border-radius:10px;">
            <div class="SpaceText">
              <p class="mb-0 pl-2 text-center text-white"
                style="font-size: 20px; line-height: 26px; font-weight: 500;"><i class="fas fa-map-marker-alt"></i>
                {{_centerCity.name}}</p>
              <p class="text-white pl-2 text-center"
                style="font-weight:500;"> ₹ {{_centerCity.price}}/ Year</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 p-2"
              *ngFor="let _centerCity of popularVirtualOffice | slice:1:7">
              <div class="spaceCenter" style="cursor: pointer;"
                (click)="openWorkSpace(_centerCity.name.split(',').pop())">
                <img [src]="_centerCity.image"
                  class="img-fluid d-block m-auto">
                <div class="SpaceText">
                  <p class="text-center text-white mb-0"
                    style="font-size: 20px; font-weight: 500;"><i class="fas fa-map-marker-alt"></i>
                    {{_centerCity.name}}</p>
                  <p class="text-white text-center"
                    style="font-weight:500;"> ₹ {{_centerCity.price}}/ Year </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <span class="mobileViewColiving hideOnMobile">
    <app-home-popular-space [shouldOfficeVisible]="true"
      [officeSlug]="false"
      [shouldCoWorkingVisible]="false"
      [popularOfficeSpaces]="popularVirtualOffice"
      [pageTitle]="'Top Virtual Office Cities in India'">
    </app-home-popular-space>
  </span>

  <section class="pt-0">
    <app-home-brand-list *ngIf="coworkingBrands"
      [coworkingBrands]="coworkingBrands"
      [pageTitle]="'Top Virtual Office Brands'">
    </app-home-brand-list>
  </section>


  <section class="top_coliving_cities onlyMobile">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>Top Virtual Office Cities</h2>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cities_carousel">
                    <div class="cities_item first-slide"  (click)="openWithFreeSlug(city.slug)" *ngFor="let city of popularVirtualOffice">
                        <img class="ng-lazyloaded" [alt]="city.name" [src]="city.image">
                        <div class="space-detail">
                            <h5>{{removedash(city.name) | titlecase}}</h5>
                            <p><i class="icon-location"></i>{{city.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Companies we have helped-->
<section class="client_logo_sec onlyMobile">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="page-title">
              <h2>Companies we have helped</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="logos_slider">
                  <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo1.png'" alt="" class="img-fluid"></div>
                  <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo2.png'" alt="" class="img-fluid"></div>
                  <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo3.png'" alt="" class="img-fluid"></div>
                  <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo4.png'" alt="" class="img-fluid"></div>
                  <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo5.png'" alt="" class="img-fluid"></div>
                  <div class="item band-img"><img [lazyLoad]="'../../../assets/images/client-logo6.png'" alt="" class="img-fluid"></div>
              </div>
          </div>
      </div>
  </div>
</section>

  <!-- Why Cofynd -->
  <section class="why-cofynd bg-light hideOnMobile">
    <div class="container">
      <div class="bg-style">
        <div class="row">
          <div class="col-md-12 blueLine">
            <p class="font-36 text-center">CoFynd Advantages</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="pt-4">
          <div class="row">
            <div class="col-md-4">
              <div class="mt-2 mb-2">
                <img src="https://cofynd.com/assets/images/home/work-spaces.svg"
                  class="d-block img-60"
                  alt="25,000+ Spaces">
                <p class="font-20-mid mt-3 mb-1">25,000+ Spaces</p>
                <p class="font-14">Get access to 25,000+ workspaces with easy availability and convenience anytime and
                  anywhere. Space Search Made Simple with CoFynd</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-2 mb-2">
                <img src="https://cofynd.com/assets/images/home/fee.svg"
                  class="d-block img-60"
                  alt="No Booking Fees">
                <p class="font-20-mid mt-3 mb-1">No Booking Fees</p>
                <p class="font-14">CoFynd is India's fastest growing space discovery platform that doesn't charge
                  anything
                  from the customers.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mt-2 mb-2">
                <img src="https://cofynd.com/assets/images/home/support.svg"
                  class="d-block img-60"
                  alt="100% Offline Support">
                <p class="font-20-mid mt-3 mb-1">100% Offline Support</p>
                <p class="font-14">We provide you 100% offline support from giving you the various space options,
                  scheduling
                  the site visit, booking the space to the after-sales support also.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="listSpaceBox hideOnMobile">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a routerLink="/list-your-space"
            target="_blank">
            <img src="../../../assets/images/listYourSpace.jpg"
              style="cursor: pointer;"
              class="enquiry-box forLapT"
              alt="Co Working Spaces" />
            <img src="../../../assets/images/listYourSpaceMobile.jpg"
              style="cursor: pointer;"
              class="enquiry-box forMob"
              alt="Co Working Spaces" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="visiteOther pt-5 pb-5 hideOnMobile">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="p-4 border br5px">
            <div class="row">
              <div class="col-md-8">
                <div>
                  <p class="mb-1 quote">Search for collaborative and innovative <span
                      style="font-weight: 500;">Coworking Spaces</span></p>
                </div>
              </div>
              <div class="col-md-4">
                <p routerLink="/coworking"
                  class="text-center mt-3"><button class="br5px btn pt-2 pb-2 pl-4 pr-4"
                    style="background-color: #4343e8;"><strong>Explore</strong></button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-4 border br5px">
            <div class="row">
              <div class="col-md-8">
                <div>
                  <p class="mb-1 quote">Filter your search for Customized <span style="font-weight:500;">Office Space
                      Solution</span></p>
                </div>
              </div>
              <div class="col-md-4">
                <p routerLink="/office-space/rent"
                  class="text-center mt-3"><button class="br5px btn pt-2 pb-2 pl-4 pr-4"
                    style="background-color: #ffcc05;"><strong>Explore</strong></button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section class="cta_section onlyMobile">
    <div class="container">
        <div class="row align-items-center">
            <div class="cta_area">
                <div class="col-8">
                    <div class="cta_content">
                        <p>List Your Vacant Space with Cofynd and Start Earning</p>
                        <a href="https://cofynd.com/list-your-space" class="btn site_btn">List Your Space</a>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <img src="../../../assets/images/cta-img.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- FAQ Coliving -->
  <section class="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-title">
            <h2>Frequently Asked Questions</h2>
            <p class="pt-3">Here are the frequently asked questions that people enquired online before choosing a
              virtual office. We
              have gathered the most crucial ones and answer here to help you in making the right decision. </p>
          </div>
          <accordion [isAnimated]="true">
            <accordion-group>
              <h4 accordion-heading>
                Q- What is a virtual office?
                <i class="icon-arrow-down"></i>
              </h4>
              <p>Ans- A virtual office is a popular remote workspace model which offers a professional business address.
                It comes with various office-related facilities and services. From mail handling to reception facilities
                and access to meeting rooms, various office facilities are provided without having a physical office
                setup. </p>
            </accordion-group>
            <accordion-group>
              <h4 accordion-heading>
                Q- What are the types of virtual offices?
                <i class="icon-arrow-down"></i>
              </h4>
              <p>Ans- There are mainly three types of Virtual Offices-<br><br>
                Virtual Office for Company Registration<br>
                Virtual Office for Mail Handling<br>
                Virtual Office for GST Registration
              </p>
            </accordion-group>
            <accordion-group>
              <h4 accordion-heading>
                Q- What are the advantages of having a virtual office address?
                <i class="icon-arrow-down"></i>
              </h4>
              <p>Ans- There are so many advantages of having a virtual office in this city, some of them are listed
                below-<br><br>

                Zero furniture required<br>
                Access to Global Talent<br>
                Increased Productivity<br>
                No daily commuting to an office for work<br>
                Zero Utility Payments<br>
                Zero hardware cost<br>
                No hefty office leases<br>
                Liberty and Flexibility in work style etc.<br>
              </p>
            </accordion-group>
            <accordion-group>
              <h4 accordion-heading>
                Q- What type of businesses opt for virtual offices?
                <i class="icon-arrow-down"></i>
              </h4>
              <p>Ans- From a real estate business, boutique, courier company to legal firm, and creative agencies etc.
                Several types of businesses use a virtual office space including freelancers, business owners, young
                entrepreneurs, SMEs etc. </p>
            </accordion-group>
            <accordion-group>
              <h4 accordion-heading>
                Q- What facilities do you get when you book a virtual office?
                <i class="icon-arrow-down"></i>
              </h4>
              <p>Ans- Following are the state-of-the-art facilities offered by a virtual office in this city-<br><br>
                Envelope Opening Service<br>
                Mailing Address<br>
                Video Conferencing Facilities<br>
                Meeting Space <br>
                Business Telephone Number<br>
                Scanning Service<br>
                Administrative Staff<br>
                Phone Answering Services<br>
                Professional Business Address etc.
              </p>
            </accordion-group>
            <accordion-group>
              <h4 accordion-heading>
                Q- What documents are required while booking a virtual office space?
                <i class="icon-arrow-down"></i>
              </h4>
              <p>Ans- Following are the required documents to be submitted by the companies which are
                incorporated-<br><br>
                Director’s or Trustees ID Proof<br>
                Organization Incorporation Certificate<br>
                PAN Card<br>
                GST Number (if any) <br><br>

                Following are the required documents to be submitted by the companies which are not
                incorporated-<br><br>
                Director’s or Trustees ID Proof<br>
                Planned Organization’s Name (for agreement)
              </p>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </section>

  
  <section class="pb-0">
    <app-home-brand-list [shouldOtherBrandVisible]="true"
      [shouldCoWorkingVisible]="false"></app-home-brand-list>
  </section>

  <section class="cofynd_desk_sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cofynd_desk_content text-center">
                    <img src="../../../assets/images/cofynd-desk.png" alt="" class="img-fluid">
                    <h2>What’s the Cofynd Desk?</h2>
                    <p>As trees act as the lungs of the world, CoFynd is also helping professionals find their
                        perfect workplace. As we grow, we think of ourselves as creating an ecosystem, one that lets
                        our valuable clients breathe, connect and climb to their highest.</p>
                    <p class="title_name">- Atul Gupta, Founder & CEO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space_search_made_sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="space_search_made_content">
                    <h2><span style="color:#1313E6;">Space</span> Search <span style="color:#1313E6;">Made</span>
                        Simple</h2>
                    <p>Search . <span style="color:#1313E6;">Book</span> . Work . <span
                            style="color:#1313E6;">Live</span></p>
                </div>
            </div>
            <div class="col-6">
                <img src="../../../assets/images/cta-img3.png" alt="" class="img-fluid full-img">
            </div>
        </div>
    </div>
</section>



</div>