<section class="page_banner career_banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 col-12 order-2 order-md-1 about_content_col">
                <div class="banner_content">
                    <h2 class="site_title">Become a <span style="color: #1313E6;">Cofynder</span></h2>
                    <p class="mobilehide tab_hide">At Cofynd, we believe that our team members are the driving force behind our success. As a rapidly growing company, we are constantly looking for individuals who are passionate about their work and who share our vision. Our team is made up of diverse professionals who bring their unique perspectives and skill sets to the table. Join us and become part of a dynamic and challenging work environment that encourages creativity, innovation, and collaboration.</p>
                    <a href="/contact-us" class="site_btn border_btn">Connect With Us</a>
                </div>
            </div>
            <div class="col-md-6 col-12 order-1 order-md-2">
                <div class="banner_img">
                    <img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/154cac570181de6bb26a4a82d7cc4db786f167fe.jpg'" alt="Career Banner" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="opening_job_sec grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">All Openings</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="job_item">
                    <div class="job_icon">
                        <div class="icon">
                            <img [lazyLoad]="'assets/images/icons/jobs-icon.svg'" alt="Jobs Icon" class="img-fluid">
                        </div>
                    </div>
                    <div class="job_content">
                        <h6>Req Id: JR-0057057</h6>
                        <h4>PHP Developer</h4>
                        <p>Noida | Fresher | Posted on: 2021-09-09</p>
                        <button (click)="toggleAboutMore()">Job Description <i class="fa-solid fa-chevron-down"></i> </button>
                        <div class="job_description_details">
                            <p>We are searching for PHP Developer who would be responsible for creating and implementing an array of Web-based Services using PHP, MySQL, Ajax, and JavaScript.</p>
                            <ul>
                                <li>Must have strong programming knowledge of PHP</li>
                                <li>Candidates with Knowledge of PHP based CMS will be preferred</li>
                                <li>Must have strong technical and analytical skills for issue debugging and resolution</li>
                                <li>Must have experience with HTML, XML, CSS and JavaScript</li>
                                <li>Knowledge of webstandard, OOPS, MVC and MYSQL.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job_btn">
                        <button class="site_btn border_btn">Apply</button>
                    </div>
                </div>

                <div class="job_item">
                    <div class="job_icon">
                        <div class="icon">
                            <img [lazyLoad]="'assets/images/icons/jobs-icon.svg'" alt="Jobs Icon" class="img-fluid">
                        </div>
                    </div>
                    <div class="job_content">
                        <h6>Req Id: JR-0057057</h6>
                        <h4>PHP Developer</h4>
                        <p>Noida | Fresher | Posted on: 2021-09-09</p>
                        <button>Job Description <i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                    <div class="job_btn">
                        <button class="site_btn border_btn">Apply</button>
                    </div>
                </div>

                <div class="job_item">
                    <div class="job_icon">
                        <div class="icon">
                            <img [lazyLoad]="'assets/images/icons/jobs-icon.svg'" alt="Jobs Icon" class="img-fluid">
                        </div>
                    </div>
                    <div class="job_content">
                        <h6>Req Id: JR-0057057</h6>
                        <h4>PHP Developer</h4>
                        <p>Noida | Fresher | Posted on: 2021-09-09</p>
                        <button>Job Description <i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                    <div class="job_btn">
                        <button class="site_btn border_btn">Apply</button>
                    </div>
                </div>

                <div class="job_item">
                    <div class="job_icon">
                        <div class="icon">
                            <img [lazyLoad]="'assets/images/icons/jobs-icon.svg'" alt="Jobs Icon" class="img-fluid">
                        </div>
                    </div>
                    <div class="job_content">
                        <h6>Req Id: JR-0057057</h6>
                        <h4>PHP Developer</h4>
                        <p>Noida | Fresher | Posted on: 2021-09-09</p>
                        <button>Job Description <i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                    <div class="job_btn">
                        <button class="site_btn border_btn">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about_ondemand_sec about_image_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="text-start">
          <img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/93be2cb8205b755730a5b31074ca4e13b32c5076.png'" alt="What We Do" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="site_title left_divider title_divider">What we do</h3>
        <p>Cofynd is a one-stop solution for all your space requirements ranging from flats to office space, coliving space, listing properties, and more. With us, you can choose from 100,000+ spaces available on rent across India in 25+ cities and Singapore too. It’s time to say bye to the traditional working space &  old-school strict living style and welcome the era of hybrid workspaces, coliving arrangements, etc for a better style of living. With our technology partner i.e T9L all the dynamic user needs can be fulfilled in a blink of an eye.</p>
      </div>
    </div>
  </div>
</section>

<section class="about_flexible_sec about_image_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h3 class="site_title left_divider title_divider">Cofynd Culture</h3>
        <p>Cofynd has a unique work culture and it lays stress on networking, flexibility, diversity, and work-life balance at the same time. Our team members are encouraged to work with togetherness, share ideas, and support each other in a community of professionals from different backgrounds. Our work environment promotes the mental well-being and wellness of our employees.</p>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <div class="text-end">
          <img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/902ed9d6bce0be7115d4e95fa3c01e99c9f65692.png'" alt="Cofynd Culture" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_globle_sec about_image_sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="text-start">
          <img [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/b1e40195d66913f695bb5a467467c51d5f71e3ba.png'" alt="Your future is safe" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="site_title left_divider title_divider">Your future is safe with us</h3>
        <p>Join CoFynd and begin the exciting phase of your career with our company which is a team of highly-motivated, skilled, and creative thinkers. We thoroughly respect the work-life balance of our employees and stood beside them in need of an hour. Moreover, we provide a stable & secure future to our employees by giving them job security.</p>
      </div>
    </div>
  </div>
</section>


<section class="park_and_benefits_sec">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-4">
            <h3 class="site_title title_divider">Perks and Benefits</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="park_and_benefits_item">
          <img [lazyLoad]="'http://localhost:5300/assets/images/icons/jobs-icon.svg'" alt="Career Development">
          <h4>Career Development</h4>
          <p>Our vibrant and engaging community helps you to open up and interact with people on a one-to-one basis.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="park_and_benefits_item">
          <img [lazyLoad]="'http://localhost:5300/assets/images/icons/jobs-icon.svg'" alt="Competitive Compensation">
          <h4>Competitive Compensation</h4>
          <p>At CoFynd we offer a competitive salary &  benefits packages with multiple perks to our inspiring team members. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="park_and_benefits_item">
          <img [lazyLoad]="'http://localhost:5300/assets/images/icons/jobs-icon.svg'" alt="Health Coverage">
          <h4>Health Coverage</h4>
          <p>CoFynd provides employer-sponsored health insurance plans to its employees with access to medical care and financial protection.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="park_and_benefits_item">
          <img [lazyLoad]="'http://localhost:5300/assets/images/icons/jobs-icon.svg'" alt="Challenging projects">
          <h4>Challenging projects</h4>
          <p>CoFynd offers its employees an opportunity to work on challenging projects that would make them motivated towards their work with an increased level of job satisfaction.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="park_and_benefits_item">
          <img [lazyLoad]="'http://localhost:5300/assets/images/icons/jobs-icon.svg'" alt="Fun@Work">
          <h4>Fun&#64;Work</h4>
          <p>Cofynd is a fun & luxurious place to work. It has inviting seating arrangements, a cafeteria, and a game zone area to play foosball, billiards, etc after a stressful day at work.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="park_and_benefits_item">
          <img [lazyLoad]="'http://localhost:5300/assets/images/icons/jobs-icon.svg'" alt="Work-life">
          <h4>Work-life</h4>
          <p>CoFynd provides a healthy work-life balance to its employees with flexible work arrangements</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cofynd_desk_sec career_desk_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cofynd-desk text-center">
                    <img style="max-height: 200px;" lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c73da7d3135107aeb381095d5913bc54c77d5c4d.png" alt="What's the CoFynd Desk">
                    <h4>What's the CoFynd Desk?</h4>
                    <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd community Breathe, Connect and Climb
                        to their highest in life.</p>
                    <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faqs_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center mb-4">
                    <h3 class="site_title title_divider">Frequently Asked Questions</h3>
                </div>
            </div>
            <div class="col-md-12">
                <accordion [isAnimated]="true" class="faqs_accordion">
                    <accordion-group>
                        <h4 accordion-heading>What is a coworking space?</h4>
                        <p>A coworking space is a shared workspace in which people from different professional backgrounds work together. It gives you an amazing work environment and access to numerous state of the art amenities resulting in better communication,
                            productivity, creativity and innovation.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>Who uses coworking spaces?</h4>
                        <p>From small startups to SMEs and large corporations, every type of organization can utilize a coworking space. In fact, individuals like business travelers, freelancers, remote workers, solo entrepreneurs and content creators etc.
                            are also utilizing modern coworking spaces for their business needs.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>How much does a coworking space cost?</h4>
                        <p>The overall cost of a coworking space depends on the type of seats you choose- Hot Desks, Dedicated Desks, Private Cabins and the location where it is located. </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What are the benefits of a coworking space?</h4>
                        <p>A coworking space gives you an ample of work benefits such as enhanced productivity, invaluable networking opportunities, community events, enhanced creativity, good work-life balance, less operating expenses, more flexibility
                            etc.
                        </p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What are the amenities offered by coworking spaces?</h4>
                        <p>Fast-speed wifi, ergonomic furniture, air conditioning, housekeeping service, support & maintenance, tight security, beverages, power backup, reception facilities, printer/scanner, washroom facilities, free tea/coffee, common area,
                            meeting rooms, phone booths, recreation facilities, pantry, dedicated storage space and a lot more.</p>
                    </accordion-group>
                    <accordion-group>
                        <h4 accordion-heading>What types of flexible seats are available in coworking spaces?</h4>
                        <p>There are hot desks, dedicated desks, private cabins and virtual offices. If you want a workspace for a day, then you can go with day passes. All the aforementioned flexible seat options are available as per your business requirements.</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>