@import "base/variable";

.property_item {
    margin-bottom: 50px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 10px 10px 0px;
    width: 100%;
    text-align: left;
}

// .property_item2 {
//     padding: 10px 10px 0px;
// }

.property_item .property-img {
    // height: 200px;
    overflow: hidden;
    border-radius: 20px;
    // margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 250px;
}

// .property_item2 .property-img {
//     margin-bottom: 0;
// }

.property_item .property-img .item {
    height: 250px !important;
    width: 100%;
    border-radius: 20px;
}


// .property_item .property-img .item,
// .property_item .property-img .carousel-inner {
//     height: 250px;
//     width: 100%;
// }
// .property_item .property-img .item img {
//     height: 250px !important;
// }

.property_item .property-img img {
    height: 250px !important;
    object-fit: cover;
    width: 100% !important;
    transition: all 0.5s !important;
    position: relative;
}

.property_item .item img:hover {
    transform: scale(1.06);
}

.property_item .carousel-arrow,
.property_item .carousel-control-next,
.property_item .carousel-control-prev {
    position: absolute;
    top: 45%;
    color: #888;
    font-size: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    background-color: rgba(255, 255, 255, .9);
    width: 28px;
    height: 28px;
    border-radius: 100%;
    z-index: 1;
    opacity: 1;
}

.property_item .carousel-arrow.icon-back,
.property_item .carousel-control-prev {
    left: 10px;
}

.property_item .carousel-arrow.icon-next,
.property_item .carousel-control-next {
    right: 10px;
}

.property_item .property-dis {
    width: 100%;
    // }

    // .property_item2 .property-dis {
    padding-top: 10px;
    padding-bottom: 10px;
}

.property_item .property-dis h4 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    // margin-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    // font-size: 17px;
    // font-weight: 600;
    margin-bottom: 5px;
    // line-height: 25px;
}

// .property_item2 .property-dis h4 {
//     margin-bottom: 5px;
// }

.property_item .property-dis .address {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    white-space: nowrap;
    scrollbar-width: none !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

// .property_item2 .property-dis .address {
//     margin-bottom: 10px !important;
//     padding-bottom: 10px !important;
// }

.property_item .property-dis .address img {
    width: 16px;
}

.property_item .property-dis p {
    color: #212529;
    font-size: 12px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.property_item .property-dis p:last-child {
    margin-bottom: 0px;
}

.property_item .property-dis img,
.property_item .property-dis .furnish_type img {
    width: 20px;
    margin-right: 8px;
}

.property_item .property-foot {
    display: flex;
    // padding: 8px 0px 0px;
    margin-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    // }

    // .property_item2 .property-foot {
    padding: 0px 0px 0px;
    margin: 0px -15px 0px;
    border-top: 0px;
}

.property_item .property-foot .button {
    width: 100%;
    text-align: right;
    // }

    // .property_item2 .property-foot .button {
    text-align: center;
    background-color: #FAF9FF;
    position: relative;
}

.property_item .property-foot .button a,
.property_item .property-foot .button button {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    padding-right: 10px;
    position: relative;
    text-decoration: none;
    color: #4343e8 !important;
    cursor: pointer;
    // }

    // .property_item2 .property-foot .button a,
    // .property_item2 .property-foot .button button {
    display: inline-block;
    padding: 14px 10px;
    color: #212529 !important;
    font-size: 14px;
}

.property_item .property-foot .button:first-child::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    right: 0px;
}

.property_item .property-foot .button a::before {
    content: "\f105" !important;
    position: absolute;
    right: 0px;
    font-family: "Font Awesome 6 Pro" !important;
    font-weight: 900;
    font-size: 11px !important;
    line-height: 17px !important;
    color: #4343e8 !important;
    top: 0px;
}

.property_item .property-foot .button a::before,
.property_item .property-foot .button button::before {
    display: none;
}

// .property_item .property-foot .price {
//     font-size: 16px !important;
//     line-height: 26px !important;
// }

.property_item .property-dis .price {
    font-size: 16px;
    line-height: 23px;
    font-weight: 600;
    color: #4343e8;
}

.property_item .property-dis .price span {
    color: #212529;
    font-size: 12px;
    font-weight: 600;
}

.property_item .property-dis .price span.rent_title {
    display: block;
}

// .property_item2 .property-dis .price .rent_title {
//     display: block;
//     font-size: 10px;
//     line-height: 10px;
//     font-weight: 600;
// }















// .listing-card {
//     border-radius: 3px;
//     margin-bottom: 30px;
//     position: relative;
//     &:hover {
//         img {
//             transform: scale(1.06);
//         }
//         .detail {
//             h4 {
//                 color: $color-primary;
//             }
//         }
//     }
//     .image {
//         height: 250px;
//         position: relative;
//         overflow: hidden;
//         background: #e0dfdf url('/assets/images/no-img.svg') no-repeat center center;
//         border-radius: 4px 4px 0 0;
//         .item {
//             height: 250px;
//             position: relative;
//             overflow: hidden;
//         }
//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             position: absolute;
//             left: 0;
//             top: 0;
//             border-radius: 4px 4px 0 0;
//             transition: opacity 1s, transform 1000ms ease;
//             opacity: 0;
//             cursor: pointer;
//             &.ng-lazyloaded {
//                 opacity: 1;
//             }
//         }
//     }
//     .detail {
//         border-radius: 0 0 3px 3px;
//         border: 1px solid #e0dfdf;
//         box-shadow: 0px 2px 0.8px 0.2px rgba(1, 1, 1, 0.01);
//         border-top: 0;
//         padding: 20px 20px 12px 20px;
//         position: relative;
//         cursor: pointer;
//         h4 {
//             font-size: 18px;
//             font-weight: 600;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: normal;
//             letter-spacing: normal;
//             text-align: left;
//             color: #111111;
//             margin-bottom: 5px;
//             overflow: hidden;
//             text-overflow: ellipsis;
//             transition: all ease-in 500ms;
//         }
//         .address {
//             font-size: 12px;
//             font-weight: normal;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: normal;
//             letter-spacing: 0.24px;
//             color: #908f8f;
//             margin-bottom: 7px;
//             overflow: hidden;
//             white-space: nowrap;
//             text-overflow: ellipsis;
//         }
//         .capacity {
//             font-size: 12px;
//             font-weight: normal;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: normal;
//             letter-spacing: 0.24px;
//             color: #908f8f;
//             margin-bottom: 5px;
//         }
//     }
//     hr {
//         width: 100%;
//         margin-left: 0;
//         margin-bottom: 10px;
//         margin-top: 10px;
//     }
// }

// .price-box {
//     position: relative;
//     .price {
//         font-size: 18px;
//         font-weight: 700;
//         letter-spacing: 0.36px;
//         span {
//             font-size: 11px;
//             font-weight: 500;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: normal;
//             letter-spacing: 0.12px;
//             color: #000000;
//             display: block;
//         }
//         small {
//             font-size: 17px;
//             letter-spacing: 0.34px;
//             font-weight: 300;
//             font-stretch: normal;
//             font-style: normal;
//             line-height: normal;
//         }
//     }
//     .btn-link {
//         position: absolute;
//         right: 0;
//         bottom: -5px;
//         font-size: 16px;
//         font-weight: 500;
//         margin: 0;
//         small {
//             font-size: 10px;
//             font-weight: bold;
//             margin-left: 10px;
//         }
//     }
// }

// .btn-favorite {
//     position: absolute;
//     top: 250px;
//     right: 20px;
//     margin-top: -14px;
//     z-index: 1;
// }

// .listing-card .detail .capacity img {
//     width: 14px;
// }

// .listing-card:hover .detail .capacity img {
//     transform: none;
// }

// .onlyMobile {
//     display: none !important;
//     @media (max-width: 480px) {
//         display: block !important;
//     }
// }

// .hideOnMobile {
//     @media (max-width: 480px) {
//         display: none !important;
//     }
// }

// .myPoint {
//     list-style-type: none;
//     text-align: center;
//     white-space: nowrap;
//     overflow: auto;
//     box-sizing: border-box;
//     position: absolute;
//     bottom: 8px;
//     left: 0;
//     right: 0px;
//     -webkit-box-align: center;
//     align-items: center;
//     display: flex;
//     width: 100%;
//     justify-content: center;
// }

// .myPoint li {
//     display: inline-block;
//     border-radius: 50%;
//     border: none;
//     margin: 0 2px;
//     transition: none;
//     background: #fff;
//     width: 6px;
//     height: 6px;
// }

// .myPoint li.active {
//     background: #fff;
//     width: 9px;
//     height: 9px;
// }

// ------- Flag css

.country_phone .selected-flag .flag {
    display: flex;
}

.country_phone .flag-container {
    display: flex;
    align-items: center;
}

.country_phone .icon_phone_field .form-control {
    padding-left: 10px !important;
}

.country_phone .input-group {
    padding-left: 0;
    border: none;
}

.country_phone .form-input.icon_phone_field {
    padding-left: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.country_phone .flag img {
    margin-right: 5px;
    width: 18px !important;
    position: relative !important;
    height: auto !important;
    left: 0 !important;
    top: 0 !important;
}

.country_phone .selected-flag .flag .arrow {
    font-size: 9px;
    margin-left: 3px;
}

.country_phone .country-list {
    position: absolute;
    background-color: #fff;
    top: 42px;
    border-radius: 10px;
    padding: 0px 12px;
    width: 89%;
    height: 250px;
    overflow-y: scroll;
    z-index: 9;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.country_phone .country-list .country {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 0px;
    font-size: 13px;
}

.country_phone .country-list .country .country-name {
    font-size: 12px;
}

.country_phone .country-list .country .dial-code {
    margin-left: 5px;
}

.country_phone .country-list .divider {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px 0px;
}

.country_phone.icon_phone_field .selected-flag .flag.in {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 42px;
}



@media (max-width: 480px) {
    .property_item {
        padding: 8px 8px 0px !important;
        border-radius: 10px;
    }

    .property_item .property-img,
    .property_item .property-img .carousel-inner {
        height: 130px;
        // margin-bottom: 5px;
        border-radius: 10px;
    }

    .property_item .property-img img,
    .property_item .property-img .item {
        height: 130px !important;
    }

    .property_item .property-dis {
        padding-bottom: 0px;
    }

    .property_item .property-dis h4 {
        font-size: 13px;
        line-height: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .property_item .property-dis .address {
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        padding-bottom: 7px;
        margin-bottom: 7px !important;
    }

    .property_item .property-dis p {
        font-size: 10px !important;
        line-height: 15px !important;
        margin-bottom: 3px !important;
    }

    .property_item .property-dis .furnish_type img,
    .property_item .property-dis img {
        width: 16px;
        border-radius: 0px !important;
    }

    .property_item .property-foot {
        padding: 5px 0 0;
        margin-top: 4px;
    }

    .property_item .property-foot .price {
        font-size: 10px;
        line-height: 18px;
    }

    .property_item .property-dis .price span {
        color: #212529;
        font-size: 10px;
        font-weight: 600;
        line-height: 13px;
    }

    // .property_item .property-foot .price span.rent_title {
    // 	font-size: 10px;
    // 	line-height: 8px;
    // }

    .property_item .property-foot .button a {
        font-size: 11px;
        // padding-right: 7px;
    }

    .property_item .property-foot .button a::before {
        font-size: 6px !important;
        line-height: 12px !important;
    }

    // .property_item2.listing_card {
    // 	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    // 	border-radius: 20px !important;
    // 	display: block;
    // 	padding: 10px 10px 0px !important;
    // }

    // .property_item2.listing_card .space_details {
    // 	padding-bottom: 0px !important;
    // 	height: 180px;
    // 	padding-top: 0px !important;
    // }

    // .property_item2.listing_card .property-dis h4 {
    // 	line-height: 18px;
    // 	font-size: 14px;
    // }

    // .property_item2.listing_card .property-img {
    // 	margin-bottom: 0px;
    // 	width: 100% !important;
    // }

    // .property_item2.listing_card .property-dis h4 .builder_name {
    // 	font-size: 11px;
    // 	line-height: 17px;
    // }

    // .property_item2.listing_card .property-dis p {
    // 	font-size: 11px !important;
    // 	line-height: 17px !important;
    // }

    // .property_item2.listing_card .property-dis .furnish_type img,
    // .property_item2.listing_card .property-dis img {
    // 	width: 14px;
    // }

    // .property_item2.listing_card .property-img .item,
    // .property_item2.listing_card .property-img .item img {
    // 	height: 160px !important;
    // }

    // .property_item2.listing_card .property-foot a {
    // 	padding: 7px 15px;
    // 	font-size: 11px;
    // }

    // .property_item2.listing_card .property-foot {
    // 	margin-top: 0px;
    // 	padding-top: 0px !important;
    // 	border-top: 0px;
    // }

    // .property_item2 .property-dis .price {
    // 	font-size: 12px;
    // 	line-height: 22px;
    // }
}