<section class="popular-spaces properties_space_sec" *ngIf="coWorkingSpaces.length && shouldCoWorkingVisible" [class.white-layout]="layout=== 'white'">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                  <div class="main_heading title_divider">
                      <h2>{{ pageTitle }}</h2>
                  </div>
            </div>
            <div class="col-md-12">
                <div class="populer_slider_area popular_coworking_slider">
                    <div class="popular-space-carousel">
                        <ngu-carousel #popularSpaceCarousel [inputs]="carouselConfig" [dataSource]="coWorkingSpaces" (onMove)="onSliderMove($event)">
                            <div class="item" *nguCarouselDef="let space; let i = index;" [ngClass]="(i==coWorkingSpaces.length-1)?'last-slide':null">
                                <div class="property_item" style="cursor: pointer;" (click)="openWorkSpace(space.slug,space.country)">
                                    <div class="property-img">
                                        <img [lazyLoad]="space.image" [alt]="space.name" class="img-fluid">
                                    </div>
                                    <div class="property-dis">
                                        <h4>{{space.name}}</h4>
                                        <p class="address"><img src="../../../../assets/images/icons/location-icon.svg" alt="Location" class="img-fluid"> {{space.address}}</p>
                                        <div class="amenities_card">
                                          <p class="capacity">
                                              <img src="assets/images/amenities/wifi.svg" alt="wifi"> High speed WiFi
                                          </p>
                                          <p class="capacity">
                                              <img src="assets/images/amenities/tea.svg" alt="Coffee"> Coffee & Bar
                                          </p>
                                        </div>
                                    </div>
                                    <div class="property-foot align-items-end">
                                        <div class="price"><span class="rent_title">Starting</span>₹{{space.starting}}/-<span>month</span></div>
                                        <div class="button"><a>Explore More</a></div>
                                    </div>
                                </div>
                            </div>
                        </ngu-carousel>
                    </div>
                    <button type="button" (click)="goToPrev()" [disabled]="popularSpaceCarousel.isFirst" class="carousel-arrow icon-back fas fa-chevron-left">
          </button>
                    <button type="button" (click)="goToNext()" [disabled]="popularSpaceCarousel.isLast" class="carousel-arrow icon-next fas fa-chevron-right">
          </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular-spaces properties_space_sec" *ngIf="coLivingSpaces.length && shouldCoLivingVisible">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>{{ pageTitle }}</h2>
                </div>
                <div class="populer_slider_area">
                    <div class="popular-space-carousel">
                        <ngu-carousel #popularSpaceCarousel [inputs]="carouselConfig" [dataSource]="coLivingSpaces" (onMove)="onSliderMove($event)">
                            <div *nguCarouselDef="let space; let i = index;" class="item" [ngClass]="(i==coWorkingSpaces.length-1)?'last-slide':null">
                                <div class="property_item" style="cursor: pointer;" (click)="openCoLivingSpace(space.slug,space.country)">
                                    <div class="property-img">
                                        <img [lazyLoad]="space.image" [alt]="space.name" class="img-fluid">
                                    </div>
                                    <div class="property-dis">
                                        <h4>{{space.name}}</h4>
                                        <p class="address"><img src="../../../../assets/images/icons/location-icon.svg" alt="Location" class="img-fluid"> {{space.address}}</p>
                                        <div class="amenities_card">
                                          <p class="capacity"><img class="img-fluid" alt="Save Money" src="../../../../assets/images/amenities/save-money.svg"> Best Price</p>
                                          <p class="capacity light_blue"><img class="img-fluid" alt="Minimum Stay" src="../../../../assets/images/amenities/minimum-stay.svg"> Minimum stay 3 months</p>
                                        </div>
                                    </div>
                                    <div class="property-foot align-items-end">
                                        <div class="price"><span class="rent_title">Starting</span>₹{{space.starting}}/- <span>month</span></div>
                                        <div class="button"><a (click)="openCoLivingSpace(space.slug,space.country)" tabindex="0">Explore More</a></div>
                                    </div>
                                </div>
                            </div>
                        </ngu-carousel>
                    </div>
                    <button type="button" (click)="goToPrev()" [disabled]="popularSpaceCarousel.isFirst" class="carousel-arrow icon-back fas fa-chevron-left">
          </button>
                    <button type="button" (click)="goToNext()" [disabled]="popularSpaceCarousel.isLast" class="carousel-arrow icon-next fas fa-chevron-right">
          </button>
                </div>
            </div>
        </div>
    </div>
</section>