<div class="container">
    <div class="row" *ngIf="!this.hideBannerView" (click)="openGallery()">
      <div class="col-md-6">
        <div class="banner-image-item first-img">
          <img [lazyLoad]="mainImg ? mainImg.image.s3_link : ''"
            [alt]="mainImg.image.title ? mainImg.image.title : ''">
        </div>
      </div>
      <div class="col-md-3 image_space">
        <div class="banner-image-item">
          <img [lazyLoad]="imgTL ? imgTL.image.s3_link : ''"
            [alt]="imgTL ? imgTL.image.title : ''">
        </div>
        <div class="banner-image-item mb-0">
          <img [lazyLoad]="imgTR ? imgTR.image.s3_link : ''"
            [alt]="imgTR.image.title  ? imgTR.image.title : ''">
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner-image-item last-img">
          <img [lazyLoad]="imgBL ? imgBL.image.s3_link : ''"
            [alt]="imgBL ? imgBL.image.title : ''">
        </div>
        <button type="button"
          (click)="openGallery()"
          class="all_photon_btn"><i class="fa-solid fa-layer-group"></i> View All Photos</button>
      </div>
    </div>
  </div>
  <app-image-gallery *ngIf="showImageGallery"
    [images]="images"
    [title]="title"
    [isMobileMode]="isMobileMode"
    [isSliderMode]="isSliderMode"
    (closeImageGallery)="closeImageGallery()">
  </app-image-gallery>