.slider-section {
  position: relative;

  .btn-favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
  }

  .btn-white {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #fff;
    color: #4343e8;
    font-size: 12px;
    padding: 8px 15px;
    font-weight: 600;
    z-index: 2;
    @media (max-width: 540px) {
    display: none;
    }
  }
}

.workspace-banner-container {
  width: 100%;
  display: flex;
  height: 425px;
  overflow: hidden;
  position: relative;
  background: #fff;
  cursor: pointer;

  .workspace-banner {
    overflow: hidden;
    position: relative;
  }

  .workspace-banner {
    background: #f9f9f9 url('/assets/images/no-img.svg') no-repeat center center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: transform 1000ms ease;
    }

    &:hover {
      img {
        transform: scale(1.06);
      }
    }
  }

  .workspace-banner-half {
    height: 100%;
    width: 50%;

    .workspace-banner {
      height: 100%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .workspace-banner-one-third {
    height: 100%;
    width: 25%;
    border-left: 2px solid #fff;

    .workspace-banner {
      height: 50%;

      &:first-child {
        border-bottom: 1px solid #fff;
      }

      &:last-child {
        border-top: 1px solid #fff;
      }
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}
