<div class="flat_property_card property_item">
  <div class="property-img">
      <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/2ec1b4e5449c1413a1d8076e9f25d5e638a28d73.png" alt="" class="img-fluid">
  </div>
  <div class="property-dis">
      <h4>2 BHK Apartment for Rent <br><span class="builder_name">M3M Merlin</span></h4>
      <p class="address"><img src="../../../../assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-67, Gurugram</p>
      <!-- <p class="furnish_type"><img src="../../../../assets/images/icons/furnished-status-icon.svg" alt="" class="img-fluid"> Fully Furnished</p> -->
  </div>
  <div class="property-foot align-items-end">
      <div class="price"><span class="rent_title">Rent</span>₹ 6,000/- <span>month</span></div>
      <div class="button"><a href="#" tabindex="0">Explore More</a></div>
  </div>
</div>