<div class="slider-modal" [class.mobile-slider]="isMobileMode">
    <button *ngIf="!isMobileMode" class="icon-close fas fa-times" type="button" (click)="onCloseImageGallery()">
    </button>
    <div *ngIf="!isMobileMode" class="heading">
        {{ title }}
    </div>
    <div class="slider-outer">        
        <ngu-carousel #imageGalleryCarousel [inputs]="carouselConfig" (onMove)="onSliderMove($event)" [dataSource]="sliderItems" class="ngu-carousel-wrapper">
            <div *nguCarouselDef="let sliderItems; let i = index;" class="item" [class.active]="i===activeSliderItem" [class.prev-item]="i < activeSliderItem" [class.next-item]="i > activeSliderItem">
                <div class="slider-item">
                    <img class="img-fluid" [lazyLoad]="sliderItems.img" [alt]="sliderItems.title">
                </div>
            </div>
            <ul class="myPoint onlyMobile" NguCarouselPoint>
                <li *ngFor="let j of imageGalleryCarousel.pointNumbers; let j = index" [class.active]="j==imageGalleryCarousel.activePoint" (click)="imageGalleryCarousel.moveTo(j)"></li>
            </ul>
            <button NguCarouselPrev class="left-crl-arrow hideOnMobile"></button>
            <button NguCarouselNext class="right-crl-arrow hideOnMobile"></button>
        </ngu-carousel>
    </div>
</div>