main {
  padding-top: 80px;
}

::ng-deep router-outlet+* {
  display: block;
  animation: fade 1s;

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.call-button {
  font-size: 24px;
  position: fixed;
  right: 20px;
  bottom: 90px;
  background: #fff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  border: 0;
  color: #4243e8;
  outline: none;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  // display: none;
  text-align: center;
  line-height: 60px;
  z-index: 1;

  @media (max-width: 767px) {
    display: block;
  }
}
@media (max-width: 480px) {
  main {
    padding-top: 57px;
  }
}