<div class="property_item" *ngIf="subbuilder" style="cursor: pointer;" (click)="goToDetail()">
    <div class="property-img" *ngIf="subbuilder.images.length > 0">
        <img [src]="subbuilder?.images[0].image?.s3_link" alt="">
    </div>
    <div class="space_details" style="cursor: pointer;">
        <div class="property-dis">
            <h4>{{subbuilder?.name}}</h4>
            <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> {{subbuilder?.location?.address}}</p>
            <ng-container *ngIf="subbuilder.plans.length > 0">
                <p class="capacity"><img src="/assets/images/icons/bhk-icon.svg" alt="wifi" class="img-fluid">
                    <ng-container *ngFor="let plan of subbuilder.plans; let i = index">
                        <span *ngIf="i > 0">-</span> {{plan.planId.name}}
                    </ng-container>
                </p>
            </ng-container>
        </div>
        <div class="property-foot " [ngClass]="subbuilder.starting_price && subbuilder.starting_sale_price ? 'align-items-end' : 'align-items-not-end'">
            <div *ngIf="subbuilder?.starting_price" class="price"><span class="rent_title">Starting from</span>₹{{subbuilder?.starting_price}}/- <span>{{subbuilder?.starting_duration}}</span></div>
            <div *ngIf="subbuilder?.starting_sale_price" class="price sale_price"><span class="rent_title">Sale Price</span><span class="disable_price">₹{{subbuilder?.starting_sale_price}}</span></div>
        </div>
    </div>
</div>