.property_item {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  text-align: left;
  
  position: relative;
  -webkit-box-flex: 0;
  flex: 0 0 71.4285714286%;
  width: 30.2%;
  margin: 8px 1.5%;
}

.property_item {
  padding: 8px 8px 0px !important;
  border-radius: 10px;
}

.property_item .property-img {
  height: 130px !important;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.property_item .property-img img {
  height: 130px !important;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  -webkit-transition: .5s !important;
  transition: all .5s !important;
  position: relative;
}


.property_item .property-img,
.property_item .property-img .carousel-inner {
  height: 130px !important;
  margin-bottom: 5px;
  border-radius: 10px;
}

.property_item .property-img img,
.property_item .property-img .item {
  height: 130px !important;
}

.property_item .property-dis {
  padding-bottom: 0px;
  width: 100%;
}

.property_item .property-dis h4 {
  font-size: 13px;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
  font-weight: 600;
}

.property_item .property-dis .address {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  padding-bottom: 7px;
  margin-bottom: 7px !important;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  scrollbar-width: none !important;
}

.property_item .property-dis p {
  font-size: 10px !important;
  line-height: 15px !important;
  margin-bottom: 3px !important;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.amenities_card {
  display: flex;
  padding-top: 4px;
}

.amenities_card .capacity:first-child {
  margin-right: 20px;
}

.property_item .property-dis .furnish_type img,
.property_item .property-dis img {
  width: 16px;
  border-radius: 0px !important;
}

.property_item .property-foot {
  display: -webkit-box;
  display: flex;
  padding: 8px 0 0;
  margin-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, .05);
}

.property_item .property-foot .price {
  font-size: 10px;
  line-height: 18px;
}

.property_item .property-dis .price span {
  color: #212529;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
}

.property_item .property-foot .price .rent_title {
  display: block;
  font-size: 11px;
  line-height: 11px;
  font-weight: 600;
}

.property_item .property-foot .button a {
  font-size: 11px;
}

.property_item .property-foot .button a::before {
  font-size: 6px !important;
  line-height: 12px !important;
}

@media (max-width: 480px) {
  .property_item {
		flex: 0 0 75%;
		width: 75%;
	}
}