<div class="property_item">
  <div class="property-img">
      <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/5b6cfdc338062a60ca47c214f0e51239e2838318.jpg" alt="">
  </div>
  <div class="space_details" style="cursor: pointer;">
      <div class="property-dis">
          <h4>M3M Merlin</h4>
          <p class="address"><img src="/assets/images/icons/location-icon.svg" alt="" class="img-fluid"> Sector-65, Gurugram</p>
          <p class="capacity"><img src="/assets/images/icons/bhk-icon.svg" alt="wifi" class="img-fluid"> 3 BHK</p>
      </div>
      <div class="property-foot align-items-end">
          <div class="price"><span class="rent_title">Starting from</span>₹20,500/- <span>month</span></div>
          <div class="price sale_price"><span class="rent_title">Sale Price</span><span class="disable_price">₹1.85 cr</span></div>
      </div>
  </div>
</div>