@import '~ngx-toastr/toastr';
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'base/variable';
@import 'base/normalize';
@import 'base/typography';
@import "base/datepicker";
@import 'base/form';
@import 'base/icons';
@import 'base/button';
// Auth Dialog
.auth-modal {
    max-width: 420px;
}

@media (min-width: 1360px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1240px;
    }
}

.toast-container {
    &.toast-top-center {
        top: 12px;
    }
    .ngx-toastr {
        font-size: 13px;
        line-height: 16px;
        font-weight: 300;
        max-width: 300px;
        padding: 15px;
        opacity: .9;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
    }
    .toast-title {
        font-weight: 500;
    }
    .toast-error {
        background-color: #f86c6b;
        background-image: none;
    }
    .toast-success {
        background-color: $color-accent;
        background-image: none;
    }
    .toast-warning {
        background-color: #ffaa00;
    }
    .toast-container .ngx-toastr {
        border-radius: 0;
    }
}

// Breadcrumb 
.breadcrumb {
    background: none;
    padding: 0;
    border-radius: 0;
    .breadcrumb-item {
        font-size: 14px;
        color: #908f8f;
        +.breadcrumb-item {
            &::before {
                content: "";
                background: url('/assets/images/right-arrow.svg') no-repeat center center;
                width: 10px;
                height: 10px;
                background-size: 9px auto;
                margin-right: 6px;
            }
        }
    }
}

// Home Testimonial style
.testimonial-section {
    .ngucarousel {
        overflow: initial !important;
    }
}

// User Profile Title
.user-title {
    padding: 70px 0 30px;
    h2 {
        font-size: 22px;
        font-weight: 600;
        color: #000;
        position: relative;
        padding-bottom: 10px;
        &:after {
            width: 60px;
            height: 2px;
            background: $color-primary;
            display: inline-block;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    @media (max-width: 991px) {
        padding: 0 0 30px;
    }
}

.icon-rupee {
    font-size: 80%;
}


/*
  Image Gallery
*/

.slider-outer .ngucarousel {
    overflow: visible;
}

.slider-outer .slider-item img {
    max-height: 550px;
    border-radius: 4px;
}

.slider-outer .slider-item {
    padding: 15px 10px;
}

.slider-outer .next-item,
.slider-outer .prev-item {
    opacity: 0.6;
}


/*
  Google Map Search Drop down
*/

.pac-container {
    z-index: 1000000;
}

.pac-item {
    cursor: pointer;
    padding: 4px 15px;
    font-size: 15px;
    font-weight: 300;
    left: 0 !important;
}

.pac-item-query {
    font-size: 15px;
    font-weight: 300;
    padding-right: 10px;
    color: #000;
}

.pac-matched {
    font-size: 15px;
    font-weight: 400;
}

.pac-logo:after {
    padding: 0;
    margin: 10px 15px 15px 0;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.map-infoWindow {
    width: 275px;
    max-width: 275px;
    .price-on-map {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        font-weight: 600;
    }
    .map-img {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        max-height: 200px;
        overflow: hidden;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, .75) 100%)
        }
        img {
            max-width: 275px;
        }
    }
}

// Listing Card Carouse 
.listing-card {
    .carousel-control-next-icon::before {
        display: none;
    }
}

// DropDown
.single-dropdown {
    .dropdown-button {
        background: #fff;
        padding: 5px 15px;
        border: 1px solid #dce0e0;
        border-radius: 4px;
        color: #757575;
        font-size: 13px;
        letter-spacing: 0.5px;
        font-weight: 600;
        i {
            font-size: 10px;
        }
    }
    &.open {
        .dropdown-button {
            background: #e9e9ff;
            border-color: #7d9dd9;
            color: #4343e8;
        }
    }
    .dropdown-menu {
        margin: 0;
        padding: 0;
        width: 160px;
        margin-left: -80px;
        border: 1px solid #dce0e0;
        li {
            border-bottom: 1px solid #dce0e0;
            padding: 0;
            &:last-child {
                border-bottom: 0;
            }
            button {
                padding: 10px;
                font-size: 13px;
                display: block;
                width: 100%;
                text-align: left;
                &:hover {
                    color: #4343e8;
                    background: #e9e9ff;
                }
            }
        }
    }
}

// Image Gallery
.slider-modal {
    .ngu-touch-container,
    .ngu-carousel-wrapper {
        height: 100%;
    }
    .ngucarousel-items {
        align-items: center;
    }
}

.listing-card {
    .carousel-arrow {
        position: absolute;
        top: 50%;
        color: #888;
        font-size: 10px;
        box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.05);
        background-color: rgba($color: #fff, $alpha: 0.5);
        width: 28px;
        height: 28px;
        margin-top: -14px;
        border-radius: 100%;
        &:hover {
            background-color: rgba($color: #fff, $alpha: 1);
        }
        &.icon-next {
            right: 10px;
        }
        &.icon-back {
            left: 10px;
        }
        &[disabled] {
            opacity: 0.4;
        }
    }
}


/*
Amenity Icons
*/

.amn-tv {
    background: url('/assets/images/amenities/tv.svg') no-repeat center center;
}

.amn-cafe {
    background: url('/assets/images/amenities/pantry.svg') no-repeat center center;
}

.amn-lounge {
    background: url('/assets/images/amenities/meeting-room.svg') no-repeat center center;
}

.amn-cctv {
    background: url('/assets/images/amenities/tv.svg') no-repeat center center;
}

.amn-deposit {
    background: url('/assets/images/amenities/security.svg') no-repeat center center;
}

.amn-refrigerator {
    background: url('/assets/images/amenities/fridge.svg') no-repeat center center;
}

.amn-fully-furnished {
    background: url('/assets/images/amenities/fully-furnished.svg') no-repeat center center;
}

.amn-ac {
    background: url('/assets/images/amenities/ac.svg') no-repeat center center;
}

.amn-air-conditioning {
    background: url('/assets/images/amenities/ac.svg') no-repeat center center;
}

.amn-bike-parking {
    background: url('/assets/images/amenities/bike-parking.svg') no-repeat center center;
}

.amn-car-parking {
    background: url('/assets/images/amenities/car-parking.svg') no-repeat center center;
}

.amn-housekeeping {
    background: url('/assets/images/amenities/housekeeping.svg') no-repeat center center;
}

.amn-meeting-room {
    background: url('/assets/images/amenities/meeting-room.svg') no-repeat center center;
}

.amn-pantry {
    background: url('/assets/images/amenities/pantry.svg') no-repeat center center;
}

.amn-printer {
    background: url('/assets/images/amenities/printer.svg') no-repeat center center;
}

.amn-reception {
    background: url('/assets/images/amenities/reception.svg') no-repeat center center;
}

.amn-tea {
    background: url('/assets/images/amenities/tea.svg') no-repeat center center;
}

.amn-wi-fi,
.amn-wifi {
    background: url('/assets/images/amenities/wifi.svg') no-repeat center center;
}

.amn-workstation {
    background: url('/assets/images/amenities/workstation.svg') no-repeat center center;
}

.amn-work-desk {
    background: url('/assets/images/amenities/workstation.svg') no-repeat center center;
}

.amn-team {
    background: url('/assets/images/amenities/team.svg') no-repeat center center;
}

.amn-24x7 {
    background: url('/assets/images/amenities/24x7.svg') no-repeat center center;
}

.amn-game {
    background: url('/assets/images/amenities/game.svg') no-repeat center center;
}

.amn-metro {
    background: url('/assets/images/amenities/metro.svg') no-repeat center center;
}

.amn-lift {
    background: url('/assets/images/amenities/lift.svg') no-repeat center center;
}

.amn-power-backup {
    background: url('/assets/images/amenities/power-backup.svg') no-repeat center center;
}

.amn-security {
    background: url('/assets/images/amenities/security.svg') no-repeat center center;
}

.am-laundry {
    background: url('/assets/images/amenities/washing-machine.svg') no-repeat center center;
}

.amn-subscription {
    background: url('/assets/images/amenities/subscription.svg') no-repeat center center;
}

.amn-gym {
    background: url('/assets/images/amenities/gym.svg') no-repeat center center;
}

.amn-washing-machine {
    background: url('/assets/images/amenities/washing-machine.svg') no-repeat center center;
}

.amn-fridge {
    background: url('/assets/images/amenities/fridge.svg') no-repeat center center;
}

.amn-bathroom {
    background: url('/assets/images/amenities/bathroom.svg') no-repeat center center;
}

.amn-geyser {
    background: url('/assets/images/amenities/geyser.svg') no-repeat center center;
}

.amn-app {
    background: url('/assets/images/amenities/app.svg') no-repeat center center;
}

.amn-kitchen {
    background: url('/assets/images/amenities/kitchen.svg') no-repeat center center;
}

.amn-no-restriction {
    background: url('/assets/images/amenities/no-restriction.svg') no-repeat center center;
}

.amn-recreational-facilities {
    background: url('/assets/images/amenities/no-restriction.svg') no-repeat center center;
}

.amn-any-restriction {
    background: url('/assets/images/amenities/no-restriction.svg') no-repeat center center;
}

.amn-microwave {
    background: url('/assets/images/amenities/microwave.svg') no-repeat center center;
}

.amn-pet-friendly {
    background: url('/assets/images/amenities/pet-friendly.svg') no-repeat center center;
}

.amn-side-table {
    background: url('/assets/images/amenities/side-table.svg') no-repeat center center;
}

.amn-veg-non-veg {
    background: url('/assets/images/amenities/veg-nonveg.svg') no-repeat center center;
}

.amn-induction {
    background: url('/assets/images/amenities/induction.svg') no-repeat center center;
}

.amn-dustbin {
    background: url('/assets/images/amenities/dustbin.svg') no-repeat center center;
}

.amn-shoe-rack {
    background: url('/assets/images/amenities/shoe-rack.svg') no-repeat center center;
}

.amn-ott-subscription {
    background: url('/assets/images/amenities/netflix-and-prime.svg') no-repeat center center;
}

.amn-veg-only {
    background: url('/assets/images/amenities/Veg-only.svg') no-repeat center center;
}

.amn-laundry-service {
    background: url('/assets/images/amenities/washing-machine.svg') no-repeat center center;
}

.amn-laundry {
    background: url('/assets/images/amenities/washing-machine.svg') no-repeat center center;
}

.amn-cupboard {
    background: url('/assets/images/amenities/cupboard.svg') no-repeat center center;
}

// Search Page
.search-container {
    .search-grid-container {
        float: left;
        position: relative;
        width: 65%;
        padding: 25px 0 0;
        &.search-grid-full {
            width: 100%;
        }
        .search-grid-wrapper {
            max-width: 94%;
            padding: 0 2%;
            margin: 0 auto;
        }
    }
    .search-map-container {
        margin-top: 1%;
        float: right;
        position: fixed;
        right: 0;
        top: 133px;
        width: 35%;
        height: 100%;
        background: #f1f1f1;
        &.absolute-map,
        &.hide-map {
            display: none;
            visibility: hidden;
        }
        .map-container {
            height: 100%;
            overflow-y: hidden;
            max-height: 100%;
        }
    }
}

.loadMoreButton {
    padding: 30px 0;
    text-align: center;
}

@media(max-width: 991px) {
    .search-container {
        .search-grid-container {
            width: 100%;
            .search-grid-wrapper {
                max-width: 100%;
                padding: 0 15px;
            }
        }
        .search-map-container {
            display: none;
        }
    }
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    .page-item.active .page-link {
        background: $color-primary;
        border-color: $color-primary;
    }
    .page-link {
        color: $color-primary;
    }
}

.search-description {
    padding: 60px 0;
    background: #f9f9f9;
    h2 {
        font-size: 15px;
        color: #7b7b7b;
        margin-bottom: 30px;
        line-height: 20px;
    }
    ul,
    p {
        font-size: 13px;
        color: #7b7b7b;
    }
    ul {
        li {
            margin: 0 0 10px;
        }
    }
}

.page-heading {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 26px;
    margin: 0 0 10px;
}

.building-icon {
    background-image: url('/assets/images/office-space/office-building.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.close-icon {
    background-image: url('/assets/images/office-space/icons8-close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.page-title {
    text-align: center;
    padding: 50px 0;
    position: relative;
    z-index: 1;
    h2 {
        font-size: 36px;
        font-weight: 600;
        margin: 0 0 25px;
        color: #010101;
        position: relative;
        display: inline-block;
        &::before {
            width: 75px;
            height: 75px;
            background: #ffe785;
            border-radius: 100%;
            position: absolute;
            left: -30px;
            top: -30px;
            content: '';
            display: block;
            z-index: -1;
        }
        &::after {
            width: 92px;
            height: 2px;
            background: #4343e8;
            position: absolute;
            bottom: -30px;
            left: 50%;
            margin-left: -46px;
            content: '';
            display: inline-block;
        }
        @media(max-width: 1080px) {
            margin-left: 25px;
            font-size: 26px;
            line-height: 32px;
            &::before {
                width: 55px;
                height: 55px;
                left: -20px;
                top: -20px;
                background: #ffe785;
            }
        }
        @media(max-width: 480px) {
            margin-left: 0;
            font-size: 18px;
            line-height: 38px;
            &::before {
                width: 35px;
                height: 35px;
                left: -15px;
                top: -6px;
            }
        }
    }
    &-left {
        text-align: left;
        h2 {
            &::after {
                left: 0;
                margin-left: 0;
            }
        }
    }
}

.grey-form-control {
    .ng-select .ng-select-container {
        background-color: #f8f8f9;
    }
}

.star-rating {
    ngx-star-rating {
        label.star {
            font-size: 15px;
            padding-top: 15px;
            padding-right: 3px;
            padding-left: 3px;
        }
        input.star-5:checked~label.star:before {
            color: #fd4 !important;
            text-shadow: none !important;
        }
    }
}

@media(max-width: 540px) {
    #chat-bot-launcher-container {
        bottom: 165px !important;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width:480px) {
    .page-title {
        text-align: left !important;
        padding: 0px 0px 0px 15px !important;
        position: relative !important;
        z-index: 1 !important;
    }
    .page-title h2::after {
        display: none !important;
    }
    .page-title h2 {
        margin-bottom: 0px !important;
        display: block !important;
        text-align: left !important;
        margin-bottom: 15px !important;
    }
    
    h1 {
        font-size: 26px !important;
        line-height: 28px !important;
    }
    h2 {
        font-size: 16px !important;
        line-height: 28px !important;
        margin-bottom: 20px !important;
    }
}