<section class="our_client_sec" [class.white-layout]="layout=== 'white'">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="main_heading title_divider">
                    <h2>Cofynd Tenants</h2>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="our-client-carousel">
                    <ngu-carousel #popularSpaceCarousel [inputs]="carouselConfig" [dataSource]="clients" (onMove)="onSliderMove($event)">
                        <div *nguCarouselDef="let space; let i = index;" class="item" [ngClass]="(i==clients.length-1)?'last-slide':null">
                            <div class="our_client_item" [ngClass]="(i==0)?'first-slide':'not-first-slide'">
                                <div class="client-log">
                                    <img [src]="space.image" [alt]="space.name" class="img-fluid d-block m-auto">
                                </div>
                            </div>
                        </div>
                    </ngu-carousel>
                </div>
                <button type="button" (click)="goToPrev()" [disabled]="popularSpaceCarousel.isFirst" class="carousel-arrow icon-back fas fa-chevron-left">
                </button>
                <button type="button" (click)="goToNext()" [disabled]="popularSpaceCarousel.isLast" class="carousel-arrow icon-next fas fa-chevron-right">
            </button>
            </div>
        </div>
    </div>
</section>