.our_client_sec {
    padding-top: 70px;
    padding-bottom: 70px;
    &.white-layout {
        border-bottom: 0;
        background: #fff;
        padding: 60px 0;
        .popular-space-carousel {
            bottom: 0;
        }
    }
    .ngucarousel-items {
        margin: 0 -10px;
    }
    .carousel-arrow {
        position: absolute;
        top: 18px;
        color: #4343e8;
        font-size: 26px;
        font-weight: bold;
        &.icon-next {
            right: -20px;
        }
        &.icon-back {
            left: -20px;
        }
        &[disabled] {
            opacity: 0.4;
        }
    }
    .item {
        padding: 0 10px;
    }
    @media (max-width: 480px) {
        .page-title {
            padding: 20px 0 10px;
            h2::after {
                bottom: -15px;
            }
        }
        background:white;
    }
    .our-client-carousel {
        position: relative;
        overflow: hidden;
    }
    .last-slide {
        @media (max-width: 767px) {
            .not-first-slide {
                width: 100% !important;
            }
        }
    }
}


@media (max-width: 991px) {
    .our_client_sec .carousel-arrow.icon-back {
        left: 20px;
    }
    .our_client_sec .carousel-arrow.icon-next {
        right: 20px !important;
    }
    .our_client_sec .our-client-carousel {
        padding: 0px 30px;
    }
    .our_client_sec {
		padding-top: 40px !important;
		padding-bottom: 30px !important;
	}
}

@media (max-width: 480px) {
    
  .our_client_sec .col-12.mt-3 {
	margin-top: 0px !important;
}

    
}
