<section class="search-simple pt-5 pb-4">
  <div class="container">
    <div class="row">

      <div class="col-md-12 pointer"
        routerLink="/">
        <img src="../../../../assets/images/marketing/coworking/gurugram/cofynd_logo_color.png"
          class="img-fluid m-auto d-block logo-height"
          alt="CoFynd">
        <p class="text-center mt-2 font-18">SEARCH . BOOK . WORK</p>
      </div>
    </div>
  </div>
</section>

<section class="spaces pt-5 pb-5">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white text-center pb-4 font-wt600 lineHeight-35">Find the
            Best Coworking Space in {{marketingData.location}}</h1>
        </div>
        <img src="../../../../assets/images/marketing/coworking/all-coworking-marketing-banner.jpg"
          class="img-fluid m-auto d-block"
          alt="Coworking Space in Bangalore">
      </div>
    </div>
  </div>
</section>

<section class="deatil-box">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <p class="font-26-mid plan-pricing">Plans and Pricing</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-6">
            <div class="plan-box mt-3 mb-3">
              <div class="row">
                <div class="col-md-3 p-0">
                  <img src="https://cofynd.com/assets/images/marketing/plan-1.jpg"
                    class="img-fluid d-block border-rds10"
                    alt="Coworking Space in Bangalore">
                </div>
                <div class="col-md-6">
                  <div class="box-detail">
                    <h5>Daily Pass</h5>
                    <p class="mb-0 font-14-lite">Book and experience the un-conventional work
                      culture</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <p class="text-rt"><span class="font-wt300">Starting at</span><br /><span class="main-blue"><strong>
                        &#8377;{{marketingData.dayPass}}</strong></span><span class="font-wt300">/*day</span></p>
                  <p class="text-right mb-only main-blue"
                    (click)="scrollEnq()">Enquire Now</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-6">
            <div class="plan-box mt-3 mb-3">
              <div class="row">
                <div class="col-md-3 p-0">
                  <img src="https://cofynd.com/assets/images/marketing/plan-2.jpg"
                    class="img-fluid d-block border-rds10"
                    alt="Best Coworking Space in Bangalore">
                </div>
                <div class="col-md-6">
                  <div class="box-detail">
                    <h5>Dedicated Desk</h5>
                    <p class="mb-0 font-14-lite">A fixed desk in a shared coworking space that is
                      dedicated to you</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <p class="text-rt "><span class="font-wt300">Starting at</span><br /><span class="main-blue"><strong>
                        &#8377;{{marketingData.dedicatedSeat}}</strong></span><span class="font-wt300">/*month</span>
                  </p>
                  <p class="text-right mb-only main-blue"
                    (click)="scrollEnq()">Enquire Now</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-6">
            <div class="plan-box mt-3 mb-3">
              <div class="row">
                <div class="col-md-3 p-0">
                  <img src="https://cofynd.com/assets/images/marketing/plan-9.jpg"
                    class="img-fluid d-block border-rds10"
                    alt="Coworking Office Space in Bangalore">
                </div>
                <div class="col-md-6">
                  <div class="box-detail">
                    <h5>Private Cabin</h5>
                    <p class="mb-0 font-14-lite">Private office space dedicated to you and your team
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <p class="text-rt font-18"><span class="font-wt300">Starting
                      at</span><br /><span class="main-blue font-wt600">
                      &#8377;{{marketingData.privateCabin}}</span><span class="font-wt300">/*month</span></p>
                  <p class="text-right mb-only"
                    class="text-right mb-only main-blue"
                    (click)="scrollEnq()">Enquire Now</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-6">
            <div class="plan-box mt-3 mb-3">
              <div class="row">
                <div class="col-md-3 p-0">
                  <img src="https://cofynd.com/assets/images/marketing/plan-4.jpg"
                    class="img-fluid d-block border-rds10">
                </div>
                <div class="col-md-6">
                  <div class="box-detail">
                    <h5>Virtual Office</h5>
                    <p class="mb-0 font-14-lite">For GST Registration, Business Registration,
                      Mailing Address</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <p class="text-rt font-18"><span class="font-wt300">Starting
                      at</span><br /><span class="main-blue font-wt600">
                      &#8377;{{marketingData.virtualOffice}}</span><span class="font-wt300">/*year</span></p>
                  <p class="text-right mb-only main-blue"
                    (click)="scrollEnq()">Enquire Now</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="plug-play">
          <div class="pad100">
            <div class="row">
              <div class="col-md-12">
                <h2 class="font-26 plug-play">Plug 'n' Play Office Spaces</h2>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <div class="ams-opt">
                  <div class="row">
                    <div class="col-2">
                      <img src="https://cofynd.com/assets/images/amenities/wifi.svg"
                        class="img-fluid d-block img-htw">
                    </div>
                    <div class="col-10">
                      <h4 class="font-18-mid">High Speed Internet</h4>
                      <p class="font-size-14">Connect to unlimited high-speed Wifi on up to
                        two of your devices or get an Ethernet cable. Never worry about data.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ams-opt">
                  <div class="row">
                    <div class="col-2">
                      <img src="https://cofynd.com/assets/images/amenities/24x7.svg"
                        class="img-fluid d-block img-htw">
                    </div>
                    <div class="col-10">
                      <h4 class="font-18-mid">Printer and Scanner</h4>
                      <p class="font-size-14">If you wish to come in super early or pull an
                        all-nighter, our hubs are functional round the clock.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <div class="ams-opt">
                  <div class="row">
                    <div class="col-2">
                      <img src="https://cofynd.com/assets/images/amenities/no-security-deposit.svg"
                        class="img-fluid d-block img-htw">
                    </div>
                    <div class="col-10">
                      <h4 class="font-18-mid">No Brokerage</h4>
                      <p class="font-size-14">No need to give a security deposit, just get a
                        pass and start working at any of our hubs.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ams-opt">
                  <div class="row">
                    <div class="col-2">
                      <img src="https://cofynd.com/assets/images/amenities/no-lock-in.svg"
                        class="img-fluid d-block img-htw">
                    </div>
                    <div class="col-10">
                      <h4 class="font-18-mid">No Lock-In Period*</h4>
                      <p class="font-size-14">Work till your heart desires. No mandatory lock
                        in period with us.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <div class="ams-opt">
                  <div class="row">
                    <div class="col-2">
                      <img src="https://cofynd.com/assets/images/amenities/sanitizer.svg"
                        class="img-fluid d-block img-htw mt-1">
                    </div>
                    <div class="col-10">
                      <h4 class="font-18-mid">Sanitized Workspaces</h4>
                      <p class="font-size-14">All our Workspaces are sanitized regularly to
                        make sure you have the best experience.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="ams-opt">
                  <div class="row">
                    <div class="col-2">
                      <img src="https://cofynd.com/assets/images/amenities/social-distancing.svg"
                        class="img-fluid d-block img-htw mt-1">
                    </div>
                    <div class="col-10">
                      <h4 class="font-18-mid">Social Distancing</h4>
                      <p class="font-size-14">Each of our hubs makes sure that we maintain
                        social distancing norms.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr-3 pl-3 why-cofynd">
            <div class="row">
              <div class="col-md-12">
                <h3 class="font-26">Why CoFynd</h3>
                <br />
              </div>
              <div class="col-md-3 col-6 mt-2 mb-2">
                <p class="mb-0"><span class="font-26-mid">25,000+</span><br /><span>Coworking
                    Spaces</span></p>
              </div>
              <div class="col-md-3 col-6 mt-2 mb-2">
                <p class="mb-0"><span class="font-26-mid">18+</span><br /><span>Cities</span></p>
              </div>
              <div class="col-md-3 col-6 mt-2 mb-2">
                <p class="mb-0"><span class="font-26-mid">100%</span><br /><span>Offline Support</span>
                </p>
              </div>
              <div class="col-md-3 col-6 mt-2 mb-2">
                <p class="mb-0"><span class="font-26-mid">Verified</span><br /><span>Spaces</span></p>
              </div>

            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row pad100">
            <div class="col-md-12">
              <h3 class="mb-5 font-26 top-partner">Top Coworking Partners</h3>
            </div>
            <br />
            <div class="col-4 mt-3 mb-3">
              <img
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/93f7fa099b87eccf93812fbff5d13f83a2cc487a.png"
                class="img-fluid d-bloack m-auto"
                alt="We Work">
            </div>
            <div class="col-4 mt-3 mb-3">
              <img
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/24d34a77dafecc24635767dee0ae7fd250cb3649.jpg"
                class="img-fluid d-bloack m-auto"
                alt="Awfis">
            </div>
            <div class="col-4 mt-3 mb-3">
              <img
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9c0c2a58819ef996fd210b7cad122dd15d761ed0.png"
                class="img-fluid d-bloack m-auto"
                alt="Innov8">
            </div>
            <div class="col-4 mt-3 mb-3">
              <img
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/9d0d32fd1a689722ed5f719d9eab7dbbceeff9f5.png"
                class="img-fluid d-bloack m-auto"
                alt="91springboard">
            </div>
            <div class="col-4 mt-3 mb-3">
              <img
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/eacb58c29322fa81ce2b6cae4fe680c257bce084.png"
                class="img-fluid d-bloack m-auto"
                alt="AltF">
            </div>
            <div class="col-4 mt-3 mb-3">
              <img
                src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/17870b28354c41ede388e5c30c67d196cfb05f08.png"
                class="img-fluid d-bloack m-auto"
                alt="InstaOffice">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="cofynd-about pb-5">
                <h4 class="font-26">About CoFynd</h4>
                <br />
                <div [innerHTML]="marketingData.about"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 enquiry-box-wrapper"
        [class.enquiry-modal]="isEnquireModal">
        <app-general-enquire [isSticky]="isSticky"
          (backButtonClick)="closeEnquireModel()">
        </app-general-enquire>
      </div>
    </div>
  </div>
</section>

<section class="cofynd-desk pb-3 pt-3 space-box contactWithC">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="join">
          <p class="text-white font-30 mb-0">Connect with Cofynd</p>
          <div class="row">
            <div class="col-md-4">
              <p class="text-white mb-0 font-16"><i class="fa fa-phone-square"
                  aria-hidden="true"></i> +91 9355 48
                9999</p>
            </div>
            <div class="col-md-6">
              <p class="text-white mb-0 font-16"><i class="fa fa-envelope-o"
                  aria-hidden="true"></i>
                hello@cofynd.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/images/marketing/coworking/gurugram/cofynd_desk.png"
          class="img-fluid cofynd-desk-image"
          alt="CoFynd">
      </div>
    </div>
  </div>
</section>
