<section class="for_email_sec mobilehide">
    <div class="container-fluid" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/531127b12803d7a66c53322a4c180786e7fa3606.png');">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <div class="for_email_content">
                    <h3>Find your Office Space with Cofynd</h3>
                    <p>Just drop us an email with your Office Space requirements – Number of Seat, Location, Start Date … and our team will connect back with you within 24 Hrs with the best possible options.</p>
                    <p class="email_id align-items-center"><img src="assets/images/icons/email_id.svg" alt="Email Icon"> hello@cofynd.com</p>
                </div>
            </div>
            <div class="col-md-4 mobilehide">
                <div class="for_email_img">
                    <img src="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/00e405e2b9a8afc8ac552ea76d1ba5e698ba9b48.png" alt="Email Image">
                </div>
            </div>
        </div>
    </div>
</section>