<section class="banner">
    <div class="banner-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Find the Best <br><span>Coworking Spaces</span> in {{country_name}}
                </h1>
                <div class="search">
                    <app-home-city-dropdown [typeLabel]="'Looking For'" [cityLabel]="'Select City'" [isCountryLandingPage]=true [isCoworking]="true" [isCoLiving]="true">
                    </app-home-city-dropdown>
                </div>
                <div class="city-list">
                    <a *ngFor="let city of cities" (click)="routeToCity(city.name,city?.Country?.name,city?.Country?.id)">
                        <img [lazyLoad]="city?.image?.s3_link" [alt]="city.name"> {{ removedash(city.name) }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="wrapper">
    <section class="facilities">
        <div class="container">
            <div class="option-box">
                <div class="row">
                    <div class="col-md-4 col-6" *ngFor="let data of service">
                        <div class="mt-3 mb-3">
                            <img [lazyLoad]="'../../../assets/images/'+data.icon" class="img-fluid d-block" [alt]="data.title">
                            <p class="mt-2 mb-2 h-font18">{{data.title}}</p>
                            <p class="text-dark mb-0 hide-m">{{data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="choosewithcofynd_sec coworking_choose_sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="main_heading title_divider">
                        <h2>Choose a Coworking Space With CoFynd</h2>
                    </div>
                </div>
            </div>
            <div class="row choose_item_slider mt-2">
                <div class="col-md-4" *ngFor="let data of chooseCoworking">
                    <div class="left_icon_box2">
                        <div class="icon">
                            <img [lazyLoad]="'../../../assets/images/'+data.icon" class="img-fluid d-block" [alt]="data.title">
                        </div>
                        <div class="content">
                            <h4>{{data.title}}</h4>
                            <p class="mobilehide">{{data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- top Spaces -->
    <section class="virtualSpace">
        <div class="container">
            <div class="page-title pt-3">
                <h2>Top Coworking Cities in {{country_name}}</h2>
            </div>
            <div class="row">
                <div class="col-md-4 pt-2" style="cursor: pointer;" *ngFor=" let _centerCity of popularCoWorkingSpaces | slice:0:1">
                    <div style="position: relative;" (click)="openWorkSpace(_centerCity)">
                        <img [lazyLoad]="_centerCity.image" class="img-fluid d-block m-auto" style="height:516px; object-fit:cover; border-radius:10px;" alt="coworking spaces in singapore">
                        <div class="SpaceText">
                            <p class="mb-3 pl-2 text-center text-white" style="font-size: 20px; line-height: 26px; font-weight: 500;"><i class="fas fa-map-marker-alt"></i> {{removedash(_centerCity.city)}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4 p-2" style="cursor: pointer;" *ngFor="let _centerCity of popularCoWorkingSpaces | slice:1:7">
                            <div class="spaceCenter" (click)="openWorkSpace(_centerCity)">
                                <img [lazyLoad]="_centerCity.image" class="img-fluid d-block m-auto" alt="coworking singapore">
                                <div class="SpaceText">
                                    <p class="text-center text-white mb-3" style="font-size: 20px; font-weight: 500;"><i class="fas fa-map-marker-alt"></i> {{removedash(_centerCity.city)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-carousel-item [pageTitle]="'Top Coworking Spaces in Singapore'" [shouldCoWorkingVisible]="true" [shouldCoLivingVisible]="false" [coWorkingSpaces]="spaceForMobile.singapore">
    </app-carousel-item>

    <section class="partners">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title remove-side-circle">
                        <h2>Our CoWorking Partners</h2>
                    </div>
                </div>
            </div>
            <div class="row mob-hide partner-carousel slider-on-mobile-view">
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="WeWork" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/93f7fa099b87eccf93812fbff5d13f83a2cc487a.png'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="Found8 Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/0f1725de50062fe5cf566cb140f7e67585ce0059.jpg'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="Just CO Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/50718ab58b8519811381798fbe7685ad05960bee.jpg'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="The Great Room Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/f5c5f902166e326d498c13150ee60fc91af8f51a.jpg'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="The Hive Logo" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/acebb48e4dc05bc35cd57dbfdc386a5470ff7024.jpg'" />
                </div>
                <div class="col-md-2">
                    <img class="img-fluid m-auto d-block" alt="WeWork" [lazyLoad]="'../../../assets/images/the-spaces-logo.jpg'" />
                </div>
            </div>
        </div>
    </section>


    <section class="cofynd_advantage_area coworking_advantage_area mobilehide">
        <div class="container">
            <div class="row" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/ae369baf5407686f76d0e217cb479582f86d24e0.jpg');">
                <div class="col-md-3">
                    <h3>CoFynd Advantages</h3>
                </div>
                <div class="col-md-3" *ngFor="let data of coFyndAdvantages">
                    <div class="advantage_item">
                        <div class="icon">
                            <img [lazyLoad]="'../../../assets/images/'+data.icon" class="img-fluid d-block" [alt]="data.title">
                        </div>
                        <div class="content">
                            <h4>{{data.title}}</h4>
                            <p>{{data.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="enquiry-section hideOnMobile" style="padding-top: 90px !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" (click)="openAdd()">
                    <img lazyLoad="/assets/images/home/coworking-space-singapore-new.jpg" class="enquiry-box" alt="Co Working Spaces" />
                </div>
            </div>
        </div>
    </section>

    
    <section class="onlyMobile covid-safety pt-5 pb-5">
        <div class="container pb-5">
            <div class="row">
                <div class="col-12">
                    <p class="facility-head">We are ready for the new normal!</p>
                </div>
                <div class="col-12">
                    <img [lazyLoad]="'../../../assets/images/co-living/colivingMain/covid-2.png'" class="img-fluid m-auto d-block border pt-2 pl-2 pr-2" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="coworking_client_sec">
        <app-our-clients></app-our-clients>
    </div>

    <section class="list_your_space_sec coworking_list_space">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8">
                    <div class="cta_content">
                        <h4>List Your Vacant Property with Cofynd and Start Earning</h4>
                        <p class="mobilehide">List for free and leave rest on our experts. Stay organized, manage leads, and track your bookings - all in one place.</p>
                        <a routerLink="/list-your-space" class="btn site_btn border_btn">List Your Property</a>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <img [lazyLoad]="'../../../assets/images/list-your-space-img.svg'" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="cofynd_desk_sec coworking_cofynd_desk">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cofynd-desk text-center">
                        <img style="max-height: 200px;" [lazyLoad]="'https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/c73da7d3135107aeb381095d5913bc54c77d5c4d.png'" alt="">
                        <h4>What's the CoFynd Desk ?</h4>
                        <p class="about_text">CoFynd is helping professionals find their perfect WorkSpace, Living Space & Everything in between.<br /> As we grow, we think of ourselves as creating a shared Ecosystem, one that lets the Cofynd community Breathe, Connect and Climb
                            to their highest in life.</p>
                        <p class="link-text text-center title_name">Atul Gupta, Founder & CEO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="search-description" *ngIf="seoData">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ seoData?.footer_title }}</h2>
                    <div [innerHTML]="seoData?.footer_description"></div>
                </div>
            </div>
        </div>
    </section>

</div>