.contact_page_area {
  padding: 40px 0px;

  .contact_page_row {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
  }

  .contact_form_area {
    padding: 40px;

    h1 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 7px;
    }
    

    .input-group {
      border-bottom: 1px solid rgba(0,0,0,.1);
      padding-left: 32px;
      margin-bottom: 14px;
    }

    .form-group{
      img {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 6px;
        top: 12px;
        z-index: 1;
      }

      .form-control {
        border-bottom: 1px solid rgba(0,0,0,0.2) !important;
        box-shadow: none;
        border-radius: 0;
        color: #212529;
        height: auto;
        padding: 10px 10px 10px 35px;
        font-size: 13px;
        width: 100%;
        background-color: #fff;
        line-height: 21px !important;
        border: none;
        height: 42px;
      }
      ::placeholder {
        color: #212529;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #212529;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
      color: #212529;
      }
    } 
    .site_btn {
      padding: 8px 45px;
    }
    .contact-footer {
      text-align: center;
      margin-top: 15px;
      
      p {
        margin-bottom: 0px;
        font-weight: 600;
      }
    }
  
  }
  
  .form_text_area {
    padding: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

    .form_content {
      padding: 40px 70px;
      margin-bottom: 40px;

      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 10px;
      }

      .location {
        p {
          font-size: 13px;
          line-height: 25px;
          font-weight: 600;
        }
      }
    }
  }

}





@media (max-width: 480px) {
  .contact_page_area{ 

    .contact_page_row {
      margin: 0px;

      .form_text_area .form_content {
        padding: 30px 20px 10px;
        margin-bottom: 0px;
      }

      .contact_form_area {
        padding: 20px 10px;

        .form-group{
          .form-control {
            padding: 8px 8px 8px 30px;
            font-size: 11px;
            line-height: 15px !important;
          }

          img {
            width: 15px;
            height: 15px;
            top: 14px;
          }
        } 
        
        .site_btn {
          padding: 5px 25px !important;
          font-size: 10px !important;
        }
      }
    }

    
  }
  
}

.message_field img {
	top: 8px !important;
}

.contact_page_area .contact_form_area .form-group .icon_phone_field .form-control {
	border-bottom: none !important;
}