<section class="contact_page_area cities_query_sec">
    <div class="container">
        <div class="row contact_page_row cities_page_row">
            <div class="col-md-6 col-12 order-1 order-md-2">
                <div class="contact_form_area cities_form_area">
                    <h1>Connect with Cofynd Expert</h1>
                    <form *ngIf="!showSuccessMessage" class="form" [formGroup]="enterpriseFormGroup" (ngSubmit)="onSubmit1()" appScrollToInvalidField>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group align-items-center">
                                    <img lazyLoad="assets/images/icons/user-icon.svg" class="img-fluid" alt="User">
                                    <input type="text" class="form-control" placeholder="Name*" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name">
                                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                        <div *ngIf="f['name'].errors['required']">Please enter your name.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group align-items-center">
                                    <img lazyLoad="assets/images/icons/email-icon.svg" class="img-fluid" alt="Email">
                                    <input type="text" class="form-control" placeholder="Email*" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email">
                                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors['required']">Please enter your email id.</div>
                                        <div *ngIf="f['email'].dirty">Please enter valid email id.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group align-items-center">
                                    <img lazyLoad="assets/images/icons/phone-icon.svg" class="img-fluid" alt="Phone">
                                    <div class="form-input country_phone icon_phone_field">
                                        <div class="flag-container">
                                            <div (click)="showcountry = !showcountry" class="selected-flag">
                                                <div class="flag in" *ngIf="activeCountries && activeCountries.length">
                                                    <span class="dial-code"> {{selectedCountry?.dial_code}}</span>
                                                    <span class="arrow arrow-up"><i class="fa-solid fa-angle-down"></i></span>
                                                </div>
                                            </div>
                                            <ul *ngIf="showcountry" class="country-list">
                                                <li (click)="hideCountry(country)" *ngFor="let country of activeCountries" class="country active" tabindex="-1">
                                                    <div class="flag-box">
                                                        <div class="flag in"><img [lazyLoad]="country?.image?.s3_link" width="18px" alt="Flat" /></div>
                                                    </div>
                                                    <span class="country-name">{{country?.name}}</span>
                                                    <span class="dial-code">{{country?.dial_code}}</span>
                                                </li>
                                            </ul>

                                            <input type="tel" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" formControlName="phone_number" class="form-control" placeholder="Phone*" required>
                                            <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
                                                <div *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].dirty">Please enter mobile number.</div>
                                                <div *ngIf="f['phone_number'].dirty">Please enter 10 digit mobile number.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" *ngIf="ENQUIRY_STEP === ENQUIRY_STEPS.OTP">
                                <div class="form-group align-items-center otp_field">
                                    <img lazyLoad="assets/images/icons/phone-icon.svg" class="img-fluid" alt="Phone">
                                    <input type="tel" [ngClass]="{ 'is-invalid': submitted && f['otp'].errors }" formControlName="otp" required class="form-control border-light" id="mobilenumber" placeholder="Otp*" aria-describedby="emailHelp">
                                    <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
                                        <div *ngIf="f['otp'].errors['required']">Please enter 4 digit otp.</div>
                                    </div>
                                </div>
                                <button [disabled]="resendDisabled" (click)="resendOTP()" [ngClass]="{'resend_otp': resendDisabled === false}">Resend OTP</button>
                                <p *ngIf="resendDisabled">OTP will be resent in {{resendCounter}} seconds</p>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group align-items-center">
                                    <img lazyLoad="assets/images/icons/save-icon.svg" class="img-fluid" alt="Save">
                                    <select class="form-select" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['interested_in'].errors }" placeholder="I am interested in*" formControlName="interested_in">
                                        <option value="" selected disabled style="display: none;">I am interested in*</option>
                                        <option value="Coworking Space">Coworking Space</option>
                                        <option value="Coliving">Coliving Space</option>
                                        <option value="Private Office">Private Office</option>
                                        <option value="Customise Office">Customise Office</option>
                                        <option value="CoFynd of Landlords">CoFynd of Landlords</option>
                                        <option value="Broker Partnership Program">Broker Partnership</option>
                                        <option value="List Your Property">List Your Property</option>
                                        <option value="Any/Other Query">Any/Other Query</option>
                                    </select>
                                    <div *ngIf="submitted && f['interested_in'].errors" class="invalid-feedback">
                                        <div *ngIf="f['interested_in'].errors['required']">Please select your interest.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group align-items-center">
                                    <img lazyLoad="assets/images/icons/location-icon.svg" class="img-fluid" alt="Location">
                                    <select class="form-select" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" formControlName="city" placeholder="select your city*" required aria-label="Default select example">
                                      <option value="" selected disabled style="display: none;">Select City*</option>
                                            <option [value]="city.name" *ngFor="let city of finalCities">{{city.name}}</option>
                                            <option value="Other">Other</option>
                                  </select>
                                    <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                                        <div *ngIf="f['city'].errors['required']">Please select your city.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group message_field">
                                    <img lazyLoad="assets/images/icons/message-icon.svg" alt="Message" class="img-fluid">
                                    <textarea type="text" class="form-control" placeholder="Requirements" [ngClass]="{ 'is-invalid': submitted && f['requirements'].errors }" formControlName="requirements"></textarea>
                                    <app-input-validation [control]="contactForm.controls.message"></app-input-validation>
                                </div>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="submit" [appLoadingButton]="loading" class="site_btn border_btn">Submit</button>
                            </div>
                        </div>
                    </form>

                    <div class="contact-footer">
                        <p>Email : hello@cofynd.com</p>
                    </div>

                </div>
            </div>


            <div class="col-md-6 col-12 form_text_area order-2 order-md-1">
                <div class="form_content text-center">
                    <h2>Find Your Dream Space in India</h2>
                    <div class="location">
                        <p>Bangalore | Gurugram | Mumbai | Hyderabad | Pune | Delhi | Noida | Indore | Chennai | Ahmedabad | Kochi | Chandigarh | Jaipur | Lucknow | Kolkata | Coimbatore | Goa | Bhubaneswar and More.</p>
                    </div>
                </div>

                <img lazyLoad="https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/8c42174e4c77a5bb470ba3901972cdbdef27c8bc.png" alt="Contact Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>