.contact_page_area {
  padding: 40px 0px;

  .contact_page_row {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
  }

  .contact_form_area {
    padding: 40px;

    h1 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 7px;
    }
    

    .input-group {
      border-bottom: 1px solid rgba(0,0,0,.1);
      padding-left: 32px;
      margin-bottom: 14px;
    }

    .form-group{
      img {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 6px;
        top: 12px;
        z-index: 9;
      }

      .form-control {
        border-bottom: 1px solid rgba(0,0,0,0.2) !important;
        box-shadow: none;
        border-radius: 0;
        color: #212529;
        height: auto;
        padding: 10px 10px 10px 35px;
        font-size: 13px;
        width: 100%;
        background-color: #fff;
        line-height: 21px !important;
        border: none;
        height: 42px;
      }
      ::placeholder {
        color: #212529;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #212529;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
      color: #212529;
      }
    } 
    .site_btn {
      padding: 8px 45px;
    }
    .contact-footer {
      text-align: center;
      margin-top: 15px;
      
      p {
        margin-bottom: 0px;
        font-weight: 600;
      }
    }
  
  }
  
  .form_text_area {
    padding: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

    .form_content {
      padding: 40px 70px;
      margin-bottom: 40px;

      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 10px;
      }

      .location {
        p {
          font-size: 13px;
          line-height: 25px;
          font-weight: 600;
        }
      }
    }
  }

}





@media (max-width: 480px) {
  .contact_page_area{ 

    .contact_page_row {
      margin: 0px;

      .form_text_area .form_content {
        padding: 30px 20px 10px;
        margin-bottom: 0px;
      }

      .contact_form_area {
        padding: 20px 10px;

        .form-group{
          .form-control {
            padding: 8px 8px 8px 30px;
            font-size: 11px;
            line-height: 15px !important;
          }

          img {
            width: 15px;
            height: 15px;
            top: 14px;
          }
        } 
        
        .site_btn {
          padding: 5px 25px !important;
          font-size: 10px !important;
        }
      }
    }

    
  }
  
}

.message_field img {
	top: 8px !important;
}

// .contact-us-section {
//   background: #fff;
// }

// .contact-form {
//   padding: 30px 0 0;

//   h1 {
//     font-size: 28px;
//     font-weight: 600;
//     color: #262626;
//     margin: 0 0 10px;
//   }

//   .form {
//     padding: 0;
//     background: #fff;
//     max-width: 490px;
//     margin: 0 auto;

//     .form-group {
//       margin-bottom: 18px;
//     }

//     @media (max-width: 600px) {
//       padding: 40px 20px;
//     }

//     .cofynd-tag {
//       font-size: 16px;
//       font-weight: 700;
//       color: #212529;
//       text-align: center;
//       margin: 0;

//       span {
//         color: #ffcc06
//       }

//       small {
//         font-size: 22px;
//         vertical-align: middle;
//       }
//     }
//   }

//   .btn {
//     font-weight: 600;
//     font-size: 15px;
//     padding: 12px 20px;
//   }

//   .contact-footer {
//     display: flex;
//     justify-content: space-between;
//     color: #4343e8;
//     padding: 15px 0px 10px;

//     div {
//       margin-right: 30px;
//       font-size: 15px;
//       font-weight: 500;
//       position: relative;
//       padding-left: 20px;

//       i {
//         position: absolute;
//         left: 0;
//         font-size: 15px;
//         top: 5px;
//       }
//     }
//   }
// }

// .page-title {
// 	text-align: left;
// 	padding: 0px 0;
// }
// .success-box {
//   text-align: center;
//   max-width: 570px;
//   padding: 80px 40px;
//   background: #fff;
//   box-shadow: 0px 8px 9.8px 0.2px rgba(0, 0, 0, 0.03);

//   h6 {
//     color: #3b3b3b;
//     font-size: 15px;
//     font-weight: 400;
//     margin: 20px 0 10px;
//   }

//   h3 {
//     font-size: 18px;
//     color: #000;
//     font-weight: 600;
//     margin: 0;
//   }

//   p {
//     font-size: 17px;
//     color: #3b3b3b;
//     margin-bottom: 125px;
//     font-weight: 300;
//     padding: 0;
//   }
// }

// address {
//   padding: 100px 20px 60px;
//   margin: 0;
//   box-shadow: 0 -6px 6px rgba(0,0,0,0.5);
//   text-align: center;

//   h2 {
//     margin: 20px 0;
//     font-size: 20px;
//     line-height: 30px;
//     color: #262626;
//     font-weight: 600;
//   }
// }

// @media (max-width: 480px) {
//   .contact-form .form {
//     padding: 0px 0px;
//   }
//   .contact-form .contact-footer div {
//     margin-right: 0;
//     font-size: 13px;
//     padding-left: 0px;
//   }
//   .contact-form .contact-footer {
//     padding: 10px 0;
//   }
//   .contact-form .form .form-control {
//     height: 40px;
//   }
//   .contact-form .form .form-group {
//     margin-bottom: 12px;
//   }
// }