<section class="slider-section">
  <!-- <app-favorite-button class="btn-favorite"
    [isFavorite]="isFavorite"
    [loading]="loading"
    (addedToFavoriteChange)="addToFavorite()">
  </app-favorite-button> -->
  <div class="workspace-banner-container">
    <div class="workspace-banner-half">
      <div class="workspace-banner"></div>
    </div>
    <div class="workspace-banner-one-third">
      <div class="workspace-banner"></div>
      <div class="workspace-banner"></div>
    </div>
    <div class="workspace-banner-one-third">
      <div class="workspace-banner"></div>
      <div class="workspace-banner"></div>
    </div>
  </div>
</section>