<div class="card_form" style="background-image: url('https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/dee00d307fbd75d50527be8713839ca86c905442.jpg');">
  <div class="form_title">
      <h4>Let us help you find office Space</h4>
      <p>Zero Brokerage <span></span> Verified Spaces</p>
  </div>

  <div class="form_title office_form_title">
    <h4>Let us help you find Coliving</h4>
    <p class="light_blue">Minimum stay 3 months</p>
  </div>

  <form class="form">
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
              <input class="form-control" type="text" placeholder="Name*" required />
          </div>
      </div>

      <div class="col-md-12">
          <div class="form-group">
              <input class="form-control" type="email" placeholder="Email*" required />
          </div>
      </div>

      <div class="col-md-12">
          <div class="form-group">
              <input class="form-control" type="tel" placeholder="Phone*" required />
          </div>
      </div>
    </div>

    <div class="row coworking_form_fields">
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example">
          <option selected style="display: none;">Office Type</option>
          <option value="Hot desk">Hot desk</option>
          <option value="Dedicated desk">Dedicated desk</option>
          <option value="Private cabin">Private cabin</option>
          <option value="3-4 Month">Virtual office</option>
          <option value="Office Suite">Office Suite</option>
          <option value="Office Suite">Custom Buildout</option>
        </select>
      </div>
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example">
          <option selected style="display: none;">No. Of Seats</option>
          <option value="0-10">0-10</option>
          <option value="11-20">11-20</option>
          <option value="21-50">21-50</option>
          <option value="10-100">10-100</option>
          <option value="100+">100+</option>
        </select>
      </div>
    </div>

    <div class="row coliving_form_fields">
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example">
          <option selected style="display: none;">Type</option>
          <option value="Private Room">Private Room</option>
          <option value="Double Sharing">Double Sharing</option>
          <option value="Triple Sharing">Triple Sharing</option>
          <option value="Any Other">Any Other</option>
        </select>
      </div>
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example">
          <option selected style="display: none;">Budget</option>
          <option value="10k-15k">10k-15k</option>
          <option value="15k-20k">15k-20k</option>
          <option value="20k-30k">20k-30k</option>
          <option value="30k+">30k+</option>
        </select>
      </div>
    </div>

    <div class="row office_form_fields">
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example">
          <option selected style="display: none;">Type</option>
          <option value="Row">Row</option>
          <option value="Semi-Furnished">Semi-Furnished</option>
          <option value="Fully-Furnished">Fully-Furnished</option>
          <option value="Built to Suit/Customized ">Built to Suit/Customized </option>
        </select>
      </div>
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example">
          <option selected style="display: none;">Budget</option>
          <option value="Upto 1 Lac">Upto 1 Lac</option>
          <option value="1 Lac - 2 Lac">1 Lac- 2 Lac</option>
          <option value="2 Lac - 5 Lac">2 Lac - 5 Lac</option>
          <option value="5 Lac - 10 Lac">5 Lac - 10 Lac</option>
          <option value="10 Lac +">10 Lac +</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <select class="form-select" aria-label="Default select example">
          <option selected style="display: none;">Move-in Date</option>
          <option value="Immediate">Immediate</option>
          <option value="Within This Month">Within This Month</option>
          <option value="1-2 Month">1-2 Month</option>
          <option value="3-4 Month">3-4 Month</option>
          <option value="After 4 Month">After 4 Month</option>
        </select>
      </div>
      <div class="col-md-6">
          <button type="submit" class="site_btn border_btn full_width_btn">Enquire Now</button>
      </div>
    </div>
  </form>
</div>